[2017-11-22 17:45] terracoda commented on #2
For working with consultants, Zoom is fine. For research interviews, I don't think zoom will cut it because it is difficult to successful screen sharing. If only audio is captured, it can work, though.

I was wondering if we should close this issue, too. I think it is safe to close and we will have to keep our eyes for a better solution at some point for remote interviews.

[2017-11-22 17:59] jessegreenberg commented on #2
That sounds great to me @terracoda, thanks. Closing this issue since we are not going to work on recording a11y events from the DOM or use sim state to  record playback for now. Working on a11y+phet-io features will be more thoroughly investigated in https://github.com/phetsims/phet-io/issues/1205 when  we decide to allocate time for that.

[2017-11-22 17:59] #2 closed

[2017-11-22 18:42] terracoda commented on #62
All looks good to me, too, @jessegreenberg.

[2017-11-22 18:46] samreid commented on #2
Metacog may be able to capture states or input events for later playback (without microphone audio), let me or @zepumph know if we should try it.

[2017-11-22 18:53] zepumph commented on #2
Yes, but right now keyboard focus highlight state isn't transferred in mirror-inputs, so I think we would need to do some work first.

[2017-11-22 18:56] samreid commented on #2
Good point, thanks!

[2017-11-22 18:57] zepumph commented on #2
Here is the central issue that would need to be solved first, then I would say that this great idea would be worth pursuing!

https://github.com/phetsims/phet-io/issues/1205

[2017-11-22 19:54] jessegreenberg commented on #62
Thanks everyone! I think we are ready to close and proceed with deployment of keyboard navigable sims.

[2017-11-22 19:54] #62 closed

[2017-11-23 16:11] terracoda opened #64 "Create accessible combobox"
Gathering resources for combobox:
- Level access article: [https://www.levelaccess.com/differences-aria-1-0-1-1-changes-rolecombobox/]( https://www.levelaccess.com/differences-aria-1-0-1-1-changes-rolecombobox/)
- Working example of the ARIA 1.1 design pattern on Whatsock: [http://whatsock.com/training/matrices/#combobox](http://whatsock.com/training/matrices/#combobox)
- Code for select box: [htt

[2017-11-28 19:24] zepumph opened #65 "Update A11yStrings conventions and practices to make it easier to convert to i18n later"
We know that we will be offering a11y strings to translators at some point, we just don't know when. The more that we can do now to sync up our practices of a11y strings to the way we use normal strings, the easier that conversion will be. Right now a11y strings are not in the same format as their json counterpart:

a11y:
[code]

normal:
[code]

I think that there are a few things that we can do t

[2017-11-28 20:28] zepumph commented on #65
@jessegreenberg messaged me on slack with this question:

So at declarations you would add .value to end like
`var greenBalloonLabelString = BASEA11yStrings.greenBalloonLabelString.value`
Then change the .js a11y string files to .json files?

I say:

You are close. Your declaration line aligns with what I was thinking. I do not recommend changing to `.json` files though. Instead the `.js` file wou

[2017-11-28 20:32] jessegreenberg commented on #65
Thanks @zepumph, this sounds good. +1 for leaving as .js files. I agree that this will reduce our work load later on. Removing my assignment, but if you would like to split up the work please reassign to me.

[2017-11-29 18:23] zepumph commented on #65
I'm going to convert scenery-phet strings now because I broke xss fuzzing yesterday when I added a few new object keys into that file.

[2017-12-01 18:38] zepumph opened #66 "New features for the A11y View"
@emily-phet and co would like to see:

* We are only using polite alerts, remove the others.
* Alerts down below the iframe.
* Make orange square big enough so that alerts don't change the size.
* Somehow make the alerts persist a bit longer?
* Right side add aria presentation role for the copied PDOM. This way screen reader can't access it.
* mock focus highlight appears on the copied pDOM (red b

[2017-12-01 18:40] zepumph opened #67 "Dynamic strings should use i tags instead of em tags"
from https://github.com/phetsims/a11y-research/issues/66:

We also want to strip these dynamic `i` tags from the string files, and then add them in the sim code, like when filling in with `StringUtils`.

[2017-12-01 18:49] zepumph commented on #63
A few thoughts from a meeting regarding this issue:

What is the a11y view for?
@emily-phet: The accessibility content that we add to our simulations. Content/structure focused.
@terracoda: I see it as a way for visual users to experience what a screen reader user does.

We together decided that this is a document that deserves some love, and will be used in multiple places, and shown to others ou

[2017-12-01 18:49] #63 closed

[2017-12-06 15:33] terracoda opened #68 "Interesting styling tool for input type range"
I just wanted to share this styling tool with @jessegreenberg , @zepumph and @mbarlow12 in case it is at all helpful.

[http://danielstern.ca/range.css/#/](http://danielstern.ca/range.css/#/)

[2017-12-06 21:53] zepumph commented on #68
That's really cool thanks! Very flexible.

[2017-12-06 22:58] terracoda commented on #64
@jessegreenberg , @zepumph , @mbarlow12 I have created coded up a an HTML `select` box. I have a feeling that might be way simpler than a custom combobox.

Please have a look in the html-sketches folder:
[https://github.com/phetsims/a11y-research/blob/master/html-sketches/combobox/combobox-examples.html](https://github.com/phetsims/a11y-research/blob/master/html-sketches/combobox/combobox-examples

[2017-12-06 23:06] jessegreenberg commented on #68
This looks really nice, thanks @terracoda!

[2017-12-06 23:35] jessegreenberg opened #69 "Consider all mouse+keyboard interactions"
We have a very rough fix for preventing mouse+keyboard multi-input bugs, initial implementation is in
https://github.com/phetsims/scenery/issues/713.

But there are still inconsistencies in the way this is handled, particularly across platforms. There is some discussion in https://github.com/phetsims/scenery/issues/713 about this, but https://github.com/phetsims/friction/issues/50 is another issue

[2017-12-07 14:10] terracoda commented on #64
I am going to put the design notes here in the issue and remove them from the example html.

[2017-12-07 14:14] terracoda commented on #64
**Here's the draft visual highlighting**
Functionally, both the Up and Down Arrow keys activate (pop-up) the collpased list of options. We may want to consider adjusting the visual prompts which only indicates the Up Arrow. Also in the visual, a selected item is not visually indicated. We may want to consider adding a visual checkmark (or some visual cue) to visually indicate which item is current

[2017-12-07 14:25] terracoda commented on #64
**Example 1: HTML Design Pattern (working example)**
The HTML design pattern uses the <code>select</code> element with a solutes codes as <code>option</code> elements. This works out-of-the-box with keyboard navigation and in Voice Over on Safari. The HTML <code>size</code> attribute can be used to make a designated number of options persist visually; however, this is undesirable in this case, and

[2017-12-07 18:51] jessegreenberg commented on #64
Thanks for working on this @terracoda, looks great and nice mockups!

I think we ran into trouble with the `<select>` box because we couldn't figure out how to hide the options in the parallel DOM. @zepumph am I remembering this correctly? @terracoda do you know of a way to make the select box drop down and options invisible with CSS?

If it can't be hidden, we might be stuck with an ARIA pattern.

[2017-12-07 19:03] jessegreenberg commented on #64
The Whatsock example is working really nicely, I agree it is very complicated.

[2017-12-07 19:11] terracoda commented on #64
For the Whatsock example does not read out the individual options in VO and Safari. I only hear the selected language.

[2017-12-07 19:17] jessegreenberg commented on #64
Good to know @terracoda, thanks

[2017-12-07 19:26] terracoda commented on #64
@jessegreenberg can you explain what you mean by "hide the options in the PDOM".
1. When using VO I only hear the options when the pop-up is open. I can't find any other options in the PDOM when teh pop-up is closed.
2. Without VO on, however, when using the keyboard alone, I can arrow through the options with the Right and Left arrow keys without first popping up the list of options with the Up o

[2017-12-07 19:41] jessegreenberg commented on #64
The problem is that the HTML select box needs to be invisible for sighted users. The last time we tried to use `select`, we couldn't figure out how to make the options box invisible. Take a look at this example:
https://jsfiddle.net/Lfbea747/show/
(You can see the HTML here: https://jsfiddle.net/Lfbea747)

Click in the grey box under 'Show' and press enter, and you will still see the box of option

[2017-12-07 20:08] terracoda commented on #64
@jessegreenberg, I don't understand how jsfiddle is supposed to work, but does
this work?
[code]
I think we may need to look seriously at how we are hiding the PDOM. Ideally, the entire thing is hidden in the same way.

[2017-12-07 20:30] terracoda commented on #64
@jessegreenberg I see what you mean now. The grey box seems to return visually, eventhough everything is moved off screen.

This needs some investigation.

[2017-12-07 20:45] jessegreenberg commented on #64
@terracoda I tried `text-indent: -1000em;`, it works great in Chrome!  But the box still shows up at the  very left edge of the screen in Safari.

[2017-12-07 21:03] terracoda commented on #64
@jessegreenberg, yes, same with Safari. The position of the box is very persistent.

[2017-12-07 21:26] terracoda commented on #64
@jessegreenberg, it finally disappeared with an option focus style applied. I'm not sure how robust this is, but I do not see the list of options or anything else in Safari.

In the head...
[code]
And in the body...

[code]

[2017-12-07 21:28] terracoda commented on #64
A negative left margin also seems to work.

[2017-12-07 21:42] terracoda commented on #64
For example:
[code]

[2017-12-07 22:51] jessegreenberg commented on #64
Awesome, thanks @terracoda! Unfortunately I tried the above in a JSFidddle and it didn't work for us in Safari, the box of options kept appearing. Would you mind sending a JSFiddle with it working in case we didn't use the right CSS? Or we could do a voice chat.

[2017-12-07 23:05] terracoda commented on #64
@jessegreenberg, did you try the actual HTML file on github?

[2017-12-07 23:27] jessegreenberg commented on #64
I just tried https://github.com/phetsims/a11y-research/blob/master/html-sketches/combobox/combobox-examples.html, I can see the box in Safari 10.0.1 when I open it with spacebar.

[2017-12-08 02:13] zepumph commented on #65
Another things we can do to help ourselves is name keys in the string files without the "String" suffix, but include those suffixes in the variable names in the js files. This is enforced with the string! plugin by eslint. Tagging @jessegreenberg so he is aware.

![image](https://user-images.githubusercontent.com/6856943/33747869-e01c88bc-db71-11e7-82bb-f9785e0c6a8e.png)

[2017-12-08 02:44] terracoda commented on #64
Oh, I seemed to have been incorrect. I get the pop-up in Safari 11.01, too.

[2017-12-08 02:45] terracoda commented on #64
Would this "detaching" method work in our situation?
[https://stackoverflow.com/questions/4398966/how-can-i-hide-select-options-with-javascript-cross-browser](https://stackoverflow.com/questions/4398966/how-can-i-hide-select-options-with-javascript-cross-browser)

[2017-12-08 18:04] jessegreenberg commented on #64
@terracoda I think that solution with `.detach()` is actually removing the elements from the DOM, not just hiding them.  One thing I noticed was that the box looks different when the size attribute is used, and I am wondering if using `size` will prevent a box from being shown visually. @terracoda do you know if the size attribute will have an impact on how AT interpret this element?

[2017-12-08 18:07] terracoda commented on #64
@jessegreenberg, I did test the size attribute. When I set it to 10, the box is always open and it looks different. I didn't try to move it off screen. There was no difference to AT that I noticed. I could check again.

[2017-12-08 18:29] terracoda commented on #64
@jessegreenberg, it stays off screen with size="10", and it does change the announcement a little in VO. Instead of the select being described as a pop-up button, it is described as a listbox. Arrow keys still navigation up and down and Enter changes active selection.

[2017-12-08 18:32] terracoda commented on #64
@jessegreenberg, when using the negative text-indent offscreen method, the select with size of 10 does take up vertical space, though it is not visible. Using a positioning technique might solve that issue.

[2017-12-08 18:46] jessegreenberg commented on #69
Making a list of issues that this will touch:
- https://github.com/phetsims/friction/issues/50

NOTE: This comment will grow.

[2017-12-08 18:47] terracoda commented on #64
@jessegreenberg, the default interaction for the listbox items has them autoselect. The selected item is announced upon focus. Navigating with Arrow keys autoselects item (without overt announcement). Typing the first letter of a solute jumps to that solute (e.g. G jumps to Gold). Tabbing away, "Leaving listbox" is announced, and then when returning to Listbox, the last item read out is read out a

[2017-12-08 18:51] terracoda commented on #64
@jessegreenberg , fn key and Up/Down Arrow go to first and last items.

[2017-12-08 19:08] terracoda commented on #64
@jessegreenberg, got it. Here's the css
[code]

[code]

[2017-12-08 19:11] terracoda commented on #64
@jessegreenberg, brilliant idea about revisiting the size attribute.

[2017-12-08 19:14] terracoda commented on #64
Commit https://github.com/phetsims/a11y-research/commit/f27180782fa35ed441d91f2f31c065ee6a06359c makes changes in the sample html sketch for a combox.

[2017-12-08 19:18] terracoda commented on #64
@jessegreenberg, the listbox stays hidden, but still operable in Safari with VO. There are a couple of quirks with key presses (e.g., first down arrow key press is not read out) that we might need to look more deeply at.

This listbox thing, may still be easier than the ARIA 1.0 combobox.

[2017-12-08 21:56] jessegreenberg commented on #64
Awesome, great work @terracoda I just verified that the box remains hidden in Safari 10.0.1!

[2017-12-08 22:13] jessegreenberg commented on #64
One remaining question is how we will synchronize the `select` with the styling  of the ComboBox in sun.
HTML Events `input` and `change` don't fire until an option is selected with enter or spacebar. And the option element itself does not receive focus from the browser. So in order to update the display, we will have to listen for ```keydown``` events and somehow detect changes to the select box

[2017-12-08 22:30] jessegreenberg commented on #64
@mbarlow12 would you mind looking into https://github.com/phetsims/a11y-research/issues/64#issuecomment-350385303 in a JSFiddle or HTML page outside of a sim?

[2017-12-08 23:24] terracoda commented on #64
@jessegreenberg and @mbarlow12, there may be some flexibility in the interaction patterns for listbox that can be made similar to a select box.

[2017-12-08 23:25] terracoda commented on #64
I would suggest reading the design patterns for listbox and select and see where they are similar and/or different.

[2017-12-08 23:32] jessegreenberg commented on #65
Roger roger.

[2017-12-08 23:41] jessegreenberg commented on #64
@terracoda is listbox an ARIA role or an HTML element?

[2017-12-08 23:46] terracoda commented on #64
@jessegreenberg great question. `listbox` is an aria role, not an HTML element. However, some how when I added the `size="10"` the `select` element, it automatically took on the role of listbox. At least that is how it is described and how it seems to work in Voice Over in Safari.

[2017-12-08 23:48] jessegreenberg commented on #64
Interesting, thanks.

Is this OK, and do you think it sounds good enough in VO to continue using `select`?

[2017-12-09 02:09] zepumph commented on #66
Moving the alerts to the left of the page ended up being a pain. This is because we were treating the iframe  in a special way in order to get scrolling to work. As a result I updated the page quite a bit. This way everything on the left is fixed, and will scroll as you navigate the right. This approach seemed best after a discussion with @mattpen about our options to make the page as robust as po

[2017-12-12 13:40] terracoda commented on #64
@jessegreenberg and @zepumph, I am going to read over the keyboard design pattern for the `listbox` and see how it intersects with the native `select` element pattern. The first obvious difference is listbox items autoselect, but that might be optional.

[2017-12-12 14:58] terracoda commented on #64
I have added code example for listbox from [MDN](ttps://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_listbox_role). I have not been able to successfully label it, and it currently is not dynamic. Regardless, it seems like a potential option for us.

[2017-12-12 15:28] terracoda commented on #64
Using a list instead of divs does not seem to change any semantics.

[2017-12-12 15:37] terracoda commented on #64
Added the code example with un-orded list code. Key presses not fully implemented. This would require a developer's help.
[code]

[2017-12-12 16:42] terracoda commented on #64
@jessegreenberg, sorry missed comment https://github.com/phetsims/a11y-research/issues/64#issuecomment-350400941

Re your question:

So far, the _select with size attribute_ (i.e. select/listbox) sounds better than the other listbox examples I have added to the mock-up.  I thought is was worth exploring a couple of code options to test in different environments. The biggest issue with the _select/

[2017-12-12 16:58] terracoda commented on #64
I added example 4 which uses a list structure to the mock-up.

[2017-12-12 19:35] terracoda commented on #64
@jessegreenberg, do think it is worth trying to program in a listbox interaction that does not move selection with focus to see what it sounds like in different AT?

My examples do not have the full keyboard interactions built in.

[2017-12-12 19:59] terracoda commented on #64
How the default Select box interaction works in Safari:
- Space, Up or Down Arrows expand the options box
- Up/Down Arrows move focus without moving selection
- Selected item in expanded options box is visually checked
- Enter or Space select a focused item and close the options box
- When options box is open: Home/End go to first and last options
- When options box is open: Alt+Up or Alt+Down go

[2017-12-12 21:10] terracoda commented on #64
@jessegreenberg and @zepumph I showed and explained Example 1 (hidden) and Example 4 to @emily-phet and she thought it was worth implementing the Example 1 (hidden) and Example 4 in Molarity with the Select element interaction pattern to see which code works best across Browser and AT combos.

[2017-12-12 21:13] jessegreenberg commented on #64
Great, thanks for collecting this list @terracoda, that is really helpful. Also great to see a listbox example. So I think our priority of investigation should be to:

- Determine what HTML events we get during interaction with a select element. If there is no good way to determine which option is selected, or when the select box is open it may still be impossible to use the select element and wil

[2017-12-12 21:15] jessegreenberg commented on #64
Sounds good @terracoda, but I would recommend that we investigate https://github.com/phetsims/a11y-research/issues/64#issuecomment-351196177 first to determine if it is even possible to use a `select` element.

[2017-12-12 22:39] zepumph commented on #66
These commits update all of the a11y views to this new style.

[2017-12-13 00:29] terracoda commented on #64
@jessegreenberg, I totally agree with your suggested investigation order. Let's see what we get from the select element first.

For the record, the "type ahead" functionality is highly recommended, but not required  interaction.

[2017-12-13 00:53] terracoda commented on #64
@jessegreenberg, regarding https://github.com/phetsims/a11y-research/issues/64#issuecomment-350385303

I did notice that the mouse interaction in the visual sim has a changed style on mouse over (i.e., option:hover). Would it be useful to consider option:hover and option:focus together?

[2017-12-13 02:18] terracoda commented on #66
@zepumph, no rush, but let me know how I can access the new a11y-view. Is there a way from phettest?

[2017-12-13 05:43] jessegreenberg commented on #66
Nice work @zepumph, this makes sense to me. It is working great when I  try master.

@terracoda I am not sure if there is a way to run this from phettest, but @zepumph might know more.

[2017-12-13 05:52] jessegreenberg commented on #64
@terracoda, seems like it would be good to consider how it should look now.

[2017-12-13 19:59] terracoda commented on #64
1. Solutes control has keyboard focus
![molarity-solutes-focus](https://user-images.githubusercontent.com/1902116/33958886-5b0361e2-e020-11e7-9d31-c425587704a6.jpg)

2. Key press (Space, Up, or Down) opens list and focus moves to selected item (Drink mix). Selected item has a checked state and a focused style.
![molarity-drink-selected-drink-focus](https://user-images.githubusercontent.com/1902116

[2017-12-13 19:59] terracoda commented on #64
Oh shoot, I should have started a new issue.

[2017-12-13 20:03] terracoda commented on #64
Or maybe it is best not to, just yet.

[2017-12-19 14:39] terracoda commented on #66
@zepumph, I can run it from phettest.

[2017-12-19 14:44] terracoda commented on #66
In a recent meeting with Kyle Keane we were demoing the A11y View of a few sims and he had a nice idea regarding the orange Interactive Alerts box.

He suggested that we show the last few alerts, like a mini-log of sorts.

I think this would be a nice way to address item four "Somehow make the alerts persist a bit longer?" in the list of todos in https://github.com/phetsims/a11y-research/issues/66

[2017-12-19 17:24] jessegreenberg commented on #64
Here is an example of a traditional select box: https://jsfiddle.net/Lfbea747/13/

[2017-12-19 18:29] amanda-phet commented on #64
My thoughts and observations:

* Not all comboboxes use a blue hover for mouse over, so perhaps we should just say "use what is in the sim" for the hover color.
* Not all comboboxes have a "label" such as Solute in this case. I personally prefer to just outline the combobox, both for consistency between sims, but also I think it is more appropriate for a selection box.
* I like the check mark, and

[2017-12-19 19:58] arouinfar commented on #64
I think an important distinction between PhET comboboxes and the example @jessegreenberg linked to in https://github.com/phetsims/a11y-research/issues/64#issuecomment-352827888, is that the options in traditional select boxes obscure the box itself.
![image](https://user-images.githubusercontent.com/8419308/34175792-dd4f621a-e4ba-11e7-8085-f6ac2134e6cd.png)
![image](https://user-images.githubuserc

[2018-01-02 01:44] emily-phet commented on #64
A comment regarding how we indicate what is "selected" - Perhaps the easiest solution is to have a checkmark appear to the right of the text. It seems like most of the time there is room for that in existing designs.
We may need to have the flexibility to allow for some customization of how the "selected" option is visually indicated, to allow for cases where the combobox may be a bit squished - s

[2018-01-03 19:13] jessegreenberg opened #70 "create a js directory for tests"
Would be nice to have a directory where we can commit js prototypes. These might be single  HTML pages with supplemental JavaScript to test ARIA features and support or maybe simple tests that use scenery.

[2018-01-03 20:27] jessegreenberg commented on #70
I added something that will work for now.

[2018-01-03 20:27] #70 closed

[2018-01-04 16:56] terracoda commented on #64
I agree @emily-phet, some flexibility would be nice. Just left of icon, or at far right of text column would be my preferred placement of a check mark. Ideally it should neither interfere with the icon nor be lost at the end of the text.

[2018-01-04 22:11] jessegreenberg opened #71 "Figure out why voice over Read All feature makes the focus highlight dissappear"
From https://github.com/phetsims/ohms-law/issues/86, we should look into why phet's focus highlight gets lost after using the read all feature. The sim is still usable with AT but the focus highlight does not appear. This is a Safari/VO bug.

[2018-01-04 22:13] jessegreenberg commented on #71
Adding high priority. This doesn't need to block publication of accessible Ohms Law, but  we should investigate why this is happening because we don't know if there is a way to get the focus highlight back.

[2018-01-04 22:14] jessegreenberg commented on #71
Assigning to myself.

[2018-01-05 13:45] terracoda opened #72 "Continued Improvements to A11y View"
Building on progress from https://github.com/phetsims/a11y-research/issues/56

- Make the interactive alert box behave more like an activity/interaction log (suggestion from Kyle Keane)
  - [ ] Allow the last x number of alerts to persist. I suggest starting with allowing the latest 3 alerts to persist in reverse chronological order so the latest alert is always on top.
  - [ ] Add parenthesized t

[2018-01-05 19:32] jessegreenberg opened #73 "Visual Design for combo box"
From #64, this issue will collect thoughts for single design. #64 has grown quite a bit, and we would like to keep that specific to the HTML impelemntation while this issue will be for visual mockups.

@jessegreenberg will move some of the images and summarize thoughts from that issue.

[2018-01-07 14:00] emily-phet commented on #64
Just wanted to note that in the keyboard nav meeting Jan 2nd we determined we need a working prototype to really make progress on design decisions. Implementation of a working prototype is pending some investigations by @jessegreenberg and/or @mbarlow12.

[2018-01-07 20:56] emily-phet commented on #28
Survey was sent out!

[2018-01-07 20:56] #28 closed

[2018-01-07 20:58] emily-phet commented on #19
Since we’ve moved away from IE11, if the bug report has been submitted I think this can be closed. @jessegreenberg

[2018-01-07 21:09] emily-phet commented on #16
Closing, as we run into specific issues with Zoom and remote user testing we can submit bug reports and track in a11y-research repo.

[2018-01-07 21:09] #16 closed

[2018-01-08 14:11] terracoda commented on #69
@jessegreenberg, wondering if Ohm's Law issue https://github.com/phetsims/ohms-law/issues/72, especially regarding @samreid 's comment

[2018-01-08 14:16] terracoda commented on #19
@emily-phet, maybe adding labels is better than closing in case we get a report back.

[2018-01-08 17:18] jessegreenberg commented on #19
A bug report has actually not been submitted for this yet. Since we are no longer testing/supporting JAWS+IE11 it seems like this issue can be closed but @emily-phet @terracoda let me know if I should submit a report.

[2018-01-08 17:23] jessegreenberg commented on #69
Thanks @terracoda that is also related to this issue, we should also consider how description should behave when going back and forth between mouse and keyboard/AT interaction.

[2018-01-08 17:27] terracoda commented on #19
If we are no longer testing/supporting JAWS+IE11, then I don't think we need to do a bug report. @emily-phet, do you agree?

[2018-01-08 17:39] emily-phet commented on #19
Agreed. Closing

[2018-01-08 17:39] #19 closed

[2018-01-08 17:41] jessegreenberg commented on #37
Update 1/8/18, no response from Apple.

[2018-01-08 18:48] jessegreenberg commented on #47
Update 1/8/18: No response from apple on this issue.

Regarding https://github.com/phetsims/a11y-research/issues/47#issuecomment-337900426, sorry I missed this @terracoda, seems useful to create issues in BASE if you haven't done so already, or maybe you explored this elswhere in a design doc.

[2018-01-08 18:49] jessegreenberg commented on #35
Update 1/8/18: No response from apple on this issue.

[2018-01-11 17:08] emily-phet opened #74 "Onboarding Georgia Tech team to description work for MAL and GFL:B"
- [ ] Play with each sim, make list of questions regarding learning goals, visual design choices, and interactions

- [ ] Meet with Ariel to discuss these questions. From this meeting, create prioritized list of the top three relationships to emphasize. This will help you later when making decisions re descriptions.

- [ ] For each sim, make a spreadsheet that has the structure of the Ohm's Law de

[2018-01-11 23:05] terracoda commented on #74
@kainip, here's the issue.

[2018-01-12 14:41] emily-phet commented on #74
@kainip Can you replace the default image with some kind of avatar in Github? The team likes to have that to help disambiguate folks quickly.

[2018-01-12 14:53] emily-phet opened #75 "Two Figures needed for Manuscript by Tuesday"
Need someone to make two figures for a paper I'm working on about Scenery and the Parallel DOM. The figures are simple tree diagrams, but I'd like them to look really polished. Here's a starting sketch.
![scenery-diagram](https://user-images.githubusercontent.com/5109055/34880082-849c33c2-f76c-11e7-8168-5d709dc79a7a.png)

- [ ] First Figure: Has the label at the top "Scene Graph", then the same tr

[2018-01-12 18:41] ariel-phet commented on #75
@emily-phet I will check with Dave Underwood to see if he is available, but you might be on your own on this one. Monday is a University holiday, and I am not sure of anyone else that can do this on such short notice.

I will update the issue if Dave is available.

[2018-01-12 19:10] ariel-phet commented on #75
Looks like Dave is available. I have emailed him the issue.

[2018-01-15 21:39] emily-phet commented on #75
All done.

[2018-01-15 21:39] #75 closed

[2018-01-15 22:26] jessegreenberg commented on #64
@mbarlow12 tested the regular combobox with Chrome's built in `monitorEvents` and found that the browser doesn't receive any events with default styling when the browser is open. However, it looks like the hidden box with `size` attribute *does* receive keyup/keydown/input/change events. @mbarlow12 could you please verify in macOS? Here is a link for convenience.
http://htmlpreview.github.io/?http

[2018-01-18 22:05] jessegreenberg commented on #60
I remember that we had a discussion about this a while back and couldn't find notes. I  remember @zepumph having a nice way to handle this, but can't remember exactly what was discussed. In the meantime, here is one potential way to do this:

- Add a query parameter to initialize-globals that indicates that sim is being run in a11y view, add this flag to query param list in sim-a11y-view.html.
- W

[2018-01-18 22:07] jessegreenberg commented on #67
I remember that we had a discussion about this a while back and couldn't find notes. I  remember @zepumph having a nice way to handle this, but can't remember exactly what was discussed. In the meantime, here is one potential way to do this:

- Add a query parameter to initialize-globals that indicates that sim is being run in a11y view, add this flag to query param list in sim-a11y-view.html.
- W

[2018-01-18 22:09] jessegreenberg commented on #60
I recently made https://github.com/phetsims/a11y-research/issues/67#issuecomment-358797815 in this issue but decided it is better in #67, so removing that comment from this thread.

[2018-01-18 22:11] jessegreenberg commented on #60
In #67 we decided that all `<em>` tags that were used for styling should be `<i>` tags so that for consistency and so that  we can use `<em>` tags to provide emphasis when necessary. This issue can be closed.

[2018-01-18 22:11] #60 closed

[2018-01-18 22:18] jessegreenberg commented on #67
To get around the CONS,  we could either
- Structure the a11y strings such that static strings do not use string patterns. Again, this is likely not as good when we decided to support i18n and a11y together, could complicate the implementation.
- Add data to the string JSON files that indicate whether strings are dynamic or static. If added to string  pattern, entire sentence would be styled as dy

[2018-01-19 13:20] terracoda commented on #67
@jessegreenberg, I think it is ok that examples like "Grab {{balloonLabel}}"} would get styled as dynamic content. We could, however, easily override the style a nested <i> tag inside buttons, inputs and other controls should we choose to do so with something like this:
[code]

[2018-01-19 14:20] terracoda commented on #72
Oops, this is a duplicate issue to https://github.com/phetsims/a11y-research/issues/66.

Will move comments there and close this issue.

[2018-01-19 14:22] terracoda commented on #66
Adding comments from #72. Will clean up duplicate improvements asap.

- Make the interactive alert box behave more like an activity/interaction log (suggestion from Kyle Keane)
  - [ ] Allow the last x number of alerts to persist. I suggest starting with allowing the latest 3 alerts to persist in reverse chronological order so the latest alert is always on top.
  - [ ] Add parenthesized text or a

[2018-01-19 14:22] #72 closed

[2018-01-19 19:42] jessegreenberg commented on #67
Good point @terracoda, that would work for the case of BASE.

[2018-01-19 22:21] emily-phet opened #76 "Investigation of global on/off sound option - visual look and location"
Email thread involving @jbphet @ariel-phet and @emily-phet

JB: I’m assuming we will now have mute buttons on most and perhaps all screens for all sims once sonification is integrated.  Are you in agreement with this?  If so, we should probably do some design work on how to add this in a consistent way, since the current button is pretty large and we may want to brainstorm some alternatives.

EM:

[2018-01-19 22:26] mbarlow12 commented on #61
Unassignigning myself but keeping issue open for future reference.

[2018-01-23 21:56] jessegreenberg opened #77 "Create a way to monitor DOM events"
Chrome has `monitorEvents` which is a function that can be used in the console to log all events that reach a DOM element. Would be really nice if we could do this in all platforms.

[2018-01-23 21:56] jessegreenberg commented on #77
Reqeuired for #64

[2018-01-23 21:59] jessegreenberg commented on #77
Added in the above commit.

[2018-01-23 21:59] #77 closed

[2018-01-23 22:17] briannatomlinson opened #78 "find ASSETS papers related to methodology"
@emily-phet would like me to see if there are any other method-heavy papers from ASSETS that have done similar work to what we're planning.

I'll put any particular updates here if there are relevant ones, or summarize otherwise

[2018-01-23 22:21] briannatomlinson opened #79 "Get stuff together to handle paying participants"
Check with bruce today about how we pay participants (outside of people recruited through CVI, excel, GLASS staff, etc.)

[2018-01-23 22:27] briannatomlinson commented on #79
I talked with one of our finance admins to get the paperwork that needs to be turned in. I've sent Bruce a message about it & shoved it under his door since I'm working from home tomorrow.

I've also had the IRB returned so I can update the language for everything & re-submit tomorrow

[2018-01-23 22:34] briannatomlinson opened #80 "start doc for research questions/method-ish things"
For our proposed studies in Feb with RIAW + OL  [https://docs.google.com/document/d/1EGo9Xp25IoTNDr2VZxHj2XaQ1xNz2Panwf8gC38C-q8/edit#heading=h.n5zsvbbsm8xm](url) notes. Task is to draft up the kinds of questions and activities for the ASSETS study

[2018-01-24 00:14] emily-phet opened #81 "Need latest links to share with MIT folks for conference 1/29"
Need latest and greatest links (a11y and a11y-view) for:

Auditory description and keyboard nav:
- Ohm's Law
- Resistance in a Wire
- BASE

Keyboard Navigation:
- Rutherford Scattering
- Plinko Probability
- Maybe Coulomb's Law (to show off the cool ruler!)

[2018-01-24 13:37] terracoda commented on #81
These are the latest public **dev prototypes** I can find:

**Auditory description and keyboard nav:**
- Ohm's Law
  - https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.17/ohms-law_en.html?accessibility
  - OL A11y View
    - https://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.17/ohms-law-a11y-view.html

- Resistance in a Wire (**Labels Only - no dynamic content yet**

[2018-01-24 13:40] terracoda commented on #81
@jessegreenberg, if you know of any later dev versions  of RIAW or Coulomb's Law, please publish links.

[2018-01-24 15:15] emily-phet opened #82 "Talk with Sam about CCK implementation"

[2018-01-24 15:17] terracoda commented on #81
Oh, I see we have until Jan 30 for this.

[2018-01-24 15:24] jessegreenberg commented on #81
@emily-phet @terracoda [this bug](https://github.com/phetsims/chipper/issues/648) will impact a11y views  for Rutherford Scattering, Plinko Probability, and Coulomb's Law.

@mbarlow12 found that the a11y view for milti-screen sims are borken in FF and Safari because invisible screens remain in the focus order. Does this bug need to be fixed before 1/30 or can we assume people will show with Chrome

[2018-01-24 17:10] jessegreenberg commented on #64
I worked on this today, putting latest thoughts here after investigation. I believe that `<select>` could give us the events we desire, but there are still several browser defaults that we have to prevent so that it works in a PhET sim. Arrow keys and other functionality will have to be implemented from scratch anyway since focus remains on the `input` (not the `options`) as user cycles through it

[2018-01-24 17:23] terracoda commented on #81
Since these are prototypes with known issues, I personally think it is fine to place caveats on how to view the links.

@emily-phet, do you have any concerns?

[2018-01-24 18:33] emily-phet commented on #81
@jessegreenberg @terracoda
In general, I agree with @terracoda that prototypes can come with caveats. This bug does need to be fixed in the long-term - as we use and publish links to more of these there will be more folks over time aware and trying to make use of them.

@jessegreenberg do you any idea of how difficult this might be to fix? If it's relatively quick, I think it would be best to get

[2018-01-24 18:35] emily-phet commented on #81
@terracoda @jessegreenberg Just to clarify, the event is 1/29 (the title of this issue is a typo), but I need at least some links to send along today. Kyle and Mary (and others that will be running the booth) want to practice using the sims in advance.

[2018-01-24 18:39] terracoda commented on #81
@emily-phet, are the links above ok? The links to OL and BASE will likely not change before the 29th.

[2018-01-24 20:39] briannatomlinson commented on #79
@emily-phet I got a response from Bruce for this! He filled out the document I have to submit, I made the changes to the IRB docs (the protocol info+consent forms) and have submitted it to him to forward to the IRB.

I'm not sure how long it will take for me to hear from them, but I can check in next week?

[2018-01-24 23:15] briannatomlinson commented on #78
I started doing it this afternoon, and have gone through all of the ASSETS 2017 papers to find relevant ones. I'm making an excel sheet for this & will probably look through 2015 & 2016 then post something else on it

[2018-01-24 23:25] emily-phet commented on #78
@briannatomlinson Great! We just need one or two nice examples, though. Once you've found that, you can stop looking.

[2018-01-25 18:30] jessegreenberg commented on #81
It is unclear, I will look into this now to get a better sense.

[2018-01-25 21:29] briannatomlinson commented on #78
Did you want me to share the papers here? (like links/docs) or are you more interested to know the kinds of activities they did & how. I wasn't sure what level of detail you were looking for. @emily-phet

[2018-01-25 21:49] jessegreenberg commented on #81
This bug has been fixed. @emily-phet would you like new links with this fix or have we missed our window?

[2018-01-25 22:06] briannatomlinson commented on #78
For example, I made a quick chart as I was going through them to see which would be best. I found a few that match way better with what we're thinking of doing but I was trying to get a better idea about what the typical trends were. So I can just upload the full sheet, or give you just a couple of the super-relevant ones.

![image](https://user-images.githubusercontent.com/27776200/35414893-dc425

[2018-01-26 01:27] jessegreenberg commented on #64
Here is a link to a demo: https://www.colorado.edu/physics/phet/dev/html/molarity/1.4.0-a11yComboBox.1/phet/molarity_en_phet.html?accessibility

[2018-01-26 01:54] jessegreenberg commented on #81
- Rutherford Scattering:
  - Sim: https://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.1.0-dev.3/phet/rutherford-scattering_en_phet.html?accessibility
  - a11y view: https://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.1.0-dev.3/phet/rutherford-scattering_a11y_view.html
- Plinko Probability:
  - Sim: https://www.colorado.edu/physics/phet/dev/html/plinko-probabil

[2018-01-26 13:55] terracoda commented on #64
@jessegreenberg, could you paste in the html you are using for the pop-up button? The visual presentation looks great, however, I am not hearing any sementics or content.

For example, when I listen to the pop-up button with VO,  I hear "undefined, selected pop-up button" instead of something like, "Solute Menu pop-up button".

I also do not hear the items, nor the number of items in the popped up

[2018-01-26 16:07] terracoda commented on #81
I am also removing my assignment. @emily-phet let us know if you need anything else. There are links to:

[2018-01-26 17:08] jessegreenberg commented on #64
Aaargh, so sorry @terracoda looks like I accidentally deployed a version where nothing has labels... I will fix, deploy a new version. Once fixed I will also  paste the HTML.

[2018-01-26 17:47] emily-phet commented on #64
Discussed in 1/26 IDRC meeting - please add notes here @jessegreenberg @terracoda

[2018-01-26 17:53] jessegreenberg commented on #64
In the IDRC meeting we discussed addint the aria-controls attribute to the combobox to clarify what is being controlled. There was some concern that the changes associated with the combobox as a menu were too  subtle so aria-controls would assist with this.

There was a recommendation to try aria-labelledby instead of aria-describedby to associate the menu button with  the selected value.

[2018-01-26 17:58] emily-phet commented on #64
direct notes from agenda:
Consider using aria-controls attribute to define the scope
Examples: https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html
http://www.oaa-accessibility.org/example/22/
“Aria Controls is Poop” http://www.heydonworks.com/article/aria-controls-is-poop
Consider labeled-by instead of described-by

[2018-01-26 18:10] jessegreenberg commented on #64
Here is a fixed version with labels: https://www.colorado.edu/physics/phet/dev/html/molarity/1.4.0-a11yComboBox.3/phet/molarity_en_phet.html?accessibility

The current HTML looks like this:
[code]

[2018-01-26 18:57] jessegreenberg commented on #64
@mbarlow12 looked into this example:
http://whatsock.com/tsg/Coding%20Arena/ARIA%20Comboboxes/ARIA%20Comboboxes%20(Simulated,%20Readonly)/demo.htm

It uses identical structure to HTML in https://github.com/phetsims/a11y-research/issues/64#issuecomment-360860599, but with different elements,  and different roles. If it sounds OK with supported AT we could use that.

[2018-01-26 19:01] mbarlow12 commented on #64
The above link dynamically adds the actual selector list content when the user interacts with the combobox. The structure of that content is:
[code]

[2018-01-30 12:10] #81 closed

[2018-01-30 12:13] emily-phet commented on #78
@briannatomlinson If you feel you have a general sense of the community from skimming, we can use that to inform our final study design. For me, just passing a long a few of the most relevant papers will be fine.

[2018-01-30 12:14] emily-phet commented on #79
Great, thanks!

[2018-01-30 14:07] briannatomlinson commented on #78
Emily, here are three papers that I think are pretty good examples. Most of them seemed to use semi-structures interviews, think alouds, or contextual inquiries, and a few used other pieces like the SUS, speed, accuracy, and likert questions.

[p171-szpiro.pdf](https://github.com/phetsims/a11y-research/files/1677908/p171-szpiro.pdf)
[p200-shi.pdf](https://github.com/phetsims/a11y-research/files/16

[2018-01-30 14:08] briannatomlinson commented on #78
And here's the full set of stuff from the chart I made last week
![assets examples](https://user-images.githubusercontent.com/27776200/35570395-1e4e7474-059d-11e8-8449-3edbe053fcef.PNG)

[2018-01-30 17:18] briannatomlinson commented on #80
Just realized that I didn't share this yet

https://docs.google.com/document/d/1WoZBnL1-j620Ilv48MvnbRHu_aDfWxISt9wGrBa-Goo/edit#

[2018-01-30 17:29] jessegreenberg commented on #73
Notes from 1/30/18 meeting:

@terracoda said we don't need the outer focus on the list.

[2018-01-30 17:35] jessegreenberg commented on #73
@terracoda also wondered if we needed a different visual indicator to distinguish between what is focused and what is selected when navigating the menu with arrow keys.

[2018-01-31 22:58] emily-phet opened #83 "JT/OL versions for Sound + Description"
need to know what versions of JT and OL we want to be updated with the latest description. Once that's done, @jbphet can create these, and then we'll need to do some testing/checking.

So, once you what version you'd like to roll with for initial interviews, let JB know.

[2018-01-31 23:13] briannatomlinson commented on #83
Do you want me to do work with JT while we're waiting on the rest of the description for RIAW to be completed? Or, would you rather I just do some of the more free form work with the GLASS employees for this?

[2018-02-01 12:11] emily-phet commented on #83
@briannatomlinson I think using JT and OL (both have descriptions and sound) would be great. They're different in interesting ways.

[2018-02-01 14:14] emily-phet opened #84 "Top Level PDOM Structure and Guidelines for use of term "Play Area""
Since starting the development of the initial PDOM, we have discussed how to have a consistent top-level structure that can be used across sims. Our early work with BASE and CL:B resulted in the current structure:

- Scene Summary
- Play Area
- Control Panel
- Sim Screens, Resources, and Tools (or "Resources and Tools" for single screen sims)

As we encountered new sims, we have been selecting wha

[2018-02-01 16:11] terracoda commented on #84
**Example Sims**
**BASE:**
Sweater, Balloon(s) and Wall are in the Play Area which is described as a small room.  All UI controls starting with the Remove Wall button are in the Control Panel. In this sim, I described these UI controls as things that "change conditions in the room. Note that in this sim 2 out of 4 of the visual sim objects (the balloons) are directly interactive."

**OL**
The Equa

[2018-02-01 23:08] jessegreenberg commented on #73
Removing my assignment since this is about visual design. @emily-phet can you please sort this issue?

[2018-02-02 00:22] samreid commented on #84
@terracoda or @emily-phet can you please summarize today's conversation, with an emphasis on what decisions were made and what open questions remain?

[2018-02-02 01:38] jessegreenberg commented on #64
That example sounds pretty good to me in FF + NVDA. We should discuss a few things with the team.

- Which is preferable?
- If we go with something more like the Combobox example from Whatsock, do we need to include the "Type to jump" feature? That includes complexity/cost significantly.

[2018-02-02 02:44] terracoda commented on #64
Great work @jessegreenberg and @mbarlow12, and thanks for looking at the whatsock example more deeply. I used it in my examples, too, but only really understand the HTML end of things.

In the article posted in https://github.com/phetsims/a11y-research/issues/64#issue-276424862, Garavneta discusses the current limitations of the changed combobox role, so we need to make sure it is meeting our need

[2018-02-02 13:55] terracoda commented on #64
@jessegreenberg and @mbarlow12, regarding (https://github.com/phetsims/a11y-research/issues/64#issuecomment-360872957) I would gently caution against saying  something has "identical structure" when in fact it contains "different elements, and different roles." These differences are key and exactly what we are trying to figure out.

That said, thanks for re-posting Garaventa's code. It has `aria-h

[2018-02-02 14:17] terracoda commented on #64
@jessegreenberg and @mbarlow12, I tested the Molarity pop-up menu  in https://github.com/phetsims/a11y-research/issues/64#issuecomment-360860599

It sounds pretty good, except as we discussed last week the items are read out as menu items rather than options or list items.

@jessegreenberg, I am wondering if we can combine the approach you are taking and use the semantics either from ARIA or HTML

[2018-02-02 14:48] terracoda commented on #84
@samreid, I will try to get a summary posted asap. There certainly seems to be concern that the current terminology used for the high-level PDOM structure is controversial. I am glad we are discussing it with the wider team.

Based on my notes from the meeting, I don't think a decision has been made yet. Comments and ideas have been generated:
- Need to distinguish Primary UI options and Secondary

[2018-02-02 17:40] jessegreenberg commented on #64
@terracoda said that the combobox role is not well  supported by AT.
@terracoda said that text input is optional for a combobx.

[2018-02-02 17:44] jessegreenberg commented on #64
@terracoda said that a listbox has better semantics for this UI element. We will add the roles and change the elements so that it looks like the the first example listed in https://github.com/phetsims/a11y-research/issues/64#issuecomment-362598003.

[2018-02-02 17:54] jessegreenberg commented on #64
We will try the first example @terracoda posted in the above comment and report back on  how it sounds. That will help determine whether use roles that create a listbox or popup menu.

[2018-02-02 17:56] jhung commented on #64
https://www.w3.org/TR/wai-aria-1.1/#menu

"A type of widget that offers a list of choices to the user.

A menu is often a list of common actions or functions that the user can invoke. The menu role is appropriate when a list of menu items is presented in a manner similar to a menu on a desktop application.

To be keyboard accessible, authors SHOULD manage focus of descendants for all instances of

[2018-02-02 19:51] jessegreenberg commented on #64
@mbarlow12 and @jessegreenberg worked on this today. We implemented the markup in the first example of https://github.com/phetsims/a11y-research/issues/64#issuecomment-362598003.

@terracoda correctly predicted that aria-labelledby would override the accessible name for the pop up button, so we kept aria-describedby.

Here is a link, @terracoda what do you think?
https://www.colorado.edu/physics/p

[2018-02-02 21:36] terracoda commented on #64
I like the counting semantics. Nice job @jessegreenberg and @mbarlow12! I'll review the keyboard interactions later.

Awesome combination of ideas!

[2018-02-02 23:23] emily-phet commented on #84
Moving forward, I think we’ll:
- Continue to make final decisions on structure on a sim-by-sim basis
- Keep the wording “Play Area”
- Keep the wording "Scene Summary" - it does describe the scene. When there are multiple scenes within a sim it will describe the current scene. Contact EM for an example if there is still concern over this.
- Consider wording for a new H2 heading that would come afte

[2018-02-03 01:14] ariel-phet commented on #84
Just a thought for an alternative structure:

- Scene Summary
- Explore (is it crazy to use an "active" title like this...I think it gets the idea across nicely)
- Exploration options
- Settings and controls (I think by putting settings first, it de-emphasizes controls, settings being things like sound, reset....controls being play/pause and such)
- Screens, Resources, and Tools

[2018-02-03 19:08] emily-phet opened #85 "Discuss putting alternative input and labels work in general sim checklist/workflow"
would like to discuss adding keyboard navigation design & implementation, and development of labels and basic help text to the general sim development checklist.

[2018-02-05 16:29] #78 closed

[2018-02-05 16:30] briannatomlinson commented on #79
@emily-phet  I'm just waiting on the letter from Pat Herndon at GLASS. Everything else should be good to go for recruiting through them. I've fixed all of the IRB stuff and can resumbit today once I get it.

I called her earlier and she said she'd get it to me ASAP! :D

[2018-02-05 16:31] briannatomlinson commented on #79
Also once this IRB is updated we can pay adult recruited participants from CVI, too. I sent Stephanie a recruitment email this morning about that.

[2018-02-05 16:34] terracoda commented on #84
@ariel-phet, regarding https://github.com/phetsims/a11y-research/issues/84#issuecomment-362758484, I don't think it is crazy, but I do think using active verbs works best for describing objects and controls that are actually interactive.

For example, I like to use verbs whenever possible for labels for controls and for associated help text (i.e., an interaction hint) that might be needed.

**Sim

[2018-02-05 16:36] briannatomlinson opened #86 "Finding out newest version of descriptions"
If we're going to be doing testing with JT, OL, etc. We'll need to make sure we have the most up-to-date versions of description included in them. Is there a certain process for checking this, or ways we can see what the current version supported in the phet-io-sonification-wrappers is?

[2018-02-05 17:00] pixelzoom commented on #84
My 2 cents:

• Avoid using terms that already have meanings elsewhere in PhET.  "Scene" is particularly problematic, and was the source of much confusion in last Thursday's discussion.  The meaning of "scene" in PDOM and sim design are currently _totally_ different. "Play Area" also muddied the waters.

• Avoid inventing new terms for things that already have establish terminology in PhET, unless

[2018-02-05 17:44] emily-phet commented on #84
@pixelzoom

Our use of "scene" actually aligns quite nicely with the current use of the term. Imagine a sim that has scene selection buttons - the PDOM describes the current scene. When a new scene is selected, the PDOM updates to then describe the new scene. Just imagine that sims without a scene selection button have one (unchanging) scene, and I think you'll get the idea.

The use of Play Area

[2018-02-05 18:05] pixelzoom commented on #84
@emily-phet said:

That's not what I heard from multiple members of the development team.  I was told to mentally substitute the term "screen" where it appears in PDOM specification.   "Screen" and "scene" are very different things in sim design and implementation. So if you're telling me they align nicely because they are the same thing, then I'm even more confused.

[2018-02-05 18:24] emily-phet commented on #84
To be clear, I did not say screens and scenes are the same thing.

The functional use of 'scene' in the scene summary aligns with the use of the word 'scene' used by designers on teams you've been on. That is all I said. The pdom structure (as I wrote on the board Thursday) will change based on what scene you are on for multi-**scene** sims. The scene summary will only ever describe the current sc

[2018-02-05 18:46] briannatomlinson opened #87 "ICAD workshop"
@emily-phet, I've been thinking about the CFP for ICAD. I don't know that we have time to do a full paper (about the survey data we've collected for OL or RIAW) on top of other things, but I think it would be good to try to run a workshop.

PhET has done workshops at CSUN, right? (or ASSETS?) It would be cool to do one and encourage people from the DIAGRAM center, or OCAD, or others to come & do a

[2018-02-05 19:30] jessegreenberg commented on #84
If the scene summary only includes information about the selected scene, than it does align with current terminology. But until now, have been putting full screen descriptions under the scene summary.

Here is how I assumed that the document for the first screen of rutherford-scattering might look:
[code]
For this structure, the "Scene Summary" is using the term "Scene" when we have previously mea

[2018-02-05 19:55] pixelzoom commented on #84
@jessegreenberg There are a few things I'm still unclear on, related to a screen that has multiple scenes (e.g Hooke's Law, Rutherford Scattering, Unit Rates,...)  Perhaps you or @emily-phet can clarify.

If "The scene summary will only ever describe the current scene", as @emily-phet said in https://github.com/phetsims/a11y-research/issues/84#issuecomment-363174581, then:

(1) How does the user g

[2018-02-05 21:57] jessegreenberg commented on #84
The "Scene Summary" includes overview information for the entire screen. This includes information about the Reset All button, sound toggle button,  and scene selection radio buttons.

So I disagree that "Scene" in "Scene Summary" aligns with how we have previously used the word, and I don't believe that the scene summary will only describe the current scene. It would best align if it were called

[2018-02-05 22:43] jessegreenberg commented on #30
I encountered this again in phetsims/coulombs-law#45.

This still feels like an accurate description, unhidden elements are not added back  to the navigation order unless they are explicitely focused with `focus()`

[2018-02-05 23:09] emily-phet commented on #84
@jessegreenberg I think we're getting into the weeds a bit here. I don't expect students to learn all our lingo and it's nuanced meaning. From the perspective of a user, the scene summary will change in response to scene changes. Frankly, what constitutes a "scene" in the historical sense of PhET's usage has never been clear to me. Sometimes it adds things, sometimes it replaces things, sometimes

[2018-02-05 23:20] jessegreenberg commented on #30
A timeout is a workaround for this bug for some reason.

[2018-02-05 23:31] ariel-phet commented on #85
This seems like a call for you and @kathy-phet - happy to add such items to the checklist. Might be good for @emily-phet  to make an initial draft as what you see as "checklist" items. Which are design items, which are dev items, is there a separate item for keyboard QA, or is that just folded into the dev and RC process QA checklists

[2018-02-05 23:38] kathy-phet commented on #85
@emily-phet - Sure. Let's discuss. Send along some open time.

[2018-02-06 16:54] briannatomlinson commented on #79
Got the letter yesterday & submitted this IRB early afternoon. Should be good to go soon, but I can try to follow up with the IRB if I don't hear anything back in the next couple of days.

[2018-02-06 16:54] #79 closed

[2018-02-07 19:25] briannatomlinson commented on #83
I'm not sure if there's a particular version of OL that you feel is most appropriate, based on our discussion from [https://docs.google.com/spreadsheets/d/1QbjVep_uMSn-KD8dChtFQRkLKOrYH28IqS-bhYrTEoc/edit?usp=sharing](url)

Based on the OL surveys alone, I'd say the best ones for comprehension were for the pitch mapping or tempo/pitch mapping only for current.

I'm not sure if you or John have mor

[2018-02-07 19:26] briannatomlinson commented on #86
I think this was a repeat of #83 so I'm closing it (sorry for the confusion)

[2018-02-07 19:26] #86 closed

[2018-02-07 19:40] briannatomlinson commented on #83
My guess is that it's the [John Travoltage - enhanced sound design snapshot 1/29/2018 ](https://www.colorado.edu/physics/phet/dev/html/phet-io-wrapper-sonification/1.0.0-dev.52/phet-io-wrapper-sonification/john-travoltage/html/john-travoltage-sonification.html?sonificationFile=sonificationMix&accessibility) ?

[2018-02-07 20:15] terracoda commented on #51
@jessegreenberg, can this issue be closed? We have a work around for NVDA when it comes to sliders.

[2018-02-07 20:23] terracoda commented on #34
This issue is stale. We have accessible structure for collapsible panels. I'm not sure where I put my investigations, but I do remember that I looked into the DL and though it seemed like a good idea, regular lists and headings provided better semantics for AT.

Closing this issue.

[2018-02-07 20:23] #34 closed

[2018-02-07 21:23] jessegreenberg commented on #30
The above commit is breaking unit test so we can't continue to use it. The problem (obvious in hindsight) is that when a node is made invisible to AT, it remains in the focus order for long enough to stay focusable in the same callback.

[2018-02-07 21:45] jessegreenberg commented on #30
Should be fixed in the above commit, we will see if CT clears up.

[2018-02-07 21:59] briannatomlinson opened #88 "OL + RIAW links for PER presentation"
[OL + RIAW links](https://docs.google.com/document/d/1dEWqQYoUtdGAB0rtjV0HCf3Pr-AHlKkHHJJTsaZ1spM/edit?usp=sharing) for @emily-phet's talk during the PER presentation tomorrow. Just need the new versions deployed from https://github.com/phetsims/phet-io-wrapper-sonification/issues/40 and then it will be ready to go.

[2018-02-07 22:59] briannatomlinson opened #89 "add Prakriti to a11y-research"
Can we add Prakriti to this repo? I don't know that I have permission for it.

Since she's going to be doing work in Kenya/with inABLE, she & I will be coordinating closely and would be good to keep her in the loop on this.

[2018-02-07 23:40] mbarlow12 commented on #61
Leaving open, but unassigning myself. I think this would be useful in the future if we're pulling on new employees/interns who don't have much experience in a11y.

[2018-02-08 15:44] terracoda commented on #64
@jessegreenberg, @mbarlow12, @jhung, @emily-phet  I found an [implemented `listbox` example](https://www.w3.org/TR/wai-aria-practices-1.1/examples/listbox/listbox-collapsible.html) from the W3C that uses markup and keypress patterns very similar to our approach.

The above example also **uses two things to dynamically label the pop-up button**:
1. some prefixed text in a span element, and
2. the d

[2018-02-08 15:46] terracoda commented on #73
From #64
**Things to consider for the issue about Visual Design**
- [x] The visual focus indicator must always be visible.
- [ ] The selected state must be visually distinct from the focus indicator.
[https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_focus_vs_selection](https://www.w3.org/TR/wai-aria-practices-1.1/#kbd_focus_vs_selection)

[2018-02-08 15:52] terracoda commented on #64
@jessegreenberg  and @mbarlow12, I am un-assigning myself from this issue. A few more additions to our combobox and I think we will have a really nice one. Hopefully, AT and browsers will agree!

Let me know if you have any questions.

[2018-02-08 15:55] terracoda commented on #73
@jessegreenberg, I can move the necessary visuals from issue #64, so leave that to me.

[2018-02-08 17:50] jbphet commented on #83
I've updated the phet-io version used in all wrappers, and this is published in version v1.0.0-dev.53, see https://www.colorado.edu/physics/phet/dev/html/phet-io-wrapper-sonification/1.0.0-dev.53/phet-io-wrapper-sonification/sonification.html.  However, some of the OL versions are broken due to unrelated issues, and @briannatomlinson is investigating this.

As for JT, the descriptions haven't been

[2018-02-08 17:54] briannatomlinson commented on #88
Think this is good to go now. Related to https://github.com/phetsims/phet-io-wrapper-sonification/issues/40#

[2018-02-08 17:54] #88 closed

[2018-02-09 12:39] emily-phet commented on #84
@terracoda
Let's focus on selecting wording for two potential sections to go between "Play Area" and "Resources and Tools." One would be an H2 heading that has secondary sim-specific features, the other would be an H2 heading for common screen controls (reset all, sound, in some cases play/pause). At least the second of these will be needed for the publication of Rutherford Scattering and Plinko.

[2018-02-09 12:42] emily-phet commented on #66
@terracoda @jessegreenberg Other than possibly propagating the 'fading list of alerts' across all PhET sims, I think this can wait until @zepumph returns in March. Placing "on hold" for now.

[2018-02-14 14:41] briannatomlinson commented on #83
Most of these issues are fixed in now, see https://github.com/phetsims/phet-io-wrapper-sonification/issues/42.

I'll be working to do a few updates before this can get closed out:
OL: one of the looping current sounds + some other options if we have time
Without the sliders (either 2 or 3 from the options2)

@jbphet  does the JT - enhanced sound design snapshot 1/29/2018 include the updates for th

[2018-02-14 16:50] jbphet commented on #83
@briannatomlinson - the snapshot has everything except the updated foot dragging sound.  Also, the dev.54 version of this snapshot has an updated version of the ambient sound for electrons in the body which I and Ashton both like *less* than the previous version.  If you're gearing up for some interviews, I'd like to republish this with the foot dragging added and the previous ambient electron sou

[2018-02-14 17:51] briannatomlinson commented on #83
If @emily-phet  is good with that version, I'm good. I haven't looked at JT as much recently, so whatever version you guys want to move forward with is fine with me.

[2018-02-15 17:10] terracoda commented on #25
Posting an article by Adrian Roselli on ARIA menus that I need to review in more detail
http://adrianroselli.com/2017/10/dont-use-aria-menu-roles-for-site-nav.html

[2018-02-16 14:01] briannatomlinson commented on #87
@mikewinters10  and I talked about this on Weds & sent an email out to you & Bruce. waiting on a response from @emily-phet

[2018-02-19 21:30] zepumph commented on #67
Could we get a consensus on how to proceed with this issue?

[2018-02-20 20:05] zepumph commented on #61
Thanks for making this issue @mbarlow12, I'm excited to poke around in the course.

[2018-02-20 20:08] zepumph commented on #66
I'm back, I'll add this to the list.

[2018-02-20 20:14] jessegreenberg commented on #67
@zepumph do you have any thoughts about https://github.com/phetsims/a11y-research/issues/67#issuecomment-358797815? I would be happy to proceed with that unless you have concerns or a better recommendation.

[2018-02-20 20:58] zepumph commented on #67
I'm still in brainstorming mode. To me this doesn't necessarily seem like a pro to me. Handling this completely in the a11y view is a post processing step, which we will have to maintain as things change in the sim.

What would be pros and cons of automatically surrounding a11y strings using `StringUtils.fillIn()` with `<i>` tags?

PROS
   Integrated into the simulation so we don't forget about it

[2018-02-21 18:25] jessegreenberg opened #90 "Sometimes JAWS doesn't work in FF"
From https://github.com/phetsims/resistance-in-a-wire/issues/132 and phetsims/QA/issues/92.

Do these steps and most JAWS features do not work in any HTML web page.

- Restart Computer
- Enable JAWS
- Enable Firefox

You can tab navigate, and JAWS will read focus, but virtual  cursor and aria-live  do not work. My gut says this is FF problem, so I am going to start with a bug report there.

[2018-02-21 19:25] jessegreenberg commented on #90
Hmm, maybe the problem is turning on Firefox while JAWS is still booting up.

[2018-02-21 19:28] jessegreenberg commented on #90
Hmm, perhaps the problem happens when turning on FF before JAWS fully boots up. I just waited for JAWS to be ready before opening FF and the problem wasn't there.

[2018-02-21 20:16] jessegreenberg commented on #67
Discussed in a11y dev meeting on 2/21/18.

We like the proposal in https://github.com/phetsims/a11y-research/issues/67#issuecomment-358797815, but still have questions about the second bullet point.

Right now,  a11y strings are in separate .js/.json files (they should all be converted to .json in the future), and are added to the phet namespace. From here we can modify string values in initialize

[2018-02-21 20:23] jessegreenberg commented on #67
https://github.com/phetsims/a11y-research/issues/67#issuecomment-367457505 is very complicated. @zepumph suggested that we wrap dynamic a11y descriptions with `<i>` tags always so we don't have to check for an "a11y-view" mode in the built version of the sim. This would require that we  remove functions `setAccessibleLabel` and `setAccessibleDescription`, and use `setAccessibleLabelAsHTML` and set

[2018-02-21 20:58] jessegreenberg commented on #90
I verified that if I wait until  JAWS is fully up and running, then open FF, everything sounds good. Ill report this as an issue to Mozilla

[2018-02-21 21:24] jessegreenberg commented on #90
Bug reported here: https://bugzilla.mozilla.org/show_bug.cgi?id=1440083

[2018-02-21 21:29] jessegreenberg commented on #90
Pinging @emily-phet and @terracoda so they are aware of this issue. I imagine this could easily happen during interviews or demonstrations, though JAWS users will likely be aware of the problem. As long as JAWS is fully up and running before Firefox is opened this problem shouldn't happen.

[2018-02-22 13:51] terracoda commented on #90
@jessegreenberg, thanks for the ping. I will add this as a note in my interview prep documents.

[2018-02-22 18:33] zepumph commented on #22
From a team meeting today, @jessegreenberg we should find a time to make this document happen for general dev ingestion.

[2018-02-23 17:53] jessegreenberg commented on #90
FF responded:

is to run JAWS *before* Firefox and let it finish loading (when it starts
speaking, it's done).

JAWS that is the culprit here has been changed to acommodate the multi-process
architecture and that JAWS 2018 (Version 19) is the only version supported
going forward, and that a lot of circumstances will have changed once we have
all the perf improvement and fixes for JAWS in place, cu

[2018-02-23 17:53] #90 closed

[2018-02-26 17:27] jessegreenberg opened #91 "aria-live alerts break in VoiceOver when switching tabs and leaving iframe"
From https://github.com/phetsims/resistance-in-a-wire/issues/133. VoiceOver alerts do not get read if user switches Safari tabs, or leaves iframe with tab navigation. In http://jsfiddle.net/wLzu63s8/70/ we tried a few workarounds, none of them worked:

- hiding/unhiding alert elements when tab visibility changed with and without delay.
- removing/adding alert elements when tab visibility changed w

[2018-02-26 17:54] jessegreenberg commented on #91
Report submitted, removing assignment.

[2018-02-28 19:44] terracoda opened #92 "Should we make title information useful in Prototypes?"
Just want to throw this out there for discussion.

The page title is the first content that people hear. Should we be more careful about page title information in prototypes?

[2018-02-28 19:45] jessegreenberg opened #93 "Turning VoiceOver on and off when sim is in an iframe causes alerts to repeat"
From https://github.com/phetsims/scenery-phet/issues/351, if the sim is launched in an iframe and VoiceOver is turned off then on again after a sim loads, all alerts will repeat. Can we reproduce this in a JSFiddle? If so, we should submit a bug report to Apple.

[2018-02-28 19:51] jessegreenberg commented on #93
Created a JSFiddle here: https://jsfiddle.net/u1h1yc59/3/

Reproduced the problem there. Ill submit a bug report to Apple.

[2018-02-28 20:01] jessegreenberg commented on #91
Apple responded to this one and asked for a "sysdiagnose". Trying to generate that now.

[2018-02-28 20:06] jessegreenberg commented on #91
Attached, and replied to Apple on 2/28/18.

[2018-02-28 20:18] jessegreenberg commented on #93
I submitted a bug report to Apple and included a sysdiagnose from the machine I isolated the bug (though we reproduced on a few Apple devices). Removing my assignment for now.

[2018-03-02 17:34] jessegreenberg commented on #67
Another idea worth investigating -  can we do this with MutationObserver alone by comparing diffs of mutations?

[2018-03-02 17:44] jessegreenberg commented on #67
Discussed in a11y meeting 3/2/18 -

@terracoda suggested using a span with a class because which will not have any unwanted semantics. @jhung agrees.

@terracoda suggested testing behavior of adding span, i, em, or b tags.

[2018-03-02 17:51] jessegreenberg commented on #67
@zepumph said that a solution in the a11y-view is less maintainable because because it is separate from the sim.

[2018-03-02 18:44] jessegreenberg commented on #67
We will discuss next steps in an a11y dev meeting.

[2018-03-02 20:07] jhung commented on #67
@jessegreenberg and @zepumph - I spoke with @klown and here's what he thought:
"could also use a selector based on a role, if that's applicable, or even an aria-* attribute.

For the record, the a11y mapping for em is not semantic at all.  It's mapped to a style:  https://w3c.github.io/html-aam/#el-em  (I wonder why…). The same with strong.
https://w3c.github.io/html-aam/#el-strong

So, it looks l

[2018-03-03 02:22] terracoda commented on #67
@jhung and @klown, where does it say in the specification that the "a11y mapping for em is not semantic at all"? I'm not sure how to read the specification ;-)

I would also argue that style itself does communicate have meaning, especially in terms of a user's experience. For example, headings are bigger and bolder to communicate their importance.

Maybe a better way to frame the problem is that w

[2018-03-05 15:33] jhung commented on #67
@terracoda my comment was quoting what @klown said (aka. Joseph Scheuhammer at the IDRC).

[2018-03-05 16:54] terracoda commented on #67
@jhung, I realize that you were quoting @klown.

@klown, perhaps you could explain where the specification says that the "a11y mapping for em is not semantic at all."

I am just trying to understand the specification better. If you can help, thanks.

[2018-03-05 20:25] jessegreenberg commented on #67
We looked into that a little bit, but only adding tags in the a11y view would be more difficult to implement.

[2018-03-06 03:28] samreid commented on #82
@emily-phet can you elaborate on this issue?

[2018-03-06 17:19] terracoda commented on #64
This will be added into the accessibility API update, related to
https://github.com/phetsims/scenery/issues/686#issuecomment-370855581

[2018-03-06 18:06] jhung commented on #67
@terracoda I spoke with @klown to get some clarification on his comment. He said that the `<em>` element appears in the accessibility tree but there's no node for it using the accessibility API. So in effect the accessibility API "loses" the semantics of <em> even though it's present in the tree.

Klown was surprised that this was the behaviour because there should be semantics, but the API doesn'

[2018-03-06 20:35] zepumph commented on #66
The reason why this was put over to the right side is because of complications with the implementation. Keeping the left side fixed while scrolling over the top heading was looking quite sloppy. The best decision I could come up with was to move the heading over to the right. We worked on a similar structure for the PhET-iO studio (instance-proxies) and it ended up being much easier to just lock t

[2018-03-06 20:45] zepumph commented on #66
Note to self. I looked into using `document.activeElement` and then utilizing that trail or something to find its copy and add a class to it, but I'm not sure if I can put a listener on the activeElementProperty. I'll have to do more research later.

[2018-03-07 01:50] zepumph commented on #66
I added mock focus highlighting just for BASE (since it is experimental). @jessegreenberg @terracoda @emily-phet please notice that not all components are surrounded (like the radio buttons), but otherwise what do you think? http://phettest.colorado.edu/balloons-and-static-electricity/balloons-and-static-electricity_a11y_view.html?brand=phet

Also there is bit of a delay, but we can work on that a

[2018-03-07 02:11] zepumph commented on #65
I think the most important part of this issue is that all the a11y devs recognize that we should be following these moving forward, I don't think that it is important to go back and fix usages just for this issue (since we will have to do it anyways).

Currently there are about half of the js string files using `{{key}}: {object}` and half using `{{key}}: {string}`. Marking for a11y meeting so we

[2018-03-07 18:04] jessegreenberg commented on #65
Thanks @zepumph, understood that `{{key}}: {object}` should be used.  I would recommend that we bite the bullet and change all existing string files to use `{{key}}: {object}` so that when other devs begin to follow this pattern by inspecting existing A11yString files, everything looks the same.

[2018-03-07 18:19] jessegreenberg commented on #66
@zepumph this looks really nice! I think this will help indicate that the user is navigating the PDOM.

[2018-03-07 23:09] jessegreenberg commented on #65
@zepumph did a search and found that these are the repos that  need to be updated.

- [ ] john-travoltage [@mbarlow12]
- [ ] joist [@zepumph]
- [ ] ohms-law [@zepumph]
- [ ] gravity-force-lab-basics [@mbarlow12]
- [ ] balloons-and-static-electricity [@jessegreenberg]

We will work on this together, dev names have been added to the repos that we will  each work on.

[2018-03-07 23:16] jessegreenberg commented on #65
We have created new issues in each repo for this. Closing this issue.

[2018-03-07 23:20] zepumph commented on #65
The repos mentioned above (with separate issues) will cover those sims, but I will look at:

- [ ] Friction
- [ ] Scenery Phet
- [ ] Molecules and Light
- [ ] RIAW

in this issue because they all already have the right structure for their string files.

[2018-03-13 16:12] mbarlow12 commented on #65
Working through https://github.com/phetsims/gravity-force-lab-basics/issues/63, and I just wanted to confirm that we're NOT going the strings.json route, correct?

[2018-03-13 16:59] zepumph commented on #65
Correct, we are just setting ourselves up to make that easiest in the future. Thanks for checking.

[2018-03-15 01:04] #65 closed

[2018-03-16 12:36] terracoda commented on #89
@briannatomlinson, does Prakriti have a github handle? I am pretty sure the repo is public. Prakriti should be able to comment on anything.

There is very little code in this repository, but I am pretty sure anyone can pull the repo.

Does Prakriti need to push stuff to the repo?

[2018-03-16 13:12] terracoda commented on #25
@jessegreenberg, based on our decision in the keyboard nav meeting (March 6th) to re-organize the bottom bar into two things for multi-screen sims:
1. a navigation region for sim screen buttons
2. a "Sim Resources" region for the actual bottom
I am going to close this issue, and start a new one that references this one.

See also RIAW for first example of "Sim Resources" https://github.com/phetsim

[2018-03-16 13:12] #25 closed

[2018-03-16 13:16] terracoda opened #94 "A11y Semantics for bottom bar in single and multi-screen sims"
See https://github.com/phetsims/a11y-research/issues/25 for historical discussion.

In March 6th Keyboard Nav Meeting, we decided to re-structure the bottom bar to better communicate the function/role of the bottom bar and to better communicate access to sim screen buttons in multi-screen sims.

@terracoda will post new HTML here and we can discuss any further code or design changes here.

[2018-03-16 13:20] briannatomlinson commented on #89
Oh, ok! I just didn't know if she should join this too, since she was working on evaluation stuff. I was just hoping to keep her in the loop better, or make it easier for her to track/keep Emily aware of what was going on.

I'll have her check and see! Thanks @terracoda!

[2018-03-16 13:22] briannatomlinson commented on #83
@jbphet JT has been updated from the version you & Ashton didn't like, right?

[2018-03-16 14:43] terracoda commented on #67
@jhung thanks.

I agree that it is strange that the "semantics" for `em` and `strong` are lost in the accessibility tree some where-some how!

Getting back to our actually issue, we are trying to create the simplest CSS hook through which we can easily and consistently style dynamic parameters within dynamic descriptions when represented in a sim's A11y View.

Even though it is a bit more code, pe

[2018-03-16 15:08] jbphet commented on #83
Yes, the foot dragging sound has been updated and reviewed.  Should be good to go.

[2018-03-16 15:36] #83 closed

[2018-03-16 16:16] terracoda commented on #94
**Using Build and Atom as an Example:**
- [Home Screen](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/index.html)
- [Atom Screen](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/baa-01-atom-template.html)

[2018-03-16 18:00] terracoda commented on #94
I updated the actual template files.
Will add 2 more examples to see what semantics we hear on the phet menu items.

[2018-03-21 17:49] jessegreenberg opened #95 "aria-orientation and JAWS failure to enter forms mode reported fixed"
At this session: http://www.csun.edu/cod/conference/2018/sessions/index.php/public/presentations/view/584

VFO reported that this bug was fixed. We should verify and update our documentation accordingly. We encountered this issue in https://github.com/phetsims/a11y-research/issues

[2018-03-22 21:56] jessegreenberg commented on #9
VFO now has a public bug tracker for developers. We should resubmit this report to them through that service.

[2018-03-26 16:28] zepumph opened #96 "Use automatic accessibility testing"
Two tools may be good for this.

deque's axe: https://github.com/dequelabs/axe-core

and

Paciello group's tenon: https://tenon.io/

At first glance tenon may cost money, but I have yet to do any research.

Tagging @jessegreenberg  @terracoda and @mbarlow12 for inspiration.

[2018-03-26 16:34] terracoda commented on #96
Referencing a previous issue on this topic: https://github.com/phetsims/a11y-research/issues/24
from a while back that had some more information.

[2018-03-30 17:50] zepumph commented on #69
Marking for a11y meeting to keep track of it.

[2018-03-31 21:51] zepumph opened #97 "Use <button> or <input type="button"/> exclusively"
From https://github.com/phetsims/scenery/issues/748,

there are multiple places where we use both. I think we should decide which one is best. I think for the majority we use `tagName: "button"`, but, for example in `RoundStickyToggleButton`, not always.

Marking for dev meeting and tagging @terracoda @mbarlow12 @jessegreenberg for opinions on how to proceed (or if you think it doesn't matter to h

[2018-04-01 15:44] terracoda commented on #13
I think this is a stale issue and structure was addressed in issues #25 and #215, so I am closing this issue.

[2018-04-01 15:44] #13 closed

[2018-04-04 13:14] terracoda commented on #97
@zepumph, `button` is the better, more flexible and more modern choice. In its early days it had some styling issues with IE6. Those days are over.

I do not know what a `RoundStickyToggleButton` is, but toggle behaviour can be created by using a `button` element with the `aria-pressed` attribute.

[2018-04-04 15:48] jessegreenberg commented on #97
Agreed - `button` is also more simple HTML and will require fewer options from the Accessibility trait.

[2018-04-04 17:59] zepumph commented on #97
I see 6 occurences in the project of `inputType: 'button'`, should we fix these, or is it sometimes preferred to use this strategy, see:

- [x] goPauseButton.js (both the "Go" and the "Pause")
- [x] ObservationWindow.js
- [x] ResetAllButton.js
- [x] RoundStickyToggleButton.js
- [x] In AccessibilityTests.js

Side note: Should we keep this in a11y tests even if we don't want to use input type button

[2018-04-04 22:13] zepumph commented on #97
From dev meeting, @jessegreenberg will take this on.

[2018-04-05 18:33] zepumph commented on #22
phetsims/scenery#686 and phetsims/scenery#748 have been done. We should start on this. Marking as high priority so I can get a start on this this week.

[2018-04-05 22:12] jessegreenberg commented on #30
The timeout is causing focus to be lost in Edge. Lets hit the drawing board.

[2018-04-05 22:20] pkaini commented on #89
Thanks @terracoda @briannatomlinson! I was able to join

[2018-04-05 23:13] jessegreenberg commented on #30
I discovered that forcing the browser to redraw the PDOM is a workaround for this bug in Edge. I added this block:
[code]

and problem goes away. This is much  better than a timeout workaround.

[2018-04-05 23:28] jessegreenberg commented on #30
Done with above commit, it is working well. Removing my assignment.

[2018-04-06 23:43] zepumph commented on #22
I'm worried about putting this out to everyone right now, because it's basically an outline right now, and we may discuss much more than is helpful (since it is in such an early state). Let's try to limit feedback to outline like comments. I want to know what you think about structure.
* What is the purpose of this document. Is it an intro to the dev side of a11y, or is it the complete how to on e

[2018-04-09 20:26] emily-phet commented on #22
@zepumph First, this looks like a great starting point!

Some thoughts:
- The goal of this doc would be to support developers in getting up to speed on a11y. We'll work on other documentation (e.g., design documentation and likely 'style guide' style specs on specific form elements, etc.) to support the designers and areas where designers and devs overlap.
- The primary goals of this document will

[2018-04-10 18:33] zepumph commented on #67
From reading the above comments, I don't know if this is because of the spec, or just how it is; nor do I know how this may change in the future.

The above commit is beside the point though, because it has been settled that a span is the best option for provided zero semantics to an element for syntax highlighting.

Let's proceed with the following directive:

**Dynamic strings should be wrapped

[2018-04-10 20:34] zepumph commented on #67
I'm leaning more and more toward just having this for postprocessing on the a11y view, although it seems like the implementation may be more complicated.

[2018-04-10 20:44] zepumph commented on #66
Update on this issue,
* In https://github.com/phetsims/a11y-research/issues/66#issuecomment-370918942 I discussed the difficulties in having the sim title and heading above the two columns, and asked @emily-phet if it is worth the fair amount of time to try to get a cross platform solution.

Otherwise it looks like all that remains for this issue are the last checkboxe in
https://github.com/phetsi

[2018-04-11 22:48] jessegreenberg commented on #22
We reviewed this at dev meeting, @jessegreenberg and @mbarlow12 will review this and comment.

[2018-04-12 15:56] terracoda commented on #67
@zepumph, post processing on the ally view is the ideal situation in my opinion. This would keep extraneous non-semantic elements out of the PDOM and sim code in general.

We do not yet know all the use cases, nor all the useful applicable aspects of our descriptive content, so I hate to hard code something in where it should not be.

With little experience with PhET-iO, I can't comment too much o

[2018-04-12 18:27] terracoda commented on #67
@zepumph, you are manipulating the strings somewhere along line. Are there multiple places along the line that the strings are being manipulated, or just one place?

[2018-04-12 19:17] emily-phet commented on #66
@zepumph Sorry for the delay on this - regarding https://github.com/phetsims/a11y-research/issues/66#issuecomment-370918942, I think option 2 also sounds the best, but let's have a quick discussion about this tomorrow in the a11y meeting just to make sure my understanding of that option is correct.

[2018-04-12 20:35] terracoda commented on #22
@zepumph, I do not know what a DAG feature is.

I added `label` tot eh accessible name section, and worked a bit on the google doc referenced in MD doc.

[2018-04-13 14:18] terracoda commented on #22
@zepumph, I added a section at the beginning, " Understanding the Accessibility Tree". I think this is an important concept that developers need to understand.

The details I added in the Accessible Name section might be too detailed at this point. The concepts of Accessibility Tree and Accessible Name. An accessible name has to get to the Accessibility Tree in order to reach the assistive technol

[2018-04-13 17:30] zepumph commented on #22
@terracoda's commits (from oldest to newest):

5f53b206da8aa0bb0d0b53b8fb7ffe303e5c38ba
cc26c9e3c694810bf23380aa964b4ea3cce1b70b
fead4106b69651fa05df8ff4b13a01f893309cb2
c7a62f6bc03af73db8991fba5dc9fca42f0593b2

(FYI, although you probably already know this, if you add "#22", "phetsims/a11y-research#22", or "https://github.com/phetsims/a11y-research/issues/22" to the commit, it shows up in the iss

[2018-04-13 20:06] terracoda commented on #22
@zepumph, I didn't know about "#22" - thanks!

[2018-04-16 22:30] zepumph commented on #66
@emily-phet and I never talked, but I still took a bit of time exploring putting the intro and header on the left. I do not think there is enough space on that side for this, but I still tried to move some stuff around. All is pushed to master, I would love to talk about this soon, as I think this issue is close to closing.

Note: @terracoda can you please comment on what you meant by:

[2018-04-16 23:18] terracoda commented on #66
@zepumph, the meta content is the prelude part about the A11y View. The PDOM content is the actual sim's PDOM content.

Maybe we can use 2 different fonts. I'll find something as a first go.

[2018-04-18 14:41] terracoda commented on #64
Adding another resource which I just came across in case we need to refer to it later
- https://www.levelaccess.com/aria-widget-checklist-screen-reader-testing/

[2018-04-20 00:03] zepumph commented on #67
I want to make sure we are all on the same page about the current state of this, the problem at hand, and the potential solution we are looking for.

Currently we are adding css to `<em>` tags so that they show up green and underlined. These `em` tags are just in the a11y strings for Ohms Law and Resistance In A Wire. To me, there seem to be a few problems with this option:
1. We decided early on

[2018-04-20 18:09] zepumph commented on #67
Talked about during the IDRC meeting today. We discussed the following:

* It will not work to implement this just in the a11y view, it will have to come from tags in the strings
* since they will be in the strings in the pDOM, we like using `<i>` instead of span, because it is much cleaner, shorter and simpler.
* It isn't a great solution to automatically add the tags around curly braces because

[2018-04-20 18:17] terracoda commented on #67
Clarification @terracoda, recommended styling the full dynamic descriptions or regions. That would not involve i-tags :-)

[2018-04-20 19:20] zepumph commented on #67
Thanks for speaking up, I must have missed something towards the end there. Could you clarify? How would we mark which regions were fully dynamic (and needed the styling) if not `i` tags?

[2018-04-20 23:58] terracoda commented on #67
@jessegreenberg, brought up a great point in the meeting that what I was representing as "dynamic descriptions" was actually the dynamic parameters within "dynamic descriptions". I would like to explore the possibility of something that can allow us to style the dynamic descriptions at a higher level.

[2018-04-21 00:07] terracoda commented on #67
@zepumph, from a front-end of point of view styling HTML content is a straight forward thing to do. - tricky to get right sometimes, but the concept is simple.

What was made really clear today is that we do not yet have an easy way to create the styling hooks.

I'd like to explore again, your idea of placing a flag of some kind further up in the code.

Something that might allow use to place clas

[2018-04-21 02:39] emily-phet commented on #67
hey folks - I don't the benefits of investigating this further are worth the time it will take, right now. Let's focus on team integration efforts (getting infrastructure and processes in place to support full team implementation of a11y) and further development of a11y features in sims. We can come back to this later, and decide specifically what the benefit of highlighting subsets of the text ar

[2018-04-21 09:50] terracoda commented on #67
I agree with @emily-phet that further work on the look of the A11y View can wait.

While I think we can still improve the general visual Iook of this tool, the styling of dynamic string parameters is not the way forward.

[2018-04-21 16:37] zepumph commented on #67
Sounds good!

[2018-04-24 19:52] zepumph commented on #22
I'm updating this today and tomorrow, no use reviewing the previous version above until I have a new rough draft!

[2018-04-24 23:54] zepumph commented on #22
I took a new strategy today. @jonathanolson and I recently found that there are accessibility docs in scenery that need updating. I thought that I would springboard off of that work for this. As a result you should see a very different page than from before. It is now full HTML, not markdown.

It can be viewed here http://phettest.colorado.edu/scenery/doc/accessibility.html, but note that it is no

[2018-04-24 23:55] zepumph commented on #22
@mbarlow12 and @jessegreenberg, if you want to test locally, just `grunt` in scenery first.

[2018-04-25 19:00] zepumph commented on #22
(It now works with live scenery)

[2018-04-28 14:12] terracoda commented on #22
@zepumph, this document is looking really good. I am reading through it.

[2018-04-28 16:02] terracoda commented on #22
@zepumph, here's some feedback. I've just read  up until the Dynamic Descriptions section. If you prefer that I make direct edits, just let me know.

**Regarding Remove Wall Example:**
I don't understand `labelContent`: 'Press the remove wall button below.'

- Note that nothing like this exists in the pDOM. In the case of the this example, I would assume that `innerContent` is the `labelContent`.

[2018-04-30 19:47] zepumph commented on #22
I made all of your above suggestions except:
- [ ] Regarding Remove Wall Example. . .
- [ ] Section Input types (defaults) (handled in https://github.com/phetsims/scenery/issues/776)

[2018-04-30 21:02] zepumph commented on #22
After talking with @jessegreenberg and @mbarlow12, we have the following list to do before delivering to the dev team for iteration.

- [ ] Short master list of accessibile html resources to make every developer using the a11y api read prior to this doc (ideally):
  * https://developers.google.com/web/fundamentals/accessibility/semantics-builtin/the-accessibility-tree
  * https://developer.mozilla

[2018-05-01 18:09] jessegreenberg commented on #22
- [ ] Add information  about  "accessible name" back into the "Manipulating the PDOM" section, with inline link about the accessible name for easy reference.
- [ ] Change example functions in "Manipulating the PDOM" section to be the ES5 getters/setters.
- [ ] Add a note to "PhET Specific" section that says that options are prefered to getters/setters.
- [ ] Widen  magnet example display.
- [ ] Ma

[2018-05-01 21:01] zepumph commented on #22
This issue is complete in my book, we have delivered this file to other devs, and https://github.com/phetsims/scenery/issues/777 will be used to track changes from here. Closing. Please reopen if anyone else feels differently.

[2018-05-01 21:02] #22 closed

[2018-05-02 01:25] samreid opened #98 "Add unit tests for generating PDOM"
There are a few other issues for automated a11y testing, such as #96 and its related issues, however, I did not see any issues about unit tests for the generated PDOM.  For example, the a11y documentation has this example:

[code]

and says it should yield this PDOM
[code]

For any parts of this that are non-transient, such as the `tagName` and `innerContent`, it would be nice to capture the desir

[2018-05-02 01:41] samreid opened #99 "Consider using a JSX-style representation"
Currently a11y is hard-coded to use 4 peers per Node, specified like so:

[code]

I wonder if it would give us more control/flexibility/readability/maintainability to use a JSX style representation in the simulation code:

[code]

I'm presuming scenery would still assign and maintain `tabindex` and `id`.

Potential drawbacks of a JSX approach are:
1. Needing a new transformation step during builds

[2018-05-02 17:11] jessegreenberg commented on #99
Thanks @samreid, JSX is not something I was aware of and we had not considered it. I would like to think about it more.

I agree with your pros/cons list.  Before the Accessibility trait, we had syntax that was kind of similar to this (though a lot more verbose), things looked something like:
[code]

which gave lots of flexibility, similar to the JSX style.

We discovered that this is generally as

[2018-05-02 17:34] jessegreenberg commented on #98
Sorry I couldn't find an issue either @samreid, but we do have tests like this already. Behavior of the `Accessibility` trait is verified with `AccessibilityTests.js`, and is run as part of Bayes CT. There are tests for PDOM output, setting of a11y attributes, focus management, a11y input listeners, and so on. Is this what you had in mind?

[2018-05-02 17:56] samreid commented on #98
That looks perfect, thanks!

[2018-05-02 17:56] #98 closed

[2018-05-02 18:32] jessegreenberg commented on #99
Adding to a11y dev meeting agenda.

[2018-05-04 17:28] terracoda commented on #64
@terracoda to update html mock-up to use two labels with aria-labelledby.

[2018-05-07 15:41] mbarlow12 commented on #99
Here are a few more considerations:
- Babel and webpack offer relatively rapid processing of JSX-style objects. They could integrate pretty cleanly with our current Grunt builds
- Regarding some of the inheritance and property tracking in https://github.com/phetsims/a11y-research/issues/99#issuecomment-386051555, this is exactly the kind of thing that frameworks like Reactjs are designed to do. I'

[2018-05-07 19:56] pixelzoom opened #100 "bundle options under options.a11y"
From https://github.com/phetsims/area-model-common/issues/139#issuecomment-387182176...

Instead of relying on developers to manually group a11y-related options, consider bundling (nesting) them under `options.a11y`, e.g.:

[code]

[2018-05-07 22:15] #61 closed

[2018-05-08 15:50] terracoda commented on #64
@jessegreenberg , @mbarlow12 , @zepumph, @emily-phet I hear both labels when entering the listbox with the cursor keys, but not when placing focus with the Tab key. That's possibly how it is supposed to work.

I will review the one more time before committing. I think we have a relatively good solution.

[2018-05-09 16:15] mbarlow12 commented on #99
I found a great, brief explanation of JSX. https://jasonformat.com/wtf-is-jsx/

[2018-05-10 03:36] terracoda commented on #64
I was reviewing the incorrect example. @jessegreenberg and I figured it out.
I added example 5 to the combobox examples sketches file and tested it. I hear both labels on focus. It sounds great!

@jessegreenberg or @michael, would you like to add the JS that makes the example actually collapse and open?

[2018-05-11 04:18] samreid commented on #99
I mentioned this in https://github.com/phetsims/color-vision/issues/121#issuecomment-388251479 but will clarify from a perspective more specific to this issue:

Today, @jonathanolson and @pixelzoom pointed out that what will serve us best is a higher-level abstraction, where the client code doesn't code tags or HTML structure, but rather a more "domain specific" representation/API.  For instance,

[2018-05-14 15:45] terracoda commented on #64
@jessegreenberg, @mbarlow12, and @zepumph. I updated the original file to include a 5th example, and then I decided to create a new file combobox.html that is final clean version. It sounds good.

I tried changing the `span` to an `h3`, but that change did not seem to have a good benefit in Voice Over. Anyways, we can explore further once implemented with some javascript.

Could one of you add the

[2018-05-14 15:47] terracoda commented on #64
I unassigned myself. @jessegreenberg and @mbarlow12, please re-assign if you have any questions.

[2018-05-14 16:08] samreid opened #101 "Rename "Parallel DOM" to "Accessibility DOM Subtree" or "Semantic DOM Subtree""
Everyone on the PhET team is familiar with the term "Parallel DOM" also shortened as "pDOM", but this term could be confusing or misleading for newcomers or outside groups.  Parallel DOM gives the impression that it is a complete Document Object Model, or somehow outside of the DOM, which is inaccurate.  It also raises the question of what it is parallel to and doesn't give any indication what it

[2018-05-14 16:55] terracoda commented on #101
just tagging @emily-phet.

[2018-05-14 17:06] zepumph commented on #6
Unfortunately for this issue, aria 1.1. still has pretty minimal support across browsers and AT. I went to a talk at CSUN two months ago about this. The slides are below, they have support charts for a few key aria roles and attributes.
[csun2018-aria11-newShiny-sdamera-dboudreau-20180321-final.pdf](https://github.com/phetsims/a11y-research/files/2001826/csun2018-aria11-newShiny-sdamera-dboudreau-

[2018-05-14 17:28] terracoda commented on #6
@zepumph thanks for the slides for that talk. I coudn't get in as it was full.

Out if the 10 attributes discusses, the ones most relevant to us are:
- switch
- aria-current
- aria-haspopup
- aria-roledescription

I think we have also tried these 4 out in sims and know we cannot rely on them yet.

I always check [ARIA Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/) for the latest exa

[2018-05-15 15:02] terracoda commented on #101
The term, Parallel DOM has been in use with our project for a full 3 years now.

The Parallel DOM offers a parallel experience. It is robust and interactive and is not subordinate to anything or embedded inside anything. It's structure and content is fully exposed to assistive technology.

I do not think "subtree" fully describes the power of the PDOM.

The "Accessibilty Tree" is something differe

[2018-05-15 15:15] samreid commented on #101
I understand your objection to "subtree", but I don't understand why the word "Parallel" would be preferable to "Semantic" or "Accessible", which are inherently more descriptive and meaningful.

[2018-05-15 16:51] jessegreenberg commented on #101
Thinking about this more, I think "Parallel DOM" is a good description of what this is technically and works well in the accessibility community. While the browser only creates one DOM, thinking of subtrees of HTML as a separate DOMs is common. One example is the "Shadow DOM" specification. Another is the "Sub DOM" recommendation for accessible fallback content in a canvas.

The "Parallel DOM" is

[2018-05-15 17:15] samreid commented on #101
I haven't heard any arguments against "Semantic DOM" or "Accessible DOM" yet.

The argument for using "parallel DOM" as an alternative to "sub DOM" makes the most sense to me of all the arguments in this thread.

But referring to it as the "Parallel DOM" still gives a sense that the "main" or "primary" DOM is the graphical one, and the semantic DOM is "parallel" to the primary DOM.  Wouldn't it be

[2018-05-15 20:11] samreid commented on #100
I recommend we conclude discussion in https://github.com/phetsims/area-model-common/issues/139 before proceeding here.

[2018-05-16 20:49] jessegreenberg opened #102 "Which version of FF should we support for a11y?"
~7 months ago, FF released "Firefox Quantum" (version 57), which caused substantial problems for a11y. FF and AT vendors recommended that users use Firefox 52 ESR until problems were fixed.

Since then FF and AT vendors have been working on improving performance and fixing bugs introduced in Quantum. As of FF 60, JAWS should theoretically be usable (thanks @lmulhall-phet for finding this)

But whe

[2018-05-17 00:49] zepumph opened #103 "Know what a11y features are enabled on a published sim"
Currently there is no way to know what a11y features are enabled/supported in a phet sim on the published website, or locally. It would be nice for a variety of reasons.

* Good to be able to share examples on the website that adhere to specific set of a11y features, and to know what each sim's capabilities are without needing to run the sim.
* Important for binder, and the style guide.
* Adding i

[2018-05-17 01:30] terracoda commented on #102
@jessegreenberg, thanks for posting this issue! I am sorry I will miss the a11y meeting this Friday, but I will try to catch up on this topic.

[2018-05-17 15:49] terracoda commented on #102
And here is another article on FF 60 and JAWS from Marco on May 11, 2018:
[https://www.marcozehe.de/2018/05/11/firefox-60-and-jaws-2018-back-in-good-browsing-conditions-together/](https://www.marcozehe.de/2018/05/11/firefox-60-and-jaws-2018-back-in-good-browsing-conditions-together/)

[2018-05-17 16:05] jessegreenberg commented on #102
Awesome, thanks for posting that @terracoda. It sounds like FF is announcing "Mission Accomplished", which indicates to me that we should be striving or FF latest.

From the article:

I wasn't able to get this version from the "Check for updates" option in the help menu. But the version listed is available for download from the website. Ill try that and see if I am able to use FF again.

[2018-05-17 16:19] jessegreenberg commented on #102
That version of JAWS sounds nice on FF 60, it works! That really helps decide, thanks @terracoda.

[2018-05-21 12:37] emily-phet commented on #102
@jessegreenberg Keeping with latest FF sounds correct to me. We'll just have to make the call on specific issues on a case-by-case basis (as you mentioned).

[2018-05-21 12:37] #102 closed

[2018-05-24 19:47] zepumph opened #104 "Design PDOM for Multiscreen simulations"
I'm not sure if this is duplicate from something else, but one piece that came out of the a11y sprint is that we need to solidify what the PDOM structure for multiscreen sims are.

A few specific thoughts:
* What should the `H1`s look like, https://github.com/phetsims/area-model-common/issues/149
* Does more work need to be done on the nav bar https://github.com/phetsims/a11y-research/issues/94

I

[2018-05-24 19:48] zepumph commented on #104
Note that this was created in response to phetsims/area-model-common#149 and thus may have a higher priority than I gave it, assigning to @emily-phet  too.

[2018-05-25 01:02] terracoda commented on #104
@jonathanolson, I have a mock up for Build and Atom. I was going to adjust the approach in that mack-up and create a design pattern md file. That would be the next priority I think.

[2018-05-29 22:41] zepumph commented on #103
Tagging @emily-phet because she brings this up a decent amount in terms of the style guide. Will you please assign a priority to this

[2018-05-31 19:48] zepumph commented on #99
The a11y dev team talked about this during the a11y sprint a lot, and it seems like we are learning more towards a system that takes the html writing out of the devs' hands. I'm not yet ready to close this issue entirely, but I'm going to unassign for now, still marked for a11y dev meeting.

[2018-05-31 22:25] jessegreenberg opened #105 "How to do accessible scientific notation"
Part of the larger question "How will PhET do accessible math?", but we will need scientific notation in accessible coulombs-law and gavity-force-lab-basics. How is this typically done?

@arouinfar said:

Perhaps AT will recognize this notation automatically? Or maybe they will say "negative three point six seven E dash 2".

@terracoda do you have any thoughts? Putting on schedule for tomorrows a1

[2018-05-31 22:31] arouinfar commented on #105
Just to clarify, I used the E notation because I was typing a comment in a Google doc. Sims will not use the E notation. Instead, -3.67E-2 would be -3.67 * 10^-2 where * is the appropriate multiplication symbol (not just an x) and -2 is a superscript.

Here's an example, though with a different value.
![image](https://user-images.githubusercontent.com/8419308/40811767-cc3f0952-64ef-11e8-9cd1-c82d6

[2018-05-31 22:35] jessegreenberg commented on #105
Thanks for clarifying @arouinfar, JavaScript also uses "E" notation for scientific notation so I thought it might extend to AT, but I could be wrong.

Sounds good, Ill make an issue in coulombs-law.

[2018-05-31 22:35] arouinfar commented on #105
I opened the above issue to make sure we are using the appropriate multiplication symbol in ISLC sims.

[2018-05-31 22:38] arouinfar commented on #105
Looks like we were commenting simultaneously @jessegreenberg!

I am not sure about AT norms, but classroom norms for scientific notation would be to use the x10^ notation.

[2018-05-31 22:44] arouinfar commented on #105
Actually, I'm not sure the best way to describe a negative exponent. In science, we often use "minus" and "negative" interchangeably in exponents. We should probably be consistent and use "negative" but that detail can be ironed out later.

[2018-05-31 23:04] mbarlow12 commented on #99
@zepumph I agree. There seem to be some solid advantages like being able to very specifically target a given HTML structure (radio buttons and comobox are good examples where our API is somewhat cumbersome and a JSX/React style templating language would be pretty straightforward).

Since we are on the verge of transitioning to ES6+, rolling this feature into the build steps that the update would r

[2018-06-01 02:02] terracoda commented on #105
Doing math content will be a new experience for me. Sure @jessegreenberg we can put it on the A11y meeting schedule.

[2018-06-01 13:34] terracoda commented on #105
I am just going to post a recent research article which likely has some good resources in the Works Cited section, [New Accessibility Features in MathJax](http://scholarworks.csun.edu/bitstream/handle/10211.3/180124/ID-31-Cervone-JTPD-2016.pdf?sequence=1)

[2018-06-01 14:00] terracoda commented on #94
Adding links to the template files:
**Using Build and Atom as an Example:**
- [Home Screen Template](https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/template-sim-screen/00-home-screen.html)
- [Atom Screen](https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/template-sim-screen/

[2018-06-01 17:35] jessegreenberg commented on #104
6/1/18 a11y meeting:

We discussed the structure, overall it is really nice. Two questions came up.

The first question was whether the home screen needs a keyboard help dialog, either just the normal sim dialog or a simplified one for the home screen. We decided that it likely doesn't need one and we can revisit the question if there is evidence that one is needed.

The second question was how to

[2018-06-01 17:39] jessegreenberg commented on #104
It is not clear to me how that structure would work for single screen sims yet. Maybe on a single screen sim we just don't include that top section? Then we would have to remember to move the sim specific section under the article.

[2018-06-01 19:39] mbarlow12 commented on #104
Could the sim-level content be optional? So for single screen sims, all the content would be included in the screen's scene summary (or whatever we're calling it), and perhaps multi-screen sims could assert the presence of the sim-level html?

[2018-06-01 19:41] mbarlow12 commented on #104
Also, we should probably merge https://github.com/phetsims/scenery-phet/issues/379 and this issue in some way—as @zepumph pointed out in https://github.com/phetsims/scenery-phet/issues/379#issuecomment-392210107 these are almost identical and have some useful complementary information.

[2018-06-04 14:18] terracoda opened #106 "How will we make make math content accessible?"
I am starting a broader issue on Accessible Math where we can gather questions, working solutions, tools and research that we come across as we start to dive into sims that contain math content.

@jonathanolson is doing some testing with MathML. There are questions about the scientific notation in Coulomb's Law and Gravity Force Lab: Basics see https://github.com/phetsims/a11y-research/issues/105.

[2018-06-04 17:38] jonathanolson commented on #106
Current MathML results are noted in https://github.com/phetsims/QA/issues/121.

[2018-06-04 17:39] jonathanolson commented on #106
Additionally, we'll probably want to review the testing done in https://github.com/phetsims/QA/issues/121, since it seems NVDA may be an issue for using MathML. I'll definitely be interested in the proper solution for this.

[2018-06-05 23:12] jessegreenberg opened #107 "Focus is broken in JAWS in FF 60"
From https://github.com/phetsims/balloons-and-static-electricity/issues/404. Consider the following HTML.

[code]

Focus moves back to previous buttons if you click a button more than once. To reproduce:
- Tab to  button 3
- Press Spacebar (button 3 gets clicked)
- Press Spacebar (Focus moves to button1, button 1 gets clicked)

[2018-06-05 23:48] jessegreenberg commented on #107
I tried to submit a bug report on the VFO bug tracker but JAWS crashed 3 times in the process. Ill try again tomorrow.

[2018-06-07 15:58] jessegreenberg commented on #107
Submitted the report, lets see what happens.

[2018-06-08 16:44] jessegreenberg commented on #106
@jonathanolson I have heard you mention that it is difficult to integrate MathJax into scenery, can you please summarize the difficulties?

[2018-06-08 17:49] jonathanolson commented on #106
It has a very hard-coded "startup and load external resources" style. It depends on external CSS/etc. files, including dynamically loading images, fonts, etc. depending on what is needed and what the given platform is. See https://github.com/phetsims/scenery/issues/457

It would take a lot of work (40-80 hours?) to fully patch MathJax so that it could be included in a sim, and more time to figure

[2018-06-08 17:51] jessegreenberg commented on #106
Thanks, that is very helpful.

[2018-06-11 13:08] terracoda opened #108 "Seeing many blank aria-labelledby attributes in BASE"
@jessegreenberg, @zepumph, @mbarlow12, I am seeing blank `aria-labelledby=""` attributes on all elements in BASE. I'm not sure why these attributes have appeared en masse.

Are you guys working on something?
Is something in transition?
Perhaps, there is an open issue in another repo about this?

[2018-06-11 13:10] terracoda commented on #108
**Screen shot from BASE on Master**
<img width="675" alt="screen shot 2018-06-11 at 10 30 08 am" src="https://user-images.githubusercontent.com/1902116/41233342-bea59aa0-6d63-11e8-87f5-adc74b4f8a5a.png">

[2018-06-11 13:29] terracoda commented on #108
Has anyone checked to see if null strings are allowed (valid code) for `aria-labelledby`?

[2018-06-11 14:57] jessegreenberg commented on #108
Hmm probably caused by changes in https://github.com/phetsims/scenery/issues/701

[2018-06-11 15:08] jessegreenberg commented on #108
Thanks for catching this @terracoda, should be fixed in the above commit, those blank aria-labelledby attributes have been removed.

[2018-06-11 15:24] terracoda commented on #108
I am totally not up to speed on what you guys are implementing, but I am wondering if you considered options for creating an accessible name? Perhaps this is too high-level.
- option 1: inner text of element, e.g.,
[code]
- option 2: using `for` attribute on a `label` element to associate an html `label` with html control element, e.g.,
[code]
- option 3: using `aria-label` attribute to label an h

[2018-06-11 15:59] terracoda commented on #108
Thanks @jessegreenberg, I'll close again as the issue has been resolved, but leave my comment.

[2018-06-11 15:59] #108 closed

[2018-06-11 17:20] jessegreenberg commented on #107
Bug was documented here, and the bug was reproduced:
https://github.com/FreedomScientific/VFO-standards-support/issues/88

An official report will be filed and additional information will be added to that issue.

[2018-06-12 15:02] terracoda opened #109 "Investigate the support for the different aria-haspop properties"
The Keyboard Shortcuts button, does not read out as a a "pop-up" button, so I am not sure it is coded as one. It is technically a pop-up button. It pops-up a dialog, and I thought it should have an aria-haspopup="dialog", but this might need more testing.

See article from Level Access
https://www.levelaccess.com/expanding-the-use-of-the-aria-haspopup-property/

Issue first mentioned in ohms-law#1

[2018-06-12 22:27] arouinfar opened #110 "Renaming "More Controls"?"
During the a11y sprint, we decided to try out "More Controls" instead of "Control Panel".

However, when reviewing the scene summary for Coulomb's Law (https://github.com/phetsims/coulombs-law/issues/43), @emily-phet had some further thoughts.

For more context, here's the scene summary

I think "Control Area" (plural doesn't seem necessary) is a better parallel to "Play Area" and has less grammat

[2018-06-13 02:49] amanda-phet commented on #110
I REALLY like Control Area as the name! It makes perfect sense to me. I can see sims that have less going on in the play area really benefitting from this.

[2018-06-13 16:30] terracoda commented on #106
@jonathanolson, yes thanks, that is very helpful information!

[2018-06-14 20:28] zepumph opened #111 "A11y View is brittle when build"
Right now there are just hard-coded domains that will trigger the sim filename to change in the a11y view, like
[code]

This currently doesn't work for localbuild, or for production build (if we are sending it there). I don't want to overhaul this whole thing right now (nor does @jessegreenberg), but at least we should add 'localhost' to that list.

[2018-06-14 20:34] zepumph commented on #111
Duplicate of https://github.com/phetsims/chipper/issues/667, closing

[2018-06-14 20:34] #111 closed

[2018-06-18 20:53] jessegreenberg commented on #36
I just verified on 6/18/18 that this is still a bug.

[2018-06-19 13:04] terracoda commented on #110
I agree with @amanda-phet, I really like "Control Area", too. I can't believe we didn't come up with it before. Way to go @emily-phet for seeing the forest for the trees!

[2018-06-19 13:52] terracoda commented on #104
@mbarlow12, I do not understand what you mean by "sim-level" html, but hopefully this will be resolved with a working example.

[2018-06-19 18:01] arouinfar commented on #110
@emily-phet took a quick poll in the keyboard navigation meeting this morning, and the consensus was to move forward with "Control Area".

Folks working on descriptions may want to update any relevant a11y docs @terracoda @amanda-phet.

[2018-06-19 18:22] arouinfar opened #112 "H1 Convention for Multi-Screen Sims"
Single-screen sims have a single H1, which is the sim name. Each screen of a multi-screen sim (including home screen) has its own H1. Initially, we had simply tacked on the screen name to the H1, so it followed the pattern "{{Sim Name}}, {{Screen Name}}". For example:

When reviewing Coulomb's Law, @terracoda suggested flipping the order to "{{Screen Name}}, {{Sim Name}}", as it forefronts the new

[2018-06-19 18:34] terracoda commented on #112
@arouinfar, this issue is related to #94, and #104, as well.

[2018-06-19 18:40] terracoda commented on #112
I worked on the HomeScreen.md file. It would be great to get designer feedback for how we handle the H1 content for each sim screen, and eventually the intro paragraph.

[2018-06-19 18:56] terracoda commented on #112
If you look carefully in the code example for Build an Atom in the [HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md), you'll see two examples for the intro paragraph.
- One for the Atom Screen, and
- One for the Symbol Screen.

If that is too much information to process, we can just focus on how to populate each screen's `H1` for now.

[2018-06-20 17:48] jessegreenberg commented on #99
Removing assignment since we will talk about this more at an upcoming meeting.

[2018-06-20 18:58] terracoda commented on #94
I have created a Design Pattern for multi-screen sims in joist. I used code from these mock-ups buyt have iterated a little bit.
I will update these mock-ups once the design patterns is ok'd by the team.

[2018-06-20 18:59] terracoda commented on #94
Mark down file for the Home Screen is in [joist/doc/HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md)

[2018-06-20 19:03] terracoda commented on #112
@arouinfar, @emily-phet, @amanda-phet, I have updated the HomeScreen.md file.

I added two examples using the same pattern, so you can ignore https://github.com/phetsims/a11y-research/issues/112#issuecomment-398507914

I think it is better just to see if this one pattern works, and if not, we can iterate. The {{double curly braces}} surround the potential string parameters that would be sim specif

[2018-06-20 19:08] terracoda commented on #112
@arouinfar, note that I intentionally left off "Home Screen" from the actual Home Screen. I think the function of being a home screen is kind of obvious. On a typical website, you just get the website's name, you don't generally get "Website name, Home Page".

I think users will tell us if they need "Home Screen".

[2018-06-20 19:09] terracoda commented on #112
I am un-assigning myself for now. Please re-assign if you have questions.

[2018-06-20 19:29] terracoda commented on #104
@zepumph, @emily-phet, @jonathanolson I have created a [HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md) file over in phetsim/joist.

@arouinfar has asked for feedback for how we populate the H1's for each screen over in #112.

@zepumph, I will update the HTML examples in #94, as I made some modifications when I coded up the examples in the [HomeScreen.md](https://gi

[2018-06-20 19:31] terracoda commented on #104
@zepumph, I am unassigning myself and assigning back to you for comment. Please assign @jonathanolson if his expertise is needed.

[2018-06-20 20:37] terracoda commented on #94
@zepumph, I have updated the index.html file in the baa-screens folder. I have put all the sim content on one page, so everything can be seen together.

FYI, I put horizontal rules in between sim screen.

- [Multi-screen Sim Example](https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/baa-screens/index.html)

Note that the code validates w

[2018-06-20 20:39] terracoda commented on #94
When on git hub, the javascript for the PhET Menu does not work on either PhET Menu button.

[2018-06-20 20:41] terracoda commented on #94
The example in https://github.com/phetsims/a11y-research/issues/94#issuecomment-398888379 is updated, and awaiting review by team.

[2018-06-20 20:42] terracoda commented on #104
HTML example in #94 is ready for review.

[2018-06-20 20:54] terracoda commented on #104
@zepumph to answer your questions in https://github.com/phetsims/a11y-research/issues/104#issue-326265386

1. I think the H1s for area-model-common should look like the H1s in the HomeScreen.md file
2. the example for Build an Atom in #94 have been updated

I marked everything ready-for-review, and commented in all related issues. Is there anything else I need to do?

[2018-06-20 21:09] amanda-phet commented on #112
I looked at the md file and think the structure you identified for h1s makes sense to me!

[2018-06-20 22:45] arouinfar commented on #112
@terracoda thanks for all of your work on this! The examples in [HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md) are very clear to me, and I think the h1 structure looks great. I'll update the a11y docs I'm working on.

[2018-06-20 22:45] #112 closed

[2018-06-21 19:29] terracoda opened #113 "Keyboard Shortcuts Dialog: how to support young learners & novice keyboard users"
In a recent interview with a grade student using John Travoltage, the student tried really hard to use the arrow key to move John's Arm or Foot.
However, they did not realize that they needed to use the Tab key first to move keyboard focus to either of the sliders under the hood.

**Question:**
- How can we better support young learners and novice keyboard users on how to use the shortcuts?
- Note

[2018-06-21 20:30] arouinfar commented on #113
Here's a mockup of the dialog we came up with during today's design meeting.

![image](https://user-images.githubusercontent.com/8419308/41743926-809b41ca-755f-11e8-9d50-1445a39574a1.png)

[2018-06-21 20:39] terracoda commented on #113
I like the mock-up!

In terms of an alternative to "General Navigation", the only thing coming to mind thus far is:
- "New to Keyboard?"

[2018-06-21 20:42] arouinfar commented on #113
@terracoda "New to Keyboard?" could be a good alternative if "General Navigation" becomes an issue in interviews. Another option could be "Getting Started".

![image](https://user-images.githubusercontent.com/8419308/41744493-22444dcc-7561-11e8-8869-d4e0505c8a7f.png)
![image](https://user-images.githubusercontent.com/8419308/41744562-59a64072-7561-11e8-9b19-5536830165eb.png)

[2018-06-21 20:43] terracoda commented on #113
A11y Content for new items would be:
- Use Tab key to get started
- Press buttons with Space key

Note, if folks with accessibility experience read "Press buttons with Space", they will likely say in interviews, you can also use Enter key.

[2018-06-21 20:45] terracoda commented on #113
@arouinfar, thanks for the extra mock-ups. I agree that I think we might want to wait on changing "General Navigation".

[2018-06-21 20:46] terracoda commented on #113
or "Basic Shortcuts"

[2018-06-21 23:31] zepumph commented on #104
I'm going to implement the h1 structure first as part of https://github.com/phetsims/area-model-common/issues/149#issuecomment-398909150, things are looking very nice! Thanks @terracoda.

[2018-06-22 00:09] terracoda commented on #113
@arouinfar, sorry I added "Basic Navigation" after posting "Basic Shortcuts", and perhaps you only saw saw the first post.

Do you prefer "Basic Shortcuts"?

[2018-06-22 15:41] terracoda commented on #84
There has been some evolution on top-level sim structure:
- designers are happy with a change from "Control Panel/More Controls" to "Control Area".

And there is a design pattern for Multi-Screen sims on [joist/doc/HomeScreen.md](https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md) that people are still reviewing, but has receive positive feedback thus far.

@emily-phet, can we close t

[2018-06-27 01:10] terracoda commented on #113
@arouinfar, I personally do not like the repeated "Getting Started" heading.
My preference in order are the following headings:
- Basic Shortcuts
- Basic Navigation
- New to Keyboard?

@arouinfar, @emily-phet, @amanda-phet, do you have preferences?

[2018-06-27 13:48] terracoda commented on #109
Adding resource:
http://www.sumandamera.com/aria-haspopup-property/

[2018-06-27 16:41] arouinfar commented on #113
@terracoda I did indeed only see the first post, but I think "Basic Navigation" works really well too! My order of preference would be: Basic Navigation, Basic Shortcuts, New to Keyboard?

[2018-06-27 18:05] terracoda commented on #113
@arouinfar, my only hesitation with "Basic Navigation" is that we are adding in "Press buttons [space]" which is technically not really navigation.

In a slack chat @arouinfar and I considered:
- Basic Navigation
- Basic Controls
- Basic Operations
- Basic Commands

And feel that "**Basic Shortcuts**" is the least technical and most accurate!

So going with Basic Shortcuts.

[2018-06-27 18:07] arouinfar commented on #113
Here's an updated mockup @terracoda

![image](https://user-images.githubusercontent.com/8419308/41991405-8d5dbe68-7a02-11e8-8930-1a093eb6522e.png)

[2018-06-27 18:12] terracoda commented on #113
@jessegreenberg, I am assigning to you for re-assignment and implementation, and un-asssigning @emily-phet and @amanda-phet.

[2018-06-27 18:21] terracoda commented on #113
@jessegreenberg, of course this is a sample dialog for a sim that contains an obvious slider interaction.

The part that is new is the:
"[Tab] to get started" , "Basic Shortcuts", and "Press buttons [Space]".

These new features can be added to all dialogs, but the example above is an example that does not mention "group navigation". You probably already have a way to handle that sim specific diff

[2018-06-27 18:54] terracoda commented on #113
@jessegreenberg, in case you need it, I put the A11y version in a google doc for safe keeping:
https://docs.google.com/document/d/1QPPT2bnORUJYETbJBO7QWJ3J-ySZNsDP_Mdpfp4ju_0/edit#

[2018-06-27 21:37] jessegreenberg commented on #106
@terracoda I saw you added the meeting label, would you like to discuss this at an upcoming a11y meeting?

[2018-06-27 21:44] jessegreenberg commented on #67
Removing meeting:a11y label since this was deferred.

[2018-06-28 12:45] terracoda commented on #106
@jessegreenberg, the meeting label was added 3 weeks ago. We had the FYI meeting. I think we will explore this further as we move forward with math sims. I'll label this onhold for now?

Please change label if not appropriate.

[2018-06-28 12:46] terracoda commented on #106
Oops only meant to put onhold, not close.

[2018-06-28 14:52] jessegreenberg commented on #106
Sounds good, thanks!

[2018-06-28 20:00] amanda-phet commented on #113
My preference is for Basic Navigation, as that seems most accurate to me. These aren't shortcuts, they are the keys used to navigate the sim.

[2018-06-29 14:02] ariel-phet commented on #113
It is not as if "navigation" is a super short or younger audience word, so I would think "Basic Interaction" would be the most accurate

So what about "Basic Actions" since these are both navigation and things like key presses?

[2018-06-29 14:10] terracoda commented on #113
@ariel-phet, very nice suggestion!

[2018-07-03 22:11] jessegreenberg commented on #103
We discussed this on 7/3/18 -  Moving forward, we should be careful to not paint ourselves into a corner when instrumenting common code components. This means that we don't want lots of "incomplete" dynamic alerts added to common code that would require substantial design or implementation time to make usable.

But ultimately, @emily-phet said that we don't want to spend time strictly defining "st

[2018-07-03 23:02] zepumph commented on #103
Sounds good, thanks for the nice summary!

[2018-07-03 23:02] #103 closed

[2018-07-04 19:29] terracoda commented on #113
Ok, we have 4 votes for "Basic Actions", @arouinfar I have updated the mock-up (the AI file on google drive)

![new-keyboard-dialog](https://user-images.githubusercontent.com/1902116/42292191-54ef4cd2-7fab-11e8-837d-8cc1a063ed20.png)

Are we ready to assign for implementation?

[2018-07-04 19:32] terracoda commented on #113
@arouinfar, FYI, I can't actually upload the change to google drive, maybe you could update the file.

[2018-07-04 19:32] terracoda commented on #113
@emily-phet and @oliver-phet, speak now about "Basic Actions"!

[2018-07-05 16:16] arouinfar commented on #113
@terracoda I gave you edit access to the Design Resources folder and updated the keyboard template to say "Basic Actions".

[2018-07-05 17:38] terracoda commented on #113
@jessegreenberg, do you think you could assign someone to update the new additions to the dialog?
- [Tab] to get started, and
- the updated "Basic Actions" section

[2018-07-05 17:52] terracoda commented on #113
@jessegreenberg, we could also decide the priority at the A11y Design meeting.

[2018-07-05 22:45] zepumph opened #114 "Rename pDOM to PDOM"
From slack, there is a consensus for PDOM that involves @emily-phet. I'll make the change unless someone gets to it first.

[2018-07-10 17:52] terracoda commented on #113
These updates will implemented when Friction is ready for it new dialog.

[2018-07-10 22:15] zepumph opened #115 "Does AT require aria-live attributes to be static html?"
From slack:
[code]

It may be nice to test and see if scenery can add these as they are needed. There are quite a few runnables that need these elements, so it would be simpler if it was in one spot.

[2018-07-10 22:15] zepumph commented on #115
tagging @jessegreenberg

[2018-07-10 22:15] #114 closed

[2018-07-12 22:44] terracoda commented on #51
@jessegreenberg, but they will if the role is "explicit"?

[2018-07-12 22:55] jessegreenberg commented on #51
Exactly, works OK when role="slider" is on the element.

[2018-07-13 00:14] terracoda commented on #51
So, are we good? We just stick with `<input type="range" role="slider">`

[2018-07-13 12:29] terracoda commented on #94
Reminder, that I will need to add the Global Mute Sound button at some point before September.

[2018-07-13 16:05] jessegreenberg commented on #51
Yes, I think we should be good with the workaround. Mozilla works fast, they just updated the status of the bug to fixed! It was marked with `status-firefox63: --- → fixed`. I think latest FF is 61.0.1, so maybe we will see this fixed when 63.0 is released? In the bug report I can see what looks like a commit message "Support aria-valuetext for implicit ARIA roles." So maybe aria-valuetext will wo

[2018-07-13 16:05] #51 closed

[2018-07-17 18:33] zepumph commented on #104
This issue holds the good design work, and I will implement the md file over in phetsims/joist#496. Closing

[2018-07-17 18:33] #104 closed

[2018-07-27 23:40] zepumph commented on #113
In this issue we want to change the name of a string that has already been published and made translatable. Tagging for dev meeting to discuss how best to handle this. In the mean time I may just make a new string key for "Basic Actions".

[2018-07-28 01:15] zepumph commented on #113
All work is done here besides changing the name of the HelpContent from "General Navigation" to "Basic Actions"

I won't be at the next dev meeting. It is entirely possible that there is a protocol for how to handle this, and I just don't know it.

[2018-07-28 01:16] zepumph commented on #113
BTW here is what Friction looks like as of this writing,
![image](https://user-images.githubusercontent.com/6856943/43351591-babb96b6-91c0-11e8-8fc4-cc4a532e4921.png)

[2018-08-01 00:57] jessegreenberg opened #116 "What is the expected behavior for an accessible name with role=application"
@zepumph and I discovered that role="application" will change the bahvior for how the accessible name is set. For instance, the following element has Accessible Name "Chemistry Book"

[code]

while this element has an empty accessible name
[code]
And so NVDA will not read "Chemistry Book" when focusing this element.

Even more strange is that when wrapping the element in another with role="applica

[2018-08-01 01:58] zepumph commented on #116
We think we should discuss this in next week's meeting (although I won't be here.

[2018-08-01 17:05] terracoda commented on #116
@jessegreenberg, yes, I was assuming that inner content would always be accessible, but it seems the algorithm is different with role application. I am still trying to fully understand the checklist provided in [Using ARIA](https://www.w3.org/TR/using-aria/) section 2.12 Custom Control Accessible Development Checklist.

It seems an inner element with inner content is needed, not just inner content

[2018-08-01 17:13] jessegreenberg commented on #116
Thanks @terracoda, sounds good. I will also be gone for next weeks meeting so it may be best to discuss this on 8/14/18.

[2018-08-02 04:38] samreid commented on #113
I presume you mean the key name?  We historically avoided changing key names, though I am not 100% sure why.  Perhaps if we minimize the time between committing a key name change to babel and publishing the sim with the new key name, it wouldn't be too much trouble?  Perhaps @jbphet will know more.

However, they did not realize that they needed to use the Tab key first to move keyboard focus to e

[2018-08-02 16:19] jessegreenberg commented on #113
This could be nice, I am curious what @emily-phet and @terracoda think of this. The complication will be that we need to make sure that this never happens when a screen reader is in use. As a general feature this may result in design decisions on a sim by sim basis when multiple items are draggable, or for the balloon which needs to be "picked up" with space bar or enter.

[2018-08-02 16:37] samreid commented on #113
Can you specify what would go wrong if a screen user was in use, the user pressed an arrow key, and it automatically focused and moved the arm/leg?

[2018-08-02 16:47] emily-phet commented on #113
Hey folks - the use of arrow keys to move focus in the way described here is a no-go. We're intentionally aligning with international web standards as far as how interactive elements behave and how you interact with them - as much as we possibly can. It would be incredibly non-standard to have arrow keys move focus in the way described above.
It would also mean that throughout the sim use, it woul

[2018-08-02 16:54] jessegreenberg commented on #113
When an AT is in use the arrow keys are used for other navigation purposes. If focus is on the body and the user presses "down arrow" they would expect their device to read the content of the first element in the webpage, not move focus to an interactive element. It may be that the AT will not send a `keydown` event to the browser in this case, so pressing an arrow key would behave for them as exp

[2018-08-02 17:01] samreid commented on #113
I tried launching gmail, then pressing the down arrow and it automatically highlighted the first email.  It doesn't seem like it was the same as "focus" though, something different seems to be happening.  What do you make of this?

I was taking the perspective that the arrow key moves the leg, and the focusing is a side effect.  The arrow keys cannot be used to otherwise change focus.

My hope is

[2018-08-02 17:09] jessegreenberg commented on #113
That's right, there is no way to know. I tried out gmail with NVDA and arrow keys, it starts reading from the top, I hear "Link, skip to content", then the "Compose" button.

[2018-08-02 19:34] jessegreenberg commented on #113
Discussed during developer meeting 8/2/18, instead of changing the key and value, we will need to create a new entry in the strings file with a new key and new value. This has generally been our policy for "changing" translatable strings and their values. The result will be that we have the old key value pair
[code]
that will be eventually unused. Maybe in the future we will be able to remove thes

[2018-08-02 20:41] samreid commented on #113
The proposed solution is a way to help students get started using the simulation with the keyboard.  It would not use arrow keys to transfer focus from sliders to buttons or vice versa.

My personal experience (N=1) is that when I am shown a web form with a text box already focused, I know I can type in it and press tab to go to the next box.  When I am shown a form with nothing focused, I am less

[2018-08-02 21:17] emily-phet commented on #113
Sure - happy to see what @terracoda code adds to the discussion, though I don't think we should spend too much time on this.

In general, when talking about access through assistive devices, consistency is key. Having keys do certain behaviors only some of the time breaks with international standards and is not considered good practice. To make the suggested change, we'd need a *very good* reason

[2018-08-03 14:41] terracoda commented on #113
This is a great discussion.
First difference to note is our PDOM is not a custom web application meant to mimic a desktop application's user experience. Thus, using GMail with arrow keys is likely not a good comparison.

As @emily-phet mentioned we have taken a standards-based approach. Our PDOM works like an interactive web page (or interactive web document) rather than a desktop application. We

[2018-08-03 16:17] samreid commented on #113
@terracoda thanks for your thoughtful remarks.  You mentioned a few times that our goal is not to provide a "desktop application's user experience".  Maybe others already understand why, but I do not.  It would be great to clarify on that point.  Also, is a desktop application user experience diametrically opposed to a standards-based interactive webpage?  Why do you think some sites like gmail pr

[2018-08-03 16:24] emily-phet commented on #113
@samreid  - let's keep this discussion to the topic title.

Bigger questions - like why we've taken the general approach we have - is great for real-time conversations, but very time consuming (in my opinion) to do in GitHub. @terracoda has a lot of time-sensitive work to be done, so perhaps let's table that component of the issue for some time in the future - perhaps the next time we're having a

[2018-08-03 22:15] jbphet commented on #113
@samreid said, in reference to changing strings:

If I've followed the issue correctly, it's a common code string that would be changing.  Once it is changed and pushed to the common code repo, it would stop appearing to translators for all sims that used the old string until they are republished using the new string.  The new string would be untranslated, so the trusted translators would need to

[2018-08-11 13:12] terracoda opened #117 "Types of sliders (simple, circular and multi-thumb sliders)"
I am thinking about the Sphere and Charge position sliders in the the GFL series (GFL, GFLB, and CL).

@jessegreenberg and I have discussed how multi-thumb sliders are represented before. In a technical sense they are just two sliders, but visually they are communicated/appear as one.

So in Gravity Force Lab, the sphere positions are very much like a multi-thumb slider.
I think a multi-thumb slid

[2018-08-11 13:17] terracoda commented on #117
I don't want to get into a huge online discussion. Alternatively, we could  just discuss Tuesday's design meetings.

[2018-08-12 11:16] emily-phet commented on #117
@terracoda (I love this issue, by the way!)

Let's talk about this in an 'office hours' topic on Tuesday.

In addition to the three types of sliders you mention above, we could also consider different types of position values (qualitative, quantitative, relative values, etc.).

[2018-08-14 19:15] emily-phet commented on #117
This issue discussed Aug 14th 2018. Taliesin, Emily, Jesse, Michael B. and Lynne were present.
Conclusion - in the future we may decide to have standardized html description content provided in addition to the typical slider content as an additional "circular slider" attribute to accessible slider. We also may decide to create a new common slider type (?) that uses two accessible sliders that esse

[2018-08-16 16:01] terracoda commented on #116
This issue is related to a question I asked in https://github.com/phetsims/friction/issues/92.
In VoiceOver I don't hear the accessible name in some contexts.

[2018-08-23 17:53] mbarlow12 commented on #99
@zepumph @jessegreenberg do either of you think this is still under consideration? I would vote to close and create a new issue if the topic arises again.

[2018-08-23 17:57] zepumph commented on #99
Sounds good to me. I think that for now, we don't have the resources to adopt such large scale pivot. Closing.

[2018-08-28 15:12] jessegreenberg commented on #113
I added the string "Basic Actions" and started using it in the general section for keyboard navigation. Here is the dialog now, comparing it to the one in https://github.com/phetsims/a11y-research/issues/113#issuecomment-402547376:
![capture](https://user-images.githubusercontent.com/6396244/44732399-2fa4d680-aab3-11e8-9be3-3ac501e1a0a7.PNG)

@zepumph @terracoda is there anything left for this iss

[2018-08-28 16:47] terracoda commented on #113
That should do it. Thanks everyone. I'll close this one.

[2018-08-28 16:47] #113 closed

[2018-09-04 18:51] jessegreenberg commented on #116
@terracoda said on 9/4/18 meeting that if you use `aria-label`, it will override the inner content that creates the accessible name.

For now, we can use aria-label with a dual label moving forward, and watch for duplication of the label.

[2018-09-04 18:59] jessegreenberg commented on #116
@terracoda said that it would be good to do an HTML validation first before closing.

[2018-09-04 19:08] jessegreenberg commented on #116
I tested it at https://validator.w3.org/ and got
![capture](https://user-images.githubusercontent.com/6396244/45052243-45d30980-b054-11e8-9325-4739aadeb0fa.PNG)

👍

[2018-09-04 19:23] jessegreenberg opened #118 "Should simple sims have a Control Area?"
From https://github.com/phetsims/john-travoltage/issues/295, we would like to consider whether or not the "Control Area" in the PDOM is necessary in "simple" sims. So far, this has been sims like john-travoltage and friction where the only item in the control area is a Reset All button. But that might not be the only classification. Until this is discussed, we are going to include a "Control Area"

[2018-09-05 14:37] terracoda commented on #118
@jessegreenberg - thanks!

[2018-09-05 15:30] terracoda commented on #116
@jessegreenberg, @zepumph and @emily-phet, I am sorry I was not fully grasping this issue yesterday. I still think it is safe to move forward with the single `div` with an `aria-label`, but I would like to get some feedback from the wai-aria interest group.

My main concern/question is this paragraph:
"Put it (i.e., role="application") on the closest containing element of your widget, for example,

[2018-09-06 13:12] terracoda commented on #92
I think the title attribute is sounding better these days. I will start a new issue if this comes up in interviews again.

[2018-09-06 13:12] #92 closed

[2018-09-21 15:03] terracoda opened #119 "Process for porting latest described version into latest sonified version"
I am opening this issue just to get some clarity on how to port a described version to the sonified version for interviews.

It would be nice know:
1. How long this process takes, and
2. Who to ask to do the port when a new described sonified version is needed.

In addition, it would be nice to know if there is any documentation on this process, or if perhaps documentation on the process would be

[2018-09-21 18:24] terracoda opened #120 "Are nested lists beneficial? How to optimize the reading of listed information?"
@jhung, I am tagging you as you are using nested lists in Faraday's Law. Do you know if nested lists are beneficial to blind users?

I started avoiding additional nesting due in part to the way VoiceOver reads them out.

VoiceOver not only counts the items, it utters the bullets and the style of the bullets. I find hearing the bullets kind of annoying, but I have no idea how blind users feel about

[2018-09-21 19:28] zepumph commented on #119
This question varies a lot. In the best case this process takes about 5 minutes for me. For example, the phet-io api for the sonfication wrapper's friction sim is the same as master, so it is easy to publish a new phet-io version of friction from master and update the sonfication wrapper to point to it. Here are a few thoughts.

1. Recently phet-io has changed, and we  need to "update" the sonific

[2018-09-24 16:27] jbphet commented on #119
Since I was tagged in the discussion, I thought I should chime in.  I agree with @zepumph that it's pretty much him and me doing this these days, and there isn't any documentation.  And I concur with @terracoda's observation that it's best to have ample notice.

[2018-09-24 19:42] terracoda opened #121 "NVDA reads Keyboard Shortcuts and PhET Menu buttons back to back"
Our great QA team filed an issue for RIAW about NVDA reading the Keyboard Shortcuts button and the PhET Menu back to back so they kind sound like a single button

See issue https://github.com/phetsims/resistance-in-a-wire/issues/176#issuecomment-424098295

I was not sure this would be an issue for blind users, but after viewing two interviews with Friction, I do think this is an issue that we shou

[2018-09-24 19:43] terracoda commented on #121
I am hoping that planned changes to the structure of the bottom navabar will address this issue.

[2018-11-07 16:17] emily-phet commented on #105
Is there a straightforward answer to the question - "can we currently use MathML for mathematical notation"? Or will this require some investigation?

[2018-11-07 16:46] emily-phet commented on #105
@jesse - thanks for the reminder on that. It was probably brought up before.

For this issue - since MathML is not an option, we just need to determine how we want the numbers to be read out - e.g., "3.14 times 10 to the minus 4 units" or something else. Are there ideas for where we might find a consensus answer to this question?

[2018-11-07 18:05] terracoda commented on #105
@emily-phet, I can also ask our consultants this tomorrow and Friday this week. I'll run the phrases I have created for scientific notation by them.

[2018-11-07 21:30] jessegreenberg opened #122 "Formatting of common strings/structure in a11y design docs"
Back around the a11y sprint, there were questions about how to format strings or structure in a11y design documents that are common to all sims. For instance

![](https://user-images.githubusercontent.com/679486/39905144-0fd15fd8-5499-11e8-97b9-c5e08860267d.png)

The second half is grayed, presumably because it is added automatically by our infrastructure. I think this is helpful, but I haven't se

[2018-11-07 21:39] terracoda commented on #122
@jessegreenberg, what design doc is this? It seems this one with blue and grey text is likely a very old one - a kind of first go at it. This is not what was adopted at the a11y sprint.

A better example would be John Travoltage, Friction and Gravity Force Lab.

I actually made an example template: [SIM NAME: A11y Design Main (Template) ](https://docs.google.com/document/d/1cX01_sgT9cmRXd14ceDwa7t

[2018-11-07 21:41] terracoda commented on #122
@jessegreenberg, from the previous link, I see this design doc is for Color Vision which is not a good example. When a11y work continues on that sim we would have to update the a11y design document.

[2018-11-07 21:43] terracoda commented on #122
Please re-assign if you need more information. Or perhaps this issue can be closed?

[2018-11-07 21:45] jessegreenberg commented on #122
Awesome, thanks @terracoda. It was an old screenshot from a design doc dated at the a11y sprint. Makes sense it is quite stale.

In the current template we have this:

Paragraph for single screen on single-screen sims
{{Sim Name}} is an interactive sim. It changes as you play with it. It has a Play Area and a Control Area. [...]

The interactive {{Screen Name}} Screen changes as you play with it.

[2018-11-07 22:18] terracoda commented on #122
Great question @jessegreenberg, I thought the curly braces kind of indicated that, but if that isn't a strong enough indication, we could indicate with a clearer label and or some kind of formatted text.

Would this work?
<img width="516" alt="screen shot 2018-11-07 at 11 12 54 pm" src="https://user-images.githubusercontent.com/1902116/48164423-bdd2df80-e2e2-11e8-886c-dffd70e52c45.png">

At the a1

[2018-11-08 03:50] emily-phet commented on #105
@jessegreenberg - let's definitely check out how MathML would read this out and get feedback on this wording.

[2018-11-08 12:06] terracoda commented on #122
@jessegreenberg we can discuss briefly at next weeks A11 Des & Dev meeting.

[2018-11-08 17:06] jessegreenberg commented on #105
Sounds good - One thing I learned is that for MathML to work with NVDA it requires a third party plugin MathPlayer https://www.dessci.com/en/products/mathplayer/

[2018-11-08 19:00] jessegreenberg commented on #105
OK, so here is MathML using to test scientific notation:
[code]

@emily-phet @terracoda NVDA says: "Seven times ten to the negative four power"

After installing MathPlayer, NVDA says this in Chrome too! This is surprising because it looks bad in Chrome:
![captuire](https://user-images.githubusercontent.com/6396244/48220762-2c08b800-e35e-11e8-8f2a-c2a5be6fe060.PNG)

And chrome reports the accessib

[2018-11-08 22:13] emily-phet commented on #105
Well - that sounds just fine to me. Let's go with this wording. "X.X times ten to the negative Y power".
Thoughts on any implementation plan changes with this new possible Chrome support of MathML?

[2018-11-09 10:14] terracoda commented on #105
@jessegreenberg, can I try reading your example page with VoiceOver in Safari?

Maybe I should try your mathml code above in an HTML page?

[2018-11-09 10:29] terracoda commented on #105
The phrase is still recognized as math and the content provided is correct. "superscript negative 4" is perhaps less ideal than "to the power of negative 4".

[2018-11-09 16:56] jessegreenberg commented on #105
https://github.com/phetsims/a11y-research/issues/105#issuecomment-437216862

I totally agree @emily-phet.

https://github.com/phetsims/a11y-research/issues/105#issuecomment-437313988

Please and thank you @terracoda! Good to know that MathML is recognized, but unfortunate that it doesn't sound so nice in VoiceOver.

[2018-11-10 00:00] jessegreenberg commented on #105
There are a few things that would be good to talk about at the next design/dev shorts meeting and it would be good to get input from both developers and designers.

Negatives:
1) Scenery's a11y support wasn't really designed for markup like MathML. Creating the structure in PhET code isn't very pretty:
<details><summary>Node code:</summary>

[code]
</details>

We can certainly come up with ways to

[2018-11-10 00:05] jessegreenberg commented on #105
I also think that whatever we decide we aren't locked into one way or the other. If we try MathML and decide it won't work out we could switch to rolling without it and vice versa. Especially since the a11y sims coming up don't involve a lot of math expressions.

[2018-11-10 10:45] terracoda commented on #105
@emily-phet, I am not sure we know enough about accessible math solutions to fully embrace MathML.

Would it be possible to go with a spoken text-based alternative until we know more? I think we can deliver a more consistent experience for the simple math we need at this point.

We could set aside some resources to investigate and document possible options that could work for PhET sims.

[2018-11-11 00:14] emily-phet commented on #105
@terracoda I'm inclined to go with MathML for now. As @jessegreenberg mentioned, we don't have to commit to it for life at this point. *Because* the math we are expressing is so simple, I think it would be good to at least for now be consistent with what the broader community is moving towards (and advocating for). Users familiar with MathML will have additional affordance we won't provide without

[2018-11-11 08:59] terracoda commented on #105
@emily-phet, I actually agree that MathML is good direction. I missed @jessegreenberg comment about us being able to change https://github.com/phetsims/a11y-research/issues/105#issuecomment-437533296.

[2018-11-13 13:43] emily-phet opened #123 "CSUN John Travoltage Manuscript - Remaining To Do's"
**Manuscript**

- [x] @briannatomlinson / @kainip  Draft Short Abstract (~100-150 words)

- [x] @briannatomlinson / @kainip Please check references in latest version (v5-EM) - there are some needed for supporting docs, and a set of numbered refs that never made it into MLA (these are probably the same as in the ASSETS demo paper).

- [x] (@briannatomlinson / @kainip  Create Figure 1 of JT, perhaps

[2018-11-13 14:42] briannatomlinson commented on #123
@emily-phet  do I have access to that JT description folder that you mentioned? (I'm not sure how to get to it, since you've separately shared some of the folders outside of the Sonification Work with me directly). If you have a link that would be sweet!

+ I'll take a look at those references. I thought @kainip  was going to change them over, I had just copied them in for her.

[2018-11-13 16:14] briannatomlinson commented on #123
Ok. I just finished building out all of the references in Mendeley, and put them into the doc + updated the works cited at the bottom.

@emily-phet  I'm currently using MLA version 8 for this (based on the plugin that's available). I couldn't find in the email from CSUN if it was MLA v7 or 8.

+ starting a new doc for alt text, tables, etc. based on last years. I'll include them into the folder th

[2018-11-13 17:10] emily-phet commented on #123
@briannatomlinson I just sent an invite to you and @kainip to the "Multimodal Features" folder for John Travoltage. Inside this folder is a sound and description folder...the description folder holds what I mentioned above in the checklist.

[2018-11-13 17:49] briannatomlinson commented on #123
@emily-phet  was that spreadsheet supposed to be for JT only?

I only just realized that's where it was... Is there somewhere we should put all of them (the non-JT interviews?)/does that mean there are separate ones for the other sims?

[2018-11-13 18:08] jessegreenberg commented on #105
We will need some of our alerts to include math content. We should test whether or not MathML can be read in an aria-live alert. If it can, than all math can use MathML everywhere. If it works, we will also need to explore how to send our own MathML to the utteranceQueue, and embed it into sentences.

If those things won't work, we will need to send strings representing the math for alerts, and us

[2018-11-13 18:09] jessegreenberg commented on #105
@mbarlow12 said he could work on this this week and will check back in with the team next week about how it is going with MathML.

[2018-11-13 18:43] briannatomlinson commented on #123
@kainip - do you know why we only included 5 of the 6 semi-structured interview participants?

[2018-11-13 18:52] emily-phet commented on #123
Maybe one of the later ones didn't have sound (unintended)? There was some issue with one of them, and I just can't recall what it was.

[2018-11-13 18:55] briannatomlinson commented on #123
Yes, that was p605 --- but Prakriti re-ran that session (and there's comments in the semi-structured interview notes about the participants responses to the sounds).

@briannatomlinson  to check with Prakriti on this :)

[2018-11-13 22:44] elharden2 commented on #123
I just uploaded Word docs of the two Qualtrics surveys I used into the JT->Multimodal Features->Sound and 2019_CSUN-_Manuscript->Additional Submission Docs folders on the Drive (wasn't sure the best place to put them yet, so feel free to delete them from one folder).  @kainip, I think I used the exact same demographics survey questions as you, but it would be a good idea to double check they are i

[2018-11-14 01:50] briannatomlinson opened #124 "Distance readings in GFL (regular)"
@terracoda -- in today's research meeting with @emily-phet , I mentioned getting some weird slider values in our first participant interview (on 10/26) with [GFL](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.8/phet/gravity-force-lab_en_phet.html?ea&accessibility).

When moving the masses around, most values read normally but then it will read out something like "1.799999999... me

[2018-11-14 16:19] jessegreenberg commented on #105
While looking into https://github.com/phetsims/scenery/issues/870 found that MathML doesn't support the hidden attribute and others. So I guess to make invisible from a screen reader the MathML element will need to be wrapped by an HTML element which can be hidden.

[2018-11-14 16:26] elharden2 commented on #123
I realized I probably need to upload a doc with the questions I asked during the semi-structured interviews too, since I modified those a bit from the ones asked to VI users.  I'll try and add those to the Drive folder today or tomorrow.

[2018-11-14 17:00] briannatomlinson commented on #123
I started a table drafts doc here today -- https://docs.google.com/document/d/1GPN26b7EFAzUgb4xMytIab5srvG2OhBE4e4MlPfFOrE/edit

[2018-11-14 17:19] pkaini commented on #123
@elharden2 The doc I uploaded has some questions from the semi-structured interview but not all (only the description and sound specific question + end comments).
I haven’t had a chance to compare the demographics questions yet, will do by the end of this week.

[2018-11-14 23:31] briannatomlinson commented on #123
Ok! I took a first shot at the tables -- @emily-phet  I don't know how relevant you think some of those outcomes are...

@elharden2 I looked through the notes you had on the sounds analysis and the semi-structured interview notes. I think at the level I have concepts broken down to, it seemed like all the students got the concepts. I can check tomorrow or if you have some free time you can review!

[2018-11-15 00:05] briannatomlinson commented on #123
I have all the new numbers for the surveys, too (including the last persons data)!

- [ ] Needs to get added to the draft but wasn't sure if anyone was looking at it currently (I didn't want to break someone's edits!!)

  | new average scores | SD
-- | -- | --
UMUX | 18.67 | 5.35
BUZZ | 71 | 5.51
BUZZ   aesthetics | 25.67 | 2.07
SUS | 90 | 12.25

[2018-11-15 11:14] terracoda commented on #123
@emily-phet, the figure 2 image is almost up-to-date. The Mute Sound button in actually in Sim Resources, but the Keyboard Shortcuts and PhET Menu buttons are not indicated. I will add them.

In addition, do you think the the dynamic descriptions column should indicate what parts of the phrases actually change? For example, I could add braces like in our design documents and code.

[2018-11-15 12:18] terracoda commented on #123
@emily-phet, I updated Figure 2 and uploaded it to the folder. I left both versions, but the one labelled csun-fig02 is the updated one.

Changes:
- I updated the dynamic paragraph text to be what it would be after the discharge as opposed to before.
- I updated the hand position to position negative 1 because with 25 charges, a discharge happens there rather than at position 0.
- I added all the

[2018-11-15 14:03] briannatomlinson commented on #123
Awesome, @terracoda! Thanks for the figure! I'll put it into the doc and let you know if it seems too big or anything (I assume it will be fine). I think a scenario with a lot of charges is fine, since that's one half of the image in figure 1

Thanks for the table of the sounds I'll check that too!

[2018-11-15 15:29] briannatomlinson commented on #123
@terracoda Ok, I've updated the figure and table. Thanks a bunch for that!

There's a sentence in the paper that says "Our efforts extend existing practices in image description (Keane and Laverentz) and alternative input (**Taliesin’s choice**), and methods for designing and evaluating auditory cues (Barrass and Kramer)." <-- I'm wondering if there's a particular citation you would like to add to

[2018-11-15 15:34] terracoda commented on #123
@emily-phet, I updated the John Travoltage's A11y Design document adding a couple more details for the Leg swing slider, updating the PDOM figure, and adding the Keyboard Dialog design and content.

It seems complete from my perspective.

[2018-11-15 15:43] terracoda commented on #123
@emily-phet and @briannatomlinson, I uploaded a word document with a couple of comments on the description section. This was on version 6:

Comments are:

replaced "and" with "indicating"

[2018-11-15 15:47] briannatomlinson commented on #123
Oh! I'll make sure those are integrated into the v7 version -- thanks for letting me know!

[2018-11-15 16:01] terracoda commented on #123
@briannatomlinson, my first comment is to make you and @emily-phet aware of how we used aria-valuetext. If help is needed tweaking the section on descriptions, let me know.

[2018-11-16 11:26] terracoda opened #125 "How well are Arrow keys working in JAWS for 4-way custom move?"
I am having some trouble assessing what is the best way to cue the custom 4-way drag, especially for Friction where pressing the W key is not so useful.

In a recent session with a VoiceOver user familiar with our sims, there seemed to be confusion around cuing only the use of the WASD keys for moving the book.

**Goal of this issue:**
Assess how well the Arrow keys are working in JAWS so we can f

[2018-11-16 14:32] terracoda commented on #105
@jessegreenberg, does the aria equivalent, `aria-hidden="true"` or `aria-hidden="false"` work any better?

I would think that there are many HTML attributes that are no supported by MathML as they are separate mark-up languages.

[2018-11-16 15:05] jessegreenberg commented on #125
@terracoda I just tested with JAWS 2019 in both Chrome and Firefox. Unfortunately the arrow keys still do not work with JAWS because of https://github.com/phetsims/a11y-research/issues/9.

[2018-11-16 15:53] jessegreenberg commented on #105
Good point @terracoda. We synchronize `hidden` with scene graph visibility in scenery which is how I found it wasn't getting hidden by scenery. Ill try `aria-hidden` and see if that works for MathML.

[2018-11-16 16:00] jessegreenberg commented on #105
`aria-hidden` works on MathML in FF and Chrome!

[2018-11-19 11:01] terracoda commented on #123
@briannatomlinson I provided the caption and alternative text for Figure 2. I have uploaded it to the folder on google drive (https://docs.google.com/document/d/1ZuqTGKeIrnsGOxxMP22LWbkqn_DmNzlw3rEd6aZCz1I/edit)

I try to briefly explain the figure for everyone in the caption and then in the alternative text try to fully describe the figure for non-visual readers. I do not try to explain the figur

[2018-11-19 11:17] terracoda commented on #123
@briannatomlinson, I made comments to Table 2, the Challenges Table regarding descriptions.
https://docs.google.com/document/d/1GPN26b7EFAzUgb4xMytIab5srvG2OhBE4e4MlPfFOrE/edit#

I have some concerns, but not sure how much you can fit.

[2018-11-19 11:30] terracoda commented on #123
@briannatomlinson, I commented in the alt text document that I provided new caption and alt text for figure 2.

[2018-11-19 11:33] terracoda commented on #123
@briannatomlinson, I see my name is attached to helping with the Challenges Tables. I'll make some time to incorporate my thoughts, rather than just commenting. Let me know when you are working on this.

[2018-11-19 11:52] terracoda commented on #123
@emily-phet and @briannatomlinson I made a version 2 of Figure 2 which is the the PDOM and Description Strategy. It may be too complicated or too busy, so we can stick withe version one if you think it is better for this paper.

I ma posting it here so you can compare to the one in https://github.com/phetsims/a11y-research/issues/123#issuecomment-439021397

![jt-pdom-description-strategy-csun-fig0

[2018-11-19 13:35] terracoda commented on #123
@briannatomlinson and @emily-phet in terms of references in the description section, I commented in version 7 that I think it makes sense to cite my MRP

- Smith, Taliesin L. Access, Action, & Agency: Inclusive Design for the Non-Visual Use of a Highly Interactive Simulation. OCAD University, 15 Apr. 2016, http://openresearch.ocadu.ca/id/eprint/713.

And for alternative input it makes sense to cit

[2018-11-19 13:39] terracoda commented on #123
@briannatomlinson, FYI, I uploaded version 7 with my references and comments. I am not exactly sure where the latest version is.

[2018-11-19 17:37] briannatomlinson commented on #123
@terracoda thanks for updating the alt-text --> like I said before I don't always know the terminology that you would prefer me to use. I'm almost never involved in the description design so I just don't know the specifics of what things are called.

Please update any of the docs as needed! I'm mostly using place holders so we don't forget to do it for the final submission!

[2018-11-19 18:04] briannatomlinson commented on #123
I made one update to the alt text after switching to your new Parallel DOM figure.
@terracoda please check it to make sure you're ok with the changes. [https://docs.google.com/document/d/1mVCPlx3SRjKOVcIC-6i3jhwuAtfRdL9ffGN8RGBawUU/edit#heading=h.gjdgxs](url)

[2018-11-19 19:45] briannatomlinson commented on #123
[Table updates](https://docs.google.com/document/d/1GPN26b7EFAzUgb4xMytIab5srvG2OhBE4e4MlPfFOrE/edit#):

- moved table 1 in there so they were all in one place
- started updating all of the information as suggested edits (following the format Taliesin started!) but then I thought it might be way too hard to follow so I've updated almost all of them and accepted the edits. The goal was to succinctl

[2018-11-19 21:45] terracoda commented on #123
@briannatomlinson, nice work on table. I agree this is kind of hard, and I made some additions and edits.

[2018-11-20 10:56] terracoda commented on #123
@emily-phet and @briannatomlinson, I reworded the description paragraph. It's probably too long now, but hopefully not. Let me know where if any other contributions are needed?

[2018-11-20 12:37] terracoda opened #126 "A11y View not working?"
I just noticed that A11y Views are not working in BASE or Friction.
@jessegreenberg, is this a known issue?

<img width="1159" alt="screen shot 2018-11-20 at 1 32 22 pm" src="https://user-images.githubusercontent.com/1902116/48773960-28175700-ecc9-11e8-99c7-2b81631d63da.png">

<img width="1136" alt="screen shot 2018-11-20 at 1 33 27 pm" src="https://user-images.githubusercontent.com/1902116/487739

[2018-11-20 13:46] terracoda commented on #125
Considering that JAWS still does not work with the Arrow keys, I think the WASD letter cue should be in all three places, but I could be convinced of only in PDOM hint and Keyboard Shortcuts dialog if a generic directional instructions are used in the alert - no reference to arrow or WASD keys.

Doing this might mean a couple of failed attempts for JAWS users?

[2018-11-20 13:48] terracoda commented on #125
@emily-phet, please add any thoughts or concerns you have. I am thinking about the cues in Friction as I wrote this.

[2018-11-20 13:49] terracoda commented on #125
I'll mark this as meeting topic. We can discuss today without @emily-phet or next week (Nov 27) if that is better.

[2018-11-20 16:36] jessegreenberg commented on #126
@terracoda said this happened on phettest after running pulling all.

[2018-11-20 19:41] jessegreenberg commented on #126
I am able to see this after pulling all. Last change to the a11y-view was 4 months ago, must be something recent.

[2018-11-20 19:44] jessegreenberg commented on #126
We arent receiving event messages from the sim anymore (which triggers initialization of the a11y view).

[2018-11-20 19:48] jessegreenberg commented on #126
Seems to have come from changes in https://github.com/phetsims/tasks/issues/958

[2018-11-20 20:19] jessegreenberg commented on #126
Thanks for reporting @terracoda, this was fixed in #958, and the a11y view is opening correctly in master again. Closing.

[2018-11-20 20:19] #126 closed

[2018-11-22 09:33] terracoda commented on #125
@emily-phet, we didn't get to this topic on Nov 20. We can potentially discuss Nov 27.
In the mean time I am forging ahead for Grab cues for Friction's book and GFL's ruler.

[2018-11-26 03:18] emily-phet commented on #125
My initial thoughts:
- I think it isn't ideal to have a generic movement cue on grab (that doesn't include arrow keys or WASD keys explicitly). I think those less familiar with interactive game-like laptop experiences, may start out a bit lost as to what to do. Since we know that users tend to just cycle around to other - less important - objects on screen when confused about a grab/move interacti

[2018-11-26 09:53] terracoda commented on #125
@emily-phet, I agree, thus far there are interaction nuances in different sims that likely prevent a general alert without explicit key press instructions.

So I also think that until JAWS releases the arrow keys with role `application` we should provide explicit instructions in three consistent places:
1. The PDOM help text near the actual custom object.
2. In the initial grab alert (potentially

[2018-11-26 10:49] terracoda commented on #123
@emily-phet and @briannatomlinson I shortened some of my text in the challenges table and added my comments to the other tables. I think the tables look good. I hope they will fit. Please let me know if anything else is needed from me. I've provided:
1. references for description section
2. figure 2 - if tweaks are needed just let me know.
3. figure 2 alt text
4. content and comments for tables

[2018-11-26 11:21] terracoda commented on #123
@briannatomlinson and @emily-phet , I added some suggestions for how to describe figure 1 as well. Use what is useful and leave what is not.

[2018-11-26 18:38] emily-phet commented on #123
**Remaining to do's**

Manuscript

- [ ] Last references added (some specific to JT sim need to be included) and final check through all references.

- [ ] Final check for length. I think it's probably right at 10 pages.

- [ ] Final read through by team once tables are complete - looking primarily for any errors introduced in editing.

Tables and Figures

- [ ] Figure 1 - There's a lot of ceiling

[2018-11-26 20:16] briannatomlinson commented on #123
Emily, would it be useful for me to review the tables at all (like trying to reframe table 4) or would you rather I wait until you look at them to do something?

I can get a new version with less ceiling/floor on the images.

Alt text/captions are available [here](https://docs.google.com/document/d/1mVCPlx3SRjKOVcIC-6i3jhwuAtfRdL9ffGN8RGBawUU/edit#heading=h.cmivif1x3aoo)

[2018-11-27 10:38] terracoda commented on #123
Here's a web preview of the updated figure 2. I'll upload the PRINT file to the folder on google drive.  I actually didn't know how to make a bent dotted line, but I figured it out. Thanks for asking @emily-phet.

![jt-pdom-description-strategy-csun-fig02-web-preview](https://user-images.githubusercontent.com/1902116/49076250-daef3400-f238-11e8-9257-557b4478f341.png)

[2018-11-27 10:47] terracoda commented on #123
@briannatomlinson, I inserted the new Fig 2 into your document.

[2018-11-27 20:11] pkaini commented on #123
Need to put together a single doc with all Qualtrics questions used (sound + description and visuals + sound versions) as supporting doc for paper.

@elharden2  i've put all the qualtrics questions in this doc and had a couple of questions:

For the visual usability survey, the instructions read "select from five options (strongly agree, somewhat agree, agree, somewhat disagree, and strongly disag

[2018-11-27 22:31] elharden2 commented on #123
@pkaini good catch on the visual usability survey questions!  That must have been a copy and paste error on my part.  I used the 7 options, not 5.

As far as the demographics questions go, I actually didn't modify the demographics survey at all from the one that you originally sent to me, so that question about high contrast must not have been there to begin with (I didn't remove it).

Let me know

[2018-11-28 19:06] elharden2 commented on #123
@pkaini Just FYI, I added a couple of questions to the semistructured interview that I asked the sighted learners regarding the visuals: _What about the visuals in the sim helped you navigate it or figure out what to do?_ and _How do the visuals change as you interact with the sim?_  I noticed you didn't include all of the semistructured interview questions listed on the Google sheet on the suppor

[2018-11-28 20:45] pkaini commented on #123
I must have missed them. Thanks for pointing out! I’ll go back and add them to the doc.

[2018-11-28 22:54] briannatomlinson commented on #123
@emily-phet  and @terracoda, can you share the links for the two other documents that need to be added?

Full documentation of JT’s description (@terracoda has made a version of this, EM to review and give some feedback). Is it this [one?](https://docs.google.com/document/d/1mDGOMe1fWC4Sdz8dpA1ehyBmuUh4SCkqpGfsUGfAPA0/edit#)

Link to documentation of sound - @emily-phet to work with @jbphet and As

[2018-11-28 23:31] briannatomlinson commented on #123
I also went through and updated the links for the references (removed http from links, and updated single pages [tambo, phet design docs, etc.])

[2018-11-29 10:49] terracoda commented on #123
@emily-phet, in case there is any confusion. The design document I created for John Travoltage is that one you linked. It is called [John Travoltage: A11y Design Main](https://docs.google.com/document/d/1mDGOMe1fWC4Sdz8dpA1ehyBmuUh4SCkqpGfsUGfAPA0/edit#heading=h.nhqxjbby3dgu).

[2018-11-29 11:21] terracoda commented on #123
@emily-phet and @briannatomlinson, I just wanted to point out that right at the top of the [John Travoltage: A11y Design Main](https://docs.google.com/document/d/1mDGOMe1fWC4Sdz8dpA1ehyBmuUh4SCkqpGfsUGfAPA0/edit#heading=h.nhqxjbby3dgu) document there is a **Multimodal features** section and a **Related documents** section. We could link to the Sound Design document(s) in one of those places if you

[2018-11-29 13:20] briannatomlinson commented on #123
Ok, thanks for the confirmation @terracoda!

Linking to the sound design doc in there would be great, too! I don't have a link for that yet

[2018-11-29 14:38] pkaini commented on #123
@elharden2 I think the questions you mentioned should go on the doc, are they from the end comments section?

[2018-11-29 19:38] elharden2 commented on #123
@pkaini I actually added those two questions under the comments about descriptions.

[2018-12-06 08:32] terracoda commented on #125
Discussed at A11y Dev meeting, and we will only cue the arrow keys in the Keyboard Shortcuts dialog because they do not work in all cases. The WASD keys will be cued in all three places.

Closing this issue for now.

[2018-12-06 08:32] #125 closed

[2018-12-06 10:34] #89 closed

[2018-12-06 10:41] terracoda commented on #64
@zepumph has implemented the first accessible combobox in https://github.com/phetsims/sun/issues/314, so I am closing this issue.

[2018-12-06 10:41] #64 closed

[2018-12-06 18:31] jessegreenberg opened #127 "What should be provided in an alert vs aria-valuetext (or other attribute)"
This came from https://github.com/phetsims/john-travoltage/issues/318. That issue was about using aria-valuetext instead of aria-live as a workaround for poor performance with JAWS and FF, where aria-live alerts were dropped by the AT. But in that issue @emily-phet said

This issue is to track that portion.

[2018-12-07 18:20] terracoda commented on #127
The announcement by Microsoft that Edge will be a Chromium browser might be relevant to this issue. Posting the announcement here just in case: [Microsoft Edge: Making the web better through more open source collaboration](https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/)

[2018-12-13 17:50] emily-phet commented on #123
Paper submitted - closing.

[2018-12-13 17:50] #123 closed

[2018-12-13 17:52] emily-phet commented on #119
Seems like we're shooting for 48 hours notice at least for any sim that we would like to use with description + sound. Closing, can reopen if we need to add more to this discussion.

[2018-12-13 17:52] #119 closed

[2018-12-13 17:57] #74 closed

[2018-12-13 17:58] #84 closed

[2018-12-13 17:58] emily-phet commented on #76
Global sound button implemented.

[2018-12-13 17:58] #76 closed

[2018-12-13 17:58] #82 closed

[2018-12-18 16:38] zepumph commented on #110
There are still places in the code that say "Control Panel".

[2018-12-18 16:55] zepumph commented on #110
Tagging @jessegreenberg, closing

[2018-12-18 16:55] #110 closed

[2018-12-20 12:14] terracoda opened #128 "Investigate why math symbols are read out differently when in an aria-live region"
In gravity force lab issue https://github.com/phetsims/gravity-force-lab/issues/131, we found that the HTML character entity for "times" `&times;` is read out differently by AT depending on whether the entity is directly in PDOM content or in an aria-live region.

We will need to investigate further how math content and symbls will be read in aria-live regions as we move forward with more sims tha

[2019-01-11 17:36] jessegreenberg commented on #30
This workaround has been working well for about 9 months and we have no plans to work on this any more. Closing.

[2019-01-23 07:18] terracoda commented on #116
I did get feedback from the wai-aria interest group, and the code I shared at the time was determined to be acceptable.

**Code in email that we were using (i.e., without parent):**
[code]
**Code sample in email without parent:**
[code]
**Comment 1**

**Comment 2**

Based on the comments above, our approach was fine. The grab/drag interaction has evolved since this issue was opened. We now have a

[2019-01-23 07:18] #116 closed

[2019-02-04 17:55] zepumph opened #129 "Ideas for modular and small project ideas"
Perhaps for interns:

- [x] scenery a11y related examples (worked on with @twant)
- [ ] turning UtteranceQueue into library
- [ ] continuation on binder
- [ ] research drag & drop around phet (kinda like mini @terracoda projects)
- [ ] Google summer of code entry where we let them come to us with ideas
- [ ] animating the focusHighlight (perhaps not modular enough)

@emily-phet, @jessegreenberg, a

[2019-02-11 16:27] jessegreenberg opened #130 "Mobile VO does't synchronize DOM focus and virtual cursor"
I just noticed that recent versions of mobile VO don't synchronize DOM focus with the virtual cursor. And I could not find any device settings to change this in accessibility or Safari settings. I couldn't find anything about this in online searches either. This isn't the case for iPad2 with iOS 9.3, but is for iPad Pro with iOS 12.

This means that we generally don't get any `focus` events with m

[2019-02-11 16:30] jessegreenberg commented on #130
Maybe we should add documentation in "How to instrument a sim with a11y" documents that describe this problem and recommend to generally not add listeners to `focus` and use `aria-describedby` instead of aria-live (utteranceQueue) when focus changes?

[2019-02-11 16:31] jessegreenberg commented on #130
This really unfortunate. Should we send a bug report to Apple?

[2019-02-11 16:43] jessegreenberg commented on #130
We get focus events correctly if we call `element.focus()`. We just don't get them when reading through content with the virtual cursor. Maybe that isn't so bad.

[2019-02-13 22:22] emily-phet opened #131 "Design Thinking Graphic"
We'd like to have a nicely designed Design Thinking graphic to support our co-design work.

Here's some artwork that is similar to what we have in mind - [graphic1](
https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjcv7D31bngAhXEHDQIHXZSBqUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.learningsolutionsmag.com%2Farticles%2Fa-designer-addresses-criticism-of-design-thi

[2019-02-14 08:17] terracoda commented on #128
Just adding a reference about how well screen readers read text. It's from 2014, but I don't thing much has changed. Good to review when we start looking at solutions for math.

[Why Don’t Screen Readers Always Read What’s on the Screen? Part 1: Punctuation and Typographic Symbols](https://www.deque.com/blog/dont-screen-readers-read-whats-screen-part-1-punctuation-typographic-symbols/)

[2019-02-14 10:41] terracoda opened #132 "VoiceOver duplicates alerts in iframes"
I always seem to hear ARIA Live alerts twice when using a screen reader with the A11y View. I do not hear `aria-valuetext` twice.

@zepumph, mentioned yesterday that there is a `role="presentation"` on the copy of the PDOM to silence it. Perhaps we need the same on the copy of the `aria-live-regions` from where the alerts are delivered?

Not a huge priority, but this would greatly improve the A11y

[2019-02-14 16:36] jessegreenberg commented on #132
Interesting, I am not sure why alerts are getting duplicate alerts sometimes. @terracoda I assume you are using VoiceOver right? I don't get any duplicate alerts when running the a11y view in Firefox with NVDA. We are not copying any of the aria-live elements into the a11y-view. Ill try adding `role="presentation"` on the yellow aria-live box to see if that helps.

[2019-02-14 16:47] jessegreenberg commented on #132
role='presentation' has been added to the list in the a11y view showing alerts. @terracoda can you please test to see if that fixed the issue?

[2019-02-15 15:00] jessegreenberg commented on #130
After discussing with @emily-phet, an immediate next step is to send a bug report/feature request to apple. This isn't an immediate issue but will be a problem when working on sims with a black background (like molecules-and-light and coulombs-law) because the VoiceOver highlight is black.

[2019-02-15 22:49] elharden2 commented on #131
@emily-phet what do you think about these stages?

Learn _(about the users and context)_
Define _(the problem or design challenge)_
**Brainstorm** _(design ideas)_
**Build** _(a prototype)_
**Test**_(the prototype)_
Finish

My idea is that the Brainstorm, Build, and Test steps can be displayed in a circle (like the 'Research' step in the PhET R&D diagram) to indicate that you can cycle through the

[2019-02-15 22:54] elharden2 commented on #131
Also, wanted to share [this](https://www.mprove.de/script/00/upa/_media/upaposter_11x17.pdf).  Neat User Design process game board figure playing on chutes and ladders.

[2019-02-18 12:29] terracoda commented on #132
@jessegreenberg, this might only happen with sliders. I was testing Gravity Force Lab Basics when I logged the issue. In GFL:B I regular hear duplicate force alerts on focus and when moving.

I just checked John Travoltage's Leg Swing slider and the electron alert repeats pretty regularly in that sim, too, when moving the leg and picking up changes.

In Resistance and a Wire the duplicate alerts a

[2019-02-18 15:56] jessegreenberg commented on #132
OK, thanks @terracoda, Ill take a look at the sliders specificially in GFL:B/RIAW/Friction.

[2019-02-18 15:58] terracoda commented on #132
@jessegreenberg as you know, Friction does not have a slider, but the alerts are repeating. I haven't tested BASE.

[2019-02-18 16:01] jessegreenberg commented on #132
OK sounds good. We are trying a service called [MacinCloud](https://www.macincloud.com/) for debugging since I don't have access to a Mac. Ill take a look there, and if VoiceOver works on that service I will be able to debug this fully.

[2019-02-20 22:51] jessegreenberg commented on #132
I tried MacinCloud today, I wasn't able to get audio to work on it so I couldn't hear VO. I submitted a report to them, hopefully we will hear back soon. VO seems to work on that service, I can see the black focus highlight move around, but the display is stuck on
![image](https://user-images.githubusercontent.com/6396244/53130395-1fd4ef00-3538-11e9-951a-aec5b113c43e.png)

So I can't see what it i

[2019-02-22 20:10] emily-phet commented on #131
From conversation with @elharden2 today:

Learn _(about the users and context)_
Define _(the problem or design challenge)_
**Brainstorm** _(design ideas)_
**Build and Refine** _(a prototype)_
**Test and Retest** _(the prototype)_
Share

Brainstorm, Build and Refine, and Share steps can be displayed in a circle (like the 'Research' step in the PhET R&D diagram) to indicate that you can cycle throug

[2019-02-25 10:20] terracoda commented on #132
@jessegreenberg, perhaps the repeat alerts when using VoiceOver has to do with the iframe? I have long suspected this as I also hear a lot of duplication in the sonification wrapper when I use Voice Over.

In the latest sonified [sonified GFL:Basics](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.101/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-forc

[2019-02-25 16:36] jessegreenberg commented on #132
That is a good idea @terracoda, interesting that it is happening in the sonification wrappers too.

That is also good to know. Removing my assignment for now, will try again once I have access to a test device. I would like to try an aria-live alert in a very basic iframe to see if we can get repetition outside of  a sim.

[2019-02-26 19:01] kellywurtz commented on #131
@emily-phet @elharden2 Here's a first draft! I took out "and retest" since I think it's implied by Test being in the circle, but I can always put that in. Let me know your thoughts.
<img width="1022" alt="screen shot 2019-02-26 at 11 59 39 am" src="https://user-images.githubusercontent.com/42352972/53438896-16c3a200-39be-11e9-952d-acf561d36caf.png">

[2019-02-26 19:04] kellywurtz commented on #131
Oops, things inside the "learn" circle are a bit off center in this version. Will be fixed in the next draft.

[2019-02-27 05:41] zepumph opened #133 "Checkboxes won't check in Firefox and NVDA"
@kainip mentioned to @terracoda and @zepumph that this was a problem for her. I am able to reproduce with GFLB with

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.101/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html?sonificationFile=sonificationOptions&massSound=0&forceSound=3&massBoundaryLimitSound=2&accessibility

a

[2019-02-27 12:13] terracoda opened #134 "Checking Credits have all relevant folks before publication"
With the recent wonderful publications of _Resistance in a Wire_ and _Friction_, we need to ensure that we have a good process for checking the credits before the sim is actually published.

There is a lot of people to thank, so best to make sure everyone is there including accessibility folks and sound designers.

- _Resistance in a Wire_ seems to be missing a couple of relevant A11y folks in the

[2019-02-27 17:11] jbphet commented on #134
Once the additional names have been decided upon for Friction and RIAW, please log an individual issue to update the credits for each.  I should be assigned the RIAW issue and @zepumph should get the Friction one (I think).

[2019-02-27 18:35] jessegreenberg commented on #133
I am able to reproduce in FF +  NVDA with checkboxes in other sims too.

[2019-02-27 18:39] ariel-phet commented on #134
@terracoda probably we need to develop a new checklist. The master checklist is for the initial publication of a sim, and really doesn't get looked at after that initial publication (usually the issue is closed).

It might be good to have a "major new features" or such checklist for this kind of work when descriptions/sonification or such are added.

Checklists have served us fairly well, since it

[2019-02-27 19:08] emily-phet commented on #134
@ariel-phet - I think this conversation may need to start in dev meeting. @terracoda and I are not directly involved with publishing the sim, so it will be difficult for us to create a checklist that aligns with actual development processes.

Regarding credits, the primary issue is **where** people should be listed. For example, as sims get description etc (lots and lots of effort across multiple

[2019-02-27 19:13] jessegreenberg commented on #133
From the above comments, I am more certain that this is caused by https://github.com/phetsims/scenery/issues/852 so moving to  that issue.

[2019-02-28 02:57] jessegreenberg commented on #133
@zepumph I think this is fixed in master after the above commit. Can you please verify with NVDA? Also, do you have any concerns about the fix?

[2019-02-28 03:57] jessegreenberg commented on #133
Sorry, not ready for review. I noticed that adding these event listeners to all elements make NVDA say that they are "clickable". So I am hearing "Clickable heading level 1" and so on.

[2019-02-28 07:45] terracoda commented on #134
@emily-phet, I will at least add a check credits item to the description check list that is under construction and in use for GFL and GFLB (and wasn't yet created for RIAW and Friction).

That will address at least part of the issue, making sure the designers for description and/or sound are added.

@emily-phet, as for the sound designers for RIAW is it both Mike Winters and Ashton Morris, anyone

[2019-03-06 20:24] terracoda commented on #134
As per @jbphet's suggestion in https://github.com/phetsims/a11y-research/issues/134#issuecomment-467948060 I posted https://github.com/phetsims/friction/issues/176 and https://github.com/phetsims/resistance-in-a-wire/issues/208

[2019-03-06 20:26] emily-phet commented on #134
Also note - each sim page has a 'credits' section at the bottom. It doesn't look like these have been updated in a really long time.

[2019-03-06 20:52] terracoda commented on #134
@emily-phet and @ariel-phet, I added a Check/verify credits to our recent Description checklist for Gravity Force Lab (https://github.com/phetsims/gravity-force-lab/issues/109) and Gravity Force Lab Basics (https://github.com/phetsims/gravity-force-lab-basics/issues/84).

Our Description Check List is still evolving. I have not yet made a template for it. That will come soon.

@emily-phet, my unde

[2019-03-06 20:55] terracoda commented on #134
@ariel-phet, I'll put the priority 3 label on  https://github.com/phetsims/friction/issues/176 and https://github.com/phetsims/resistance-in-a-wire/issues/208

[2019-03-21 16:37] elharden2 opened #135 "Teacher feedback survey"
@emily-phet @terracoda @briannatomlinson @zepumph @jessegreenberg
Here is the teacher feedback survey I created that I mentioned during the a11y retreat:   [bit.ly/phet-feedback](bit.ly/phet-feedback)

I'd love your feedback on it if you have time to go through it. As it is right now, I don't ask respondents to share their email addresses if they don't indicate they're either interested in receivi

[2019-03-21 16:42] elharden2 commented on #135
And if that link doesn't work, try [this one](https://cuboulder.qualtrics.com/jfe/form/SV_6zhbdewvt20Z1lj)

[2019-03-21 17:30] jessegreenberg commented on #135
Thanks @elharden2. I don't have much expertise to provide feedback for such a thing. My only question is do we want any information about what assistive tech is being used in the classroom if applicable (Screen readers, Refreshable Braille displays, switch devices, 3D printers, others)? Maybe this is already part of Q4, or maybe it is a new question.

[2019-03-21 17:33] jessegreenberg commented on #135
I just assigned folks above, all should feel free to remove assignment after review or if you don't have time to go through it before next week.

[2019-03-21 17:38] elharden2 commented on #135
Thanks @jessegreenberg!  I do believe this is the first GitHub issue I've created, so thanks all for your patience and assistance!

[2019-03-21 17:46] twant commented on #135
@elharden2 I just filled out the survey and left some thoughts on the last question!

[2019-03-21 17:53] elharden2 commented on #135
Thanks @twant!  An no worries about feeling like you don't have proper expertise.  Even just feedback on question framing (is something confusing, could it be worded in a better way) is super helpful!

[2019-03-21 18:21] zepumph commented on #135
There is an extra space before the parenthetical on Q7.

I really like that selecting "none" deselects other options.

Good work!

[2019-03-21 20:39] briannatomlinson commented on #135
Ok! Some things I thought about while looking over your survey:

Q3: you've got a few statements related to I/DD -- do you want any other ones for vision impairment? (like difficulty distinguishing colors)

Q4: Are you interested in the distinction between something like one of the 2-in-1 laptops (the things that let you switch between tablet vs. laptop functionality)? I'm wondering b/c students m

[2019-03-21 22:53] terracoda commented on #134
@emily-phet, can we close this issue?

[2019-03-22 23:34] #134 closed

[2019-03-26 03:38] elharden2 commented on #135
Thanks all, for your feedback!

[2019-03-26 03:39] #135 closed

[2019-03-28 19:56] jessegreenberg commented on #133
It appears that preventing pointer like events on the root of the PDOM will also fix this ('touchstart', 'touchend', 'mousedown', 'mouseup')

[2019-03-29 07:59] terracoda commented on #133
@jessegreenberg, do you think preventing pointer-like events will also fix this issue about everything being "clickable"?
https://github.com/phetsims/gravity-force-lab-basics/issues/110

[2019-03-29 12:47] jessegreenberg commented on #133
I found on this thread that just adding an event listener for click, mouseDown or mouseUp will make NVDA report that the element is "clickable".  Moving the listeners with `preventDefault` off of individual DOM elements and just onto the PDOM root should prevent the AT from saying `clickable` while reading through content.

[2019-03-29 13:10] terracoda commented on #133
@jessegreenberg, I also found some information in the WebAIM email archive (posted in https://github.com/phetsims/gravity-force-lab-basics/issues/110).

Great we'll see if that fixes it.

In the WebAim archive links I think Mike Moore mentioned that an OnClick event handler added to the body element can also cause this undesired behaviour in screen readers (WebAim email archive, April 2015).

We d

[2019-03-29 13:30] jessegreenberg commented on #133
We don't put click listeners on the body, but we do put click listeners on the root element of the PDOM. Do you happen to a have a link to that archive? Or recall what some of the undesired behaviors were?

[2019-03-29 13:30] jessegreenberg commented on #133
Sorry, I misread, you said

I thought you were referring to other undesired behaviors.

[2019-03-29 13:37] terracoda commented on #133
In this comment I posted the links to the webaim arch https://github.com/phetsims/gravity-force-lab-basics/issues/110#issuecomment-475705630

I may not fully understand the event listener situation, but this behaviour of VoiceOver saying "clickable" on almost everything is relatively new.

[2019-03-29 14:10] jessegreenberg commented on #133
After the above commit, NVDA is no longer saying "clickable" on every readable element. But since the `click` listener is still on the root of the PDOM, NVDA does say "clickable" the first time (and only the first time) the virtual cursor enters the simulation.

@terracoda can you please test master and see what VO does?

According to the NVDA thread above, clickable won't be reported on the follo

[2019-03-29 14:26] terracoda commented on #133
@zepumph and @jessegreenberg, I am not hearing "clickable" any more while using the cursor keys to read through the PDOM.

[2019-03-29 14:41] jessegreenberg commented on #133
Great to hear, thanks for testing. @terracoda regarding https://github.com/phetsims/a11y-research/issues/133#issuecomment-478011466 do you have any large concerns about NVDA saying "clickable" when the user first enters the simulation?