[2016-11-02 18:16] emily-phet opened #1 "Possible use of Team Viewer for Remote Interviews"
Need a way to record audio (a must) and screen (not required, but ideal) during remote interviews - with minimal effort on the user's part.
In this Team Viewer video ("Online Meetings") it shows how to start a presentation, and add a user. If following this example, it is easy for the user to also share their screen, this looks like the closest use case to our needs. Need to double check that we'r

[2016-11-02 19:42] samreid commented on #1
TeamViewer requires a license except for communication between "family and friends":
https://www.teamviewer.com/en/credentials/free-for-personal-use/
https://www.teamviewer.com/en/help/213-How-exactly-is-private-use-defined

A few years ago we asked TeamViewer if a non-profit open source project could use TeamViewer for free.  They said "no" and directed us to the $849 business license, so we deci

[2016-11-02 21:18] emily-phet commented on #1
@samreid - good to know. This issue was to keep track of conversation Taliesin and I just had in a meeting, and I forgot to mention she was also going to look into the licensing. I had thought there was a version that could be used for free by non-profits (from a long time ago), but I either misremembered or it has changed.

Could you give a rough estimate of how many hours (or range of hours) it

[2016-11-03 12:39] samreid commented on #1
We have been developing this feature in PhET-iO and already used it in a few studies.  We record the input events and store them at Metacog, then use them to drive a playback of the simulation.  There are a few unknowns and caveats, see https://github.com/phetsims/phet-io/issues/553#issuecomment-243181171, but so far it has been working nicely.  @kathy-phet what do you think about repurposing that

[2016-11-03 12:49] emily-phet commented on #1
@jessegreenberg - do you see any additional challenges coming up with having a version of accessible prototypes record input events? For example, issues with the type of input that is provided to the sim (e.g., from keyboard), or issues with maintaining a "research" version of the prototypes?

Otherwise, this would be wonderful for remote testing...and would possibly allow recording of some testin

[2016-11-03 13:12] kathy-phet commented on #1
Yes, I think we could use these both for research and store audio data. As long as irb says audio recording which I know it will.

Sent from my iPhone

On Nov 3, 2016, at 6:50 AM, emily-phet <notifications@github.com<mailto:notifications@github.com>> wrote:

@jessegreenberg<https://github.com/jessegreenberg> - do you see any additional challenges coming up with having a version of accessible proto

[2016-11-03 15:25] samreid commented on #1
@jonathanolson and @jessegreenberg: I think scenery already records keyboard events.  But will we need to introduce additional "input event" recording for events that come directly from parallel DOM elements, from assistive technology?

[2016-11-03 15:47] jonathanolson commented on #1
Presumably, yes. @jessegreenberg correct me if I'm wrong.

[2016-11-03 16:17] jessegreenberg commented on #1
Yes, that is my understanding.  We will want to add events like ```input``` ```change``` and ```click```.

[2016-11-03 16:20] samreid commented on #1
That seems like a good thing to investigate.  Another possibility in this case would be to add phet-io instrumentation for Balloons and Static Electricity, then use state recording and playbacks.  Instrumentation could take half a day, then it would take some more time to flesh out state playbacks and overlay the mouse position.

[2016-11-04 04:59] samreid opened #2 "Prepare for recording audio + video for Balloons and Static Electricity Interview"
From #1 we decided to investigate recording html5 audio from the microphone and combining that with some way to record the simulation:
* scenery input events would require addition of support for recording and playing back parallel dom events
* or we could phet-io instrument the simulation and record states, then write a script that does playback based on states.

I volunteered to help on this, no

[2016-11-04 05:00] samreid opened #3 "a11y-research needs labels"
@mattpen can you please grant a11y the standard set of GitHub labels?

[2016-11-04 05:01] samreid commented on #2
I'll hold off on this until @mattpen assigns the GitHub labels, see #3

[2016-11-04 12:25] samreid commented on #2
On Nov 3, 2016 6:14 PM, "Sam Reid" <reids@colorado.edu> wrote:

    Doug,

    Are we permitted to store microphone audio data from student computers on Metacog?  We are setting up remote interviews for our accessibility features, and would like to investigate using Metacog for this data, if possible.

    Best Regards,
    Sam

[2016-11-04 12:25] samreid commented on #2
On 11/3/16 5:04 PM, Douglas Stein wrote:

[2016-11-04 12:27] samreid commented on #2
Metacog said it is OK for us to store audio data on their servers as long as it is permitted by our own IRB.

[2016-11-04 12:40] samreid commented on #2
10 seconds of silence recorded by https://webaudiodemos.appspot.com/AudioRecorder/index.html is weighing in around 1.8MB.  This is at least an order of magnitude higher than anything we have sent to metacog before, so we may run into bandwidth problems.  Perhaps cutting the bitrate or recording as mono could reduce this somewhat.

[2016-11-04 12:42] samreid commented on #2
Doug also suggested:

[2016-11-04 15:52] samreid commented on #2
@jessegreenberg I was about to start instrumenting Balloons and Static Electricity for phet-io, when I noticed that most of your work is being done in a branch.  If I instrument master, we will have a problematic merge.  If I instrument accessible-instance, we may wish to coordinate efforts.  How should we proceed?

[2016-11-04 16:05] mattpen commented on #3
The labels were added.

[2016-11-04 16:05] #3 closed

[2016-11-04 17:04] jessegreenberg commented on #2
@samreid I will work on merging the accessibility branch into master now in https://github.com/phetsims/balloons-and-static-electricity/issues/194.

[2016-11-04 17:06] samreid commented on #2
OK Good luck!

[2016-11-05 03:03] samreid commented on #2
@kathy-phet said:

I don't know if this will be technically feasible--we will have to investigate it.  @emily-phet said we may be able to request that interviewees use speakers instead of headphones, but if we can support system recording it would be best.

[2016-11-07 00:39] terracoda commented on #1
@emily-phet, I am a little late to the this exciting conversation. TeamViewer is only free for personal use. My understanding from is that it is more accessible with screen readers than other conferencing and sharing systems, but I have very limited experience with it.

Looking forward to progress on issuer #2.

[2016-11-07 15:34] kathy-phet commented on #1
@emily-phet - What about recording with Zoom? That way the interviewer could help the interviewee ensure they are not recording other information?

[2016-11-07 16:53] jessegreenberg commented on #2
@samreid the merge has been completed, but I will be continuing to work in the repo throughout the week.  If you would like assistance with any part of the instrumentation please let me know and we can coordinate!

[2016-11-07 17:00] samreid commented on #1
Upon investigation, #2 seems complicated and like it will require a long time to get it working.  +1 for investigating Zoom or alternatives.

[2016-11-07 18:36] samreid commented on #2
Thanks @jessegreenberg!  In #1 I also pointed out that recording audio may be a significant development effort at the moment, and recommended to investigate Zoom for now.

[2016-11-07 20:10] emily-phet commented on #1
@samreid and @kathy-phet - the use of video conference/screen sharing software is what we initially explored and tried to use. There does not exist an option that we can find that is easy to use with a screen reader and does not interfere with screen reader audio output. Zoom is not sufficiently accessible to support this - we have tried. In prior experience with screen reader users, Zoom is best

[2016-11-07 23:01] samreid commented on #1
According to https://zoom.us/accessibility

and

and

Is there something special we need to do to put Zoom in "accessibility mode"?  Has someone looked at the VPATs referred to in the above link?  Have we contacted Zoom to let them know the problem we are facing?

[2016-11-07 23:38] emily-phet commented on #1
@samreid - can we have a quick discussion about this tomorrow? Unfortunately there is often a big difference in what is listed in a VPAT, what the application actually capable of, and what a user can figure out how to do...

[2016-11-08 04:57] samreid commented on #1
Sure, what time is best for you?

[2016-11-08 05:05] samreid commented on #2
Breakdown of tasks required to build something that may work here:

1. Build something like https://webaudiodemos.appspot.com/AudioRecorder/index.html that reads data from an audio channel.
2. The data amount is an order of magnitude larger than what we have previously supported for our services.  Will we have to compress it?
3. Data will be sent in chunks to increase the probability that we retri

[2016-11-08 05:09] samreid commented on #1
I also jotted down the breakdown of tasks in https://github.com/phetsims/a11y-research/issues/2#issuecomment-259046702

[2016-11-08 05:10] aadish commented on #2
@samreid might want look at this library http://resumablejs.com/
Its a good way to upload large data to the server but as you said server needs to handle it

[2016-11-08 05:14] samreid commented on #2
Thanks @aadish, if we cannot support streaming the data in real-time, we can look into resumablejs as a fallback.

[2016-11-08 16:47] emily-phet commented on #2
@samreid - what if we only focus on capturing video, no audio?

[2016-11-08 16:49] samreid commented on #2
That would be significantly easier. In that case, we could get by with steps (4) and (5) above, with the option to investigate step (8).

[2016-11-08 16:51] emily-phet commented on #2
@samreid - video alone would be very helpful, it would be great if we could proceed with this option (4 and 5 above).

[2016-11-08 18:28] ariel-phet commented on #2
@emily-phet I think it is fine for @jessegreenberg to work on this (except for his 25% or so time on sims, I think we long agreed you direct his a11y time). @samreid I don't think has much bandwidth to work on this unfortunately. That would be a discussion to have with @kathy-phet as there seems to be lots of iO stuff to still push on.

[2016-11-10 20:18] emily-phet opened #4 "CSUN 2016 Manuscript"
@taliesin - I'm just wrapping up a book chapter this week. Please let me know when you'll be progressing the manuscript for CSUN, so we can coordinate. Looks like it's T-20 days to the due date!
Note - please send any outline/draft/specific details by email. I just wanted to open an issue about this for progress tracking.

[2016-11-10 21:05] terracoda commented on #4
@emily-phet, just got added to this repo :-) I've been thinking about. I will gather the all the resources (abstract, review, images, and other related resources). I should aim for draft rather than an outline by Friday Nov 18th.

[2016-11-11 14:11] emily-phet commented on #4
@terracoda - great! Let's make sure there is an outline to start, though. Can you try to have an outline for us to discuss by the 16th? I know you're prepping for a conferene, so the outline doesn't need to be super detailed. I'll email you an example of the outline I used for the book chapter I'm wrapping up as a recent example.

[2016-11-11 15:37] terracoda commented on #4
@emily-phet Yes, I will make an outline with word counts and work in ideas that were suggested by the reviewers. Will aim for mid-week on this. The presentation I am preparing should also help with outlining.

[2016-11-13 13:01] samreid commented on #2
We would like to investigate supporting visual record and playback for Balloons and Static Electricity via PhET-iO instrumentation.  I originally thought this would be suitable to work on with @jbphet as a first simulation to instrument, but after review in https://github.com/phetsims/balloons-and-static-electricity/issues/201 I discovered there is a lot of new code related to accessibility that w

[2016-11-14 20:57] emily-phet commented on #1
Not persuing use of TeamViwer any further. Related discussions are being held elsewhere.

[2016-11-14 20:57] #1 closed

[2016-11-14 21:07] emily-phet opened #5 "Publication of John Travoltage w/ Keyboard Nav & Screen Reader Access"
Remaining to-do list:

Development:
- [x] Final Round of User Feedback
- [ ] Ensure PhET menu is accessible
- [ ] Code review (JO?)
- [ ] QA testing (Steele)

Sim Design:
- [ ] KeyboardHelp Button & Popup

Website Updates:
- [x] Accessibilty Icons
- [x] Accessibilty Filtering Options
- [ ] Sim page - Accessibilty dropdown - features & use info
- [ ] Help Center a11y features info

[2016-11-16 18:15] samreid commented on #2
On hold while https://github.com/phetsims/balloons-and-static-electricity/issues/204 is in progress.

[2016-11-16 22:32] terracoda opened #6 "Investigate and discuss ARIA 1.1 changes relevant to sim interactions"
Issue to discuss [ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/) additions and changes that might be helpful for us:

For example,

I am especially interested in aria-roledescription. I am thinking we can use that to replace the screen reader utterance, "Application" with something more meaningful like, "Draggable Yellow Balloon", or "Grabbed Yellow Balloon."

There's a handy [Change Log ](https:/

[2016-11-17 23:14] emily-phet commented on #5
Update: TS scheduling interviews, Keyboard Help button in progress, and I'm gathering info for a popup mockup.

[2016-11-18 18:18] jessegreenberg opened #7 "Determine list of supported platforms for accessibility"
It would be good to have a list of platforms that we must support.  This will define what needs to be covered by QA testing, and also help narrow down scope for investigating solutions to bug reports and new features.  For instance, in https://github.com/phetsims/balloons-and-static-electricity/issues/205 do we need a solution that works with VoiceOver for Sierra, Yosemite, and El Capitan?  Do we

[2016-11-21 23:25] emily-phet commented on #7
Here's my unpolished thoughts on this:
We want to support at least some possibilities for access with JAWS, VoiceOver, and NVDA. For each, I would like to try to support the primary browser that it works best with in general (I believe @terracoda has a list somewhere of these), and a second browser that it works next best with.

If there are cases where the addition of a screen reader (e.g., Chrom

[2016-11-21 23:29] emily-phet commented on #7
@jessegreenberg - for your question regarding what OS/browser versions to support...that's a good question. Let's talk about that in the PhET/IDRC meeting tomorrow, and I'll reach out to some colleagues to get their input for what is most useful, and what is reasonable to do.

[2016-11-22 00:12] terracoda commented on #4
@emily-phet, thanks for your great feedback on the outline. I've started to flesh out the Results & Discussion section. I've uploaded my work to the shared folder, but no need to review it yet.

[2016-11-22 15:44] terracoda commented on #7
@jessegreenberg, @emily-phet according to Bryan Garaventa, we should likely be testing on the latest systems all around (OS, Browser and Screen Reader). If we find bugs and issues in these systems, we can investigate and see if it is our implementation or perhaps a browser or screen reader issue.

For example, the recent example of JAWS not recognizing the WAI-ARIA switch role (#182) is a bug with

[2016-11-22 15:49] terracoda commented on #7
@jessegreenberg, we should maybe also keep an eye on the latest screen [reader survey results](http://webaim.org/projects/screenreadersurvey6/#primary).

I am not sure how relevant these results are for young student users or student users enrolled in Higher Education.

[2016-11-22 15:53] terracoda commented on #7
@jessegreenberg, and though we have other issues to deal with iOS, VoiceOver is most used on iOS. All iOS users do not necessarily use MacOS as their main operating system.

For reference here's the link to Bryan Graventa's article on the subject
[How browsers interact with screen readers](http://www.ssbbartgroup.com/blog/how-browsers-interact-with-screen-readers-and-where-aria-fits-in-the-mix)/

[2016-11-22 16:01] terracoda commented on #7
@emily-phet, @jessegreenberg actaully, Garaventa suggests:

At the time of the article this was:
- Windows OS using JAWS and Internet Explorer, and using NVDA in Firefox for laptops and desktops.
- For mobile devices, the most widely used screen reader is Voiceover in iOS devices.

Another few important points at the end of the article:
- Avoid AT specific ARIA hacks
- Ensure keyboard accessibilit

[2016-11-22 17:17] jessegreenberg commented on #7
@emily-phet @terracoda this sounds great, thanks.  It sounds like the recommendation is latest versions of the optimal OS/Browser/AT combinations.  I will start a testing matrix with this in mind.

The survey results from WebAIM looks very helpful, that is great!

[2016-11-22 17:56] jessegreenberg commented on #7
Here is a start, it would be great to review this today.

https://docs.google.com/a/colorado.edu/spreadsheets/d/1eBvtrrLa3rJMznnuzk-pB1WsjOAT16usHTBBm4RVoac/edit?usp=sharing

[2016-11-22 18:11] jessegreenberg commented on #7
The above does not include any iOS devices, and these can't be supported until we finish https://github.com/phetsims/scenery/issues/41.

[2016-11-23 01:19] terracoda commented on #4
@emily-phet, I only got a few tweaks to the manuscript today. I'll make sure I get a good chunk of time on it tomorrow after my morning interview.

[2016-11-23 19:57] jessegreenberg commented on #7
We discussed this in an accessibility meeting on 11/22/16.

One recommendation was to test across different versions of JAWS, as students tend to use JAWS versions 15, 16, and 17.  JAWS Professional and Home editions can also perform differently.  Educational institutions typically provide students with JAWS, closely followed by Window-Eyes.

One recommendation from the IDRC was to use a different

[2016-11-23 19:58] jessegreenberg commented on #7
@emily-phet given the discussion yesterday, how would you like to proceed with this issue?

[2016-11-24 00:13] jessegreenberg opened #8 "Complete feature checklist"
Related to #7 as we might want to have an accessibility feature checklist as we prepare to deploy accessible john-travoltage.  @emily-phet started a draft checklist here:

https://docs.google.com/document/d/1jYx3wxNRxHHpMigxSFVvCRVFdB5-E-3_xbj9UI9uvWE/edit

From https://github.com/phetsims/scenery/issues/299, @samreid found another checklist from http://w3c.github.io/aria-in-html/#custom-control-a

[2016-11-24 15:05] terracoda commented on #7
@jessegreenberg, @emily-phet, the other thing to keep in mind is that the comment about students being provided with the AT (i.e. JAWS and Windows-Eyes) may be specific to the United States, and possibly Canada. Other places may have quite a different model for providing or not providing AT to students.

[2016-11-28 18:32] emily-phet commented on #7
@jessegreenberg @terracoda - I emailed with some colleagues in the accessible technology community, and they also agree with the approach suggested by the IDRC (not specifically supporting only a subset of platforms, rather focusing on standards-based implementation).

Regarding the list of platforms to test on, I think keeping it as simple as possible to start (latest versions of JAWS, VoiceOver,

[2016-11-28 18:37] emily-phet commented on #7
@jessegreenberg @terracoda - also wanted to mention that we discussed ways the community may want to support shared knowledge about the compatibility of the accessibility features with various AT. We don't need to act on this just yet, but we may want to consider in the future how we might support this (e.g., working closely with a group of interested screen reader users to put together a document

[2016-11-29 20:30] emily-phet commented on #5
Update: user testing complete, sim final as is (from a design perspective). Need to make sure the PhET menu, and options within it, are accessible. Need to meet with Taliesin & Jesse after Dec. 1st to go through this and see what is needed.

[2016-11-29 21:30] jessegreenberg opened #9 "Submit bug report to Freedom Scientific for arrow key event handling"
From phetsims/balloons-and-static-electricity#205 we showed that JAWS does not allow for press and hold behavior with the arrow keys due to the way the AT injects 'fake' keyup events when the the user presses and holds an arrow key.  Here is an example of the events when I press and hold the right arrow key *without* JAWS:
![no-jaws](https://cloud.githubusercontent.com/assets/6396244/20729648/2f8e

[2016-11-29 23:28] jessegreenberg commented on #9
Here is a JSFiddle that exmplifies this problem that we could submit in a bug report.

https://jsfiddle.net/jk757xcz/

[2016-11-29 23:31] jessegreenberg commented on #9
Here is a link that shows an example bug report to JAWS.  It is intended for the Beta bug reports, but I imagine this style could be used for any bug report.

https://www.freedomscientific.com/Forms/JAWSBetaReport/BugReportExample

This is probably the best place to submit the report:
http://www.freedomscientific.com/Forms/QualityContact

[2016-11-30 00:39] jessegreenberg opened #10 "Submit bug report to Apple for keyup events with physical keyboards"
From https://github.com/phetsims/balloons-and-static-electricity/issues/164 and https://github.com/phetsims/john-travoltage/issues/118.

When a some physical keyboards are used with Apple devices, the keyup event is fired with keycode = 0 incorrectly = 0.  For complex keyboard interactions (pressing and holding behavior and tracking multiple key presses at once) keyup is required.

In addition, so

[2016-12-01 17:21] jessegreenberg commented on #9
Here is an a rough draft of the bug report that we might send:

//-----------------------------------------------------------------------------------------------------------------

Summary:

With Chrome 54, IE 11, and Firefox 50, JAWS fires incorrect keyup events when an arrow key is pressed down on a DOM element with the ARIA application role.

Steps to reproduce:

Open the following JSFiddle in

[2016-12-01 22:52] jessegreenberg commented on #9
Here is an update to the bug report based on the above recommendations:

//-----------------------------------------------------------------------------------------------------------------
Summary:

With Chrome 54, IE 11, and Firefox 50, JAWS fires incorrect keyup events when an arrow key is pressed down on a DOM element with the ARIA application role.

Steps to reproduce:

 - Open the following J

[2016-12-02 18:13] jessegreenberg commented on #9
Final draft:

//-----------------------------------------------------------------------------------------------------------------
Summary:

With Chrome 54, IE 11, and Firefox 50, JAWS fires incorrect keyup events when an arrow key is held down on a DOM element with the ARIA application role.

Steps to reproduce:

Open the following JSFiddle in any browser: https://jsfiddle.net/jk757xcz/5/show
Pres

[2016-12-02 19:13] terracoda commented on #9
@jessegreenberg
Very nice and succinct.
"JSFiddle exaple" missing an "m", but maybe that is not part of your submission.

We can see how this goes before submitting another bug report regarding the switch role - i.e., lack of fall back behaviour to role checkbox.

[2016-12-02 19:19] jessegreenberg commented on #9
Right @terracoda, not part of the submision, but corrected in the comment, thanks!

Sounds great, it will be interesting to hear the response from Freedom Scientific.

[2016-12-05 18:08] emily-phet commented on #4
Submitted! @terracoda to put submitted docs in Google drive for reference.

[2016-12-05 18:08] #4 closed

[2016-12-05 18:20] emily-phet commented on #5
Update: From convo w/ KP:
1) Nav bar work. (Joist: 4-8 hours)  - JO and Jesse - this week? See if any new issues crop up? - by Dec 9.
2) Mobile device investigation. Not a blocking issues. (Touch inputs: 8 hours) - JO and Jesse - by January 15.
3) We'll see how QA testing situationl looks when the sim is ready to test.

Also - meeting with JG and TS regarding accessibility of nav bar menu today.

[2016-12-06 14:43] terracoda commented on #4
I put the files in PhET Files/Accessibility/Publications

[2016-12-06 16:25] terracoda opened #11 "Investigate reorganization of items in PhET Menu"
In Dec 5 meeting with @emily-phet and @jessegreenberg we brainstormed and discussed how we will make the PhET Menu accessible.
**Goals:**
1. Path of least resistance to an accessible solution
2. What we would like it to be

**Relevant discussion document:**
- https://docs.google.com/document/d/12jd7xKEt8P_EUwTrbhLuvIKkZEDaqdFgyQ-EXeLgGkE/edit#

**Relevant Sample Code:**
- https://github.com/terrac

[2016-12-06 17:14] terracoda commented on #11
Updated the template code based on yesterday's discussion and early research on html structure and ARIA roles.

[2016-12-06 17:54] terracoda opened #12 "Investigate relabeling of items in PhET Menus"
Based on Dec 5 meeting with @emily-phet and @jessegreenberg regarding the accessibility of the Sim Navbar, it was suggested that several items be made into buttons and be relabeled with clearer text. We basically have a list of buttons (items that do things) and links (items that go places).

**Current Menu Sample**
- Options... (Opens options dialog with checkboxes)
- PhET Website... (Link)
- Rep

[2016-12-06 17:57] terracoda commented on #12
This issue is related to #11.

[2016-12-06 18:53] terracoda commented on #12
List of items can be viewed as tools and links:
**Sim Tools**
    Options (Opens options dialog with checkboxes) [Button]
        View options for this sim.
    Take a Screenshot [Button]
        Take and save a screenshot of the sim.
    Full Screen [Button]
        Use the sim in full screen mode.
    About this Sim [Button]
        Design details about this sim.
**Links**
    Report a Problem [

[2016-12-06 20:03] jessegreenberg commented on #9
A JAWS user verified this issue by letting us know that they saw the following output from the above JSFiddle after pressing and holding one of the arrow keys:
 - Event Type: keydown, Event keyCode: 40
 - Event Type: keyup, Event keyCode: 40

This is what we saw as well, it is good to have this verified.  I will submit the bug report today.

[2016-12-07 22:36] terracoda commented on #12
**Testing MENU element**

- FireFox:
  - Menu type context with li’s or menuitems do not render at all. The entire contents of menuitem are essentially not there.
  - With type=”context” attribute removed, the li’s and menuitems’s render, but there are no list or group semantics read out.
  - Label attribute on menu is not read out
  - Number of li’s or menuitems are not read out
  - Tabindex=”0”

[2016-12-07 22:49] jessegreenberg opened #13 "Test accessible drop down menu"
For accessibility, the PhET Menu should behave like a Dropdown menu.  This is different than a Dialog in that there is no close button, it does not restrict navigation, and the menu will close once the user leaves the menu.

Here is an example:
https://staff.washington.edu/tft/tests/menus/simplyaccessible/index.html

In that example, the drop down menu is represented as:
[code]

It should be teste

[2016-12-07 23:01] terracoda commented on #12
@jessegreenberg, @jhung, @jobara would you guys like to chime in on this markup for the bar at the bottom of the sim. I left the sim title (H1) off as that is up at the top of the PDOM.

Note that aria-activedescendent attribute is not working. I think I need some JS for that?

The code over here:
[phet-templates](https://github.com/terracoda/phet-templates/blob/master/a11y-menu-template.html)

[2016-12-07 23:16] jessegreenberg commented on #13
I am not sure that nested menu items are working here, In NVDA and JAWS I hear something like

when the focus is on the "News" link in the first drop down menu.  This seems like too much repetition.

[2016-12-07 23:58] jessegreenberg commented on #13
Chrome doesn't support ```role=menu``` with NVDA but it works very well in firefox.  Example PhET Menu in a JSFiddle:
https://jsfiddle.net/2un2cv0g/2/show/

https://www.w3.org/WAI/GL/wiki/Using_ARIA_menus#ARIA_Menu_Widget_Technique shows an example and a "success criterion" for menus.

[2016-12-08 00:07] jessegreenberg commented on #13
Hey there is a MenuButton!

https://www.w3.org/TR/wai-aria-practices-1.1/#menubutton

The keyboard interaction:

Space and Enter: open the menu and place focus on the first menu item.
(Optional) Down Arrow: opens the menu and moves focus to the first menu item.
The keyboard behaviors needed after the menu is open are described in 2.19 Menu or Menu bar.

[2016-12-08 00:11] jessegreenberg commented on #13
It is part of the ARIA 1.1 spec though, so support might be pretty poor.

[2016-12-08 00:49] jessegreenberg commented on #13
It is just an element with role=button and aria-haspopup set to true.  Screen readers should then interperet this as a Menu Button.

Here is a test:
https://jsfiddle.net/2un2cv0g/3/show/

It works great with Firefox + NVDA

[2016-12-08 01:05] jessegreenberg commented on #13
JAWS doesnt work very well with the above example, maybe because it is because it is struggling in the JSFiddle frame.

[2016-12-08 01:19] jessegreenberg commented on #9
The bug report cannot exceed 1000 characters, so I will have to trim the report by quite a bit (600 words)

[2016-12-08 01:30] jessegreenberg commented on #9
Report submitted on 12/7/16.

[2016-12-08 04:37] jessegreenberg commented on #13
JAWS recognizes the aria-haspopup attribute, and calls the button a "Menu Button".  But the arrow keys do not work.  That is probably not critical, as long as the virtual cursor works and the user can tab as they are used to, it shouldn't be a problem.

[2016-12-08 04:40] jessegreenberg commented on #13
@terracoda what do you think about something like this for the PhET Menu:

[code]

[2016-12-08 05:01] jessegreenberg commented on #12
Yes, some script could update the aria-activedescendent id.  But is it necessary in this case?  Since each list item/button will be in the focus order, the AT will announce when it receives focus automatically.

For the menu, why did you choose the ```toolbar```  role instead of ```menubar```?

For https://github.com/terracoda/phet-templates/blob/master/a11y-menu-template.html#L38-L49, what do you

[2016-12-08 05:04] jessegreenberg commented on #12
@terracoda thanks for testing the menu in https://github.com/phetsims/a11y-research/issues/12#issuecomment-265595630!

Have you tried the aria menu role in Safari with VO?

[2016-12-08 15:07] jobara commented on #12
@jessegreenberg, in general I think it looks pretty good. The only comments I have right now are:

- Should the menulist have a `role="menu"` and then each item a `role="menuitem"`?
- I wonder if some of the `<div>` elements could/should be changed to `<section>` elements.

[2016-12-08 15:37] terracoda commented on #12
@jessegreenberg, @jobara  I was just focusing on the HTML `menu`/`menuitem` elements.

I will now test the `menu` and `menuitem` as aria roles using the list structure since the elements themselves provide no useful semantics.

I agree for aria roles that the `menubar` role is better than `toolbar`.

@jobara as for using the more semantic `section` I was also thinking that would be good, but gener

[2016-12-08 15:52] terracoda commented on #13
@jessegreenberg, that looks good, and maybe that first button is a menuitem of the main menubar? And for the _Full Screen_ maybe we shoudl try the role menuitemcheckbox?

[2016-12-08 16:38] terracoda commented on #13
@jessegreenberg, interesting that the dot dot dot is also mentioned as a convention for pop-ups. I didn't realize that :-)

[2016-12-08 16:39] terracoda commented on #13
@jessegreenberg I don't hear any difference between `menuitem` and `menuitemcheckbox` with VoiceOver and Safari.

[2016-12-08 16:40] terracoda commented on #13
@jessegreenberg, I combined my code with yours and it seems to sound pretty good in VO in FF and Safari.

[2016-12-08 17:14] emily-phet commented on #12
@terracoda I like the reorganization in your drawing above, though I'm not sure about your headings. Perhaps we can implement without the headings, and just have a horizontal line seperating the links from the buttons? I'm just a little concerned that the headings may be more confusing than helpful for those visually accessing the menu.

[2016-12-08 17:48] terracoda commented on #12
@emily-phet, I actually missed one item (Check for Updates). I agree, too. I don't think I like the headings.
We could use icons to differentiate the tool-like things from the modal dialog with content in them.

Also wondering if "Report a Problem" can be shortened to "Report Problem."

 How's this one and this order? I moved "Report a Problem" up.
![sketch_phetmenu](https://cloud.githubuserconten

[2016-12-08 17:52] terracoda commented on #12
@emily-phet, I was also thinking that instead of heading, non-visual help text could be "Tools and links for this sim." This text would be associated with the "PhET Menu" button, kind of like this:

- Hot Keys and Help (button)
  - Tips on how to use this sim with a keyboard.
- PhET Menu (button for unhiding the menu)
  - Tools and links for this sim.

[2016-12-08 17:54] terracoda commented on #12
@emily-phet, notice that if read out together, they sound nice.

[2016-12-08 18:17] terracoda commented on #12
@emily-phet, also don't think we need help text for every item.

- Hot Keys and Help: Tips on how to use this sim with a keyboard.
- PhET Menu: Tools and links for this sim.

Then the actual menu
- View Options
- Take a Screenshot
- Full Screen
- Report a Problem
- About this Sim

Visual separation here
- PhET Website

[2016-12-08 18:21] jessegreenberg commented on #13
Sounds great!

Sure, or maybe we could use a visual checkbox in the menu? in that case, it could be ```<input type="checkbox" role="menuitem">``` Either way, this might still add information if ```menuitemcheckbox``` is not supported.

That is interesting, where is that mentioned?  I found it annoying that the '...' was read by AT, but maybe it is informative for regular AT users.

[2016-12-08 18:28] terracoda commented on #12
@jessegreenberg and @jobara, I guess the code discussion can continue over in #13, I didn't realize @jessegreenberg was also working on this :-)

It was a useful exercise to check the HTML elements since one should use HTML if it natively does what ARIA is supposed to add on.

[2016-12-08 18:30] terracoda commented on #13
@jessegreenberg I read the "dot dot dot" thing this morning, but I haven't re-located it yet. I think it was in the ARIA spec  (1.0 maybe) regarding menu items and pop-ups.

[2016-12-08 19:48] jessegreenberg commented on #12
@terracoda that looks good, I like the possibility of icons.  Why did you move report a problem up?  I thought one of the confusing parts of the menu was that the buttons and links were not collected together.

[2016-12-08 19:56] jhung commented on #12
@jessegreenberg, @terracoda: @jobara and I just did a quick informal test of the menu with a colleague and here's what we found:

* Some dialogs are inconsistent in the use of the X close button. Options has it, the others do not.
* Check for Updates is unclear what it does. Sounds like it updates the sim.
* Check for Updates and About PhET seem like something that should go into "About" (actually

[2016-12-08 20:03] terracoda commented on #12
@jessegreenberg, I moved the "Report a Problem" up to group things by relevance to the sim rather than by function (i.e., button or link). The "Report a Problem" item is relevant to the sim. The last item in the sim relevant-section is the About.

The only item that really doesn't have anything to do with the sim is the link to the PhET website, so that was moved into its own section on the menu.

[2016-12-08 20:15] jessegreenberg commented on #12
That makes total sense, thanks for clarifying @terracoda.

[2016-12-08 20:38] jessegreenberg commented on #12
@jhung that list is very helpful, thank you! It lists several of the confusing aspects of the current menu.  I think all of these points should be made into issues and considered.  To respond to a few of these issues:

Very true, our dialogs are quite inconsistent throughout the project.  Some work is being done now to normalize our dialogs.

Yes, that is what it does.  Teachers requested that sim

[2016-12-08 20:42] terracoda commented on #12
@jhung thanks for the list about the individual items. That is indeed very helpful :-) It's all related of course to making the labels clear, but maybe the design changes for the actual modals we should probably put in a separate issue. I agree that they should be consistent and each contain a close button.

As for clarity of labels do you think that the labels could be made more clear with help t

[2016-12-09 17:15] emily-phet commented on #12
@terracoda - Thoughts:
- I like your latest ordering (with sim specific features on top, horizontal line, the PhET link).
- I think "Report Problem" sounds fine to me. I also like you're approach of having helpful text associated with the buttons that likely need more context.
- I love the inclusion of icons also. For the "snapshot," "fullscreen," and "report problem" I can go ahead and create an

[2016-12-09 17:28] emily-phet commented on #12
Regarding some of @jhung comments:

@jessegreenberg - can all the dialogs that we're working on for the PhET menu have an "X" to close? I think this is better for usability, but also the PhET version of the X to close is playful, and keeping the dialogs friendly can be help keep little kiddos who happen upon these options from feeling like they've done something wrong. (the classic windows error m

[2016-12-09 17:30] terracoda commented on #12
@emily-phet, glad you like it. That would be great if someone else could do the actual artwork.

I was not sure if the PhET Website link needs an icon. I was thinking that the little paper air plane would do if the designer thinks an icon is necessary. I left off the _dot dot dots_ because all the other ones like that go to a modal dialog in the same app. The PhET link goes somewhere else entirely

[2016-12-09 17:43] emily-phet commented on #12
I made an issue for artwork in phetsims/tasks/issue#752 (not sure how to reference issues in other repos).

[2016-12-09 17:54] terracoda commented on #12
@emily-phet, I think just using the full URL will work:
[https://github.com/phetsims/tasks/issues/752](https://github.com/phetsims/tasks/issues/752)

[2016-12-09 18:11] terracoda commented on #12
Suggest shortening to:
"Inverts sim colors to dark on light to improve visibility when using a projector, or to save ink when making screenshots for printed handouts."

The label would be read out as something like:
Project Mode, checkbox not checked.

[2016-12-09 18:47] jessegreenberg commented on #12
@terracoda @emily-phet this isn't technically true, black might switch to white, but it also might just make some other colors brighter or a different color entirely.

Yes, they can have a close button. Here is the design document which shows what it will look like.

https://docs.google.com/document/d/19h0U5iqeChirUvVRaudUbmSP_J3yMn7FgnILWrUq9-c/edit

[2016-12-09 19:13] terracoda commented on #12
@jessegreenberg, looks like a thorough discussion is taking place. Mention of the Escape key as a close action would be a good addition, and that the alt text for the close button should be "Close" and not "X".

@emily-phet and @jessegreenberg... As for descriptive text for projector mode, maybe keeping it less specific is preferable then. How about:

[2016-12-10 00:31] jessegreenberg commented on #7
OK, thanks @terracoda and @emily-phet.  So to summarize, we will adopt the following approach for accessibility feature support:

- Focus on implementing accessibility features in with web standards rather than requiring support for a list of platforms.
- Only use HTML-ARIA roles and attributes that are supported by the latest JAWS on latest IE, latest NVDA on latest Firefox, and latest VO on late

[2016-12-10 00:31] #7 closed

[2016-12-10 03:13] jessegreenberg commented on #9
Freedom Scientific responded with the following:

While in the application, take the steps below and see if this impact your issue.
1.       Activate the settings center “JAWS key+number row 6”
2.       In the search edit field, type in: repeat
3.       Arrow down to key repeat
4.       Press the spacebar to uncheck this item
5.       Tab to okay and hit enter

[2016-12-10 03:28] jessegreenberg commented on #9
I tried the suggested user setting change.  This does not fix the issue, but disables any events from firing while the arrow keys are pressed and held down.  WASD keys work as usual regardless of this setting.  In the JSFiddle example (https://jsfiddle.net/jk757xcz/5/show) if I press and hold an arrow key I see one key down event and one key up event so the errant key up event is still being fired

[2016-12-12 02:10] samreid commented on #2
After https://github.com/phetsims/balloons-and-static-electricity/issues/204 is done, we need a way to play back a simulation from states.  I'll close this issue and open a new issue about adding that feature to PhET-iO playbacks.

[2016-12-12 13:55] jobara commented on #9
@jessegreenberg thanks for the update and following up with them.

[2016-12-12 14:15] terracoda commented on #11
Closing this issue as the code discussion is going on in issue #13.
Just mentioning you, @jessegreenberg, in case you have any concerns about closing this issue.

[2016-12-12 14:15] #11 closed

[2016-12-12 14:22] terracoda commented on #13
@jessegreenberg, found it :-) in the [ARIA 1.1 Authoring Practices](https://www.w3.org/TR/wai-aria-practices-1.1/)

A button is a widget that enables users to trigger an action or event, such as submitting a form, opening a dialog, canceling an action, or performing a delete operation. A common convention for informing users that a button launches a dialog is to append "…" (ellipsis) to the button

[2016-12-12 14:28] terracoda commented on #9
I agree, @jessegreenberg, great work. Looking forward to next response.

[2016-12-12 16:56] jessegreenberg commented on #13
Excellent thanks @terracoda! That is really helpful.

[2016-12-13 13:42] emily-phet commented on #12
@terracoda For the projector mode help text, how about:

"Changes sim colors to improve viewing when using a projector. Projector Mode may also be helpful when printing screenshots of the sim."

This makes it a little less specific about how the colors are changed, but I think reads a bit friendlier. What do you think?

[2016-12-13 14:06] terracoda commented on #12
@emily-phet, nice. I think the language simpler language as well. Very nice.

[2016-12-13 21:07] terracoda commented on #12
@emily-phet, @jessegreenberg, can I close this issue?

Summary to relabel items in the PhET Menu in this issue:

- We have new label text in https://github.com/phetsims/a11y-research/issues/12#issuecomment-265813065, and design work is happening in phetsims/tasks#752
- We clarified description for projector mode in https://github.com/phetsims/a11y-research/issues/12#issuecomment-266741288
- We all

[2016-12-13 22:42] jessegreenberg commented on #9
Thanks!  I am going to remove my assignment again until we hear back from Freedom Scientific.

[2016-12-14 17:31] jessegreenberg commented on #9
VFO responded by asking that I call the support team so that they can better understand the problem.  I will do so today.

[2016-12-14 18:08] terracoda commented on #9
@jessegreenberg, awesome :-)

[2016-12-15 21:48] jessegreenberg commented on #9
I called the main VFO line and explained the issue.  They weren't sure how to proceed during the call, but said they would discuss with their ARIA group and get back to me sometime tomorrow (12/16/16).

[2016-12-16 00:35] terracoda opened #14 "Investigate VO utility settings and their affects"
VoiceOver (VO) has many settings. I have posted a subset here. Adjusting the settings can drastically affect what live region content is spoken aloud and how much VO information is spoken aloud.

At some point I adjusted my settings to the point where I silenced "interactive alerts", rendering the sim unusable for testing on my machine. Today, I was carefully adjusting my settings again, and some

[2016-12-16 17:44] emily-phet commented on #12
@terracoda Sounds good to me. I'll go ahead and close.

[2016-12-16 18:43] emily-phet commented on #14
@terracoda This is a great find! I would never have thought you could have such significant consequences from changing a setting, without that being made clear in advance (or at least an indication that there might be unintended consequences). I wonder if there might be a forum somewhere with VO users discussing settings, or issues with settings? I did a quick search but didn't come up with anythi

[2016-12-16 18:59] terracoda commented on #14
@emily-phet, I was surprised at how drastically I changed the output with just playing with a few settings. What I would like to understand better is how VO handles (or interprets) Live Region content and its own "help text". It seems adjusting the delay of hints, adjusts both the delivery of live region content (i.e., most of the sim's interactive content) and the native VO hints.

I need to comp

[2016-12-16 19:25] jessegreenberg commented on #9
Got a response 12/16/16 -

I am sending this over to our developers to have a look at.
Thanks for the report.

Removing my assignment until we hear back again.

[2016-12-16 20:16] terracoda opened #15 "Identify challenges for charge view descriptions for Balloons and Static Electricity"
The Balloons and Static Electricity sim has thee different views for charges:

1. Show all charges (default)
2. Show no charges
3. Sow charge differences

We have described the first view (all charges) using relative amounts (none, a few, several, many). Beginning to explore design questions for describing the other 2 views in [this google sheet](https://docs.google.com/spreadsheets/d/1yJcQDEc8F-2

[2016-12-20 19:30] jessegreenberg commented on #12
Reopening after some additional discussion on 12/20/16:

 - 'Check for updates' is confusing, it sounds like it will actually update the sim.  We should consider different labels for this one.
 -

[2016-12-21 16:28] terracoda commented on #12
In summary, we have the following for the content in the Nav Bar and PhET Menu
- NAME of SIM
- (Tabs for Screens - not fully discussed yet)
- Hot Keys and Help: Tips on how to use this sim with a keyboard.
- PhET Menu: Tools and links for this sim.

Then the actual menu
- View Options...
- Check Sim Version...
- Take Screenshot (with camera icon)
- Full Screen (with full screen icon)
- Report Prob

[2016-12-21 16:38] terracoda commented on #12
@jessegreenberg, I think I got everything in the last comment. Reassigning to you.

[2016-12-21 21:07] jessegreenberg commented on #9
VFO responded this afternoon (12/21/16).  I am going to go ahead and paste the response here:

[2016-12-21 21:16] jessegreenberg commented on #9
Upon an initial read, this does not seem like an appropriate solution.  It requires that our *users* set up a configuration file and place it in the correct place, wherever JAWS utilities are in their system.  That sounds very complicated.

Also, it would break the arrow keys for everything under the application domain?  The arrow keys would work correctly with the application role, but normal met

[2016-12-21 21:24] terracoda commented on #9
@jessegreenberg, it is interesting that they refer to the number pad as a place to go to for arrow key behaviour. I saw this with some of the users I interviewed. In early prototypes, when the arrow keys did not work as they expected (e.g., they got silence while the balloon was grabbed), their response (2 or 3 users) was to try the number pad.

[2016-12-21 21:46] jessegreenberg commented on #9
@terracoda yes it is an interesting recommendation, I wonder how common it is for a JAWS user to to have access to a number pad.

[2016-12-21 22:01] jessegreenberg commented on #9
Very interesting, I created a file called localhost.jkm, with the following content

[code]

And saved the file under [...filepath...]\ProgramData\Freedom Scientific\JAWS\17.0\Scrips\enu\

And the arrow keys work like a charm with the balloon when I run the sim at localhost!  But they do not work at all to navigate the virtual cursor.

I am a little confused because I see lots of entries at this l

[2016-12-21 22:06] terracoda commented on #9
@jessegreenberg, I think we discussed these "special keys" settings in another issue a long time ago. There was something about a new JAWS specific key settings file. Not sure if I can find the issue where we discussed this, or if it is related, but this "jkm reference" sounds very familiar.

[2016-12-21 22:15] jessegreenberg commented on #9
I also tried changing the name of the file to "www.colorado.edu", and with that change the arrow keys are working for the versions of the sim that are already deployed to phet dev.

@terracoda I remember discussing the `data-at-shortcutkeys` JAWS workaround, is that what you are thinking of?
https://www.freedomscientific.com/training/Surfs-Up/BypassNavigationQuickKeys.htm

[2016-12-21 22:16] terracoda commented on #9
Yep, @jessegreenberg, I am mistaken, I was thinking of the update to JAWS 16 that uses
[code]
Léonie Watson discusses issues around this here:
http://tink.uk/time-to-revisit-accesskey/

[2016-12-21 22:19] terracoda commented on #9
Watson's article is a good thing to keep in mind when discuss further how to handle PhET shortcuts, in a more general sense.

[2016-12-21 22:49] jessegreenberg commented on #9
Yes, I agree @terracoda!  Watson makes great points (as usual :)

[2016-12-21 22:50] jessegreenberg commented on #9
I responded on 12/21/16 with the following:

[2016-12-22 13:16] terracoda commented on #9
@jessegreenberg, in your next response, if needed, you may want to directly quote and reference the [ARIA 1.1 Standard,](https://www.w3.org/TR/wai-aria-1.1/#application)

And perhaps adding a text-based explanation of an example may be useful as well. Such as,

In the case of the PhET science simulations, there are many interactions that may not be supported by a native `widget role`, and thus wou

[2016-12-22 23:49] emily-phet commented on #12
@jessegreenberg @terracoda After checking with @ariel-phet it seems like "check for updates" actually does check for updates, and allows the user to update the sim (e.g., presumably for something downloaded for offline use). I've asked @ariel-phet his thoughts on moving this option into the "about this sim" dialog, I'll update this once I hear back.

[2016-12-23 20:54] terracoda commented on #12
@jessegreenberg, I think already is in the "About the sim" dialog :-) If it actually checks for updates, we can just leave the label as is.

[2017-01-03 18:10] jbphet commented on #2
@samreid and I discussed this, and we are realizing that instrumenting the sim using PhET-iO and then using the state playback capability may have several shortcomings for what we believe @emily-phet would like to accomplish here.  Here are some of the potential issues:

+ playback of recorded state data will not depict the focus rectangles
+ playback of recorded state data will not trigger audito

[2017-01-03 18:31] jbphet commented on #2
Assigning to @emily-phet and @ariel-phet to get their input on how the information in the comment above affects the plan for obtaining the needed audio and video recordings.

[2017-01-03 19:45] kathy-phet commented on #2
Question -- Can the input event recorder be leveraged to accept all input events (like the tab navigation) to enable some of these missing features?

[2017-01-03 19:48] samreid commented on #2
The input event recorder could record the position of pointers rather easily, I'll leave it up to @jonathanolson and @jessegreenberg to discuss whether scenery could record tab navigation/focus events/etc.

[2017-01-05 06:32] jonathanolson commented on #2
Those aren't Scenery events, but listeners could be added (see https://www.w3.org/TR/page-visibility/).

[2017-01-05 16:54] samreid commented on #2
@jonathanolson if I understand it correctly, the input events are intercepted by the assistive technology and routed to the browser through another API, and hence cannot be observed using the listeners you mentioned.  I have not tested this.  @jessegreenberg can you comment?

[2017-01-05 17:03] jonathanolson commented on #2
Sorry, I mis-interpreted tab-navigation as determining if our sim was in an active browser tab or not.

@samreid that sounds right. May be possible (desirable?) to add the ability to record accessibility events, so that those could be played back (@jessegreenberg has more knowledge).

[2017-01-05 20:46] jessegreenberg opened #16 "Submit report to zoom regarding missing acccessibility features"
Zoom is not easily accessible for remote interviews.  Zoom claims to be committed to accessibility (https://zoom.us/accessibility) and should be notified why they are inaccessible for our needs.

Should they investigate our report, we might have a way to conduct remote interviews without relying on PhET-iO, which has proven to be challenging (see https://github.com/phetsims/a11y-research/issues/2#

[2017-01-05 21:17] emily-phet commented on #16
@jessegreenberg - our experience with Zoom has been that blind students and staff on campus have difficulty using it, and prefer to use the mobile version over the desktop version. We have not asked someone using a screen reader to join a call and screen share from their device to determine specifically what issues the users run into. We can do this, and determine if the screen share option is acc

[2017-01-06 00:52] jessegreenberg commented on #16
I see, thanks for clarifying @emily-phet.

Perhaps if we do this we can have a more detailed report to send along to Zoom.  It looks like they make it very easy to send feedback:

[2017-01-06 01:54] jessegreenberg commented on #2
Yes, we should investigate at what level we can record events, I am a unsure about how far we can go here too.

While a screen reader is on, any input event (including touch and mouse events, depending on the AT) might be intercepted.  But my understanding is that after the AT manages the it, it will pass *some* event along to the browser, even if it is different than the event that was originally

[2017-01-06 02:58] samreid commented on #2
For example, RadioButton.js has this code:

[code]

For RadioButtons, this is the event we would need to record and play back, right?  And for other types such as Buttons, etc, there would be something different but equally simple?

If so, then it seems we should route these through something like scenery Input.js, which would look like this:

[code]

However, I do not know if this is enough infor

[2017-01-06 04:24] jonathanolson commented on #2
I was imagining something like Scenery internally having something vaguely resembling:
[code]
where somewhere upon creation of the domElement it gets those listeners added. Then in the client:
[code]
or
[code]
with whatever is convenient.

[2017-01-06 17:32] emily-phet commented on #9
@jessegreenberg @terracoda - nice work folks, hopefully we hear back soon. Since it's been awhile, and through the holidays, @jessegreenberg you might want to send friendly reminder email if we don't hear back next week.

[2017-01-08 10:14] terracoda commented on #16
@jessegreenberg, @emily-phet, is the plan to check it ourselves first in VO, JAWS and NVDA and then ask for assistance from a screen reader user?

[2017-01-09 17:17] jessegreenberg commented on #16
Yes, that sounds like a good way to get started @terracoda.  I can try it out on all three today to see if I can find any features that are blatantly not accessible, but I suppose we won't really know for sure until we get assistance from a screen reader user.

[2017-01-09 17:18] jessegreenberg commented on #16
However, I see no mention of JAWS at https://zoom.us/accessibility

[2017-01-09 17:54] jessegreenberg commented on #16
My experience with NVDA:
- Tab navigation works for the toolbar at the bottom, but only while it is visible.  Without making the toolbar appear with my mouse (which I already knew how to do) I can't access any of the options for video sharing.
- When I have tab focus on a button in the bottom navigation toolbar, the toolbar still dissapears after ~3 seconds, and I can no longer focus anything othe

[2017-01-09 17:54] jessegreenberg commented on #16
I wonder if I am missing something some commands here, this is NVDA outside of web content, which I am not really used to.

[2017-01-09 17:58] jessegreenberg commented on #16
Zoom has special hotkeys: https://support.zoom.us/hc/en-us/articles/205683899-Hot-Keys-for-Zoom

[2017-01-09 18:04] jessegreenberg commented on #16
Cool, lots of features in https://support.zoom.us/hc/en-us/articles/205683899-Hot-Keys-for-Zoom.  ctrl + alt+shift fixes all concerns in https://github.com/phetsims/a11y-research/issues/16#issuecomment-271355106.  It will focus toolbar when sharing screen as well.

[2017-01-09 18:10] jessegreenberg commented on #16
JAWS works very well with Zoom's custom hotkeys.

[2017-01-09 18:27] jessegreenberg commented on #16
VoiceOver seems to work very well too, though I had to use the hotkeys listed in the docuement.  One minor issue was that the "Share Screen" button was listed as a 'checked checkbox' when I wasn't sharing screens, but I don't think that would really inhibit use too much.

@terracoda @emily-phet Zoom seems pretty accessible to me, as long as the user has access to these hotkeys: https://support.zoo

[2017-01-10 00:53] emily-phet commented on #2
@jbphet and @samreid Thanks for the thorough investigation here! A couple of thoughts:
-  Because of the immediate challenges listed above, we'll pursue other interview data collection avenues (e.g., @jessegreenberg is investigating accessibility issues with Zoom to see if we can use Zoom's screensharing capability for this). While screensharing is definitely better than nothing, there are still s

[2017-01-10 16:51] jessegreenberg commented on #9
Good idea @emily-phet, I will reassign to me and create a reminder to send a friendly reminder later this week.

[2017-01-12 00:43] jessegreenberg commented on #12
Yes, the "Check for updates" button does check for updates.  If the sim is out of date, the user will see something like

![capture2](https://cloud.githubusercontent.com/assets/6396244/21872229/8b35401a-d824-11e6-9d41-5a6a8ca58a67.PNG)

The "Get Update" button behaves the same as the "New version available" link in the dialog.
![capture2](https://cloud.githubusercontent.com/assets/6396244/21872377

[2017-01-12 07:28] terracoda commented on #12
@jessegreenberg, the removal of indefinite and definite articles ("a", "an" and "the" ) is a recommendation I took from the [Diagram Centre's report](http://diagramcenter.org/accessible-dynamic-scientific-graphics.html) by  Kyle Keane. In verbalization it reduces the number of syllables spoken without loss of meaning. This is something I tried to be consistent about while designing labels and phra

[2017-01-12 10:33] terracoda commented on #12
@jessegreenberg, the image of the form you shared is nice and clear. It, too, will need to be converted to text.

We can do it straight as it is with the bold text as the heading, or we can go more structural with a general heading. Will post something this evening (my time).

[2017-01-12 14:24] emily-phet commented on #12
@jessegreenberg - thanks for reminding about the translation that needs to occur. Since we definitely want to change at least one of the labels in the PhET Menu (I think "About" to "About this Sim" is significant), I think we should be 100% certain of all the changes we want and then do them all at once - even if they seem minor.
It doesn't seem like I updated this thread with @ariel-phet response

[2017-01-13 02:58] terracoda commented on #12
@emily-phet, @jessegreenberg, the sim version is stated in the _About this Sim_ dialog (as mentioned in https://github.com/phetsims/a11y-research/issues/12#issuecomment-265838527), so it makes perfect sense to move _Check Sim Version_  (or _Check for Updates_) to be next to _About this Sim_. It could even go below it with some indentation, unless there is a reason for not nesting the menu items.

[2017-01-13 14:36] emily-phet commented on #12
@terracoda Thanks for the suggestions! While I agree that moving the "Check for Updates" into the "About this Sim" dialog, @ariel-phet thought this would require infrastructure changes (maybe in Joist?) that we don't have the resources for at the moment. Does this sound right to you @jessegreenberg?
Regarding label - I think that "Check for Updates" is the most clear, since that's the most impactf

[2017-01-13 21:46] jessegreenberg commented on #12
Not too much, it is pretty straight forward with the current implementation.  But this would take more work than just reordering, which would be trivial.  We would need to decide what the new button would look like and how it would replace the link that is in the dialog now.

But there is another advantage to having the "Check for Updates..." button in the menu, which is that it is very easy to fi

[2017-01-13 21:53] jessegreenberg commented on #12
Just checking other menu systems, it looks like Firefox takes this approach while Chrome is more verbose with "a", "an" and "the".

[2017-01-13 21:59] jessegreenberg commented on #12
@terracoda I like V3 in https://github.com/phetsims/a11y-research/issues/12#issuecomment-272348566!

[2017-01-14 01:59] terracoda commented on #12
@jessegreenberg, @emily-phet, I wasn't suggesting we move _Check for Updates_ into the _About this Sim_ dialog. The versioning information is already stated there, so moving the item next to the _About this Sim_ item makes good sense. Indentation makes a parent-child relationship between the items more clear, but that seems unnecessary here! The menu is a handy list of tools, and a place to get mo

[2017-01-14 02:26] terracoda commented on #12
@jessegreenberg, thanks for checking different browsers on their use of definite and indefinite articles.

There are many instances where definite and indefinite articles are required for clear meaning, but menu items and headlines often do fine without them [language change](http://english.stackexchange.com/questions/116750/have-there-been-any-movements-tendencies-to-remove-definite-and-indefinit

[2017-01-15 09:01] terracoda commented on #16
@jessegreenberg, thanks for the documentation on this. This is great.

One other issue that may be a problem during remote recordings is that the conference software automatically adjusts the volume of the screen reader output when the user is speaking. This fluctuation in volume interferes with a steady recording volume. I have not tested this with Zoom, but this seems to happens with Skype.

[2017-01-17 00:59] emily-phet commented on #12
@terracoda @jessegreenberg
Just wanting to summarize a bit:
- Wording to be included in the menu:
View Options...
Take Screenshot (with camera icon)
Full Screen (with full screen icon)
Report Problem (with envelope icon)
Check for Updates...
About this Sim...

Everything left aligned, no indentation. (note to @terracoda - my understanding is that when changes are made, a notification is sent to ou

[2017-01-17 01:04] emily-phet commented on #16
@terracoda Good point! I ran into this with Skype also. I think there's a plugin for Skype that helps with this issue, not sure if it will be a problem for Zoom or a way around it. Ashley will be joining our Tuesday meeting and I'll ask her if we can do a quick test.

[2017-01-17 11:21] terracoda commented on #12
@emily-phet, I think your summary is good.

I think it is worth considering 2 icons for _Check for Updates_. Two icons would have a bigger impact on translation, and verbosity levels, as alt text would be needed for the icons. Two possible examples below:

**Example 1**
- Check for Updates... (no icon)
- Check for Updates... (warning icon with alt text: "Update available.")

**Example 2**
- Check

[2017-01-17 11:30] terracoda commented on #12
I think Example 1 keeps things simpler. If we consider two icons, we might also just want to use the label to describe the change directly, rather than using alt text.

For example:
- Sim is Up to Date... (icon with no alt text)
- Sim Updates Available... (warn icon with no alt text)

I am not suggesting we do this, but this approach is less verbose for non-visual users.

[2017-01-17 14:12] emily-phet commented on #12
@terracoda  if we can (relatively quickly) come up with two icons that clearly indicate "up to date" and "not up to date", and it's relatively straightforward to implement a two-icon option for @jessegreenberg , I think we should go with this option.

Going forward, our goal for work on these common areas of the sim is to ensure that these are accessible, and to try to make all the changes necessa

[2017-01-17 14:44] jhung commented on #12
What do you all think of "Check version" vs. "Check for updates"?

I like the idea of having an indicator much like that seen on smart phones. A simple circle with an up arrow may be enough? Or maybe an "!"? Like:

[http://plainicon.com/download-icons/54752/plainicon.com-54752-b2fe-64px.png](url)
[http://www.freeiconspng.com/uploads/alert-icon--icon-search-engine-20.png](url)

[2017-01-17 16:39] terracoda commented on #12
@emily-phet, for consistency I think we can stick with the adapted Font-awesome icons that the simulations are already using, the green checkbox with a white check and the orange triangle with an exclamation which are based on the following 2 icons:
- http://fontawesome.io/icon/check-square/
- http://fontawesome.io/icon/exclamation-triangle/

@jhung, the links you posted go to 404 pages for me, so

[2017-01-17 17:09] terracoda commented on #12
@jhung, actually, the use of the word "version" comes first in both the dialogs (the Update dialog and the About the Sim dialog), so I agree using _Check Version_ makes good sense. I wasn't fond of "Check Sim Version". "Check Version" is simpler and avoids repetition in the alt text for the icons.

**How's this?**
- Check Version (check square icon with alt text "Already up to date.")
- Check Vers

[2017-01-17 17:18] jhung commented on #12
@terracoda The icons I were thinking of was a circle with an up arrow (indicates an update available), or a circle with an "!" (the triangle seems more like a warning, whereas a circle is more like a note).

@terracoda Re: "Check Version + icon" looks / sounds good to me! But I went and checked with people to see what they thought of "Check for Update" and you can see the responses here:

https://

[2017-01-17 21:29] jessegreenberg commented on #9
I sent an email reminder to VFO on 1/17/16.

[2017-01-18 17:07] jessegreenberg commented on #9
They responded with

[2017-01-19 18:33] jessegreenberg commented on #9
VFO responded with:

I have submitted your request as an enhancement request for the future.

Seems like great news! This suggests that they agree with our assessment that JAWS should be responsible removing scripts so arrow keys to be used normally on elements under the aria-application role.  I have no idea how they will approach this in terms of priority or what the timeline will look like.

[2017-01-19 18:57] emily-phet commented on #9
@jessegreenberg That does seem like great news! Perhaps at the CSUN conference you can speak with them about this and get a sense of timeline.

[2017-01-20 23:23] zepumph opened #17 "Can we set up a time for @zepumph to pair with @jessegreenberg"
@kathy-phet and @emily-phet and @zepumph are going to meet at the end of the month to talk more about long term employment, and I think it would be good for this to happen before our meeting so I have a better idea about what to expect from accessibility. @jessegreenberg when would be good? I was thinking sometime next week. Tuesday and Wednesday work well for me. Tagging @ariel-phet so he is in t

[2017-01-20 23:42] jessegreenberg commented on #17
@zepumph sounds great!  Tuesday afternoon, or any time Wednesday would work for me.

[2017-01-21 00:07] zepumph commented on #17
Let's give it a good session on Wednesday, start sometime in the morning and see how we do. How about 10?

[2017-01-22 04:07] terracoda commented on #9
@jessegreenberg, I agree, this is great news! And a face to face discussion with a demonstration of the simulations will perhaps help create some understanding about the issue.

[2017-01-23 16:35] jessegreenberg commented on #17
Sounds good to me, see you then @zepumph.

[2017-01-23 22:06] jessegreenberg opened #18 "Should we use the global accesskey attribute?"
@terracoda @emily-phet, Last week @jobara and I found and tested an attribute called ```accesskey``` that might let us provide global hot keys to activate links and buttons:

http://www.w3schools.com/tags/att_global_accesskey.asp

The idea is that with a modifier key, you can activate a form element (like the Keyboard Help button) with a hot key no matter where focus is in the document.

@jobara a

[2017-01-25 00:44] jessegreenberg commented on #18
@emily-phet said we should proceed with using this attribute since we currently don't have any other way to implement global access keys.  But this should be investigated after accessible john travoltage is deployed.

[2017-01-25 01:00] emily-phet commented on #18
@jessegreenberg - yes I think this will be very useful. There aren't too many different modifier keys (currently [Alt] or [Alt]+[shift] for PCs, and [Ctrl]+[Alt] for Mac). I believe we can add this information relatively easily to the keyboard help dialogue, and (hopefully) find a way to describe this simply in the auditory descriptions where we describe any useful shortcuts.

[2017-01-25 06:02] terracoda commented on #18
@jessegreenberg and @jobara, it is really great that you are testing out `accesskey`. I think I shared the 2015 article, [Time to Revisit Accesskey](http://tink.uk/time-to-revisit-accesskey/) by Léonie Watson when we were trying to determine ways to get around the fact that screen readers monopolize so many key presses for their own short cuts.

Watson suggests that what is needed is a way to make

[2017-01-25 07:01] terracoda commented on #18
@jessegreenberg did you test the `accesskey` with a screen reader?

There are some interesting comments at the end of the Watson article, such as this one about screen reader users having to turn on this feature in their settings:

[2017-01-25 07:24] terracoda commented on #18
@jessegreenberg and @emily-phet, I'm not sure what the latest development is for the attribute `accesskey`, but the Wiki has links to older articles on the subject and discusses a new more functionally relevant term called, Access Command.

Activating a link in the same resource definitely fall with the purview of an Access Command. I am not sure if there is a new attribute coming?

[2017-01-25 22:29] zepumph commented on #17
Hey that went great today! Thanks for showing me around the a11y side of life. Closing

[2017-01-25 22:29] #17 closed

[2017-02-01 17:45] jessegreenberg opened #19 "aria test: aria-disabled"
This repo might be a good place to document the current behavior of aria attributes and roles.  This issue is the first.

Testing the behavior of ```aria-disabled```, which behaves like:

(https://www.w3.org/TR/wai-aria/states_and_properties#aria-disabled)

[2017-02-01 18:36] jessegreenberg commented on #19
Using this JSFiddle to test: https://jsfiddle.net/7obw983y/6/

- JAWS:
  - Chrome: Attribute works.
  - IE 11: aria-disabled does not apply to all focusable descendant elements. It only works for elements that have the attribute directly.
  - Firefox: Attribute works.

- NVDA:
  - Chrome: Attribute works.
  - IE 11: aria-disabled does not apply to all focusable descendant elements. It only works f

[2017-02-01 18:38] jessegreenberg commented on #19
@terracoda @emily-phet in this case, IE11 does not support one aspect of this attribute.  As we continue to test these things, should we start submitting bug reports to browsers for missing ARIA 1.0 support?

[2017-02-01 22:43] jessegreenberg opened #20 "Test button events for various user agents"
It would be nice if we could style sun/joist/scenery-phet buttons when the user is pressing the keyboard key. The button should look 'depressed' when 'enter' or 'space' bar is down, and look 'flat' when the key is up.

Most user agents do not give the browser 'keyup' and 'keydown' events during interaction with a button, but intercept them and submit a single 'click' event.  In this case we cannot

[2017-02-03 00:20] terracoda commented on #19
@jessegreenberg, I think this repo is a great idea, and that submitting bug reports to browsers is also a good idea. It is a way to create our documentation and a  way to make positive change to ARIA support!

[2017-02-03 00:28] emily-phet commented on #19
@jessegreenberg @terracoda
Agreed!

[2017-03-15 08:40] terracoda commented on #13
@jessegreenberg, just gathering links to potentially related documents into this issue.

You were asking about the parent "menu bar" or "tool bar" in yesterday's meeting, right? This "thing" will contain the Keyboard Help Button, the PhET Menu Button and eventually the Tabs for multi-screen sims.

The closed Issue #11 links to a [google doc](https://docs.google.com/document/d/12jd7xKEt8P_EUwTrbhLu

[2017-03-15 11:47] terracoda commented on #12
@emily-phet, I think based on yesterday (March 12) A11y meeting and the comments above that this is the final version of the content for the bottom bar and PhET Menu:

- Keyboard Shortcuts: Tips on how to use this sim with a keyboard.
- PhET Menu: Tools and links for this sim.

Then the actual menu items in the the PhET Menu

-  View Options...
-  Check for Updates (check square icon with alt text

[2017-03-15 13:40] emily-phet commented on #12
@terracoda I sent an email yesterday to Ashley to get her feedback on "Keyboard Shortcuts" vs "Key Commands" or something else. Let's see if she responds some time today. I'll update here if/when I hear back.

[2017-03-15 16:40] terracoda commented on #12
@emily-phet, OK, good. One thing I did not do until just now was actually look up the words (silly I didn't do this before the meeting). While there can be subtle differences depending in what platform one is using, the terms Hot Keys and Keyboard Shortcuts are pretty interchangeable.

I was thinking narrowly about the meaning of Hot Keys and that they were specifically only custom key presses kik

[2017-03-16 01:30] terracoda opened #21 "Determine best wording for the Reset All alert"
In github issue https://github.com/phetsims/scenery-phet/issues/291, @jbphet had a concern about the wording of the _Reset All_ alert, and suggested we change it from:

- "Sim screen restarted. Everything reset." to
- "Simulation screen has been reset."

At the PhET/IDRC Meeting (March 14) there was some agreement that this was a good change, but upon closer review @emily-phet and @terracoda would

[2017-03-16 02:37] terracoda commented on #21
First, it is important to consider that the alert is read in the context of the reset button's label, and that the user actively decides to press the button after hearing the label, "Reset All."

**So in context Version 1 sounds like this:**
- "Reset All, button." (User presses the button) and then hears:
    - "Sim screen restarted. Everything reset."

What I like about this alert (alert credit:

[2017-03-16 04:38] emily-phet commented on #21
@jessegreenberg Unless there is significant concern over this, I think we should just go with Option 1 above. After discussing further with @terracoda and considering it further, I like how option 1 reads after the "reset all" button, and that the use of "reset" and "restarted" provides clarification if one of those two words is unclear.

[2017-03-16 16:31] jessegreenberg commented on #21
Sounds good @emily-phet and @terracoda, we will change to option 1.

[2017-03-16 16:36] jessegreenberg commented on #21
@terracoda @emily-phet changed to option 1 in the above commit, closing this issue.

[2017-03-16 22:25] zepumph opened #22 "Document the steps to make a sim accessible"
It would be good to have a central document, similar to 'how-to-instrument-a-simulation-for-phet-io.md` (but perhaps less verbose) about the steps needed to outfit a sim. This process will take time to refine and iterate, so it's good to get started now. @jessegreenberg and I are starting from the beginning with build-an-atom, so this seems like a great place to start.

[2017-03-17 02:01] emily-phet opened #23 "Investigate grid interactions in preparation for 3/21 Keyboard Access Meeting"
@jessegreenberg @terracoda Not sure if this is being tracked elsewhere. If not, can you all put any links to examples you have here, for discussion?

[2017-03-17 05:47] terracoda commented on #23
Thanks @emily-phet for posting this issue. I've started a google doc in the Keyboard Navigation folder [Complex Controls and Interactions](https://docs.google.com/document/d/1gUeYfAPN1RdcePvGqslfhEM62Ru6U6UgunWv6AYnLsI/edit#), and will be adding considerations and resources there.

[2017-03-17 16:42] jessegreenberg commented on #23
Here is the example from the IDRC for grid navigation:
http://build.fluidproject.org/infusion/demos/reorderer/gridReorderer/

[2017-03-20 14:16] terracoda commented on #23
@emily-phet and @jessegreenberg, my notes on the grid interaction are still pretty rough.
I added draft labels for some of the tools in the Area Builder design document and then decided to start a draft PDOM for Area Builder to help me think through the interaction with the grid a bit more.

I am wondering if it is technically possible to have two grids, on e for the board and one for the bucket o

[2017-03-20 15:59] carenwatkins commented on #21
@terracoda @jessegreenberg @emily-phet I know this issue has been closed but we wanted to note that perhaps we may have to revisit the language again when applying it to Sims with multiple screens. For example Skate Park and Forces & Motion that each have two reset layers: restart skater or return and reset screen. @jhung

[2017-03-20 16:14] jessegreenberg commented on #21
Good point @carenwatkins, reopening this issue.  Is the problem that the "Everything reset" portion of the alert is confusing since the "Reset All" only applies to the open screen?

[2017-03-20 17:00] carenwatkins commented on #21
@jessegreenberg yes, the meaning between "restart skater" and "everything restarted", on Energy Skate Park for example, may conflate for the user. Even though there is the follow-up sentence "Everything Reset" it may be too late in the cognitive processing cycle to be clarifying for the user.

[2017-03-20 17:09] jessegreenberg commented on #21
I see, thanks @carenwatkins, I thought you meant this was an issue for multiple screens. Could you please clarify what you mean by "cognitive processing cycle"?  When "Reset All" is pressed, everything in the open screen is restarted so the alert seems accurate to me.  If "Restart Skater" has its own alert (like "Skater moved to initial drop location") is this still an issue?

[2017-03-20 18:09] emily-phet commented on #21
@carenwatkins The Balloons and Static Electricity sim also has two reset buttons - the "Reset All" button and "Reset Balloon(s)" button.

Also, it might be useful to note that the "Reset All" button has a long history with PhET (the original PhET sims had a button labeled as "Reset" or "Reset All"). The phrase "Reset All" is also how we describe this button in all of our supporting materials. Any

[2017-03-20 18:30] carenwatkins commented on #21
Of course, @jessegreenberg. I should say "cognitive processing", and what I mean is processing can be a spectrum of differences--including processing speed.

I think "Skater moved to initial drop location" could work. Will revisit it in context of the sim. thanks!

[2017-03-20 19:12] jessegreenberg commented on #21
Ok, thanks @carenwatkins! Closing this issue then.

[2017-03-20 19:12] #21 closed

[2017-03-20 19:50] emily-phet commented on #23
@terracoda I took a look at your notes in the doc. If you could add a little more clarification around the two grid idea, that would be helpful. It's not clear to me (though I think I'm just misunderstanding something) why we would want a grid for the tiles *in the bucket*.

I made some notes towards the end of the document (with a new heading) that lists out what I think are the pros and cons for

[2017-03-21 08:54] terracoda commented on #23
@emily-phet working on clarifications.

[2017-03-21 10:33] terracoda commented on #22
@zepumph, the research articles (HCII 2016, Assets2016 and CSUN 2017) from the PhET research may be a helpful.

[2017-03-21 12:42] terracoda commented on #23
@emily-phet, I created a 5th example (a little more thought out). I will try to adjust the the cognitive walk-through or create a new one before tonight's meeting.

[2017-03-21 14:58] zepumph commented on #22
@terracoda, would you mind including links to these articles in this issue. I was unable to find these on PhET Research or PhET Accessibility Research, sorry about that.

[2017-03-21 17:34] terracoda commented on #22
@zepumph, sorry I did not tell the whole truth:
- To get to the HCII paper, you need to go through the library, it is not in an open access journal.
    - A Balloon, a Sweater, and a Wall: Developing Design Strategies for Accessible User Experiences with a Science Simulation. Here's the DOI: 0.1007/978-3-319-40238-3_15
- The PDF of ASSETS poster is here: [Demonstration: Screen reader support for a

[2017-03-22 16:06] jessegreenberg opened #24 "a11y testing tools"
There are some pretty good a11y testing tools out there, it would be nice to try running them with our sims. Testing could flag issues well before we go through user tesitng and save a significant amount of time.  Here are a few notable ones:

https://achecker.ca/checker/index.php
  - Created by the IDRC!
  - Checks single HTML pages for conformance to accessibility standards.

http://www.deque.co

[2017-03-23 06:08] terracoda commented on #24
And for any future reference, lets keep the link to this recent examination/study of testing tools handy.

- Blog Post: [What we found when we tested tools on the world’s least-accessible webpage](https://accessibility.blog.gov.uk/2017/02/24/what-we-found-when-we-tested-tools-on-the-worlds-least-accessible-webpage/)
- Published findings: [How do automated accessibility checkers compare?](https://a

[2017-03-27 12:26] terracoda commented on #13
I updated a sample html template for the sim’s bottom bar.
I used a footer element instead of a tool or menu bar. This might be more reliable and provide a nice landmark.

I've used some nav elements with aria-labels, so it sounds pretty good in Voice Over, but it’s still quite rough. The PhET Menu buttons are not being read out yet (when expanded), and are not navigable with arrow keys (when expa

[2017-03-28 15:31] jessegreenberg opened #25 "a11y semantics for PhET navigation bar"
From #13, @terracoda added some information about the semantics for PhET's navigation bar. Here is the content, copied from that issue:

I updated a sample html template for the sim’s bottom bar.
I used a footer element instead of a tool or menu bar. This might be more reliable and provide a nice landmark.

I've used some nav elements with aria-labels, so it sounds pretty good in Voice Over, but i

[2017-03-28 15:50] jessegreenberg commented on #25
Here is the HTML for the navigation bar now (In this case, only one screen):

[code]

And when the PhET Menu is open:
[code]

[2017-03-28 17:44] jessegreenberg commented on #25
I had a few questions about the HTML in the template:

1. Screens are represented as ```<a>'s```. Can they be buttons?
2. Having the menu inside the footer would be non-trivial to implement due to the way modal dialogs are added to the view.  Is the structure in https://github.com/phetsims/a11y-research/issues/25#issuecomment-289814888 acceptable?

[2017-03-28 17:53] jessegreenberg commented on #25
For instance, the recommendation for the PhET Menu is
[code]

Could it be something like
[code]

[2017-03-29 08:38] terracoda commented on #25
@jessegreenberg, having the list of items immediately after the button is a progressive enhancement technique. Basically, it means if the css or js fail, the items are still right there inside the labeled nav and immediately after the button that provides the iconic identification.

In your examples, does Scenery place the list outside the footer once it is visible? Structurally to me this makes n

[2017-03-29 11:53] terracoda commented on #25
@jessegreenberg, excellent questions

I used <a>'s for the list of screens in the template because my understanding of the sim screens is that they are part of the same page. Buttons generally indicate some kind of function, not a link to other content. However, buttons can be used to show and hide content. Buttons are a possibility. Tab panel navigation is usually a list of links, however with so

[2017-03-29 14:38] terracoda commented on #25
@jessegreenberg, Pickerings says to avoid:

Excerpt From: Heydon Pickering. “Inclusive Design Patterns." iBooks.

The second and third items are the relevant in our PDOM.

[2017-03-29 23:35] jessegreenberg commented on #25
In the example, Scenery places the list outside the footer when it is visible.  When invisible, the list does not exist in the DOM.
The problem is the placement of the list. The simulation hierarchy looks like
[code]

Which is why Scenery places the PhET menu list outside of the navigation bar in the parallel DOM as well.  To change this, we would need to change the simulation hierarchy or the way

[2017-03-29 23:52] jessegreenberg commented on #25
Thanks @terracoda!

Thanks, that makes sense.  The problem is that the user ins't really "going" anywhere when they click on a button on the bottom, and there is no meaningful ```href``` (not even to another place in the same page). In that case, ```<a>``` tags aren't clickable.

Understood, thanks @terracoda.  If it becomes a problem, we can certainly investigate further.

@jessegreenberg, can Sc

[2017-03-30 11:43] terracoda commented on #25
@jessegreenberg, regarding your comment:

If the user is taken to a new sim screen, how can that be "not really going anywhere"? I assume that each screen has an id. Can Scenery use the screen id for the `href`? An anchor does indeed need an `href` to be a clickable link, but the value of the `href` does not have to be a url. It can be like this:
[code]

[2017-03-30 21:07] jessegreenberg commented on #25
All the screen buttons at the bottom really do is toggle graphical visibility of the active screen. Screens don't have an id to point to with an href.  Since the user is choosing to view new content, so I see how a link makes semantic sense. Would ```href="#"``` work?

[2017-03-31 00:08] terracoda commented on #25
@jessegreenberg, a `button` can make hidden content visible. For example, the accordion design pattern does this. There are accordion designs that only allow one accordion to be open at a time. It is then our responsibility to communicate the states of the accordions to the  user. It's possible the accordion design pattern could work or the screens. I was even considering this, yesterday.

Browser

[2017-03-31 18:00] jessegreenberg opened #26 "handle events when focus is changed programatically"
We ran into this in phetsims/build-an-atom#150, but we are sure to run into this again.

If a user action triggers programmatic setting of focus, to a new element, it can cause listeners attached to the blurred/focused elements to be triggered incorrectly.

For instance, say you have the following:
[code]

When nodeB gets the keydown event, nodeA is focused.  Since the key is still down, nodeA rec

[2017-04-03 12:42] terracoda commented on #25
@jessegreenberg, I am having trouble with a design pattern for the bottom bar. I think we need to answer the question, **_What is the bottom bar?_**

Working on some pros and cons based on comments from the [W3C ARIA 1.1 Specification](https://www.w3.org/TR/wai-aria-practices-1.1/)

**Navigation?**
- Pros: provides a landmark for easy navigation, possible useful role for sim screen navigation, can

[2017-04-03 15:36] jessegreenberg commented on #25
Thanks for listing these out @terracoda, that really helps guide things! I agree that Menubar makes a lot of sense. I also like Footer based on its Pros and Cons.

[2017-04-04 05:06] terracoda commented on #25
Also, I read about the [region role](https://www.w3.org/TR/wai-aria-1.1/#region), but forgot to put that solution idea in the pros and cons post above (https://github.com/phetsims/a11y-research/issues/25#issuecomment-291131395).

Another consideration on `menu`/`menubar` role

@jessegreenberg, please correct me if I am wrong, but I think the bottom bar does exhibit desktop-like behaviour.

How do

[2017-04-06 10:26] terracoda commented on #25
@jessegreenberg, there's a mistake in the same code above. The role menuitem has to go on the actual item, not the parent `li` according to the [Navigation Menu Button](https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-2/menu-button-2.html) example which actually has anchor tags inside the list items.

Since we have buttons and links inside the `li`, the code should be

[2017-04-06 12:29] terracoda commented on #25
@jessegreenberg, I did some further digging and found this comment from the ARIA Practices repo (https://github.com/w3c/aria-practices/issues/13#issue-151786266).

I have a feeling that the sim's bottom bar is too essential, more akin to primary site navigation, to be using the role `menubar`, maybe we should go back to role `navigation`, and simple lists with clear labels. The PhET Menu still see

[2017-04-09 05:29] terracoda commented on #25
@jessegreenberg, how does the following code and keyboard pattern look to you?
Will it fit currently with Scenery? Do you think it will help users find the bar easily and use the PhET Menu button easily.
**Stripped-down Code**
[code]
**Keyboard Design Pattern**
1. Navigation landmark accessible to AT users by their landmark navigation hot key.
2. Top-level buttons are part of the page's tabindex o

[2017-04-10 10:38] terracoda commented on #15
Moving this issue to https://github.com/phetsims/balloons-and-static-electricity/issues/257, and closing this one.

[2017-04-10 10:38] #15 closed

[2017-04-10 17:10] jessegreenberg opened #27 "aria-atomic doesn't work as expected in Safari"
In https://github.com/phetsims/john-travoltage/issues/210 we found that the aria-atomic attribute doesn't work as expected in some cases in Safari.  We should create a simple test example using the attribute and submit a bug report if it sin't working in that case.  Otherwise, we should understand why it isn't working in a PhET sim.

[2017-04-10 18:34] emily-phet opened #28 "Teacher Survey - Review"
@ariel-phet @kathy-phet
As part of the collaboration with Georgia Tech, we will be sending a survey out to the teachers regarding their use of PhET sims, and potential barriers or challenges they have with regard to sim use.

We would like to finalize this survey by April 18th, send out to a small number of people, refine, and send out to the PhET email list of teachers (and social media, etc.) on

[2017-04-10 19:00] kathy-phet commented on #28
Emily - Re timing, can we do these emails after our fundraising campaign? Fundraiser runs from April 20-April 30.

[2017-04-10 19:07] emily-phet commented on #28
@kathy-phet That will probably work. We are trying to make sure we don't hit the end of the school year for US or international teachers, but probably starting a few days into May will be fine. We plan to have the survey open for 3 weeks (with Qualtrix reminders for any unfinished surveys during that time) to allow for international teachers who may be on break to get a chance to complete it.

[2017-04-10 20:09] kathy-phet commented on #28
Thanks. Sounds good. Also, we will be doing a Math Teacher survey -- so we are actually excluding those math teachers from the fundraising campaign emails (there just aren't that many of them at this point). If you want to do your pilot survey earlier, we can work to set aside a sample of teachers for that as well. In general, you will need to identify what the filters will be (K12, science only,

[2017-04-10 20:23] emily-phet commented on #28
@kathy-phet We're hoping to include as the survey population all of the teacher users we can find (from email and social media sharing) for this initial, more general survey. Then narrow to specific sub-populations in future work. Is there a specific reason you can think of to narrow the population we send the survey to in advance? The goals we've discussed with the GT folks are to:
- Get an overa

[2017-04-10 20:33] kathy-phet commented on #28
I'm just saying for your initial survey testing prior to the big send, the " send out to a small number of people," part.

[2017-04-10 21:11] emily-phet commented on #28
@kathy-phet Ahh, I see. Thanks for the clarification.

[2017-04-11 05:57] terracoda opened #29 "Investigate visual representations for focus and grabbed states"
We may need to discuss in more detail how to best communicate the visual difference between the focused and grabbed states during keyboard interaction.

Though this issue is directly relevant to _Balloons and Static Electricity_ I'm putting this issue here as the discussion and decisions will help us with other sims which have focused and grabbed states.

**Related design issues:**
- Use of color

[2017-04-11 10:26] terracoda commented on #25
@jessegreenberg, also I don't think navigation landmarks receive visual keyboard focus. The landmark information is just read out when the first at last items inside the landmark get focus.

[2017-04-11 23:54] jessegreenberg opened #30 "Edge bug: child of hidden element not added to DOM when parent is un-hidden"
This bit me hard today - still not sure what is going on here. phetsims/john-travoltage#221 was the original issue.

When the "Keyboard Help Dialog" is opened with the keyboard, the "Keyboard Help Button" is removed from the focus order in Edge.

The parent of the button is the ```footer``` and it gets hidden correctly when the dialog opens.  But when we try to set focus to the keyboard help butto

[2017-04-12 11:15] terracoda commented on #22
@zepumph and @jessegreenberg, here's a nice article on _[What is an accessible name?](https://www.paciellogroup.com/blog/2017/04/what-is-an-accessible-name/)_ by Léonie Watson. It has some nice info about how names are added to the Accessibility Tree.

[2017-04-13 16:29] jessegreenberg opened #31 "JAWS Bug: aria-pressed causes focus to leave element on interaction"
This was found in https://github.com/phetsims/john-travoltage/issues/224.  Is this a bug with JAWS or the way we are using the attribute?

When the ```aria-pressed``` attribute is removed from the element, this is no longer an issue for JAWS. We should create a simple test case to see if JAWS does this outside of the sim.

[2017-04-13 17:17] jessegreenberg commented on #31
This example works with IE11 and JAWS:
https://jsfiddle.net/6p9c2ue9/8/

The differences is that instead of using
```<input type="button">```
we are using
```<button>```

[2017-04-13 17:31] emily-phet commented on #28
Notes from Discussion with Prakriti and Carrie:
- feedback from international teachers and screen reader users (possibly trusted translators for international perspective)
- Need to consider accessibility of questions, and how the wording maps to access of responses.
- A/B testing of options for a few of the more troublesome questions
- Aiming for pilot testing between now and April 30th, then sen

[2017-04-13 18:24] jessegreenberg commented on #31
This issue is not a problem for
```<input type="button">```

but
```<input type=button aria-pressed="false">```
never receives a click event.

I am not clear whether this is a JAWS feature or a JAWS bug.

[2017-04-13 18:40] jessegreenberg commented on #31
I think we should submit a bug report just in case, it couldn't hurt.

[2017-04-14 08:47] terracoda opened #32 "Scenery, nesting hierarchies and accessibility"
@jonathanolson, @jessegreenberg and I have been discussing the semantics of the the Sim's bottom bar in a few issues, but mainly in this one https://github.com/phetsims/a11y-research/issues/25.

For accessibility, the hierarchical nature of HTML provides a reliable and robust way to create  relationships between certain elements, and it does so quite easily.

For fuller code examples see example i

[2017-04-14 13:50] emily-phet commented on #28
@kathy-phet @ariel-phet Just a reminder that we'll need your feedback on the survey today. The next step will be finalizing a few of the questions that are still in flux, putting in Qualtrix format, and testing informally with a few teachers. Then we'll send out to a subgroup of teachers (~1,000 teachers), do any refining, and then send out to everyone first week of May.

[2017-04-14 18:18] jessegreenberg commented on #32
Scenery handles nesting nicely, the difference in html is due to the sim structure set up in joist/Sim.js.  We want the html in https://github.com/phetsims/a11y-research/issues/32#issue-221769577, but the Sim.js scene graph looks something like

[code]

So the accessible DOM will look something like
[code]

We could presumably do some work in joist to change this, but before spending time it would

[2017-04-14 18:41] ariel-phet commented on #28
Row 24: not sure about the phrase "non-traditional students"

Row 30: Would someone continue to use us if their teaching was Less effective?

Row 47: Lack of the appropriate device is probably an issue (device that won't run java or needs java update). Also I think you might distinguish between lack of internet and poor internet

Otherwise looks pretty clear

[2017-04-17 20:51] jessegreenberg opened #33 "JAWS bug: Elements in dialog associated with aria-describedby read even if hidden"
Using JAWS, elements which are created dynamically in a dialog are read even if they are marked as hidden. This is a JAWS bug and VFO should be notified.

Example JSFiddle with the bug:
https://jsfiddle.net/8q933y29/6/

[2017-04-17 20:57] jessegreenberg commented on #33
Found in https://github.com/phetsims/john-travoltage/issues/226

[2017-04-17 21:25] jessegreenberg commented on #33
For reference, JAWS reads this element in https://jsfiddle.net/8q933y29/8/:

[code]

[2017-04-18 04:08] emily-phet commented on #28
@kainip Can you please update Row 47 to address @ariel-phet comment above?

[2017-04-18 19:29] terracoda opened #34 "Investigate different structures for collapsible detail panels"
In Build an Atom there are 3 details panels that are collapsible. I'd like to explore what structures provide the best semantics, e.g., definition list, or un-ordered list, or something else.

[2017-04-18 20:00] kainip commented on #28
@emily-phet looks like Row 47 is already updated?

[2017-04-19 17:24] jessegreenberg commented on #23
@terracoda @emily-phet can this issue be closed now?

[2017-04-19 17:26] #23 closed

[2017-04-19 17:27] emily-phet commented on #9
@jessegreenberg Can you update this issue with any information you gained from the CSUN meeting?

[2017-04-19 23:08] jessegreenberg commented on #25
Yes, that looks great to me @terracoda!  Also, i just figured out that the aria ```role=none``` needs to be on the ```li``` items in the menu, or else focus doesn't work correctly in JAWS.

Discovered in the link you posted: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-2/menu-button-2.html, thank you!

But another problem, is that JAWS won't read any of the semanti

[2017-04-19 23:46] jessegreenberg commented on #25
Actually, VO is doing the same now.

[2017-04-20 01:05] terracoda commented on #25
@jessegreenberg, I also noticed `role=none`, sorry I thought I shared that info :-)  I'll have to investigate why the semantics are lost.

[2017-04-20 07:40] terracoda commented on #25
@jessegreenberg, I do hear that it is a menu in VO, just don't hear about buttons and links.

[2017-05-01 17:42] jessegreenberg commented on #33
This is actually the way ```aria-describedby``` is supposed to work, see https://www.paciellogroup.com/blog/2015/05/short-note-on-aria-labelledby-and-aria-describedby/.

This is not a bug, closing.

[2017-05-01 17:42] #33 closed

[2017-05-01 17:43] jessegreenberg opened #35 "[Safari + VO] aria-valuetext is read twice"
See https://github.com/phetsims/john-travoltage/issues/237.  It will also interrupt any alerts that we are trying announce.  A bug report should be submitted to Apple.

[2017-05-05 18:45] jessegreenberg opened #36 "[VO] slider "increment" feature reads the wrong aria-valuetext"
When incrementing a slider with value-text through the "VO + spacebar" keys, sometimes the old aria-value text is read out.  See the following JSFiddle example to reproduce the bug.

https://jsfiddle.net/1j1y3s8p/15/

The following issue has a bunch of documentation on attempting to isolate the cause, but we have determined that this is a VoiceOver bug with the "increment" feature.

[2017-05-05 18:47] jessegreenberg commented on #36
Forgot to link issue: https://github.com/phetsims/john-travoltage/issues/239

[2017-05-05 19:25] jessegreenberg opened #37 "[VO] unicode "Minus Sign" not read when used in aria-valuetext"
Unicode values are read inconsistently when used with aria-valuetext.
JSFiddle that isolates this problem: https://jsfiddle.net/s8m2spxc/3/

This was investigated and found in https://github.com/phetsims/john-travoltage/issues/238

Part of the problem is that different VoiceOver voices read things differently.

Testing with voice "Karen" -

Testing with voice "Alex"

[2017-05-09 23:07] jessegreenberg opened #38 "[JAWS + IE11] Dialog content isn't read in full when focus enters content"
Found in https://github.com/phetsims/john-travoltage/issues/243.  Observed in a simple test case:
https://jsfiddle.net/9nkq8sL6/6/

When focus enters a Dialog in IE11 + JAWS, JAWS will read a certain amount of content and then stop, and read the form element in the Dialog that currently has focus.  Content is still accessible for the virtual cursor.

In https://github.com/phetsims/john-travoltage/

[2017-05-09 23:10] jessegreenberg opened #39 "[IE11 + JAWS] Performance on html input of type range is bad"
Found in https://github.com/phetsims/john-travoltage/issues/242 by @phet-steele. His write up is great, so I am moving the documentation here:

[2017-05-09 23:12] jessegreenberg commented on #39
This is a problem with all HTML sliders (```<input type="range">```) for JAWS + IE11, and we should send a ticket to VFO.

[2017-05-09 23:26] emily-phet commented on #38
@jessegreenberg Please submit a bug report. Do we have a place where we catalog all the bug reports we submit? This might be useful in the future.

[2017-05-09 23:30] jessegreenberg commented on #38
Will do.  I was thinking that these bug reports could be tracked in these issues. Closing the issue would indicate that it is resolved, and we can document responses from screen reader/browser devs.

[2017-05-10 17:01] jessegreenberg commented on #38
That sounds great @emily-phet, tags would be really useful here.  A special place for bug reports could also be really nice.  Can we discuss how to organize this at the next a11y meeting?

[2017-05-10 17:16] emily-phet commented on #38
Sure!

[2017-05-11 22:27] jessegreenberg opened #40 "General teacher tips for accessibility"
With a simulation about to be published, we should think about Teacher tips or other documentation for these features.

https://github.com/phetsims/john-travoltage/issues/251 illustrated why this would be helpful. In that case, there is a particular user setting for Safari that needs to be enabled for keyboard navigation to work.

@emily-phet who should begin looking into this or preparing content

[2017-05-16 16:41] terracoda commented on #14
@emily-phet (FYI) A few days ago, I had to restore from backup. Since I did that restore, alerts are no longer firing when using the JT sim or the BASE sim. It is possible my system as far as VO is concerned has be reset to the system defaults. A good time to do a comparison of what I posted earlier.

[2017-05-22 20:02] jessegreenberg opened #41 "Improvements to the PDOM view"
The PDOM view is a copy of the PDOM which is rendered alongside the simulation (which is in an iframe) so that the accessible content can be seen. This is useful for feature demonstrations and debugging. There are some improvements that could be made to this view.

Improvement suggestions were first put together in https://github.com/phetsims/balloons-and-static-electricity/issues/190.  That issue

[2017-06-09 16:41] jessegreenberg opened #42 "labels for browser/AT bug reports"
From meeting on 6/9/17, this repository will collect bug reports to be sent to browsers/AT.  For organization, labels would be helpful to see issues related to this.

We already have labels:
```dev:a11y```
```dev:sonification```
```design:a11y```
```type:bug```

scenery repository has labels
```scenery:to-submit-browser-bug```
```scenery:browser-bug```

For third party a11y bugs, what about someth

[2017-06-09 16:46] jessegreenberg commented on #38
We decided to use labels for platform bugs, to be discussed in #42.

[2017-06-09 16:48] zepumph commented on #42
It seems like we have a lot of a11y like labels that are scattered in different label types, could this be a good time to solidify a set of a11y specific labels. Perhaps we don't have much else that needs a label.

I may prefer "a11y:platform-bug", but don't feel too strongly.

[2017-06-09 16:56] jessegreenberg commented on #42
Hmm, could you provide an example?  It looks like PhET github labels have been categorized into ```dev:*```, ```meeting:*```, ```design:*```, ```status:*```, and so on.

I like ```a11y:platform-bug```.

[2017-06-09 16:59] jessegreenberg commented on #42
Ah, @zepumph maybe you were suggesting we merge dev:a11y and design:a11y?  I'd be fine with that.

[2017-06-09 19:03] zepumph commented on #42
After thinking about it. I like it the way it is now. To help process this I thought about phet-io labels. There is dev:phet-io, meeting:phet-io, but also a whole phet-io: category for phet-io specific labels. So far no a11y labels have really warranted their own category, but I'm sure there will be more in the future, which is why 'a11y:' is a nice category to add SO MANY LABELS to in the future.

[2017-06-15 16:34] jessegreenberg commented on #42
Ok, thanks @zepumph, that sounds great.  Haven't heard from others yet, but I think we can proceed with ```a11y:platform-bug```.

[2017-06-15 16:42] jessegreenberg commented on #42
I created it and will apply to related issues, closing.

[2017-06-15 16:42] #42 closed

[2017-06-15 18:24] terracoda commented on #42
Oops forgot about this issue. I agree that an ally: would be good to have as a category. And I like `a11y:platform-bug` that combines bugs.

Does this mean labels will be more like this?
a11y:dev
a11y:sonification
a11y:design
a11y:platform-bug

[2017-06-15 18:26] zepumph commented on #42
We decided against this approach. There is a11y:platform-bug, but all the other ones are as they were before.

[2017-06-15 19:16] terracoda commented on #42
@zepumph, thanks for the clarification.

[2017-06-26 15:39] terracoda opened #43 "Build an Atom Parallel DOM HTML Mock-up"
I've committed a draft Parallel DOM for Build an Atom.

Is there a way to host it on github up, so people can see the rendered page and not just the code?

Code is here:
https://github.com/phetsims/a11y-research/blob/master/html-sketches/build-an-atom/baa-pdom.html

**Main features in this BAA PDOM**

- aria listboxes marked up with HTML headings and lists with the `role="listbox"`.
- accordions f

[2017-06-26 15:40] terracoda commented on #43
Tested VoiceOver (Safari 10.03 Mac OS 10.12.3)

The listboxes read well with Voice Over.
The `details` element provides keyboard accessibility out of the box with no javascript, but does not seem to provide any semantics recognized by VoiceOver out of the box.

[2017-06-26 16:52] terracoda commented on #43
The `details/summary` element is made accessible to VoiceOver (and other screen readers) by adding the `role="button"`, managing `aria-expanded="true/false"`, and using `tabindex="0"`

HTML now looks like:
[code]
See [Screen Readers and details summary](http://accessibleculture.org/articles/2012/03/screen-readers-and-details-summary/) for full discussion.

[2017-06-26 17:18] terracoda commented on #43
@zepumph please note that the BAA: PDOM design document is not in-synch with the HTML mock-up as a few ideas have evolved since the design crit discussion and the a11y-interactive meeting.

[2017-06-26 19:39] terracoda commented on #43
@zepumph, I updated the design document to match the marked-up PDOM.

[2017-06-26 23:14] zepumph commented on #43
Hey look what I found! It renders it through github.

http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/build-an-atom/baa-pdom.html

[2017-06-27 00:46] zepumph commented on #43
I like the structure @terracoda! I think that this is going really well. Listbox seems like a good option.

I added a few more js files that I saw in an example, and things are selecting now. I experimented with manipulating the control panel buttons, but didn't want to go too far down a single path without talking with @terracoda. Good stuff.

[2017-06-27 11:35] terracoda commented on #43
@zepumph, thanks! And thanks for [html preview](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/build-an-atom/baa-pdom.html) link. That's awesome.

[2017-06-27 11:57] emily-phet commented on #43
@zepumph, the HTML preview is so helpful! Thanks so much.

[2017-06-29 13:15] terracoda commented on #43
@zepumph, I updated the html a little, played with region role on my atom. With region role, it is identified as a region within a region, without, it seems to be identified as a group. I've left region role on for now.

I have also sketched-out an interaction pattern. I will start a new issue for that.

[2017-06-29 13:59] terracoda opened #44 "Explore Interaction Pattern for Listboxes and Action Toolbar in Build an Atom"
Here's a possible interaction pattern playing with particles in My Atom's regions. The three regions and the particle buckets are marked up as 4 listboxes (see current Parallel Dom for the HTML bing discussed in issue #43).

The  user would use available action buttons for taking actions on selected listbox items (e.g., grab, select positions in regions, move within a region, and delete).

We coul

[2017-06-29 19:22] emily-phet commented on #44
@terracoda
I think just linking to the doc should be fine (since it's lengthy).

I think I understand the interaction (it's a bit difficult for me, since I'm unfamiliar with navigating listboxes without a mouse).
Can you describe what a visual user would experience? I'm unsure now that I think I understand your design better how this approach will span visual and nonvisual use. (It may be obvious

[2017-06-29 19:37] terracoda commented on #44
@emily-phet, I am trying to sketch it out visually in a [google slide](https://docs.google.com/presentation/d/1Qta-iRfy_GrW_6IRuXeKagKvBIzQ5ipUqK8pMPgmT9g/edit#slide=id.g1f882a10cf_0_69), but it's a bit slow. I've got to slide 5 today.

[2017-06-29 19:38] terracoda commented on #44
@emily-phet, I am trying to see how we can map it pretty close to the visual design strategy we have already developed, but maybe with a some slightly updated highlighting and of course the key presses are different.

[2017-07-05 16:07] #5 closed

[2017-07-06 20:17] zepumph commented on #44
I looked through the document today, and although I didn't understand it completely. I like the approach! It is cool to try and solve as much of the interaction and structure as possible natively. I would love to talk more about your vision with the action bar, are you planning on talking about this tomorrow in the IDRC meeting?

[2017-07-07 10:55] terracoda commented on #44
@zepumph, yes, I am trying to visually map out the PDOM and visual sim in the google slides for today's IDRC meeting. You are welcome to comment, but keep in mind that at the moment the slides are still very messy.

I'm not opposed to a custom interaction, but am trying to see how far we can get with a native interaction. Also, keeping in mind the benefits of both approaches.

[2017-07-18 20:49] zepumph commented on #44
Lowering priority and unassigning until BAA is back on my plate.

[2017-07-19 01:30] terracoda commented on #44
@emily-phet, @zepumph I have updated links in the [design document](https://docs.google.com/document/d/1QzdjwByRXAXKAOLpv-3VPUihu_IuTSZ4pmvHFt6mn98/edit) and completed two cognitive walkthroughs in the google slides, [BAA: Listbox Role Cognitive Walkthrough](https://docs.google.com/presentation/d/1Qta-iRfy_GrW_6IRuXeKagKvBIzQ5ipUqK8pMPgmT9g/edit) for when we are ready to return to this sim.

[2017-07-20 17:23] terracoda opened #45 "A11y semantics for home screen and bottom navigation bar"
@emily-phet and @melbanyard met yesterday to discuss the related interaction between the home screen and the bottom navigation bar in multi-screen sims. We need to think about the home screen, multi-screen sims, and the bottom navigation bar together to see how to optimize the interaction for multiple screen sims.

I mocked up two not so clean html pages representing the Home screen and the Atom s

[2017-07-24 17:24] samreid opened #46 "What license should this repo have?"
Discovered in https://github.com/phetsims/tasks/issues/875, this repo should probably have a license.  I'm not too familiar with it, so not sure what's appropriate.

[2017-07-24 17:46] jessegreenberg commented on #46
Good question, I would say MIT?  This repo organizes general accessibility questions and issues.  Code in this repo will either be raw HTML design trials or mockups for the parallel DOM, or tests to understand ARIA behavior and support. This repo is very much "not a sim", so MIT seems best.

[2017-07-24 17:47] jessegreenberg commented on #46
https://github.com/phetsims/a11y-research/issues/46#issuecomment-317500763 This overview is not obvious from the README Ill update it.

[2017-07-24 17:47] samreid commented on #46
Based on your explanation MIT sounds good, thanks!

[2017-07-24 18:02] jessegreenberg commented on #46
Great, thanks @samreid!  Added the MIT license, closing.

[2017-07-24 18:02] #46 closed

[2017-07-24 20:36] terracoda commented on #45
@melbanyard, I made a few commits the final one being:
[f3a2d0d](https://github.com/phetsims/a11y-research/commit/f3d2d0d5040f03e36d941c02b581ee660c7f2efd#diff-efb48c134ed2d774cdcee04797be0b4b)

I tested this version in Voice Over and the regions, headings, labels, button descriptions, and sim screen roles are all recognized correctly. To see and hear the regions and region names, I had to use the

[2017-07-25 12:46] terracoda commented on #6
@emily-phet, @jessegreenberg, @zepumph and others.

FYI, I used `aria-roledescription` attribute in Home Screen and Navbar mockups in issue #45, and it works beautifully in Voice Over. Each sim screen button is read out as "Sim Screen" rather than, "button."

- Atom, Sim Screen
- Symbol, Sim Screen
- Game, Sim Screen

This new aria attribute should be extremely useful for PhETSims if well supporte

[2017-07-25 16:21] jessegreenberg commented on #6
This looks awesome @terracoda, do you think we should test it on Firefox + NVDA and JAWS + Firefox/IE11 to see if it is supported on those platforms?

[2017-07-25 16:25] jessegreenberg commented on #6
@terracoda do you have a link to an HTML version to test the attributes? Or can I pull from github?  If so I have easy access to NVDA and JAWS and can test myself.

[2017-07-25 16:36] terracoda commented on #6
@jessegreenberg, yes we should test. I meant to say that explicitly in my last comment.

Links to current HTML mock-ups are in issue #45 and the code lives in this repo in the html-sketches/sim-screens folder:

- [Home Screen](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/index.html)
- [Atom Screen](http://htmlpreview.github.io/?https

[2017-07-25 16:38] jessegreenberg commented on #6
Great, thanks! Ill take em for a test drive.

[2017-07-25 16:43] terracoda commented on #6
@jessegreenberg, keep in mind the description content and the structure in the mock-ups is not final, so make note of awkward description-structure screen reader utterances. I was surprised how nice it sounded in Voice Over.

[2017-07-25 16:53] jessegreenberg commented on #6
Aye - ARIA 1.1 be uncharted waters. I just want to test that roledescription comes through for NVDA and JAWS.

But if so, roledescription would be incredibly useful for many sims.

[2017-07-25 16:54] jessegreenberg commented on #6
@terracoda do you know if/how roledescription might change keyboard interactions?  For instance, could we have roledescription="Balloon" so we no longer need role="application"?

[2017-07-25 17:04] terracoda commented on #6
@jessegreenberg, I think it is ok that it is ARIA 1.1. Voice Over with Safari already supports aria-roledescription correctly. I am assuming that if the AT/Browser does not support it, then AT with just announce the normal regular role, e.g. "button" in this case.

I have been thinking about the balloon case. aria-roledescription replaces the utterance of the normally read out role. The element mu

[2017-07-25 17:49] terracoda commented on #6
@jessegreenberg, and `aria-roledescription` does not change  keyboard interactions. It describes more specifically what the role's actual representation is.

A region could be a "slide" in a presentation for example.

[2017-07-25 21:35] jessegreenberg opened #47 "VO interrupts itself when many alerts are triggered in a row"
If we provide VO with a number of alerts (say every 500 ms) then VO will interrupt itself when the next alert is added to the ARIA live element. Seems to be the case for all priority levels for ARIA alerts.

[2017-07-25 21:37] jessegreenberg commented on #47
Potential fixes are to have a number of alert elements in the DOM?  Not sure if that would fix it, need to test.  Or maybe have the queue guess how long the utterance will be (yuck).

[2017-07-25 22:04] jessegreenberg commented on #47
Actually @terracoda is this something you would expect? Do you know of any ways to get around this?  The result of this is that we hear something like

- "Yellow Balloon rel..." ```<alert cut short>```
- "Moves very slowly to..." ```<alert cut short>```
- "Sticking to sweater."

[2017-07-26 00:06] jessegreenberg commented on #47
I tried to predict how long an utterance might take for the screen reader to say, but bailing, it is too unpredictable and seems too fragile. Im gonna try multiple live elements.

[2017-07-26 00:08] jessegreenberg commented on #47
Here is a JSFiddle where we can test some things.

https://jsfiddle.net/jd4vmqf2/

[2017-07-26 00:10] jessegreenberg commented on #47
Here is a better way to see this:
https://jsfiddle.net/jd4vmqf2/show/

When running with VO I hear "Testing multiple alerts...Testing multiple alerts..." when I want to hear "Testing multiple alerts with a very long string will VO complete this question?"

So the multiple element theory isn't working.

[2017-07-26 00:15] terracoda commented on #47
@jessegreenberg, are NVDA and JAWS also interrupting themselves? Or is this Voice Over specific?

[2017-07-26 00:56] terracoda commented on #47
@jessegreenberg regarding https://github.com/phetsims/a11y-research/issues/47#issuecomment-317886646 all I know is what you know...the ARIA politeness scale does not work very well, but I do not know why it is not queuing the events if they all have the same politeness level.

[2017-07-26 14:01] terracoda commented on #47
@jessegreenberg, I found a newer 2017 article, [Accessibility in Web Applications with ARIA Live Regions](http://csskarma.com/blog/using-aria-live-regions/) that describes a few more aria attributes, atomic, live, busy, and relevant. I do not know if any of these would be helpful for our implementation. Posted examples are always so much simpler than our use cases with the sims.

[2017-07-26 14:25] terracoda commented on #14
@veillette, thanks for the edit ;-)

[2017-07-26 15:03] terracoda commented on #6
@jessegreenberg, shall we try the following change to _Balloons and Static Electricity_?

- Relabel the grab buttons to "Grab" only.
- Provide `aria-roledescription="Yellow Balloon"` for the Yellow balloon's grab button, and
- `aria-roledescription="Green Balloon"` for the Green balloon's grab button.

My guess (for Voice Over) is it would read the button out like this:
- "Grab, Yellow balloon," a

[2017-07-26 16:03] jessegreenberg commented on #47
Thanks @terracoda, I had never heard of aria-busy. That seems useful if it takes a long time for something to load.  In https://github.com/phetsims/chipper/issues/472 we discovered that atomic and relevant attributes were essentially unsupported.  That testing was done in August 2016, perhaps things have improved over the year.

[2017-07-26 16:05] jessegreenberg commented on #6
Sounds interesting to me @terracoda! Then we don't have to hear "application" frequently.  Yes an issue in BASE sounds great.

[2017-07-26 16:30] melbanyard commented on #45
Hi @terracoda (& @emily-phet)

Here are a couple passes I took for the sim descriptions. I'd love to hear your feedback so i can see what needs to be tweaked in order for us to move in the right direction.

Atom:
v1) The Atom Simulation allows for experimentation with protons, neutrons, electrons.
v2) Play with protons, neutrons, and elections in the atom Sim.
v3) Experiment with charge and mass i

[2017-07-26 16:34] jessegreenberg commented on #47
I just tested https://jsfiddle.net/jd4vmqf2/show/ with NVDA and Firefox, NVDA doesn't interrupt at all, I hear the full alert.

[2017-07-26 16:34] jessegreenberg commented on #47
NVDA also works great when the alert comes through a single element.

[2017-07-26 16:37] terracoda commented on #6
@jessegreenberg, actually, in my example in https://github.com/phetsims/a11y-research/issues/6#issuecomment-318081399, the `aria-roledescription` is replacing the `button` role on the grab button. It might make better sense to use `aria-roledescription` once the balloon is grabbed, or perhaps in both cases, although the specification says to use it sparingly :-P

Here's the VO text that is provide

[2017-07-26 16:40] jessegreenberg commented on #6
@terracoda yes, wouldn't it be used on the ```div``` with ```role=application```?  Why would we want to change "Grab Yellow Balloon, button"?

[2017-07-26 16:44] jessegreenberg commented on #47
There is no interruption with JAWS in Firefox and IE11, it sounds great.  So this is just an issue for VO.

[2017-07-26 16:55] jessegreenberg commented on #6
In http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/sim-screens/index.html, NVDA is ignoring aria-roledescription on the buttons, all I hear is "Atom, button" and so on.

[2017-07-26 16:55] terracoda commented on #6
@jessegreenberg, since I was just playing with sim screen buttons, I was thinking about buttons, but I totally agree that the role application is a more desirable thing to replace.

[2017-07-26 16:57] terracoda commented on #6
Thanks for testing in NVDA (https://github.com/phetsims/a11y-research/issues/6#issuecomment-318115617). This helps focus the issue for BASE. We don't want to remove any clear label text, in case AT does not support the attribute.

[2017-07-26 16:58] jessegreenberg commented on #6
aria-roledescription works great with JAWS + IE11, but does not work with JAWS + Firefox.

[2017-07-26 17:03] terracoda commented on #47
@jessegreenberg, interesting, maybe it warrants a bug report?

[2017-07-26 17:04] jessegreenberg commented on #47
@terracoda that is what I was wondering too.  A workaround for VO could be really tricky and unpredictable, and I don't know if it is worth spending a lot of time on.  Lets submit a bug report and also discuss at the next a11y meeting.

[2017-07-26 17:57] terracoda commented on #45
@melbanyard, nice. Play, build, experiment, explore, and test are all good verbs. Verbs are important as they engage the user!

One thing to keep in mind is the other stuff that the screen reader says. You can't be exactly sure as it varies, but the screen reader will read out the label text and the the type of control/element it is. In this case, a native "button" with a possible role description

[2017-07-28 16:35] zepumph commented on #40
From phetsims/ohms-law#61, we should start to track content that we want to include in a general (not sim specific) keyboard navigation help document.

One thing to include there is that for sliders, we will use terms like "page up" and "home"/"end." On a mac though, these keys do not exist, but rather the fn key should be used with the arrow keys. Here is an article that describes that:
http://os

[2017-07-28 19:25] emily-phet commented on #45
Chiming in @terracoda latest iteration of @melbanyard descriptions:

1)  Atom, button/sim screen:
- Explore what makes up an atom
(notes:
- I think we want to be careful about use of the word "play" for sims that definitely span into college level (don't want to turn off teachers or students by sounding potentially to childish). I think play is great to use in the sim descriptions, but perhaps ver

[2017-07-31 14:42] terracoda commented on #45
@emily-phet, I like "investigate", and totally agree with not over using "play". I wanted to use "explore" for the first one, but was trying to avoid 2 "explores" in a row in the screen list. I also like the repetition of "atom" in the second option as they are still exploring the atom, though the focus has switched to the "atomic symbol".

To summarize:

**Intro para:**
"Come explore with _Build

[2017-07-31 15:02] terracoda commented on #45
Commit 75117ea  adds the new content and changes the un-ordered sim screen list to an ordered list.

[2017-07-31 16:04] jessegreenberg commented on #45
@terracoda I am wondering if we use "Sim Screen" as the aria-roledescription here, will users know to activate it like a button?

[2017-07-31 16:12] terracoda commented on #45
@jessegreenberg, great question, and I am confident the answer is "Yes"! However, we do need to fully test how things are handled by different AT.

I'm not sure what NVDA and JAWS do, but VoiceOver provides the same help text instructions as it would for a button, but replaces the word, "button" with "Sim Screen". The element still has the role, `button`, it is just described as a "Sim Screen".

I

[2017-07-31 16:23] jessegreenberg commented on #45
Sounds good, thanks!

[2017-07-31 16:28] jessegreenberg commented on #47
Modifying the example to go through one aria-live element reintroduces the issue
https://jsfiddle.net/jd4vmqf2/14/

So it doesn't seem like a problem with setTimeout.

[2017-07-31 16:31] jessegreenberg commented on #47
Was wondering if the single character change in the id wasn't enough to cause a full re-read of the entire alert:
https://jsfiddle.net/jd4vmqf2/17/

It is still interrupting itself.

By the way, Has anyone really been far even as decided to use even go want to do look more like?

[2017-07-31 16:45] jessegreenberg commented on #47
Ill send a bug report to Apple.

[2017-07-31 17:26] terracoda commented on #47
@jessegreenberg, I don't understand the last sentence in comment https://github.com/phetsims/a11y-research/issues/47#issuecomment-319124672.

[2017-07-31 18:01] jessegreenberg commented on #47
Sorry @terracoda, was meant to be a joke, it was a randomly shuffled sentence used to test alerts in my JSFiddle.

Submitted bug to Apple on 7/31/17.

[2017-07-31 18:02] terracoda commented on #47
Laughing now. Delayed reaction :-)

[2017-07-31 18:55] jessegreenberg commented on #37
Verified this is still a problem and submitted a but report to Apple.

[2017-07-31 19:07] jessegreenberg commented on #35
Here is a JSFiddle: https://jsfiddle.net/1j1y3s8p/17/

[2017-07-31 19:14] jessegreenberg commented on #35
Verified this is still a problem, submitted a bug report to Apple.

[2017-07-31 19:15] jessegreenberg commented on #36
I am unable to get this bug to happen in the JSFiddle, though I am still able to observe in the latest deployed version of john-travoltage.

[2017-07-31 20:35] jessegreenberg commented on #36
This one has been more elusive, I spent some trying trying to reproduce and cannot get it to happen in any JSFiddle.  Looking more likely that this is a bug in the sim.

[2017-07-31 20:38] jessegreenberg commented on #36
Or maybe performance is VO is "pulling" the value for aria-valuetext after an input or change.

[2017-08-02 03:01] melbanyard commented on #45
Sorry - fell off due to work obligations over the past few days. I'd like to have some revised descriptions for this Friday's meeting, so we can discuss them live. Will take all this feedback into account. Thanks @terracoda @emily-phet  @jessegreenberg  :)

[2017-08-02 13:59] terracoda commented on #45
No worries @melbanyard. Have a look at Emily's suggestions, I've implemented them in the HTML mock-ups to make it easy to review.

[2017-08-02 14:24] melbanyard commented on #45
Will do @terracoda ! Thanks :)

[2017-08-04 14:46] terracoda opened #48 "Discuss HTML structures for Ohm's Law PDOM"
A very basic PDOM for Ohm's Law is available here: [ohms-law-pdom.html](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law/ohms-law-pdom.html)

Adding succinct version:
[ohms-law-pdom-succinct.html](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law/ohms-law-pdom-succinct.html)

This exa

[2017-08-04 16:01] jessegreenberg opened #49 "Link to keyboard shortcuts in scene summary"
In the scene summary for a few sims I have seen a bullet that looks like

[code]

The keyboard help dialog is typically opened with a button that just toggles its visibility.  Is this shortcut necessary?  If so can it be a button?  If a link, is it OK if there is no destination?

[2017-08-04 16:30] jessegreenberg commented on #48
@terracoda do you want to designate a "Play Area" in this sim that wraps the equation, circuit and the sliders?

I can't remember if we wanted that for all sims, or if it isn't always necessary.

[2017-08-04 17:39] zepumph commented on #48
There can be partial batteries, so we will probably want to change that language accordingly. If there were 3.2 batteries because there were 4.8 volts, then it could say:

* With more than [[3]] batteries totaling [[4.8]] volts
* With between [[3] and [[4]] batteries totaling [[4.8]] volts
* With [[3.2]] batteries totaling [[4.5]] volts  NOTE: (probably would be a bit ugly, but we could round thes

[2017-08-04 17:44] zepumph commented on #48
This also brings up another, larger, topic for discussion. In the sim, there is a `MAX_NUMBER_OF_BATTERIES` constant that controls the number of batteries that can be on the wire. In general, developers of a sim we try to make sure that constants like these aren't completely tied in to the implementation of the sim, and changing it is possible (with the need for minor changes probable) without the

[2017-08-04 18:20] jessegreenberg commented on #48
That is a great question @zepumph, I have wondered similar things.  I have been thinking of accessibility like a second view observing the model, and we should be careful to make sure that descriptions are robust enough to handle these changes.  In the case of ohms-law, changing the value of ```MAX_NUMBER_OF_BATTERIES``` would change the scaling of V, I, and R.  Just like we would need to tweak th

[2017-08-04 18:24] terracoda commented on #49
@jessegreenberg, I have some notes on this.

The idea for the link to a button rather than a direct button was to make it a little less desirable on initial startup. We don't want it to get in the way. However, for people who really need it, they are told right away where it is.

My earlier research convinced me that it was legal to link to a button on  page, though it is not super common.

@jesse

[2017-08-04 18:30] zepumph commented on #48
I think you are correct. That sounds like a good plan for this sim. I brought it up to make sure that we continue to minimize the distance between design and implementation. It could be a good strategy for a designer to look through the contants file of a simulation as a list of potential tools that they have to work with. In case you want to @terracoda, the constants of a simulation (if one exist

[2017-08-04 18:31] jessegreenberg commented on #49
I see, thanks.

Interesting, I didn't realize that.  I am not too sure yet how that would work.

I meant that I don't know what the href would be, I don't know what the link would point to.

[2017-08-04 18:33] jessegreenberg commented on #49
Is the link going to open the dialog or send focus to the button in the navigation bar?

[2017-08-04 18:34] terracoda commented on #48
@zepumph, I like your wording suggestions for the partial numbers of batteries. I had left that off intentionally because I wasn't sure how best to word it. Like you, I thought 3.5 batters was a bit messy. Will iterate on yours and Emily's wording which is already in the design document.

Thanks!

[2017-08-04 18:37] terracoda commented on #48
@zepumph thanks, yes, the model mappings and the constants are useful to know about!

[2017-08-04 18:47] terracoda commented on #49
@jessegreenberg, the idea was to link to the button, not open the dialog. If we take this approach,
the href for the anchor would be the id of the button.

[2017-08-04 18:59] jessegreenberg commented on #49
I see thanks! It looks like if we prefix the id with a '#', it should work.

[2017-08-04 19:07] jessegreenberg commented on #49
Hmm, but that updates the url, is that reloading the page?

[2017-08-04 19:11] terracoda commented on #49
@jessegreenberg, good catch.
Yes, internal page links are added to the url. I don't know about page refreshing, but that url would take focus to the button and not the top of the sim if someone were to copy and paste the link into another browser tab.

[2017-08-04 19:14] jessegreenberg commented on #49
Scenery might not support this out of the box.  Since scenery doesn't use DOM id's anymore we will need to add a way to get the id for the href.  We will also need to make sure that we can add this in a secure way.  Including a link in a translatable description might introduce cross site scripting vulnerabilities.

[2017-08-04 19:16] jessegreenberg commented on #49
Some google searching says it will not reload the page.

I am not sure if that is a problem, what do you think @terracoda?

[2017-08-04 19:20] terracoda commented on #49
@jessegreenberg, as long as the url works, I don't think it is a problem.

[2017-08-04 19:30] mbarlow12 commented on #49
Not sure if this is supported, but if we're trying to simply move focus to the dialog button, we could also utilize data attributes. That might offer a cleaner/more secure way to interact with Scenery.

[2017-08-04 21:09] jessegreenberg commented on #49
@mbarlow12 and I discussed potentially adding data attributes as a way to manage focus.  We also talked about using a click listener instead of ```href``` as a way to send focus to the button, and this would likely integrate with Scenery more directly, and also wouldn't modify the URL at all.

[2017-08-04 21:10] jessegreenberg commented on #49
@terracoda are you OK with the link not being in the focus order?

[2017-08-04 21:36] jessegreenberg opened #50 "VoiceOver reading things out of order"
@terracoda I am noticing that in BASE, VO is reading the play area, then the scene summary, then the control panel, but the DOM looks like
![screen shot 2017-08-04 at 3 34 35 pm](https://user-images.githubusercontent.com/6396244/28987884-89de2180-792a-11e7-87d4-34fb48a070bf.png)

Do you know if this is a VoiceOver setting that is reading things in the region out of order?  Or is something else goi

[2017-08-04 21:41] jessegreenberg commented on #50
And its reading everything in the scene summary out of order D:

[2017-08-04 21:42] jessegreenberg commented on #50
<img width="443" alt="screen shot 2017-08-04 at 3 42 27 pm" src="https://user-images.githubusercontent.com/6396244/28988104-8ba91bd6-792b-11e7-9408-4dfba35bcbfb.png">

That looks suspicious...and I noticed it read the link first.

[2017-08-04 21:48] jessegreenberg commented on #50
When I switch to safari, everything is in order again.  Wow, that is a really big inconsistency, Chrome and VoiceOver!

[2017-08-04 21:48] #50 closed

[2017-08-04 22:21] jessegreenberg commented on #49
Click event works great, thanks @mbarlow12.

So now we need to solve two more issues:

- The string with the link needs to be translatable, and the formatting needs to work for RTL languages.
- We need access to the keyboard help button from anywhere in the sim, particularly where we create the scene summary content.

[2017-08-05 00:13] jessegreenberg commented on #49
Since there is only one KeyboardHelpButton in a sim, we can use a singleton pattern and get the instance statically from anywhere.

It seems that PhET does not support embedding links in text, this doesn't work for internationalization.  Here is what I have been thinking:
- Cannot use joist.LinkText - Would require chunks of Text and LinkText, not suitable for i18n.
- Cannot use joist.RichText - T

[2017-08-07 15:13] terracoda commented on #49
@jessegreenberg,

- Re https://github.com/phetsims/a11y-research/issues/49#issuecomment-320354053 on not including the link in the Tab Order. Yes, in fact, it is preferable that it not be in the Tab Order.
- Re https://github.com/phetsims/a11y-research/issues/49#issuecomment-320334449 on data-attributes, I think this is an interesting approach. I don't know exactly what data-attributes are, howeve

[2017-08-07 16:26] jessegreenberg commented on #49
All sounds good @terracoda, thanks.  Reassigning to me to implement.

[2017-08-07 22:11] jessegreenberg commented on #35
This is not a but in the aria-valuetext used in HSlider (Yay!)  But I am still seeing this in the above JSFiddle. I am not sure what the difference is.

[2017-08-08 16:58] jessegreenberg commented on #35
Perhaps it is because the aria-valuetext is set in the keydown event rather than the change event.  NVDA doesn't seem to read aria-valuetext when it is changed on the keydown event.

[2017-08-08 17:02] jessegreenberg opened #51 "NVDA doesn't read aria-valuetext from keydown event"
NVDA doesn't read aria-valuetext when it is set from a keydown event listener.  It assumes that the value is changing from the change or input events.  This is problematic because our custom implementation of the slider changes the input value on the keydown and prevents default so that change and input are never fired. I wonder if this is a problem for JAWS.

[2017-08-08 17:08] jessegreenberg commented on #51
JAWS reads the aria-valuetext correctly in Firefox.

[2017-08-08 17:15] jessegreenberg commented on #51
I tried setting the aria-valuetext in both keydown and change while preventing default in the change event.  It stopped working altogether because without event.preventDefault in the keydown listener, the AT sets the value again in the change listener.

[2017-08-08 17:15] jessegreenberg commented on #51
We should send a bug report to NVDA.

[2017-08-08 17:17] jessegreenberg commented on #51
In the meantime one possible workaround would be to read the updated value in an alert. This would only work if we can silence all other alerts from the screen reader, which means that we cannot use
aria-valuetext and we probably do not want to update the input value. We will also need to make sure that the value text is read when the slider gets focus.

@terracoda do you feel OK trying out this w

[2017-08-08 17:38] jessegreenberg commented on #51
It isn't working very well, I am having a hard time making the screen reader not say anything when the value changes, event with aria-valuetext=" "

[2017-08-08 17:40] jessegreenberg commented on #51
What if we stop using input type="range" PhET sliders? We are preventing default for all typical input events anyway.

[2017-08-08 17:46] jessegreenberg commented on #51
If we replace ```<input type="range">``` with ```<div role="slider">``` everything is sounding great in both VoiceOver and NVDA.

[2017-08-08 17:55] jessegreenberg commented on #51
And its sounding good in JAWS too.  I feel much better about this than https://github.com/phetsims/a11y-research/issues/51#issuecomment-321022893, no hacky silencing or workarounds, just replacing input type with an aria role.

@terracoda can you please review this change and let me know if you think all is well?  In particular, the conclusion is that <input type="range"> cannot be used for PhET s

[2017-08-08 17:59] jessegreenberg commented on #51
spot checking before commiting and the arrow keys are no longer working in NVDA 😠

[2017-08-08 18:02] terracoda commented on #51
@jessegreenberg, I am reading through the issue. I am assuming this is related to sliders for Ohm's Law.

It might be helpful to see how sliders in JT were implemented (with or without aria-valuetext). I have a very vague memory that those sliders had trouble with aria-valuetext. Again, this is a vague memory.

[2017-08-08 18:04] jessegreenberg commented on #51
It looks like role=slider only works in NVDA when in forms mode.

[2017-08-08 18:05] jessegreenberg commented on #51
@terracoda john-travoltage used ```<input type=range>``` with aria-valuetext.  However, the value text was set in the change and input events, not in the keydown event which is why it is broken in NVDA.

That time, the issue was that VoiceOver read the aria-valuetext twice.

[2017-08-08 18:09] jessegreenberg commented on #51
@terracoda correct, this is for ohms-law and resistance-and-a-wire, but it will apply to all sliders used in PhET sims.

[2017-08-08 18:10] terracoda commented on #51
@jessegreenberg re "forms mode" https://github.com/phetsims/a11y-research/issues/51#issuecomment-321035353, are you saying that `<div role="slider">` is not recognized as an interactive element?

[2017-08-08 18:11] jessegreenberg commented on #51
Correct @terracoda, NVDA does not recognize role=slider by default.  It requires tabIndex="0" to receive focus and isn't even read as a slider unless the user is in forms mode :(

[2017-08-08 18:13] jessegreenberg commented on #51
This is a consequence of using "special" sliders that support non standard ranges and steps.

[2017-08-08 18:15] jessegreenberg commented on #51
So how about ```<div role="application" aria-roldescription="Slider">```? And then we go through our alert system to announce the new value?

[2017-08-08 18:16] terracoda commented on #51
@jessegreenberg, did you try `<input type="range" role="slider">`?

[2017-08-08 18:16] jessegreenberg commented on #51
I did not, will try that first.

[2017-08-08 18:17] jessegreenberg commented on #51
@terracoda that is working beautifully in NVDA + Firefox :)

[2017-08-08 18:19] terracoda commented on #51
@jessegreenberg, I was also going to suggest something similar to your using `role="application"` in https://github.com/phetsims/a11y-research/issues/51#issuecomment-321038262.

[2017-08-08 18:20] terracoda commented on #51
https://github.com/phetsims/a11y-research/issues/51#issuecomment-321039037 hip, hip, horray!

[2017-08-08 18:23] terracoda commented on #51
@jessegreenberg, there are so many attributes between ARIA and HTML5, it is very difficult to know when, where, and how to combine them for the best results.

[2017-08-08 18:24] jessegreenberg commented on #51
And its working great in VoiceOver and JAWS too! Thanks so much for the help @terracoda!

[2017-08-08 18:25] terracoda commented on #51
Thank you @jessegreenberg! I learn so much by working with you!

[2017-08-08 18:30] jessegreenberg commented on #51
Indeed.  Do you happen to know if this combination is recommended by the ARIA spec?  If not, the fact that one needs both ```type="range"``` and ```role="slider"``` for ```aria-valuetext``` to work properly makes me think this is still an NVDA bug.

[2017-08-08 18:42] terracoda commented on #51
@jessegreenberg, no I don't know. It was just intuitive guess. Since _range_ is not a _role_, I thought adding an explicit _role_ could be a good thing. I am not sure what the default role is for  `<input type="range">`.

[2017-08-08 18:52] terracoda commented on #51
Hmm, according to the list of roles in [ARIA 1.1 ](https://www.w3.org/TR/wai-aria-1.1/#role_definitions), the `input` and `range` roles are both _abstract roles_, so adding a more specific UI role such as `slider` on these types of elements is a good thing.
Hmm, according to the list of roles in [ARIA 1.1 ](https://www.w3.org/TR/wai-aria-1.1/#role_definitions), the `input` and `range` roles are bo

[2017-08-09 12:49] terracoda commented on #51
@jessegreenberg, I'm not sure it is an actual NVDA bug, but we could still send a question to NVDA. It would be interesting to understand how NVDA's implementation differs from VO and JAWS. For example, are VO and JAWS assuming`role=slider` by default on `<input type="range">`?

[2017-08-09 12:55] melbanyard commented on #45
[PhET_KeyboardNav_BuildanAtom_v3.pdf](https://github.com/phetsims/a11y-research/files/1211435/PhET_KeyboardNav_BuildanAtom_v3.pdf)

[2017-08-09 15:48] jessegreenberg commented on #51
Thanks for the spec list @terracoda that is interesting.  In my mind, ```input``` and ```range``` roles are abstract, but that doesn't mean that ```<input type="range">``` should ever be abstract. It should be up to AT to assign the correct role to elements through the accessibility API.

I think we have found two shortcomings of NVDA in this issue
1) NVDA does not support role=slider on anything

[2017-08-09 15:51] terracoda commented on #51
@jessegreenberg, when you put it like that, it does indeed seem like bugs in NVDA's implementation. Thanks for the clarification.

[2017-08-09 18:47] jessegreenberg commented on #49
It sounds like RichText will now support adding arbitrary callbacks to the links, which means that we should be able to support the original scene summary item with an embedded link in a way that is safe and i18n friendly!
[code]
(thats might not be the exact working)

[2017-08-09 22:55] terracoda commented on #49
@jessegreenberg, I had

However,

is shorter.

[2017-08-10 00:52] terracoda commented on #48
@jessegreenberg and @zepumph, I updated the PDOM based on feedback from August 8th's meeting. I added a little more list structure, as it seemed to fit well with the newer descriptions.

In this version, the Play Area's accessible name is in an `h2` heading. It could be moved into an `aria-label` (similar to the approach in Build an Atom) if people think it makes sense. I think the objects in the

[2017-08-10 00:58] zepumph commented on #48
I always thought of the sliders as part of the control panel also, but I guess for a sim this simple, its smart to include them in the play area. I think I like it as is best, just potentially worth a bit of discussion.

[2017-08-10 01:00] terracoda commented on #48
@jessegreenberg, re https://github.com/phetsims/a11y-research/issues/48#issuecomment-320293701, in earlier versions, the Play Area's label was in an `aria-label`.

In some sims with many objects, like Build an Atom, I think it makes sense to reserve as much heading hierarchy as possible for play area objects, themselves.

Either way, there is a clearly labeled Play Area that wraps the sim's most r

[2017-08-10 01:05] zepumph commented on #48
Sounds good. Thanks for all the great work here, it looks very nice.

[2017-08-10 01:06] terracoda commented on #48
@zepumph, there seems to be wiggle room on where objects fall. It's something can be discussed. It is not always perfectly clear, but thus far, the strategy has been to put the most pedagogically focused control objects in the Play Area.

The Wall's button in BASE might be an exception to the strategy.

[2017-08-10 21:27] jessegreenberg opened #52 "Test JAWS with Firefox"
Based on http://www.freedomscientific.com/Products/Blindness/JAWS, it seems like VFO is transitioning from IE11 to Firefox.

We are considering transitioning support from IE11 to Firefox as well because IE11 does not support web audio.  If we can use Firefox, we can more easily assume that Sonification will be available and layer with description content.

We will ask our friends at the IDRC about

[2017-08-11 16:48] jessegreenberg commented on #52
IDRC wasn't available on 8/11/17 meeting, we will ask them next time.

[2017-08-14 00:25] zepumph commented on #43
Unassigning until we work on BAA again.

[2017-08-16 04:25] terracoda commented on #48
@jessegreenberg, @zepumph, and @emily-phet
I've updated the PDOM with the latest descriptions and created a succinct version as well.

- [Full PDOM](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law/ohms-law-pdom.html)
- [Succinct PDOM](http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/html-sketches/ohms-law

[2017-08-16 13:57] melbanyard commented on #45
[PhET_KeyboardNav_BuildanAtom_v4.pdf](https://github.com/phetsims/a11y-research/files/1228408/PhET_KeyboardNav_BuildanAtom_v4.pdf)

@terracoda  @emily-phet  Did a quick pass this morning on the home screen mockups to thicken and adjust the highlight interaction.

[2017-08-17 01:21] terracoda commented on #45
@melbanyard, the items look nice with the tighter focus highlight.
The homepage content itself is not actually focusable with the keyboard, so I don't think you need a focus highlight on the first slide in your mockup. I think the first focus highlight will be on the first item (i.e., first screen). I think the item gets focus by default as it is the first focusable item on the page.

[2017-08-18 15:31] jessegreenberg commented on #52
Discussed at a11y meeting: IDRC supports the transition. Ill test out JAWS with Firefox on a few of our accessible sims.

[2017-08-19 00:29] jessegreenberg commented on #48
Here is latest ohms law with the descriptions implemented:
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.8/ohms-law_en.html

I sent an email to @terracoda and @emily-phet requesting review of this version.

[2017-08-23 20:04] jessegreenberg commented on #52
john-travoltage with the JAWS + Firefox combination sounds *excellent*.  Honestly, one of the cleanest reads of HTML content I have heard in a while.  VFO has clearly been working on this! The only thing I noticed was that the phet menu items are read as "one of one".  It must not like our list markup.

Checking BASE next.

[2017-08-23 20:08] jessegreenberg commented on #52
Everything in BASE sounds good, but JAWS in Firefox doesn't seem to support the aria-application role. When focus lands on the balloon, arrow and letter keys do nothing.

[2017-08-23 20:12] jessegreenberg commented on #52
That could potentially prevent us from moving to FF.  I am going to see if it application is recognized in other contexts.

[2017-08-23 20:15] jessegreenberg commented on #52
Here is a fiddle:
https://jsfiddle.net/3j6wuepf/

[2017-08-23 20:18] jessegreenberg commented on #52
In Firefox with JAWS, I can hear JAWS switching to forms mode and I see that keys are going through the browser. So it must be an implementation issue in BASE.  However, I can see that #9 is still a problem for Firefox.

[2017-08-23 21:11] jessegreenberg opened #53 "JAWS throttles keydown events"
Even for letter keys, not sure what is going on.  Here is a jsfiddle to test.

https://jsfiddle.net/xj0gu8sL/

[2017-08-23 21:13] jessegreenberg commented on #53
Actually, the stream of events looks good in that fiddle with JAWS.

[2017-08-23 21:17] jessegreenberg commented on #53
It mangles the events from the arrow keys, but events from the letter keys are looking good.
https://jsfiddle.net/xj0gu8sL/1

So this is seeming like a performance problem in BASE

[2017-08-23 21:30] jessegreenberg commented on #53
If I comment out setting of accessibel descriptions things are still a bit slow in FF but it is fast enough to pick up charges in BASE.  So this is a performance issue. Closing.

[2017-08-23 21:30] #53 closed

[2017-08-24 21:23] jessegreenberg opened #54 "JAWS doesn't switch to forms mode for radio buttons in Firefox"
Found in #52. We should submit a bug report.

[2017-08-25 15:30] jessegreenberg commented on #54
The IDRC recommended that we check our markup as sometimes AT require specific configurations. They recommended to take a look at these links:
https://www.w3.org/WAI/tutorials/forms/
https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form

[2017-08-28 21:45] jessegreenberg commented on #54
I tested the live version from MDN with JAWS and Firefox and it isn't switching to forms mode for that markup either.  We should submit a bug report.

[2017-08-28 21:52] jessegreenberg commented on #54
Submitted a bug report 8/28/2017.

[2017-08-28 21:53] jessegreenberg commented on #54
Removing assignment until we hear back from VFO.

[2017-08-29 15:53] jessegreenberg commented on #54
VFO Responded this morning with

I just checked IE11 and this is how JAWS is behaving there too. I could have sworn radios were navigated with arrow keys before.

[ARIA practices](https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html) say

Key | Function
-- | --
Tab | Moves keyboard focus to radiogroup.
Arrow | Moves up and down radio options.

I guess that is tec

[2017-08-29 15:53] #54 closed

[2017-08-30 01:09] zepumph opened #55 "Should ResetAllButton instances be labeled in the PDOM?"
From https://github.com/phetsims/molarity/issues/37,

I noticed that none of our accessibility outfitted sims have a name/label for the reset all button, see the a11y view below for BASE (witnessed in OL as well). Is this desired, or should the reset  all button have more work done to it.

![image](https://user-images.githubusercontent.com/6856943/29850776-76e975fa-8cdc-11e7-8cf4-a3052d4da156.png)

[2017-08-30 17:19] terracoda opened #56 "Heading and content ideas to support a general use of the A11y View"
In issue https://github.com/phetsims/ohms-law/issues/74, I got some ideas for the presentation of the A11y View. I am just jotting them down in this issue, so I don't lose them. Other visual changes are also needed. Changes were originally discussed in issue or a design document that I need to find and hook into this issue, as well.

Using [Ohm's Law version 9](http://www.colorado.edu/physics/phet

[2017-08-30 17:21] terracoda commented on #56
@emily-phet, @jessegreenberg when there is time we can work on this. Putting it on-hold for now.

[2017-08-30 17:28] zepumph commented on #56
I like the proposed changes. I have some time in accessibility either today or tomorrow. I may take a stab at some of this if that's alright with all.

[2017-08-30 17:34] jessegreenberg commented on #56
Thanks @terracoda, good ideas.  I am all for these changes, would be a big improvement.

My only recommendation would be to not use a separate CSS file in this case, as it is easier to create a single file with the grunt task, and a single file is easier to deploy to spot.

Thanks @zepumph!

[2017-08-30 17:37] zepumph commented on #56
Agreed it is nice to have the 1 file as the chipper template.

[2017-08-30 17:37] jessegreenberg commented on #55
The ResetAllButton is labelled, but the label is added as an inline attribute with ARIA.  The HTML looks like this:

[code]

So no label is rendered in the DOM copy.  I don't believe there is any reason to have the HTML look like this.  @zepumph would you please change the HTML to look like this?

[code]

[2017-08-30 17:41] terracoda commented on #56
@jessegreenberg, we could use in-line or in-page CSS using a `style`attribute on each element, or by embedding the CSS in the `head`. Generally, I avoid doing that in web design work because one loses control of the global design of the site. But maybe it makes sense to use a more local approach here.

[2017-08-30 17:45] zepumph commented on #56
I think this would be preferred to me.

[2017-08-30 17:56] zepumph commented on #55
Could you be a little bit more specific here @jessegreenberg. Am I updating options for the Accessibility mixin in ResetAllButton.js, or something more direct to the a11y view, because I thought that that specific view was created dynamically based on scenery.

[2017-08-30 17:57] jessegreenberg commented on #56
Agreed, @terracoda we have a template that is used to generate this view so as long as the CSS is defined in that file it will be applied to all sims.

[2017-08-30 18:03] jessegreenberg commented on #55
Sure, I was envisioning updating the a11y options used in ResetAllButton so that instead of having tagName of input with an aria-label it could have a tagName of button with the label as textContent.

This will fix the problem for ResetAll (and also improve the markup), but you are correct that other elements that use aria-label will have this problem in the a11y view.

[2017-08-30 18:05] jessegreenberg commented on #55
A way to improve the a11y view to fix this problem could be to detect when aria-label attribute is used on a PDOM element and add some visible label in the PDOM copy. That might be non-trivial, but haven't looked into it in depth.

[2017-08-30 18:16] zepumph commented on #55
I'm always stoked for a robust solution. I'll take a look at the a11y view first.

[2017-08-30 18:17] zepumph commented on #55
@jessegreenberg if there is an 'aria-label' attribute on a tag, is there any benefit in having content in the inner text as well?

[2017-08-30 18:20] jessegreenberg commented on #55
No, we would typically want one or the other.

[2017-08-30 21:42] zepumph commented on #55
@jessegreenberg would you take a look at this implementation, does anything strike you as bad form?

[2017-08-30 23:07] jessegreenberg commented on #2
This is no longer high priority.

In https://github.com/phetsims/a11y-research/issues/16, we tested Zoom with a number of screen readers and found that as long as the user has access to the zoom hotkeys they are able to use it. We did a test recording with a screen reader user and were able to hear the AT output in that case.

That being said, it is still possible to run into these problems:

[2017-08-31 00:43] zepumph commented on #56
A large commit can be found [here](https://github.com/phetsims/chipper/commit/46c90500d89327b35dfd14ada61b619925cf2b60)

forgot to mention the issue.

[2017-08-31 00:47] zepumph commented on #56
@terracoda could you please have a look at ohms-law a11y-view again and make more recommendations
the most current a11y view is only on master for ohms-law right now. Here is one way to look at it:
http://phettest.colorado.edu/ohms-law/ohms-law-a11y-view.html

[2017-08-31 01:02] zepumph commented on #56
I also just updated one idea on colors. It doesn't differentiate with static/dynamic descriptions, but I think it's enough for some feedback.

Some improvements that I see:
- I see (although not that important) that the alerts will push down the descriptions, and then shrink again. It would be nice if it was a consistent size (the orange section).
- (specific to Ohms law maybe?) When you move the

[2017-08-31 01:13] terracoda commented on #56
@zepumph, is that link working for you? It is not opening for me. I will try again in the morning.

Regarding design ideas, I have some more ideas on how to differentiate the different types of descriptions using text color, background color, typography and maybe some fancy borders or underlining. It is important to not use color alone to differentiate things. The challenge here will to clearly id

[2017-08-31 01:16] terracoda commented on #56
@zepumph, I got a "server time out" on that link. I'll check again in the morning ;-)

[2017-08-31 01:16] zepumph commented on #56
I'm sorry! You will have to logged into vpn, if that isn't set up then I will just make a dev release.

[2017-08-31 01:19] terracoda commented on #56
@zepumph, I haven't used any vpn as of yet, but any case I will need to continue in the morning ;-) so no rush on my account.

[2017-08-31 01:24] zepumph commented on #56
Sounds good. When you get to it, http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.10/ohms-law-a11y-view.html.

We should get you set up with vpn so that you could use phettest. It would solve all of your needs in terms of the github previewing that we have been doing.

[2017-08-31 01:31] terracoda commented on #56
@zepumph, I had a quick peak. It's looking great, definitely inline with what I was thinking, but we need to have good contrast between text and background color, so that will need a little more thought.

[2017-08-31 01:33] zepumph commented on #56
I thought so too, but didn't want to waste me time on that (because I'm just atrociously bad at noticing contrast). Keep me posted on what you come up with.

[2017-08-31 16:56] jessegreenberg opened #57 "markup for PhET radio buttons"
From https://github.com/phetsims/molecules-and-light/issues/153.

Initial discussion about the pros and cons between using HTML and ARIA are in that issue. The problem was initially discovered because Safari doesn't cycle through the radio buttons with the arrow keys.

It sounds like the next step is to test how ARIA radiogroup and radio roles perform on different screen readers. That will give us

[2017-08-31 17:00] jessegreenberg commented on #57
Here are some ARIA examples that @terracoda found:

https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-2/radio-2.html
https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html

We should test these no VO + Safari, JAWS + Firefox, and NVDA + Firefox to hear how things sound and compare them to traditional HTML radio buttons.

[2017-08-31 17:00] jessegreenberg commented on #57
@terracoda does that test seem OK to you or should we check other things?

[2017-09-01 00:00] jessegreenberg commented on #57
For reference, here is a set of traditional radio buttons:
https://jsfiddle.net/pvf8bpnv/

[2017-09-01 00:06] jessegreenberg commented on #57
Here is the output from NVDA with radio traditional radio buttons:

Please specify your gender:
Male  radio button  not checked  1 of 4
Female  radio button  checked  2 of 4
Other  radio button  checked  3 of 4
Prefer not to specify  radio button  checked  4 of 4

[2017-09-01 00:09] jessegreenberg commented on #57
In this example: https://www.w3.org/TR/wai-aria-practices/examples/radio/radio-2/radio-2.html

NVDA sounds like

Regular crust radio button not checked 1 of 3
Deep dish radio button checked 2 of 3
Thin Crust radio button checked 3 of 3

[2017-09-01 00:10] jessegreenberg commented on #57
NVDA sounds identical in https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/radio/radio.html (aria-activedecendent)

[2017-09-01 00:17] terracoda commented on #57
@jessegreenberg, that testing list seems good. I always like to navigate the sim in Chrome and have a listen in Chrome with ChromeVox just to see if anything is weird. I don't think many people use ChromeVox, but a lot of people use Chrome.

[2017-09-01 18:51] terracoda commented on #57
Noting that both VO and JAWS will repeat `legend` text when focus is moved to each radio button. This is an important design consideration as it can create a lot of unnecessary verbosity for simulation use, and make for some strange verbal pairings. For example, the legend text and the radio button's label may sound strange when put together if one does not consider that they will be read together

[2017-09-05 22:31] jessegreenberg commented on #56
@zepumph this is really great, awesome to see aria-labels and non-0 width inputs in the a11y-view!

@zepumph do you have any thoughts for how we might accomplish this? Initially, I was thinking we would add an option in the accessibility mixin to mark something as dynamic/static, but then this feature would require additional sim code. Ideally, this would be done directly in the a11y-view template

[2017-09-06 00:21] terracoda commented on #56
@jessegreenberg, I was originally thinking we could use CSS for styling the a11y-view template. Perhaps just add a class of "static" or "dynamic" to the appropriate parent element. I haven't thought of a more generalized way yet, like automatically targeting elements and content features that are "static". This would be things like the scene summary opening paragraph, all labels, all headings, all

[2017-09-06 15:31] jessegreenberg commented on #56
Right, that is the trick - I am wondering how we can flag different elements as dynamic and static since all elements are rendered dynamically by Scenery.

[2017-09-06 15:56] terracoda commented on #56
@jessegreenberg, if we add some semantically relevant global CSS classes in scenery, we could potential hook onto those. For example,

[code]
[code]
And then a more general approach for dynamic descriptions.

I am just wondering if it would be more efficient to hook the dynamic descriptions with a CSS class or hook the static descriptions through structure and CSS classes.

[2017-09-06 16:10] jessegreenberg commented on #56
Right, but how do we give those paragraph elements a class name? They don't exist until after the simulation has loaded. My concern is that this could require additional code in the simulation to give class names to the elements rendered in the PDOM.

[2017-09-06 19:40] terracoda commented on #56
I understand your concern. It seems there would be extra code.

[2017-09-06 20:01] terracoda commented on #56
@jessegreenberg, what all goes in the a11y-view template?

[2017-09-06 20:31] jessegreenberg commented on #56
Here is the template: https://github.com/phetsims/chipper/blob/master/templates/sim-a11y-view.html

Some CSS but mostly JavaScript to create the HTML elements on the right.

[2017-09-07 00:57] terracoda commented on #56
Thanks!

[2017-09-07 17:32] ariel-phet commented on #28
@emily-phet looks like this issue can be closed since the survey was published and advertised?

[2017-09-08 04:15] melbanyard commented on #45
@terracoda @emily-phet I took some time to carve off another little bit of the nav for Build an Atom, you can view it on the attached file. One thought I had - is it possible to remove the home button option on the bottom nav altogether? It seems redundant, since all the options presented to users on the home/welcome page are already in the bottom nav. I can't remember if I've mentioned this befor

[2017-09-08 11:32] terracoda commented on #45
@melbanyard, thanks Mel!

[2017-09-08 17:05] jessegreenberg commented on #41
This is a duplicate issue with #56, closing.

[2017-09-08 17:05] #41 closed

[2017-09-08 17:06] jessegreenberg commented on #56
Another thought for an improvement: The aria-live elements  in the copy change in height when their content is filled and removed.  This makes the whole DOM hard to read when alerts come through.  Maybe we can give these a min height so that this doesn't happen?

[2017-09-08 17:29] terracoda commented on #45
@melbanyard, I like the home screen focus highlights. The screen items ones need to be a bit tighter.

My idea for the sim screen buttons was to have the descriptive help text read out automatically for the buttons on the home screen, but available "on-demand" for the sim screen buttons in the bottom navbar once a screen is loaded.

By available "on-demand", I mean the text is still there, but onl

[2017-09-08 18:11] jessegreenberg commented on #56
Went ahead and did this just to make development easier, but this can be changed later.

[2017-09-08 18:16] terracoda commented on #56
And you could lighten up the colors, too:

- blue: "#a0e1e7"
- green: "#9adaa6"
- orange: "#e5c45b"

[2017-09-08 18:21] jessegreenberg commented on #56
Sounds good.  I don't see green currently, what is green?

[2017-09-08 19:01] terracoda commented on #56
That's right. The green is for the dynamic descriptions, if we can figure out how to target them.
In the short term, at least for Ohm's Law, styling the emphasis elements will snag the dynamic parameters if they are marked up with `em` elements.

[code]

[2017-09-08 19:27] jessegreenberg commented on #56
Got it, thanks @terracoda,  I committed your styling. Looks pretty cool in ohms-law.

[2017-09-09 00:02] terracoda commented on #56
@jessegreenberg, when you have time, please publish a link for me ;-)

[2017-09-11 16:27] jessegreenberg opened #58 "test aria-roledescription attribute"
This role would be very valuable, and could potentially solve problems such as
https://github.com/phetsims/balloons-and-static-electricity/issues/289

Here is some documentation from ets
http://www.ets-research.org/ia11ylab/aria11spec/

That article suggests VoiceOver supports this role.  We should test JAWS and NVDA as well.

[2017-09-11 16:34] jessegreenberg commented on #58
aria-roledescription is not supported by NVDA, tested with latest version on 9/11/2017, NVDA reads the role and ignores roledescription.

[2017-09-11 21:39] zepumph commented on #56
@terracoda here is a recent one. What do you think?

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.12/ohms-law-a11y-view.html

[2017-09-11 22:24] jessegreenberg commented on #56
@zepumph it looks like the intro content at the top of the page is specific to ohms-law, would you mind changing it so that it the sim name from the title?

[2017-09-11 22:42] zepumph commented on #56
Sure thing.

[2017-09-12 13:09] terracoda commented on #56
@zepumph and @jessegreenberg, Looks great! Not sure if the emphasis element is used in different contexts in different sims. If it is an element that we can use consistantly for marking parameters, it would be really great.

In this sim, the highlighted green emphasis elements give a nice view of what content actually changes, making it very clear that this sim has a large amount of static content

[2017-09-12 13:10] terracoda commented on #56
@zepumph, should I start a new issue for font-size?

[2017-09-12 18:04] zepumph commented on #56
I think we should start a design either in chipper (where the template lives) or in a11y-research to continue work on on the template. This issue has done well for us but is getting long.

[2017-09-12 18:31] terracoda commented on #56
Thanks @zepumph, I think we can close this issue as all the initial design ideas have been implemented.

[2017-09-12 18:31] #56 closed

[2017-09-13 19:07] terracoda opened #59 "JAWS and Application Role"
From JAWS documentation:
[http://www.freedomscientific.com/Support/TechnicalSupport/Bulletin/1404](http://www.freedomscientific.com/Support/TechnicalSupport/Bulletin/1404)

@jessegreenberg, my reading of this JAWS documentation is that the Arrow keys should work (i.e., should be passed through to the application, i.e., should be passed through to move something like a balloon) when the Application

[2017-09-13 19:14] jessegreenberg commented on #59
@terracoda totally agree.  The problem is that JAWS mangles the arrow key events that are passed to the application, making it impossible to detect when a key is pressed down and when it is released. That is why we submitted a bug report in #9.

[2017-09-13 19:16] terracoda commented on #59
OK, got it! Thanks for clarification. Closing this issue.

[2017-09-13 19:16] #59 closed

[2017-09-13 19:46] jessegreenberg commented on #58
I think we have all  the testing we need.  roledescription works with JAWS and VO, doesn't work with NVDA, falls back to default role name on that platform.

[2017-09-13 19:46] #58 closed

[2017-09-13 21:18] jessegreenberg commented on #55
@zepumph this is working great!

I noticed that the ```aria-label``` is being replaced by ```value```, but ```aria-label``` can be added to any HTML element, not just inputs.  So to be general, I think we need a way to show the ```aria-label``` on elements that are not ```input```.

Otherwise, looks great.

[2017-09-13 21:20] jessegreenberg commented on #55
Just brainstorming, maybe we can use ```value``` if an input, ```innerText``` if the element supports inner text, and maybe something else otherwise? (if there even is another case).

[2017-09-13 22:37] zepumph commented on #55
@jessegreenberg what do you think about that? I'm not sure if it is full proof yet, and I didn't have a way to really test it as I couldn't find an example that made sense to me.

[2017-09-14 15:56] terracoda commented on #55
@zepumph, great question. It will be great to have the text of the aria-label attributes in the visual PDOM side for clarity.

[2017-09-18 15:07] terracoda commented on #45
Just sharing @melbanyard 's latest version here in the thread.
[PhET_KeyboardNav_BuildanAtom_v6.pdf](https://github.com/phetsims/a11y-research/files/1311127/PhET_KeyboardNav_BuildanAtom_v6.pdf)

[2017-09-18 16:14] jessegreenberg commented on #45
Thanks @terracoda and @melbanyard! Does the pink highlight in the first slide mean that the whole screen is in the focus order?

[2017-09-18 18:13] terracoda commented on #45
That's a good question, @jessegreenberg! I was going to ask @melbanyard about that, too.

Normally, is keyboard focus set on page load? Or is it just that the virtual cursor is placed at the top of the page, and no keyboard focus is set?

[2017-09-18 18:36] jessegreenberg commented on #45
At the moment, we are just letting the AT do what it wants with focus so the virtual cursor is just placed at the top.

[2017-09-18 18:47] terracoda commented on #45
OK, good. That makes sense to me. It's just a bit confusing on the home screen, since one sim is already visually highlighted  to encourage going there first, but it does not actually have keyboard focus.

Not sure if having a page highlight would be more clear for visual keyboard users. Let's see what @melbanyard and @emily-phet think.

I don't think we need that first big page highlight.

[2017-09-19 17:19] melbanyard commented on #45
Hi @terracoda & @jessegreenberg

So I believe that first page in the PDF should have been removed prior to uploading (my fault). Earlier in our process Taliesin mentioned that there wouldnt be any focussed required when initially opening the page. So Jesse is right in stating that we're going to let the AT do what it wants when the page is first opened.

[2017-09-19 17:20] melbanyard commented on #45
@terracoda Would you be able to share the content navigation of the sim in the google doc you mentioned in an earlier email to me?

[2017-09-20 13:06] terracoda commented on #45
@melbanyard, I have shared the folder with you and sent you an email.

[2017-09-26 14:07] terracoda commented on #45
Reading on using `nav` element and lists:
- [Navigation Lists: To Be to Not To Be](https://css-tricks.com/navigation-in-lists-to-be-or-not-to-be/)

[2017-09-26 15:07] terracoda commented on #45
@jessegreenberg and @melbanyard, I edited the first comment to include links to a generic template version. The HTMLl is valid. The structure contains
- `role region` and a heading for the bottom bar. The heading will be placed in a page outline by AT.
- the current heading for the bottom bar is "Sim Screens, Resources, and Tools" for multi-screen sims and "Sim Resources and Tools" for single scre

[2017-09-26 20:13] melbanyard commented on #45
@terracoda The comments are great on these articles, and after reading them I have to agree that it sounds like lists will be the best way to go.

Is there any way you'd like me to apply these changes to the sim? Or can they be implemented right into a prototype at this point, rather than my PDFs.

[2017-09-28 20:59] jessegreenberg commented on #57
This issue was meant to observe different behaviors of radio buttons because of the discussion in https://github.com/phetsims/molecules-and-light/issues/153.  In that issue we decided to use  typical  HTML for radio buttons and allow Safari to do its default behavior for keyboard interaction, so  I think this issue can be closed.

[2017-09-28 20:59] #57 closed

[2017-09-28 21:01] jessegreenberg commented on #55
That seems good to me @zepumph, thanks!

[2017-09-28 21:01] #55 closed

[2017-09-28 21:02] jessegreenberg commented on #52
Regarding the previous comment, I sumbitted a bug report to VFO and they told me that this is the intended behavior for JAWS, it isn't supposed to switch to forms mode.  We are going to proceed with JAWS + FF. Closing.

[2017-09-28 21:02] #52 closed

[2017-09-28 21:46] zepumph opened #60 "Discuss convention for all dynamic values in a11y strings be surrounded in <em> tags"
From a skype discussion with @jessegreenberg as well as https://github.com/phetsims/chipper/issues/610. It would be nice to solidify a convention for `<em>` now, while only a few sims have descriptions in them. In OL it seemed to work very nicely to have dynamic properties be surrounded by emphasis. Then in the a11y view they were highlighted nicely. BASE doesn't have any `<em>` tags though. It wo

[2017-10-03 22:50] jessegreenberg commented on #35
Update 10/3/17 - No response from Apple.

[2017-10-03 22:51] jessegreenberg commented on #37
Update 10/3/17, no response from Apple.

[2017-10-03 22:51] jessegreenberg commented on #47
Update 10/3/17, no response from Apple.

[2017-10-04 00:09] terracoda commented on #47
Hmm, a full 2 months and no response. Have you submitted a bug report before?

[2017-10-04 00:15] jessegreenberg commented on #47
I have not, Ill ask some of the other devs. This stack exchange response is discouraging :(
https://apple.stackexchange.com/questions/189126/apple-bug-report-apples-response-time

[2017-10-04 00:18] jessegreenberg commented on #47
According to https://discussions.apple.com/docs/DOC-5421 I can 'rank' my bugs to "help get it noticed asap." Ill see if I can find that in the interface.

[2017-10-06 15:45] emily-phet commented on #40
From @terracoda findings from recent screen reader using consultants - need to highlight that scene summary and individual object information stays updated, so they can return to this content for more information later.

[2017-10-06 17:34] terracoda commented on #40
@emily-phet, a very subtle exploration hint may also be useful in the sim itself. Something that encourages play, and reminds the user to read for details.

[2017-10-06 18:47] terracoda commented on #45
@jessegreenberg, @zepumph, I tested the Home Screen and Navigation **Templates** noted in comment https://github.com/phetsims/a11y-research/issues/45#issue-244437912 and here is what I noticed:
- Except for the items in the PhET menu, the two pages sound good in Voice Over.
- The markup sounds better with an ordered list than with no ordered list inside the `nav` element (VO says navigation region

[2017-10-06 19:44] jessegreenberg commented on #45
Thanks @terracoda Ill give a listen with NVDA and JAWS.

[2017-10-06 19:54] jessegreenberg commented on #45
Sounds great to me, pretty straight forward! @terracoda @melbanyard, just a couple questions about the numbers:

- Numbers are spelled in full, is it OK if we just provided numbers '3' instead of 'three'?
- Why are screens labelled with numbers '01' instead of just '1', we should never have 10 screens?

[2017-10-06 19:56] jessegreenberg commented on #45
That would require JavaScript, the browser/AT doesn't include keyboard navigation from ARIA alone.

[2017-10-06 23:24] terracoda commented on #45
@melbanyard, sorry I missed your comment https://cuboulder.zoom.us/j/221920770. I think your mock-ups are fine. They match pretty closely what with go under the hood.

[2017-10-06 23:27] terracoda commented on #45
@jessegreenberg, the numbers are just place holder content in the templates. The will be no numbers on the actual labels screen buttons. The screen buttons on sims have their own names :-) See Build an Atom as an example. The list items are number naturally through their structure, but not the buttons.

Make sense?

[2017-10-06 23:35] jessegreenberg commented on #45
Thanks @terracoda, makes sense.  And what about things like

Ok if we use '3' instead of 'three'? It would be quite a bit easier if we don't have to map numbers to translatable strings.

[2017-10-06 23:39] terracoda commented on #45
@jessegreenberg, I hadn't thought about translation. '3' should work instead of 'three' for number of screens.

[2017-10-06 23:40] jessegreenberg commented on #45
Great, thanks! Lets give it a shot in joist!

[2017-10-10 16:14] emily-phet commented on #40
Would be useful to include that standard button behavior has a difference between space bar and enter - and specifically using the enter button on the "step forward" button functionally creates a slowed down motion.

[2017-10-11 16:04] terracoda commented on #48
@jessegreenberg amd @zepumph, we have a working PDOM for Ohm's Law, and are on our second draft of descriptions, so closing this issue.

[2017-10-11 16:04] #48 closed

[2017-10-11 18:17] terracoda commented on #40
AN suggested: We might need to tell people about how to set their Audio - ducking settings. There are about 4 options (may vary between screen readers):
1. Do not play sounds simultaneously when JAWS speaks,
2. Play both sound and JAWS, but put the sound in the background,
3. Play both, but put JAWS in the background, and
4. Only play sounds when sound and text are together.

[2017-10-19 13:01] terracoda commented on #47
@jessegreenberg, I was testing/listening again today to BASE, working on ideas fro release alerts, and it seems the velocity phrase is the phrase is the one that gets missed the most. I am wondering if other design considerations recently discussed (e.g., shortening the velocity phrase by moving the balloon name string to the location phrase), and perhaps using aria-roledescription to provide the

[2017-10-19 13:34] terracoda commented on #29
I am closing this issue, as we have a solution for Balloons and Static Electricity, we are using a dashed line to differentiate between the grabbed and un-grabbed state of the balloon. And we have a completed interaction hint to grab, move and release the balloon.

In the future we can look to this example for similar or more complex interaction states.

[2017-10-19 13:34] #29 closed

[2017-10-19 14:31] terracoda commented on #6
@jessegreenberg, I agree we need to think about how and when to add to a control's name with `aria-roledescription`. I am just gathering some examples here:
- [Specification](https://www.w3.org/TR/wai-aria-1.1/#aria-roledescription)
- [Example for slides](http://www.ets-research.org/ia11ylab/aria11spec/)

Wondering if using it on both the grab button and the application div would be useful for Bal

[2017-10-19 15:36] mbarlow12 opened #61 "Udacity Course Research"
In my recent reading about a11y best practices, I came across this Udacity course on web accessibility:

https://www.udacity.com/course/web-accessibility--ud891

I'm about halfway through and thought I'd make an issue for it. It might be helpful as a rapid way to get new hires/project members up to speed on this type of work.

[2017-10-19 15:55] jessegreenberg commented on #61
This is really cool, thanks @mbarlow12! @terracoda are you familiar with this course?

[2017-10-19 16:37] terracoda commented on #61
I am familiar with many older courses, but not specifically the Udacity one. I can review it if we want to use it as a trainging tool.

TeachAccess.org is relatively new initiative that has a quick tutorial. It may be a good compliment, or a quick resource.
https://teachaccess.github.io/tutorial/

[2017-10-19 16:40] mbarlow12 commented on #61
I was planning to report back here once I'd finished it.

[2017-10-19 16:40] terracoda commented on #61
About 3 (maybe more) years ago, I tried to do a Google Web Accessibility course, but it forced you to use Google Chrome, which I thought was a bit self-serving. The Udacity course is a google course, so it could be a improved version :-)

[2017-10-19 17:12] terracoda commented on #61
I am familiar with Rob Dodson's resources on YouTube. He has made many solid tutorials on web accessibility techniques, so it should be a good course.

[2017-10-19 17:36] terracoda commented on #61
@mbarlow12, @jessegreenberg , and @zepumph here's my super brief interpretation of WCAG [Ramp it up!](http://terracoda.ca/ramp/)

[2017-10-24 00:08] terracoda commented on #60
@zepumph, I like this idea. One thing to keep in mind is that some screen readers actually read out emphasized text in a different voice. I have noticed that VO reads content in `em` tags in a higher pitch, for example. For Ohm's Law this is ideal because there is a natural fit for emphasis. It may not work nicely for all dynamic strings, especially sentences with multiple dynamic strings.

Would

[2017-10-24 23:45] zepumph commented on #60
I like that a lot. I wonder how we could go about adding that class easily to places that are inherently dynamic. My opinion would be to keep `class="dynamic"` out of the a11y string files as much as possible.

[2017-10-25 01:04] jessegreenberg commented on #60
Agreed, especially since these strings will eventually be translatable.

[2017-10-26 15:54] terracoda commented on #2
Yes, I have used zoom successfully three times now with screen reader users. However, there are performance issues when screen is being shared, so I decided to go without screen sharing.

Screen sharing worked ok for Ohm's Law, but not for Balloons and Static Electricity.

[2017-11-03 17:03] terracoda commented on #6
As discussed in the A11y Design meeting. I t would be good to think about how aria-roledescription could be used to support a direct custom interaction. The goal would be to eliminate the use of the button (a native interaction which is very accessible to screen reader users using the keyboard) and make the custom interaction easily understandable by everyone (visual keyboard, touch users, screen

[2017-11-03 17:14] zepumph commented on #6
I'm a bit confused by this, but I'm sure you can cure case. I thought there is a push in a11y to try to pass as much semantic information to the use as possible. Isn't using an html `<button>` one of the best ways to communicate that you are 'clickable' or whatnot? Are a11y switch or touch users less used to seeing buttons, and so would benefit from a more custom approach? Is it possible to just a

[2017-11-03 17:24] terracoda commented on #6
@zepumph, the button creates native "grab interaction" that is easily understood by many, and easily operated by many. It's an issue for visual keyboard users because the balloon does not look like a button (so we created a visual hint for these users). It is problematic for touch users (as discussed today).

The reason we created the Grab button was to specifically deal confusion and verbosity of

[2017-11-03 17:43] terracoda commented on #6
Not sure if describing the state of the application together with an associated action (all dynamically) would work. The only examples I have seen are very simple (slide on section element, attach something for button).

For example, what if there were two states for the balloon application, grabbed and released. When the state is grabbed the associated action is described as "move" and when the s

[2017-11-03 17:47] terracoda commented on #6
@jessegreenberg and @zepumph, that's all my thoughts on this today. The interaction for grabbing would still be a two-step process, so not sure how much we gain. However, it would be a two-step process with a dynamic description which potentially could be helpful if it is possible.

[2017-11-03 19:49] jessegreenberg commented on #58
Update:  aria-roledescription works in IE11 + JAWS, but not FF + JAWS. Likely a browser issue then.

[2017-11-03 19:52] jessegreenberg commented on #6
In https://github.com/phetsims/a11y-research/issues/58 I found that aria-roledescription is supported in Safari + VO, but not with FF with JAWS and NVDA, so the value of aria-roledescription will only be read by by VO users.

[2017-11-03 20:00] jessegreenberg commented on #6
I don't think that is possible for web apps, gestures are enabled by the browser/assistive technology and depend on what has focus. For buttons,  the gesture is to double tap the screen to activate, and all other gesture doesn't even create an event for the browser to catch.

[2017-11-04 00:16] terracoda commented on #6
@jessegreenberg with little support, I agree we cannot move forward with any critical information provided by aria-roledescription.

[2017-11-04 00:31] terracoda commented on #6
@jessegreenberg and @zepumph, I also found some discussion about what people think `aria-roledescription` should be allowed to do from about a year ago.

https://github.com/w3c/aria/issues/500

I like the hypothetical  "pizza pie" example. Seems a bit more like our situation.

[2017-11-04 00:34] terracoda commented on #6
Just curious, what is the protocol on referencing repos outside one's organization?

[2017-11-06 20:26] zepumph commented on #6
That is a good question @terracoda. I have referenced outside issues before also, though mainly accidentally. @ariel-phet do you have an opinion? Has this come up before?

[2017-11-06 20:29] terracoda commented on #6
Yes, I have done this twice now with WAI ARIA documentation (first-time by accident, too), so I thought I should ask.

[2017-11-07 01:54] ariel-phet commented on #6
@terracoda thanks for asking. In general referencing outside repos is totally fine. We often reference outside repos/issues/websites etc.

[2017-11-09 18:14] mbarlow12 commented on #61
Finished the content a few days ago. Here are some of the highlights:
- Provided some fantastic insight into how some AT users actually interact with screen readers and keyboard input
- Solid overview of the accessibility tree
- Thorough explanation of the various ARIA features
- Offered some interesting new use cases that raise a11y concerns

Overall, I'd highly recommend this to any devs interes

[2017-11-09 18:18] terracoda commented on #61
Awesome! Glad you liked it. @mbarlow12.

[2017-11-10 18:28] zepumph commented on #45
@terracoda @melbanyard thank you guys for the design work here. Implementation issues for the HomeScreen and Nav bar are listed above as separate issues. Closing this long but productive issue.

[2017-11-10 18:28] #45 closed

[2017-11-17 18:00] terracoda opened #62 "General keyboard dialog look and feel (consolidation)"
We have made excellent progress in shortening the words, and making the dialog look and feel much more compact. And finally, we are considering moving the icons to the left, but still using the brief text.

**Goal:** To quickly finalize a layout that hopefully looks and sounds similar for both visual and non-visual users.

In this issue, we can see a designs for more sims all together. Starting wi

[2017-11-17 18:01] terracoda commented on #62
Here's **RIAW** with key icons fronted

<img width="682" alt="riaw-2-keys-fronted" src="https://user-images.githubusercontent.com/1902116/32961649-f0bc8d3a-cba3-11e7-8fe3-9e3fa175e633.png">

[2017-11-17 18:19] terracoda commented on #62
@arouinfar, when you get a chance, can you adjust the fronted version to include the split/paired arrow keys for the sliders controls?

[2017-11-17 18:51] terracoda commented on #62
Just posting the other dialogs now for comparison and completion.

**MAL is next priority**
MAL is in RC Testing (https://github.com/phetsims/molecules-and-light/issues/160)

It looks like the only difference is the Group Navigation item.
[Left][Right] or [Up][Down] move between items in a group

<img width="763" alt="mal-kbd-words-fronted" src="https://user-images.githubusercontent.com/1902116/32

[2017-11-17 19:23] jessegreenberg commented on #62
@terracoda could you please describe the benefits of putting the icons first? In https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-345303515 @arouinfar said

[2017-11-17 19:55] terracoda commented on #62
@jessegreenberg, yes, and @emily-phet just commented, too in https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-345346935

I think both the key presses and the actions are important. I don't have a good argument for switching. I just want to make sure we are making the correct choice both visually and non-visually.

I agree with what @arouinfar said. I don't actual

[2017-11-17 20:05] jessegreenberg commented on #62
In https://github.com/phetsims/balloons-and-static-electricity/issues/320 @emily-phet said

One concern I have is that when the text is translated, we could run into layout issues with having images placed based on the location of the last word in the string. If it worked to have the images right aligned and the text left aligned, I think that might end up being better.

[2017-11-17 20:06] jessegreenberg commented on #62
For reference, here is what a dialog might look like when translated:
![capture](https://user-images.githubusercontent.com/6396244/32966734-0a95d984-cb98-11e7-97bf-6596651c1d81.PNG)

[2017-11-18 00:31] zepumph opened #63 "What is the purpose of the A11y View HTML?"
In https://github.com/phetsims/chipper/issues/622 we found a big bug in the A11y View. It brought up a point about who is using this document, because that changes how strict we are in handling problems with it. I see it as a spectrum:

---less use---
* We use it to develop our sims with, maybe showing it to the IDRC sometimes, but for the most part it is just a tool for us (PhET A11y) to use.
* W

[2017-11-18 02:10] zepumph commented on #63
For example, the scrolling feature doesn't work on IE, is this acceptable moving forward? Or should I spend more dev time to support that feature?

[2017-11-18 04:41] terracoda commented on #63
@zepumph FYI, we did publish a link to it in the CSUN paper we wrote, but the published link was incorrect. I made a correction on the PhET Accessibility page.

One big improvement visually would be if the iframe on the left was fixed as the content on the right scrolled. Also, the fixed heights on the alerts are too small. I don't think a fixed height is the best approach to stop the bounciness.

[2017-11-20 05:20] arouinfar commented on #62
@jessegreenberg I had a conversation with @terracoda about the ordering on Friday, and the rebuttals to my points were something like this:

This is a bit of a chicken-vs-the-egg argument. We have found keyboard shortcut dialogs ordered both ways, and it's not clear if users expect to see the keys or commands first.

It sounds like the screen reader content was designed to match the ordering of th

[2017-11-20 06:26] arouinfar commented on #62
@terracoda so sorry I mocked the new layout with outdated content! Here's the mockup requested in https://github.com/phetsims/a11y-research/issues/62#issuecomment-345322041. With this layout, I think the [Shift]+[Left][Right] or [Shift]+[Up][Down] commands are harder to interpret. The orphaned "or" makes things a bit awkward too. Moving "adjust in smaller steps" to the first line isn't ideal, eith

[2017-11-20 16:26] jessegreenberg commented on #62
@arouinfar thanks so much for doing these mockups. After seeing these layouts I agree with your assessment and prefer our current layout with text on the left and icons on the right.

[2017-11-20 17:06] terracoda commented on #62
Thanks @arouinfar. It's nice to have all these visual examples for comparison. I agree with you and @jessegreenberg. I think the order of the current approach (text for action on left and then key icons on the right) works best.

@emily-phet, do you have any thoughts to add?

[2017-11-21 17:09] arouinfar commented on #62
Here are two left-aligned columns
![image](https://user-images.githubusercontent.com/8419308/33086159-0e3368fe-cea4-11e7-89f2-d0a93ee9a12f.png)

[2017-11-21 17:17] jessegreenberg commented on #62
Group decision on 11/21/17:

We really like https://github.com/phetsims/a11y-research/issues/62#issuecomment-346095040 mockup the best. It looks cleaner and makes it easier to scan for icons and text content. We will proceed with that approach, removing the colons from the text labels on the  left.

[2017-11-21 17:19] arouinfar commented on #62
Here's a mockup with the colons removed. There's a 30px buffer between the longest command string and the icons in each column.
![image](https://user-images.githubusercontent.com/8419308/33086601-432517c8-cea5-11e7-8b75-702d81b42ec9.png)

[2017-11-21 22:27] jessegreenberg commented on #62
Alright, I think this is done with the above commits. @terracoda @arouinfar @emily-phet @zepumph @amanda-phet could you please review the new look?  Can be viewed on phettest, but here are some screenshots:
RIAW:
![riaw](https://user-images.githubusercontent.com/6396244/33100023-24b4a864-ced0-11e7-8f0d-902aa16cd0c7.PNG)

Friction:
![friction](https://user-images.githubusercontent.com/6396244/33100

[2017-11-21 22:41] arouinfar commented on #62
Looks good to me @jessegreenberg. Thanks!

[2017-11-22 14:26] terracoda commented on #2
I continue to use Zoom for remote  sessions with screen reader consultants. Zoom is quite accessible to screen reader users (both JAWS and VO), however, screen sharing takes up a lot of resources, often making it impossible to do the session with screen sharing on.

[2017-11-22 14:35] terracoda commented on #49
As discussed in the Ohm's Law repo https://github.com/phetsims/ohms-law/issues/99, we are putting this idea on hold, as the link be the first item in the tab order for all sims...likely not what we want.

Providing the hint that help for keyboard use exists is likely just enough:
- "If you need to, check out the Keyboard Shortcuts for this sim." , or the slightly shorter phrase
- "If needed, check

[2017-11-22 14:35] terracoda commented on #49
Closing this issue.

[2017-11-22 14:35] #49 closed

[2017-11-22 17:40] jessegreenberg commented on #2
Thanks for the updates @terracoda. I think this issue can be closed. Based on the state of this issue and recent comments about priorities for a11y and phet-io (https://github.com/phetsims/phet-io/issues/995#issuecomment-337219811), I don't think we have plans to work on this for now. Do you feel that zoom has been working well enough for interviewing, or should we create a new issue to look into