[2019-03-29 14:43] terracoda commented on #133
Personally, if NVDA only says it once, I think we are good to go, and hopefully this issue will disappear as screen readers improve.

[2019-03-29 15:12] jessegreenberg commented on #133
OK, in that case I think we have a reasonable solution. @zepumph  can you please also review https://github.com/phetsims/scenery/commit/9339a9c5c1a130c66ea93b26a4ee6890fc3f1ed5 and verify this is fixed?

[2019-04-04 19:54] zepumph commented on #133
This has been working now for a while for me. Thanks for investigating this!

[2019-04-04 19:54] #133 closed

[2019-04-08 19:00] emily-phet opened #136 "Description Design Interface Ideas / Brainstorm"
dynamic description:
	designed complexity disconnect to implementation complexity. How to map communication tighter
complexity of learning description
preview while designing descriptions
complexity of design doc, metadata mixed into actual descriptions
How to know that things don't break
	JG: what about test driven development for descriptions

potential solutions. note not all solutions fix all

[2019-04-08 19:05] emily-phet commented on #106
Adding some resources from Paul at Mind Research Institute:

Some very simple test cases for MathML and its alternatives, with and without MathJax.  Mostly just to test speech and braille output:
http://superkeen.com/web/mathmltest/

Test cases for MathML embedded within other HTML elements:
http://superkeen.com/web/mathmltest/mathmlfocus.html

Related Orca MathML issue:
https://gitlab.gnome.org/G

[2019-04-12 18:09] pixelzoom opened #137 "how to handle toggle buttons whose labels change?"
The [Gas Properties](https://docs.google.com/document/d/1HOCO6vXfqlHIf3MrdldaiZTPFKYWTzS9Jm8fw-b25EU/edit) design document specifies a toggle button whose label changes when pressed:

<img width="608" alt="screenshot_1134" src="https://user-images.githubusercontent.com/3046552/56057003-0459b980-5d1b-11e9-9e7d-99499a610a8d.png">

Note that this is naturally implemented as a toggle button (versus 2

[2019-04-12 18:15] pixelzoom commented on #137
Here's the code in BASE `ControlPanel` that creates the toggle button mentioned above:

[code]

[2019-04-12 19:33] jessegreenberg commented on #137
In general, toggle buttons shouldn't have changing labels and their state should be conveyed with `aria-pressed`. `NavigationBarSoundToggleButton` is an example of where we have done this. The ARIA recommendation for the buttons in Gas Properties and BASE would be to change them to a BooleanRectangularStickyToggleButton with a single label where pressed state is conveyed by sticking down and with

[2019-04-12 23:00] arouinfar commented on #137
I do not think a `BooleanRectangularStickyToggleButton` would be an appropriate fit for the role of the "Add Wall"/"Remove Wall" button in BASE or the "Remove Divider"/"Reset" buttons in GasProps, and would result in poorer UX for the majority of users.

Given the extensive amount of research that went into the a11y design of BASE, I think we can safely follow the same pattern in Gas Properties.

[2019-04-13 10:16] terracoda commented on #137
Hey folks, the label change in BASE very clearly communicates the changed state. That is why we don't use a traditional web/aria toggle button in this case for accessibility.  In addition, we provide a custom alert confirming the changed state.

My belief as to why the current interaction works so well in BASE is three-fold:
1. Interaction is understood by users.
  - Users know what to do when the

[2019-04-13 10:36] terracoda commented on #137
@arouinfar, could you explain your comment more:

I am curious to know if there is something specific about the visual design of the interaction, or if it is something specific about the function of the interaction that makes it inappropriate in the cases of BASE and GasProps.

[2019-04-13 10:37] terracoda commented on #137
And @jessegreenberg, can you confirm if we are actively hiding the pressed state on the Mute Sound button implementation? Or, if it might be something that I have turned on in my settings to make things less verbose.

[2019-04-13 11:23] terracoda commented on #137
I do not want to start a new thread or issue, but I just want to mention for the record that:

when we designed BASE I am not sure if `aria-pressed` was well supported. @jessegreenberg and I did indeed explore different implementations for the Remove Wall/Add Wall buttons. We may have tried a toggle button with `aria-pressed` (not sure). But whatever we tried didn't sound or feel right to us or to

[2019-04-13 15:52] pixelzoom commented on #137
@terracoda said:

These are documented at the top of their respective JavaScript files, and demonstrated in the "Buttons" screen of the sun demo application.  In a nutshell:

General terminology:

* A push button performs an action.
* A toggle button switches between 2 states.
* A "sticky" toggle button changes the button to have an "in" and "out" appearance based on the state.

The first 2 are st

[2019-04-13 15:58] pixelzoom commented on #137
@terracoda said:

I am curious to know if there is something specific about the visual design of the interaction, or if it is something specific about the function of the interaction that makes it inappropriate in the cases of BASE and GasProps.

A sticky toggle button (see description and examples above) has no button label.  So I agree that `BooleanRectangularToggleButton` is inappropriate for b

[2019-04-13 16:01] pixelzoom commented on #137
@arouinfar said:

And @terracoda suggested some different labels for the button states in https://github.com/phetsims/a11y-research/issues/137#issuecomment-482796376.

I'm going to proceed with using a `RectangularToggleButton`, with the labels specified in the design document.  @arouinfar let me know if you'd like to adjust those labels.

[2019-04-13 22:39] terracoda commented on #137
@pixelzoom, thanks for these examples.

What is the difference between `RectangularToggleButton` and its subclass `BooleanRectangularToggleButton`? Is it that one has a single Scenery node and the other has two nodes?

@pixelzoom, I think the`BooleanRectangularStickyToggleButton` visually maps perfectly to the toggle button defined in [https://www.w3.org/TR/wai-aria-practices-1.1/#button](https://

[2019-04-13 22:57] pixelzoom commented on #137
@terracoda said:

`RectangularToggleButton` can toggle between 2 states of any type. `BooleanRectangularToggleButton` toggle is a subclass of `RectangularToggleButton` that is special to toggle between boolean states `true` and `false`.    Both have 2 scenery Nodes to represent the 2 states.

I haven't done anything related to a11y for Gas Properties, any accessibility that's working came "for fre

[2019-04-14 08:10] terracoda commented on #137
@pixelzoom  said:

Yes, that's what I mean (sort of) ;-)
More correctly, for accessibility the `button` will not benefit screen reader users by being called a "toggle button" upon focus, nor will it benefit screen reader users to indicate its current state with the words like: "pressed" and "not-pressed". Thus, the `button` will not need `aria-pressed`.

For clarity and accuracy, if the interactio

[2019-04-16 15:21] jessegreenberg commented on #137
The NavigationBarSoundToggleButton is using aria-pressed. I just tested in NVDA and on focus it sound like:
"Mute Sound toggle button, not pressed"

And when pressed NVDA says "pressed".

[2019-04-16 22:02] jessegreenberg opened #138 "iOS VoiceOver doesn't support "cursor tracking""
Apple calls the ability for the virtual cursor to be in sync with DOM focus "Cursor Tracking". This is on by default for VO on macOS and can be turned off with a setting, but is permanently disabled on iOS.

This means that when reading with mobile VO, we **never** get `blur` and `focus` events. So we never see PhET's pink focus highlight and any scripted behavior that we write to change things on

[2019-04-16 22:26] jessegreenberg commented on #138
@terracoda assigning you so you are aware of this and to see if you have any thoughts.

[2019-04-17 15:08] terracoda commented on #138
The loss of pink highlight may not be a huge loss on touch devices. We don't seem them mouse interaction, so not sure they would be needed for touch/gesture interaction.

Does VoiceOver on iOS have it's own built-in highlighting?

I am also curious what happens when someone is using a keyboard with a touch device, which I know is possible.

[2019-04-17 15:19] terracoda commented on #138
Is this helpful?
[https://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile/design/visible-focus](https://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile/design/visible-focus)

Apple and the BBC say something about managing focus in the View. Is that an option for us?

[2019-04-17 15:29] jessegreenberg commented on #138
Thankfully it does! It uses the same black focus highlight as macOS VoiceOver.

I read that article @terracoda but I couldn't find anything about managing focus. Recommendations were about visually displaying the focused item. The problem is that when using mobile VO there is no focus at all. The virtual cursor just moves around the DOM.

My biggest concern is that `focus` event doesn't trigger wh

[2019-04-19 12:26] terracoda commented on #138
Oh, I see.
Is the mobile A11y version of Ohm Law on phet test? I'd like to try it out.

[2019-04-19 13:29] jessegreenberg commented on #138
Yes, master on phet test supports mobile VO. Also this one:
https://phet-dev.colorado.edu/html/ohms-law/1.4.0-dev.29/phet/ohms-law_en_phet.html

[2019-04-22 07:03] terracoda commented on #137
Thanks @jessegreenberg. That's perfect. I know I have heard "not pressed" and "pressed" with VoieOver, too. I just didn't hear it when I tested the other day. I only heard, "Mute Sound toggle button". Thanks for checking.

[2019-04-23 13:20] terracoda commented on #118
@jessegreenberg, I think the Control Area is working well for simple sims. I am going to close this issue.

[2019-04-23 13:20] #118 closed

[2019-04-23 20:35] jessegreenberg commented on #138
Apple responded with:

[2019-04-23 23:07] terracoda commented on #138
@jessegreenberg, does that mean we will never have access to blur and focus events on iOS?

[2019-04-23 23:58] jessegreenberg commented on #138
I think so @terracoda. We may receive them when attached to a bluetooth keyboard, but otherwise we will not.

[2019-04-24 18:08] jessegreenberg commented on #138
Meeting notes from 4/24/19:

- We would like to reach out to the community about this issue. Has anyone else encountered the limitation that mobile VO doesn't synchronize the cursor with keyboard focus, and if so are they aware of any clever workarounds?
- We should be aware that for the foreseeable future `focus` and `blur` events are not likely to happen on mobile VO. This may generally be OK. I

[2019-04-24 19:19] jessegreenberg commented on #138
I pushed back in the issue thread and we will see what comes of it. @terracoda I believe that the remaining action items are reaching out to the community and investigating how this can be handled design-side. Reassigning to you for now, but let me know if I can help.

[2019-04-25 20:49] jessegreenberg commented on #138
I heard back again from Apple, they responded by saying something to the effect of "Thanks, but leaving the report closed." They suggested that since this is a feature request we could follow up at  http://www.apple.com/feedback/ or: http://www.apple.com/contact/

I will go ahead with that.

[2019-04-25 21:00] jessegreenberg commented on #138
I sent an email through http://www.apple.com/contact/

[2019-04-26 11:00] terracoda commented on #138
@emily-phet, @jessegreenberg and @zepumph I sent an email to the WAI Interest group and copied you all on the email. We'll see of we get any responses.

[2019-04-28 07:20] terracoda commented on #138
@jessegreenberg, @zepumph I got 2 responses that might be helpful as we move forward for mobile a11y.

**Suggested resources From Ashraf Aleem:**

https://developers.google.com/web/fundamentals/design-and-ux/input/touch/?hl=en#stateful-elements-respond-to-touch
https://www.youtube.com/watch?v=13Gw1zskb9I (this is a part of free course on Udacity https://www.udacity.com/course/building-high-convers

[2019-04-29 10:47] terracoda commented on #138
@emily-phet, @zepumph, I have reviewed the "verbose" aria-valuetext option in Gravity Force Lab Basics, and have assigned two logic/implementation questions to @zepumph from the design doc.

The table for changing position cognitive walk-through is now kind of messy, but it might be possible to re-arrange the progress indicators without too much impact on the design. I'll know more once I discuss

[2019-05-01 16:14] jessegreenberg commented on #138
I heard back from Apple, who said that the request was better done through the bug reporter. So the recommendation to use the contact link was likely automated. This is probably the end of the line for communication with Apple, and since we know that this is the behavior for Talkback we would probably make more progress by taking this up with the standards committees.

[2019-05-01 17:13] jessegreenberg commented on #138
Thanks for the resources as well @terracoda, that is helpful.

I played with the article and its examples this morning. The examples demonstrate usage of CSS state selectors for `hover`, `focus`, and `active`. It also suggests that to get the `active` state to work on iOS you have to add an event listener to the `window` like
[code]
I tried the example in the article with and without VoiceOver and

[2019-05-02 07:13] terracoda commented on #138
@jessegreenberg, I think we are done with this issue. @zepumph and I are working on some design changes for GFL Basics, and in the future, I'll be more careful about how I design content for `aria-valuetext` and `aria-live` alerts.

[2019-05-02 10:20] emily-phet commented on #138
From @jessegreenberg comment above:

Do we want to reach out to the standards committee on this?

[2019-05-03 09:17] terracoda commented on #138
@jessegreenberg, do we know which committee? I don't think there is a committee specific to mobile accessibility see: [https://www.w3.org/WAI/standards-guidelines/mobile/](https://www.w3.org/WAI/standards-guidelines/mobile/ )

[2019-05-14 14:33] emily-phet commented on #132
@jessegreenberg

@terracoda mentioned this repeating behavior occurred in an interview with a consultant yesterday - not in the a11y-view, but in the sonification wrapper. Would it be worth asking the QA team to spend some time trying to reproduce this repeating behavior in contexts where the sim is in an iframe? It seems like it would be good to track this down, since we often user test with wrap

[2019-05-14 15:36] jessegreenberg commented on #132
OK, that sounds good. @KatieWoe could you please test this link with macOS VoiceOver and see if you get duplicate alerts?

https://phet-dev.colorado.edu/html/gravity-force-lab-basics/1.0.0-dev.38/phet/gravity-force-lab-basics_a11y_view.html

In https://github.com/phetsims/a11y-research/issues/132#issuecomment-466956319 @terracoda mentioned that clearing cache and reloading made the bug go away, so

[2019-05-14 18:19] KatieWoe commented on #132
First link it did repeat alerts.  Second link, the screen reader would read instructions when you focus on the button.  If you push it during these instructions, it reads the alert twice.  If you do not, it does not.

[2019-05-16 15:18] jessegreenberg commented on #130
Duplicate now of #138, closing.

[2019-05-16 15:18] #130 closed

[2019-05-16 15:40] jessegreenberg commented on #132
Thanks @KatieWoe, sounds good. @twant sorry to ask again, but this is another VoiceOver specific problem so would you be able to help debug this? Could we meet again next week to take a look? This one should be easier to reproduce :)

[2019-05-16 16:18] twant commented on #132
@jessegreenberg Yep, let's take a look next week! I'll slack you about times.

@KatieWoe does this happen on all browsers and versions? I know Jesse and I tested for a different bug on a couple different versions of Safari (and got different results on each), as well as Chrome. Let me know if there's a specific browser you'd like me to use as Jesse and I work on this!

[2019-05-16 16:27] KatieWoe commented on #132
The platforms we support and test on are:
- VO on Latest MacOS and latest safari
- VO on latest iOS iPad
- NVDA on Latest Windows 10 and latest firefox
- Jaws on Latest Windows 10 and latest chrome

[2019-05-20 20:27] jessegreenberg opened #139 "VoiceOver doesn't allow small step sizes relative to large ranges"
From https://github.com/phetsims/sun/issues/495, we need to submit a bug report to Apple about this. If the `step` attribute for an input of type range is too small relative to the entire range of the input, the element won't receive alternative input.

[2019-05-23 21:28] zepumph commented on #94
This issue is quite stale, likely the bottom bar is looking really good for single screen sims, since we have published a few already. Unassigning myself until work continues for multi-screen sims and my feedback and time is needed.

[2019-05-24 07:03] terracoda commented on #94
I will double check what has been implemented and see if anything is missing. True, the bottom with mute sound, keyboard shortcuts, and PhET menu has been working fine for people thus far.

[2019-05-28 12:40] terracoda commented on #138
@emily-phet and @jessegreenberg, it might be worth talking to people who are working on the Accessible Object Model.
https://github.com/WICG/aom

For reference, here's an article about the AOM
https://tink.uk/playing-with-the-accessibility-object-model-aom/

[2019-05-28 12:58] emily-phet commented on #138
@terracoda We have spoken a developer at Mozilla before, previously with the IDRC. We could reach out to him for a potential connection. Or we could just reach out to the devs of the aom directly. Thoughts?

[2019-05-28 16:16] jessegreenberg commented on #138
This issue may be more general than just specific to mobile. I think the behavior we want is the one that Patrick Lauke commented in https://bugzilla.mozilla.org/show_bug.cgi?id=1000082 (@terracoda linked above).

So I think that the ARIA group may be the best bet? I am not sure that the AOM group is related to this.

[2019-05-31 06:42] terracoda commented on #139
@jessegreenberg , is this issue about the custom small-step with the Shift key, or a control that has a small range and a default "smallish step size"?

[2019-05-31 06:48] terracoda commented on #137
@jessegreenberg, can we close this issue? Or perhpas I should make it into a design-pattern to-do for our eventual binder of design PhET A11y design patterns?

[2019-05-31 21:49] jessegreenberg commented on #139
This bug seems to happen when a slider has a very large range relative to a very small step size. We encountered this specifically in gravity-force-lab where the slider range spans 9 billion and the step size was 1. In this case, mobile VoiceOver failed to send DOM events to the browser when the user changed values with gestures. We fixed this in gravity-force-lab by making the step size 1 billion

[2019-05-31 22:02] jessegreenberg commented on #137
@terracoda I think this issue can be closed now. I am unfamiliar with binder work but feel free to document in the appropriate place if there are notes or TODOs from this that shouldn't be forgotten.

[2019-05-31 22:16] jessegreenberg commented on #139
I just submitted a bug report to Apple, lets see if anything comes of it!

[2019-06-17 17:28] jessegreenberg commented on #132
Since I have access to a macOS now I shouldn't need to pair for this. Thanks for the offer to help @twant, Ill let you know if I need assistance!

I just saw this in another JSFiddle while looking into another issue.

[2019-06-18 16:37] jessegreenberg commented on #107
@terracoda @emily-phet I was just notified that this was fixed as of Firefox 67 and JAWS 2019 June update.  This was a large reason why we switched from Firefox to Chrome with JAWS.

[2019-06-18 16:37] #107 closed

[2019-06-18 16:40] jessegreenberg opened #140 "VoiceOver doesn't read alerts values change quickly with long strings of aria-valuetext"
Originally reported in https://github.com/phetsims/gravity-force-lab-basics/issues/146, determined to be a general VoiceOver issue through this example HTML
<details>

[code]
</details>

We may or may not spend time to find a project specific workaround, but either way we should submit a bug report to Apple.

[2019-06-18 16:44] jessegreenberg commented on #139
Apple responded by requesting we resubmit the report using Feedback Assistant and submitting any generated files that service provides.

[2019-06-18 17:15] jessegreenberg commented on #140
In preparing the report to Apple I realized that this is a pretty complicated example HTML.

And when I remove the window.setTimeout and set the aria-live content immediately, the problem goes away.

[2019-06-18 17:34] jessegreenberg commented on #140
From https://github.com/phetsims/gravity-force-lab-basics/issues/146

I guess the bug report for Apple would more generally be something like "Deferred alerts are often missing when using VoiceOver" or something.

[2019-06-24 10:42] terracoda opened #141 "Dynamic Phrase Builder?"
@emily-phet and I have bounced around a few ideas about how to make a simple but effect tool that helps with description design.

Our ideas have ranged from a fully editable A11y-Vew-Type interface to this simple phrase builder that uses the select element to play with phrase parameters.

I'd like to know if this little phrase builder in a very simple form would be something useful to designers an

[2019-06-24 10:46] terracoda commented on #141
Tagging @emily-phet , @jessegreenberg, @zepumph, @twant, @Matthew-phet for potential feedback.

[2019-06-24 13:38] terracoda commented on #141
This issue is related to #136

[2019-06-24 15:24] jessegreenberg commented on #141
@terracoda, this looks really cool! Can you comment on what this will provide that is currently not supported by current design tools like spreadsheets and docs? Is it mostly to help identify the parameters of a phrase and then see the sentence in full with params filled in or are there other things too?

https://github.com/phetsims/a11y-research/blob/master/tools/phrase-and-parameter-sketcher.htm

[2019-06-24 21:20] terracoda commented on #141
@jessegreenberg, this doesn't add a huge amount of functionality that a table in a design document would actually achieve. However, it is surely more interactive than a table in a design doc.

I think a tool like this might aid a designer in playing with the phrase and the parameters to carefully refine wording and perhaps splicing before implementation.

I think by being able to play with the phr

[2019-06-24 21:27] terracoda commented on #141
@jessegreenberg, I have a feeling that it could potentially make the design and development process more efficient be reducing wording/splicing errors, and reducing the number of required updates to tables of examples or walk-throughs.

It could aid the designer in walking through the idea more completely in a direct way.

If the tool could actually export any useful results of the exploration the

[2019-06-24 21:29] terracoda commented on #141
It's taken a long time (various reasons) to get to the final phrase and parameters in the provided example.

[2019-06-24 21:31] terracoda commented on #141
Here's the example in HTML preview:
https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/tools/phrase-and-parameter-sketcher.html

[2019-06-25 21:58] zepumph commented on #141
Here is a link that you can use to look at the first prototype:

https://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/js/phrase-builder/phrase-builder.html

Basic instructions:
1. Add your sentence into the first text area, with `{{templateVars}}` annotated with the double curly braces around the sides. You can only use letters inside the braces, no spaces.
2. Once

[2019-06-25 22:06] zepumph commented on #141
Also assigning @emily-phet if she wants to comment.

[2019-06-26 06:35] terracoda opened #142 "A11y Sims Page - Mobile A11y icon?"
We just published Ohm's Law with mobile A11y. Do we need an icon for that?

Tagging @emily-phet, @amanda-phet, @arouinfar, @oliver-phet.

[2019-06-26 06:50] terracoda commented on #141
There are some bugs, but looks promising.
I added a {{templateVars}} after the original set and I got some weird repetition and no new select box maker-thingy.
<img width="1003" alt="Screen Shot 2019-06-26 at 8 47 46 AM" src="https://user-images.githubusercontent.com/1902116/60157520-3b564c00-97ef-11e9-8402-c35cfe562e45.png">

[2019-06-26 08:07] terracoda commented on #141
@zepumph, I'll have to do some more investigation, but I won't have time today, I don't think.

[2019-06-26 15:59] jessegreenberg commented on #141
Really cool @zepumph, I like it a lot. Nice work!

[2019-06-26 16:00] zepumph commented on #141
Sorry if I wasn't clear, it is designed so that each is named differently, like "templateVar1" etc.

[2019-06-26 21:21] arouinfar commented on #142
@terracoda @emily-phet I suspect that mobile a11y features are different enough that it would merit its own icon. I'll add an item to the website meeting agenda.

At minimum we should update the Ohm's Law listing on https://phet.colorado.edu/en/accessibility/prototypes

@terracoda and/or @emily-phet can you also confirm if that list is otherwise up-to-date?

[2019-06-26 21:41] amanda-phet commented on #142
What are mobile a11y features?

On Wed, Jun 26, 2019, 5:21 PM Amy Rouinfar <notifications@github.com> wrote:

[2019-06-26 21:45] arouinfar commented on #142
I think that means pinch-to-zoom and compatible with mobile VoiceOver, but it would be good to confirm. @terracoda?

[2019-06-26 22:03] emily-phet commented on #142
Thanks for asking! What we're referring to as "mobile a11y" in this case is: descriptions accessible from mobile devices.
On non-mobile devices there is usually a physical keyboard or some other non-touch based option for navigating the screen reader. On mobile devices, screen readers use a different paradigm for input (so to speak). It takes additional development effort and approaches to ensure

[2019-06-27 10:43] terracoda commented on #141
I was wondering about that. I hadn't yet tried it, but will ;-)

[2019-06-27 11:01] terracoda commented on #142
@emily-phet, you explain it correctly, in our original accessibility investigations, we explored keyboard accessibility only. The accessible interactions like the accessible content is off the actual screen, so our solution was not then also accessible on touch devices with a screen reader activated.

"Mobile A11y" specifically means non-visual access on a mobile/touch device. Sims without "Mobile

[2019-06-27 12:40] amanda-phet commented on #142
I agree, a phone icons makes sense, and we will have that legend at the top
of the sims page to explain what it means.

On Thu, Jun 27, 2019, 7:01 AM Taliesin L. Smith <notifications@github.com>
wrote:

[2019-07-05 09:58] terracoda opened #143 "Feedback on A11y Desgin & Implementation template"
I created a Check List (a git hub issue template) that can be used to help track the design and development process of a11y features (mainly description). I am mainly thinking of this as a checklist for the sims' description designer to use, however, it is not meant to be exclusive.

**The current version of the template checklist can be viewed here:**
https://github.com/phetsims/a11y-research/blo

[2019-07-08 17:10] zepumph commented on #143
* " Mobile Accessibility - (Started: ) (Completed: )"  doesn't make total sense to me as an independent start/complete bullet. To me it is more of a platform/device that we work into the design of other a11y features. For example, if we are developing keyboard nav for mobile accessibility too, we would just test windows and mac and a mobile device while implementing that feature.

* >List of signi

[2019-07-09 08:21] terracoda commented on #143
Thanks @zepumph fro these comments.
- I'll remove start/competed dates for Mobile A11y. I agree, it's just mixed in.
As for the last item

That's just for housekeeping. Since I started using these types of checklist, I have been adjusting the list through development. This item may not needed. I'll change the name to housekeeping (optional) for clarity.

[2019-07-09 08:29] terracoda commented on #143
Commit https://github.com/phetsims/a11y-research/commit/72be19da0165724db33d91387783e72b861e59b5 incorporates @zepumph's feedback.

[2019-07-09 20:22] oliver-phet commented on #142
Here's a first pass at an icon for this:
![mobile_accessibility-icons](https://user-images.githubusercontent.com/5090275/60920247-fa315380-a254-11e9-8b57-23f0211545eb.gif)
Thoughts @emily-phet @terracoda ?

[2019-07-10 17:30] emily-phet commented on #142
Nice! Maybe flip phone to be horizontal (tablet style), with the icon for dynamic descriptions in the middle? Then scaled down so the entire thing is the same size as the icons already on the accessibility page.

[2019-07-10 21:36] jessegreenberg opened #144 "Support for Talkback"
We don't currently support talkback yet (Google screen reader for android), but we would like to in the future.

We tried some preliminary testing in https://github.com/phetsims/QA/issues/333#issuecomment-498790543, but it wasn't a full test and we should do more soon. I will create a QA task and coordinate with @KatieWoe to test on an up to date android device.

[2019-07-10 21:38] jessegreenberg commented on #144
I notice a few issues on my Galaxy S6 with Talkback on Chrome 75. aria-valuetext is not supported at all which is a problem because we use aria-valuetext a lot in our sims. Whenever I click on a button, Talkback says "Off" as if every button is a toggle button.

[2019-07-10 21:39] jessegreenberg commented on #144
In https://github.com/phetsims/tambo/issues/65 we found that sound does not initiate from `input` or `change` events on  Galaxy S6 with Talkback on Chrome 75. This means that there are cases where the user could interact with a simulation and not hear any sound. For instance, if the first thing a user interacts with is a slider, any associated sound will not come through.

[2019-07-10 22:08] jessegreenberg commented on #144
To be continued after https://github.com/phetsims/tambo/issues/65

[2019-07-11 12:48] terracoda commented on #142
Nice Oliver! And I like @emily-phet 's suggestions, too....sideways and dynamic descriptions icon.

[2019-07-11 16:07] oliver-phet commented on #142
So, the images on the website are currently 100px wide by 116px tall, so a portrait orientation fit a little better.
Here's a landscape view with a scaled-down dynamic description icon:
![accessibility-icons](https://user-images.githubusercontent.com/5090275/61065940-e8b98a00-a3c1-11e9-8299-844e49e370f0.gif)

Here's an example with a few icons in context. I think we initially went with the green i

[2019-07-11 17:37] amanda-phet commented on #142
We also didn't fill the bubble since we thought it could include either simple or dynamic descriptions.

[2019-07-12 14:46] terracoda commented on #142
@amanda-phet, I like that idea. Fill the mobile a11y icon with the 1 of three icons:
- empty if no description,
- plain lines if only simple description,
- zig-zaggy lines if full description.

Nice idea!

[2019-07-12 15:45] jessegreenberg commented on #144
@KatieWoe and I tested Talkback in https://github.com/phetsims/QA/issues/364#issuecomment-510934500.

A summary of what we found:
- Using gestures to read through content with the cursor works great.
- You cannot tap individual elements in the sim to focus them. This is specific to PhET sims, this is possible for Talkback with other web content.
- Interactive content is not discoverable if reading

[2019-07-12 15:55] jessegreenberg commented on #144
At this JSFiddle, my Galaxy S6 device is reading the aria-valuetext after the slider percentage. https://jsfiddle.net/bp4akf2r/6/

[2019-07-12 16:12] jessegreenberg commented on #144
After playing with CSS in AccessibleSiblingStyle, I found that these two CSS attributes are preventing touch discovery on talkback:
[code]

[2019-07-12 16:13] jessegreenberg commented on #144
We are ready to have a group discussion about whether to push for support for Talkback.

[2019-07-12 18:10] jessegreenberg commented on #140
I submitted a bug report on 7/12 for this.

[2019-07-26 09:58] terracoda commented on #143
@Matthew-phet, if you have any feedback on this checklist, that would be great.
Is it understandable?

[2019-09-04 00:17] jessegreenberg commented on #144
We discussed this as a group and determined that Talkback does not work well enough to push for broad support. The biggest drawback is the lack of support for aria-valuetext. This indicates there will be other important attributes that are not supported. We will continue to hope that Talkback improves and continue to check on it about once per a11y related dev test to see if support gets better. W

[2019-09-04 00:17] #144 closed

[2019-09-04 00:25] jessegreenberg commented on #132
I just verified that this is still an issue.

[2019-09-04 17:11] jessegreenberg commented on #132
Changing the content HTML in https://github.com/phetsims/a11y-research/issues/132#issuecomment-527689724 to use a slider instead of a button has the alerts duplicate every time.
[code]

So the duplication happens when there is some input, then announced value change, then aria-live alert.

[2019-09-04 17:19] jessegreenberg commented on #132
I searched for any info online or other reports of this and didn't see anything. I also tried different combinations of the `aria-live` attributes to see if any would for some reason prevent this VO bug but nothing made an impact. I don't think this is anything we can work around unfortunately. I will write a bug report and submit to apple.

Pinging @terracoda and @emily-phet so they are aware of

[2019-09-04 17:54] jessegreenberg commented on #132
Report generated but Feedback Assistant is temporarily out of service. Will try again later.

[2019-09-04 18:47] emily-phet commented on #132
@jessegreenberg Thanks. Sounds like we'll have to live with repeated alerts when user testing or designing with people using screen readers. This is another reason to move the sound design work away from using the wrappers, which I think is where we're headed.

Haptics and other work still in wrappers will just need to keep this in mind when planning studies, etc.

[2019-09-04 18:52] terracoda commented on #132
@jessegreenberg, indeed the duplication is inconsistent, even in the example links you provided above. Apologies for being late to this issue. For me this duplication happens in the current A11y Views for GFLB in the following cases:
- checking and unchecking checkboxes (consistantly)
- reset button (never)

[2019-09-04 18:54] terracoda commented on #132
I added the above comment because I wasn't sure a checkbox was a value change, but maybe it is? It certainly is in some cases.

[2019-09-04 19:03] jessegreenberg commented on #132
OK thanks @terracoda that aligns with what I was seeing. Maybe instead of value it is more just any state change that gets read by VO like checked, pressed, value or things like that.

[2019-09-26 16:15] zepumph opened #145 "What to call "descriptions" features"
Over in https://github.com/phetsims/scenery/issues/997 @jessegreenberg and I are interested in renaming code from "accessibility" to be more feature specific. For example, a file that holds all the model data for a Node in the PDOM used to be called `Accessibility.js`, and we want to rename it to `PDOM.js`. This is in an attempt to move accessibility work to a more "feature-specific" understanding

[2019-09-26 17:01] jessegreenberg commented on #145
Thanks for the feedback @terracoda, that all makes a lot of sense. Conceptually, I think that the list we made with "Description Support", "Alternative Input", and "Interactive Alerts" could be replaced with your terminology and I think that is great.

One thing we were looking for is a term for all of these things together. And for this, we are proposing "Interactive Descriptions" . So with your

[2019-09-26 19:57] zepumph commented on #145
One thing we were looking for is a term for all of these things together.>

Right! Perhaps this is just the feature called "Descriptions" composed of `State Descriptions + Responsive Descriptions`. or "Interactive Descriptions."

I don't really see a focus on alternative input in the paper. Here are a few more thoughts about adding that to the mix:

* Maybe **Alternative Input** is another feature

[2019-10-04 19:38] terracoda commented on #145
Oh shoot, I commented in the other issue
https://github.com/phetsims/scenery/issues/997#issuecomment-538530865

without seeing the above comments from @zepumph and @jessegreenberg.

Reviewing now.

[2019-10-04 20:00] terracoda commented on #145
@jessegreenberg, my only concern with you equation in https://github.com/phetsims/a11y-research/issues/145#issuecomment-535595878

is that most "Responsive Descriptions" are supported by `aria-live` and implemented by `UtteranceQueue.js` , but some Responsive Descriptions (e.g., Object Responses for sliders) I think would be implemented by `Accessibility.js/Input.js`

The terms I posted above work

[2019-10-04 20:06] terracoda commented on #145
@zepumph and @jessegreenberg, am I right to think that "Alternative Input" can actually not include any description?

[2019-10-08 19:55] zepumph opened #146 "Hard coded region tables are hard to maintain"
In GFL and GFLB we implemented a pattern where we hard coded numbers in a range that could then map to specific region strings (for dynamic description design). This pattern was then used in Molarity as well. I think that this should not be something that we propagate any further. In ISL we implemented those regions 6 months ago, and have already found two issues come about in the past month where

[2019-10-08 20:07] twant commented on #146
@zepumph I agree that these are hard to maintain, and I like the idea of calculated regions. I'm wondering how we could build in structures to support single-value regions, as these were needed in several places in Molarity.

[2019-10-09 01:52] zepumph commented on #146
I experimented with a type that could manage all of this for us. It basically works by normalizing the values for us, by having a hard coded copied range along with the hard coded values. Then from there it can easily normalize the hard coded values and apply them to whatever value that has changed.

Here is the patch of the type and its usage:

<details>

[code]

</details>

<details>

<summary>

[2019-10-10 23:16] zepumph commented on #145
After a meeting with @terracoda and @jessegreenberg today, we came up with the following. The feature/sub-feature is named, and then in parens is the technological implementation name. We also reached out to @emily-phet and she was in agreement.

	Interactive Descriptions:
		State Descriptions (PDOM)
			a. Static States
			b. Dynamic States
		Responsive Descriptions
			a. Object Responses (Utteran

[2019-10-11 18:53] terracoda commented on #146
@zepumph, I agree!
I agree it would be ideal to be able to calculate the ranges based on the model.
I would rather not provide numbers that can be calculated.

The ranges, whenever I have provided them, has been based on the idea that they are rough descriptions of the visual design.

What does this mean for https://github.com/phetsims/gravity-force-lab-basics/issues/182?
I was talking to @emily-p

[2019-10-11 19:04] terracoda commented on #146
If we take GFLB as an example, we can't just take the range of force (0.7 N - 3949.2 N) and divide 3948.5 N into 7 equal regions. In this sim, the regions on the smaller side have smaller ranges.

As designer without a science background, I have a lot of trouble figuring out how to figure out or even calculate a range for each region.

Any help we can get with this will be greatly appreciated.

[2019-10-11 20:08] terracoda commented on #142
@amanda-phet, considering more recent comments in #898, we might not need the plain-lines icon for simple description.

[2019-10-11 20:14] terracoda commented on #146
The https://planetcalc.com/5992/ tool looks very interesting!

[2019-10-15 20:41] zepumph commented on #146
@jessegreenberg and I were discussing my prototype in the details above, and we think it would be worth committing. I think scenery-phet makes the most sense. Let's start with `RegionMapper`.

[2019-10-21 22:18] zepumph commented on #146
I think that this plays into discussion we have had before about having the dev and designer meet early in the process to discover what model Properties are at the designer's disposal. Ranges of the Properties seem important to convey as well.

[2019-10-22 13:18] terracoda commented on #146
@zepumph, I agree, and we did meet early in the design process for GFL. We had determined that there was some "visual hollywooding" on the force vectors, but no much else.

To help with my understanding of the model either @zepumph  or @jessegreenberg  plotted two graphs (see design doc) for me.  These graphs are now out of date due to the bug found in ISLC, but all said, I think we are doing the

[2019-10-22 15:06] jessegreenberg opened #147 "Magnification design questions"
There are a couple of design questions related to improved accessibility from magnification that we want to understand. We are not sure at this time if any work on these is necessary. We hope that user feedback and interviews will inform if any of these are necessary. Listing out questions here:

- Should the sim pan with the dragged object with keyboard dragging like it does with mouse dragging?

[2019-10-22 18:26] zepumph commented on #146
After hearing this, I think I have changed my mind about the necessity for a "RegionMapper" type. It sounds like the preferred mechanism is to try to map it to a function. I'm less interested in building out something that is meant to be the fallback method.

Instead I think what we can do is just normalize all the values hard coded in GFL and Molarity describers. That way they are future proof.

[2019-10-22 19:47] zepumph commented on #146
After discussing more with @jessegreenberg, we think that it makes sense to proceed with a formalized type to encapsulate this pattern.

Furthermore, we thought that we may be able to treat this more like math, where we have a a piecewise function of flat x=y steps, and then worked out whether points are inclusive or exclusive to each function (or their own single value step). I'm not sure how eas

[2019-10-29 19:00] samreid commented on #101
From the slack dev-public channel today:

Chris Malley 11:27 AM

But I see from https://github.com/phetsims/a11y-research/issues/101 that the discussion is closed.

Jesse Greenberg 11:32 AM

Chris Malley 11:32 AM

Jesse Greenberg 11:32 AM

Michael Kauzmann 11:33 AM

Oh oops, sorry
You have seen it.

Chris Malley 11:34 AM

Michael Kauzmann 11:34 AM

Jesse Greenberg 11:34 AM

Chris Malley 11:41 AM

[2019-10-29 19:13] pixelzoom commented on #101
The above discussion was in the context of which prefix to add to PDOM-specific Nodes that have been added to `JOIST/ScreenView` as part of https://github.com/phetsims/scenery-phet/issues/381.  I initially suggested 'a11y', @samreid suggested "Maybe the prefix would be “pdom” instead of “a11y” based on considerations in https://github.com/phetsims/scenery/issues/997 ?" Prefix 'pdom' was ultimately

[2019-10-29 19:44] terracoda commented on #101
An important thing to understand from a user experience prespective is that this beautiful piece of architecture no matter how it is implemented provides a parallel experience for learners who access it!

The interactive modalities are delivered in parallel. I feel that is what makes this architecture so innovative!

[2019-10-29 19:47] terracoda commented on #101
@samreid and @pixelzoom, I have had comments like, "Am I using the same sim as a visual student would use?"

We can proudly say yes to this question!

[2019-10-29 20:31] pixelzoom commented on #101
No question about the value of the end result or parallel-ness of the experience, great stuff.  Just pointing out some warts on the technical side of things -- namely the dissonance with standard HTML terminology, and "parallel" can be related to things other than accessibility.

[2019-11-13 22:37] KatieWoe opened #148 "Jaws may stop reading description"
I've noticed something odd sometimes when using Jaws.  Sometimes, when I first start reading through a scene description, it will stop reading and I'll need to do something like hit tab or refresh the page to get it to start again.  It isn't consistent and I seem to be the only one to run in to it, so I may just be bad at using Jaws.
Specific steps (generally):
1. Go to the sim page
2. Turn on Jaw

[2019-11-13 22:38] jessegreenberg commented on #148
@KatieWoe can you please comment on when this started happening? Is this new or has this always happened with JAWS?

[2019-11-13 22:41] KatieWoe commented on #148
It isn't new.  It's not consistent so I can't say for sure when it started, but it's been for awhile, possibly since I've been here.

[2019-11-13 22:42] KatieWoe commented on #148
Hard to tell since a lot of things I "found" at first were me not knowing how to use the screen readers.

[2019-11-13 22:46] jessegreenberg commented on #148
That makes sense, thanks. I only ask because that helps determine whether or not this started happening after recent changes.

[2019-11-19 02:33] terracoda commented on #148
I have noticed something that may be similar in VO. I often use Control Option B to start read from the top, and it seems to vary from sim to sim where VO decides to stop reading. I haven't figured out if there is a common place that VO tends to stop reading automatically.

For me (from memory - would have to retest) I have a feeling VO stops reading on the first interactive object. But this is a

[2019-11-19 19:40] zepumph opened #149 "VoiceOver Bug: Home/End falsey trigger VO+Home/End when in a labelled group"
This bug was originally reported in https://github.com/phetsims/gravity-force-lab/issues/187. There we found that using home/end on the mass control sliders in Gravity Force Lab caused a very weird interaction, and that this was because VO was acting like Home  (fn + left arrow on a mac) was executing the command bound to VO + Home AND moving the slider home. Basically moving the virtual cursor ar

[2019-11-19 23:05] zepumph commented on #149
Bug report submitted.

[2019-11-25 20:56] terracoda commented on #142
@amanda-phet,we might not need to do what was suggested https://github.com/phetsims/a11y-research/issues/142#issuecomment-510914109

[2019-11-25 21:04] amanda-phet commented on #142
Since the icon has been designed and deployed, can this issue be closed?

[2019-11-29 14:22] terracoda commented on #146
@zepumph, just a note that I still don't hear "closest" when the mass spheres are closest see closed issue #178

I don't need to re-open #178, do I?

[2019-12-31 18:37] terracoda commented on #142
@amanda-phet shared new icon designs in https://github.com/phetsims/website/issues/951#issuecomment-569821242

We'll continue discussing design as needed in the website repo.

Closing this issue.

[2019-12-31 18:37] #142 closed

[2019-12-31 18:41] terracoda commented on #142
I'll add that doing https://github.com/phetsims/a11y-research/issues/142#issuecomment-510914109 might be a little too granular for the website needs.

At some point all sims will have Zoom enabled fro touch devices, so we may not need to have an icon explicitly for that. And we no longer call out "Simple Description".

[2019-12-31 19:00] terracoda commented on #73
I don't think we are exploring this further at this time, so closing for now.
We have an accessible combobox in phetsims/molarity

[2019-12-31 19:00] #73 closed

[2019-12-31 19:04] terracoda commented on #109
The issue of a dialog using a "pop-up" button came up as a comment in an interview for the Molecules and Light sim (Dec 20, 2019). Everything worked fine, but consultant said "has pop-up" denoted a menu interaction to her - not a dialog.

We may need to check on the current level of support for the "has dialog button".

[2020-01-09 20:58] terracoda opened #150 "Investigate benefits of ABBR tag for Chemical names"
From https://github.com/phetsims/molarity/issues/215 and there is also an issue in Molecules and Light.

It might be a good idea to check if there are any recent solutions on how to get screen reader software to read out chemical names correctly.

Historically, there haven't been any good solutions.

[2020-01-27 22:32] zepumph opened #151 "Sliders can be ignored from "Form Controls" rotor"
While working on https://github.com/phetsims/gravity-force-lab/issues/233, I found that, while navigating with "form controls" in the iOS rotor, on refresh the virtual cursor will skip over the first four sliders and go straight to the ruler. I was able to reproduce this with simple HTML like:
[code]

After discussing with @jessegreenberg, we decided to submit a bug to apple and to not look into w

[2020-01-29 04:53] zepumph commented on #146
You shouldn't need to.

Sorry for the delay here.

After @jessegreenberg and my previous conversation I tried to work out a formalized type, but never got a lot of traction. What I kept coming back to (in part through conversation with other devs), is that you will always need to give normalized values to the type, so the value of a formalized Type is actually quite limited. Over in GFL we ended u

[2020-01-29 04:53] #146 closed

[2020-01-29 12:06] terracoda commented on #146
I do get "closest" in both GFL regular and Basics the last time I checked.

[2020-01-29 22:50] KatieWoe opened #152 "Two finger swipe up moves to the back button."
Found during https://github.com/phetsims/QA/issues/471. Confirmed that it occurred in a published sim as well (GFLB).
From slack:

Odd thing I just noticed, think it might have come from a new iPadOS update. Swiping up with two fingers on mobile VO doesn't move you to the top of the scene description, it moves you up to the back arrow and reads through the url, tabs, etc. Is this now expected/some

[2020-01-29 23:44] jessegreenberg commented on #152
Thanks for pointing out @KatieWoe - I was able to make this happen for a few sims. I also made it happen for a few web pages outside of PhET. This is just the behavior of VoiceOver now and is very much out of our control.

Still helpful to know this is how it works. Closing.

[2020-01-29 23:44] #152 closed

[2020-02-05 04:44] zepumph commented on #152
@jessegreenberg do you think this counts as an a11y "quirk" to track?

[2020-02-05 15:40] jessegreenberg commented on #152
The Apple description for this in https://support.apple.com/guide/iphone/learn-voiceover-gestures-iph3e2e2281/ios is "Speak the entire screen from the top", so I think this is the intended behavior.

[2020-02-11 01:20] zepumph opened #153 "Investigate MechaMarkers integration"
We are beginning to investigate using mechamarkers, a creation from partners in the Atlas lab, as an input modality to phetsims. This morning, developers from that project (@Petroochio and @clementzheng) met with me and @jessegreenberg to discuss the implementations of the two projects as they pertain to creating an adapter to join the two.

We were able to create a hello world example that used t

[2020-02-11 01:40] zepumph commented on #153
Here is the scrap from ResetAllButton:
[code]

Here is a list of potential ways forward some may be connected but others not really:
* Branch scenery to add "low level" input channels for mechamarkers to use
* Branch GFL and just add specific hooks to the components needed for just this sim while prototyping.
* Create a new repo with adapter code for mechamarkers to work with phetsims.
* Attach to

[2020-02-11 20:25] zepumph commented on #153
After discussing with @jessegreenberg today, we think that the best way forward for prototyping is to create a sim-specific module that is passed the model. Since mechamarkers uses a webSocket, we are very flexible as to how we add it into our unbuilt code. For now we will keep it to one sim.

We can keep it on master with a line like:
`assert && phet.queryParameters.markerInput && MarkerInput.go(

[2020-02-13 17:27] zepumph opened #154 "NVDA reads top of page when hiding "dialog" content and focusing elsewhere"
From https://github.com/phetsims/gravity-force-lab/issues/234, we should submit a but report to NVDA to see if their logic can be improved.

<details>

[code]
</details>

[2020-03-02 21:02] emily-phet opened #155 "Arrange for an introduction to making tweaks to description strings"
@Matthew-Moore240
This is in response to conversation that came up in today's Molarity postmortem.
I thought it would be useful for you to learn the process of tweaking a description string directly. The idea is not that you would necessarily do a lot of this, but that you would have this "tool in your toolbox" so to speak to use at times it seems beneficial, and learning how to do it might introd

[2020-03-03 01:12] zepumph opened #156 "NVDA Firefox clicks checkbox twice from <label>"
Reported originally in https://github.com/phetsims/gravity-force-lab/issues/257. The issue is that in Firefox, when using NVDA, we are able to go to the label of the checkbox with the virtual cursor (this is not possible in chrome's current Accessibility Tree implementation). Then when you activate the checkbox from the label (enter or spacebar), the phetsims checkbox will click twice. We found th

[2020-03-03 22:14] zepumph commented on #156
Submitted in https://github.com/nvaccess/nvda/issues/10839. Marking as such

[2020-03-05 17:14] zepumph commented on #156
https://github.com/nvaccess/nvda/issues/10839 was closed as a wont-fix, we will pick this up in https://github.com/phetsims/sun/issues/574

[2020-03-05 17:14] #156 closed

[2020-03-25 17:23] jessegreenberg commented on #155
@Matthew-Moore240 and I met today to go through this, we went through the steps to edit strings through the github UI, and committed changes as shown in the above two commits. Closing!

[2020-03-25 17:23] #155 closed

[2020-03-30 19:04] zepumph commented on #141
This is becoming a priority again, as much as it is helpful to designers. I think we will work on it more this corner.

Here is a wishlist for me after looking at it again for only a few minutes:
* local storage saving so that refresh doesn't make us lose work
* "save/load" feature so that you can download work, and then load it again, or perhaps send that to someone else to load
* Instructions on

[2020-03-31 09:15] terracoda commented on #141
Other things to keep in mind:
- keep the text on the add buttons as short as possible, e.g. [[Add `fruits`]].
- The instructional part of the button label text could be put in single general location.
- Perhaps the flow could be improved with input or edit buttons?
- I agree, some option for saving the results is essential.

[2020-04-01 01:39] zepumph commented on #141
I got through everything in the above bullets. @terracoda let me know how this looks. I made it so that much more is just done automatically. Please review.

[2020-04-14 14:00] emily-phet commented on #141
@zepumph - where can I find the latest?

[2020-04-14 16:02] zepumph commented on #141
http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/js/phrase-builder/phrase-builder.html

Does this work? Right  on we don't have a better way to host it, but I will work on that.

[2020-04-14 16:02] zepumph commented on #141
Also note I just tried opening on a mobile device and it didn't look right. We may need a few changes to be more universal.

[2020-04-14 16:08] terracoda commented on #141
That link no longer looks like what you shared with me last on Slack.
The link loads this:
![Screen Shot 2020-04-14 at 1 36 03 PM](https://user-images.githubusercontent.com/1902116/79247455-21a4f480-7e55-11ea-9c6f-eb6a272e7618.png)

But I expected something like this:
![Screen Shot 2020-03-30 at 5 51 47 PM](https://user-images.githubusercontent.com/1902116/79247518-37b2b500-7e55-11ea-9c7d-1c23d84a

[2020-04-14 16:30] zepumph commented on #141
Me neither! I just made it so that we are hosting that page through github. Please review with this link:

https://phetsims.github.io/a11y-research/js/phrase-builder/

[2020-04-15 00:46] terracoda commented on #141
This is looking awesome @zepumph.

It could be possible to have the choose from the same list of parameters more than once per sentence show. Is it be possible to do a sentence like this?

- I like to eat, eat, eat, apples and {{otherFruit}} and {{otherFruit}}.

Or is better to do this:
- I like to eat, eat, eat, apples and {{otherFruit}} and {{otherFruit01}}.

The reason I was thinking about this

[2020-04-15 01:50] terracoda commented on #141
@zepumph, could you replace the instructional content with a list, so the initial text reads like step-by-step instructions:

 **Dynamic Phrase Manipulator**
This phrase creator supports rapid prototyping and verification of dynamic phrases used in dynamic descriptions and responses.

To create a phrase with dynamic parts:
 1. Type in a description phrase in the text area input.
 2. For the dynami

[2020-04-15 17:23] jessegreenberg commented on #145
We received some feedback from the team that "Interactive Description" was confusing.

It started with confusion that `?supportsDescriptions` enables *both* keyboard navigation and descriptions. But in general, people felt that "descriptions" don't accurately describe all of the input/output that comes with this feature set. We were hoping that "Interactive" would describe the input part of altern

[2020-04-15 17:26] terracoda commented on #145
Who are the query parameters for?

[2020-04-15 17:48] pixelzoom commented on #145
@arouinfar also pointed out that "Interactive Description" is public-facing on the PhET website.  But I don't think that choosing terminology (or query parameter name) should be overly-concerned with whether it's internal or public-facing.  I'd hate to see us say "this is good enough for internal use".  Clear terminology promotes good communication, internal terminology has a way of leaking out in

[2020-04-15 20:18] terracoda commented on #145
"Interactive Description" is a term, an intentional term.
It is not an adjective and a noun.
It is not "interactive descriptions (plural)".

Personally, I am really happy with the term, and I do not understand what the confusion is.

[2020-04-15 20:51] ariel-phet commented on #145
Hey all, saw this discussion on dev public.

@terracoda totally understandable to not understand the confusion. I think @samreid also had some thoughts here, maybe he can summarize better since he started the discussion on the public dev channel. Let me ask him to chime in.

[2020-04-15 21:42] samreid commented on #145
Thanks for pointing me to this issue, it's helpful to see the summary definition of Interactive Description in https://github.com/phetsims/a11y-research/issues/145#issuecomment-540836386.

I had some more questions about how this pertains to https://github.com/phetsims/wave-interference/issues/412.  If I understand correctly, our plan is to publish Wave Interference with keyboard navigation but wi

[2020-04-15 21:47] zepumph commented on #145
In terms of implementation, there is no granularity between alternative input and description. If you turn one on, you turn all on. We named Interactive Description (as a thought out and designed terminology) to describe this encapsulating feature set. The accessibility team has implemented and published multiple simulations with keyboard navigation but little/no static/response description. In th

[2020-04-15 21:57] zepumph opened #157 "Rename "Interactive Descriptions" to "Interactive Description" across the project"
I hear @terracoda over in https://github.com/phetsims/a11y-research/issues/145#issuecomment-614259137. We should make sure to fix this across the project

Currently there are 23 usages of `interactiveDescriptions`, and 19 usages of "interactive descriptions" (case insensitive).

@jessegreenberg whoever get's this this first.

[2020-04-16 00:57] emily-phet commented on #145
Hey folks - is there a blocking issue here? If not, let's discuss later in the year.

My guess is that what is needed here is a meeting of interested folks where we lay out the interconnected set of a11y features, and how some have complex relationships with each other. I understand how these relationships can be confusing, and that it takes learning about these relationships - and considering the

[2020-04-16 02:41] jessegreenberg commented on #145
I think it would be ideal to talk about this sooner if possible. The meeting would also review the name "Interactive Descriptions" and give interested people an opportunity to make sure this is the best brand name for this set of features. If we wait longer we will become more invested in the terminology we are currently using.

[2020-04-21 18:00] jessegreenberg commented on #120
@terracoda I just found this while reviewing meeting:a11y issus. We are using nested lists in MAL, and they sound as I would expect with NVDA + Firefox. Outer items are read as "Bullet" and nested items are read as "White bullet". Should anything more be done for this issue?

[2020-04-21 18:33] terracoda commented on #120
In MAL since we are using the nested list structure to for non-interactive content which itself has a lot of connected pieces, I think the bullets are very beneficial for navigating the content.

For housing interactive objects, I think the nested lists may be less helpful.

[2020-06-09 03:06] jessegreenberg opened #158 "Best markup for unordered lists"
From https://github.com/phetsims/molecules-and-light/issues/351 @terracoda said

It was discovered that
[code]
with
[code]

stopped screen readers from saying "bullet" when reading about itemized lists. This issue is to discuss whether we should do this for all unordered lists.

[2020-06-09 03:24] jessegreenberg commented on #158
I think it makes a lot of sense to do this in https://github.com/phetsims/molecules-and-light/issues/351 because it resolves the Safari bug found in that issue.

This will effectively remove all semantics for list items. So for example, the output (on NVDA) for
[code]
is
"List with three items. Pizza. Popcorn. Icecream."

Note that the output for this example isn't so different
[code]

"List with

[2020-09-08 19:04] zepumph opened #159 "Investigate the use of aria-describedby for object responses in dynamic description"
Over in https://github.com/phetsims/ratio-and-proportion/issues/157#issuecomment-686773999, @terracoda had a great idea to use aria-describedby to accomplish dynamic description in application roles and custom interactions. I want to see how it works in a dynamic context both on focus and on value change. Hopefully this can be a new tool for our description toolbox, especially since aria-valuetext

[2020-09-08 19:14] zepumph commented on #159
Using this code snippet, I found that aria-describedby will update very well when changing often:

[code]

A few interaction notes:
1. On focus this comes after than name/role, instead of before. Above we get "Both Hands, movable extra cool 0.12"
2. When you focus the application, and then wait on the component, just listening, the description builds up and becomes old very quickly. This case is w

[2020-09-08 21:07] zepumph commented on #159
Oh, it may be nice to try to reproduce the above results on different platforms. I only tested with NVDA on windows.

[2020-09-09 16:16] jessegreenberg commented on #159
In general I would expect aria-describedby to *only* be read when focus lands on "both-hands" element. Are you saying it gets read more frequently than that?

[2020-09-09 22:49] zepumph commented on #159
Yes indeed! Please try out the above snippet by focusing on the application div, and then hearing the description changes read to you as the describedby element changes.

[2020-09-15 18:11] zepumph commented on #159
Over in https://github.com/phetsims/ratio-and-proportion/issues/173#issuecomment-692867563 @terracoda found that aria-describedby didn't work with VoiceOver on focus or when it changed. I would like to create a small test case for use on my iPad to see if I can reproduce, and to see if there is a case where it does work (perhaps dependent on knit picky HTML).

Here is the PDOM that didn't work:

[

[2020-09-21 19:57] zepumph commented on #159
I created an isolated HTML snippet to try this out. The description for the application changes every second.

[code]

I witness very different behavior on three devices:

* Chrome + NVDA - on focus you hear the description, and whenever it changes, NVDA updates you with the current description. If you stay focused, there becomes a large build up of description and if the description changes never

[2020-10-06 22:23] zepumph commented on #159
aria-describedby has been removed from RaP. At this level of support, especially for VO + Safari, it seemed no worth it in conjunction with role="application".

See https://github.com/phetsims/ratio-and-proportion/issues/173#issuecomment-700293120 an d previous comments for discussion specific to RAP.

I'm going to close this issue. @terracoda please reopen if you have more thoughts.

[2020-10-06 22:23] #159 closed

[2020-10-08 13:53] terracoda commented on #138
@jessegreenberg, the report is submitted, is it safe to close this issue?

[2020-10-23 17:31] jessegreenberg commented on #138
As it turns out, this has been changed in iOS 14! VoiceOver now supports cursor tracking. It is the only setting and cannot be turned off (like in macOS). But this means we do get focus events on that platform. Closing.

[2020-10-23 17:31] #138 closed

[2020-10-23 17:36] zepumph commented on #20
Is this issue ready to close?

[2021-01-04 13:55] terracoda commented on #158
We may need some follow-up discussion in this issue on how widely we would like to implement this code for lists.

For example,
1. Do we want a common-code option to remove "bullets" from being announced? Or,
2. Do we never want to read out the bullets.

I think for short lists, e.g. 5 or fewer items, a counting of the items may not be necessary as long as the learner knows there are 5 items.

Ano

[2021-01-04 13:56] terracoda commented on #158
We have lists in several sims that we an compare and contrast.

[2021-01-07 21:00] jessegreenberg opened #160 "Submit bug report: iOS VoiceOver will not report slider values if changed with drag and drop"
From https://github.com/phetsims/sun/issues/668. Should submit a bug report to apple about this.

[2021-01-09 18:59] zepumph opened #161 "Interactive Description Design Tool"
This past week during our yearly team planning, there was a conversation about why sorts of design tools could really improve the workflow for designing interactive description in sims. It was very a very fruitful conversation that I will try to outline here. @jbphet @emily-phet @terracoda @jessegreenberg @zepumph @Matthew-Moore240 @BLFiedler @Ashton-Morris were all in the discussion.

@Matthew-Mo

[2021-01-09 19:02] zepumph commented on #161
A discussion with @jessegreenberg and @zepumph yielded the "Properties idea from @jessegreenberg" above. I think that it would be a really cool thing to explore and prototype. I think that a limited example like above could be very useful. I would be interested to see about how we could plug in the current phrase building technology to make this happen. I'll take a look.

[2021-01-09 21:07] zepumph commented on #161
Above is a first pass at mostly adding HTML UI to create Descriptions, Properties, and Elements that can all work with each other. Nothing is working yet, but here is a screen shot at the sort of form that may work at some point.

![image](https://user-images.githubusercontent.com/6856943/104108661-ff6cc580-5272-11eb-9d9d-daa82972a45a.png)

I think that there is still a layer needed, when creating

[2021-01-12 15:21] terracoda commented on #161
This is looking really interesting.
@jbphet also demoed Rosetta to me and @Matthew-Moore240, and I was curious about how the sim identifies "translatable strings". Some sims like John Travoltage before interactive descriptions was added had no translatable strings.

If designing interactive description after we already have a fully functioning visual design, what if we had a way to tag objects tha

[2021-01-12 18:56] Matthew-Moore240 commented on #161
These mockups look really great! @zepumph

[2021-01-18 18:22] terracoda commented on #161
I want to link this issue to #141 which I still need to review.

[2021-01-26 21:22] terracoda opened #162 "Create brief documentation to understand highlighting with iOS 14 changes"
In RaP, @zepumph explained to me why highlighting is now inconsistant when using iOS 14 + VOhttps://github.com/phetsims/ratio-and-proportion/issues/335#issuecomment-767737635

I am adding the notes here to see if I can flesh them out into somthing understandable for designers and QA.

@terracoda, @BLFiedler and I went over the reasoning for the inconsistent iOS + VO highlighting behavior. @terraco

[2021-02-01 20:19] zepumph commented on #161
I was thinking this could be a cool thing to experiment with ReactDOM with, I downloaded https://upmostly.com/tutorials/react-hello-world-your-first-react-app into a sandbox and played with it. If we were going to put more investment into this tool, it could be a really nice thing to try to use React for.

[2021-02-01 21:11] zepumph commented on #141
Because of work done in https://github.com/phetsims/a11y-research/issues/161, I wanted to make sure this component still ran, so I wrote a bit of a build step for it. Please review and test by loading https://phetsims.github.io/a11y-research/js/phrase-builder/build/, which should be the exact same as the above, (before I broke it with the other issue's work).

[2021-02-01 21:44] terracoda commented on #161
In the mock-up in https://github.com/phetsims/a11y-research/issues/161#issuecomment-757367251

I can imagine multiple cases, like in MAL:
Description Name (e.g., mal-dynamic-summary-case-01):
Currently, {{lightSource}} light source {{lightSourceOnOff}} directly at {{moleculeName}}.
Currently, {{lightSource}} light source {{lightSourceOnOff}} directly at {{moleculeName}}.
Currently, {{lightSource}}

[2021-02-01 22:03] terracoda commented on #141
@zepumph, I tested a bit, and there are some issues on refreshing.
I added a new variable (see resetHintTrue) and it didn't get loaded in the phrase down below. And I deleted a duplicate variable and it didn't get removed from the list (see 2 lightSource variables).

And I noticed an extra curly brace down below. I couldn't find a source from my example description.

[2021-02-01 22:04] terracoda commented on #141
A screen shot may be helpful.
![Screen Shot 2021-02-01 at 6 26 55 PM](https://user-images.githubusercontent.com/1902116/106523675-08406800-64bc-11eb-9b1a-5da4f1d3cd75.png)

[2021-02-01 22:13] terracoda commented on #161
My post might provide a few cases for testing.

[2021-02-02 01:48] zepumph commented on #157
I did a large refactor. I don't feel like this needs to end up in bad text or anything, because I feel like the convention will be followed. @jessegreenberg do you feel differently? Anything else here?

[2021-02-03 18:52] terracoda commented on #94
We have design the multi-screen sim for Ratio and Proportion.

We can use the sim as a good pattern. The buttons were updated to work well with desktop screen readers and mobile VoiceOver.

Here are screen shots of the final Home Screen, Discover Screen and Create Screen for Ration and Proportion.
The A11y View text shows that when changing screens, focus starts at the top. On the Home Screen, I j

[2021-02-03 18:53] terracoda commented on #94
Oh this might not be the right issue for the previous comment.

[2021-02-03 18:54] terracoda commented on #94
Moving previous comment it #104

[2021-02-03 18:55] terracoda commented on #104
We have design the multi-screen sim for Ratio and Proportion.

We can use the sim as a good pattern. The buttons were updated to work well with desktop screen readers and mobile VoiceOver.

Here are screen shots of the final Home Screen, Discover Screen and Create Screen for Ration and Proportion.
The A11y View text shows that when changing screens, focus starts at the top. On the Home Screen, I j

[2021-02-03 18:56] terracoda commented on #112
There is a visual example of Ratio and Proportion's final description design in issue #104

[2021-02-04 00:14] jbphet commented on #157
I believe that this rename may have created backwards-compatibility issues with release branches.  I just did a checkout of the 1.2 branch of atomic-interactions, tried to load phetmarks, and got the following error:

![image](https://user-images.githubusercontent.com/3082831/106825760-c5f56300-6642-11eb-808f-891050a4eb31.png)

The full path for the abbreviated part in the screenshot is:
[code]

I

[2021-02-04 00:15] jbphet commented on #157
I labeled this as "high-priority" because it's messing with my ability to test release branches, and I assume others are in the same boat or will be shortly.

[2021-02-05 23:01] jessegreenberg commented on #157
Overall the rename looks good to me.

For the compatibility issue with old phetmarks I am not sure. "Interactive Description" is being used publicly now on the website to brand this set of features so I think we should keep the rename.

The file rename in phetmarks could be relatively painless as maintenance releases go, maybe we should commit to that. @zepumph what do you think, do you see anothe

[2021-02-05 23:24] jessegreenberg commented on #94
https://github.com/phetsims/a11y-research/issues/94#issuecomment-772737948 look great! This issue was also about the navigation bar, is there anything else to do for that or can this issue be closed now?

[2021-02-08 08:43] emily-phet opened #163 "Braille reader output during custom interactions"
In a recent interview, a participant was using a Braille reader, and was unable to get Braille output of the descriptions when using the Both Hands mode.

@terracoda and I thought this was unexpected. @zepumph and/or @jessegreenberg confirm if this is to be expected, or if this is an implementation issue?

[2021-02-08 21:18] #94 closed

[2021-02-08 21:42] terracoda commented on #94
Ad just an FYI, I updated https://github.com/phetsims/joist/blob/master/doc/HomeScreen.md to include Ratio and Proportion as one of the examples.

[2021-02-09 23:35] emily-phet commented on #163
I just heard back from the CU Accessibility and Usability Lab. They have someone who does testing with them who uses a Braille Reader, but it has recently broken. They're getting the problem fixed, and I believe they will put us in contact with that person once that's done.

[2021-02-23 20:11] jessegreenberg commented on #157
@zepumph and I discussed - @zepumph had a thought that the fixing commit for this could be applied to all release branches without actually publishing them.  This would mean that we would go all the way up to `updateDependencies` in the MR process then leave commits unpublished.. Unfortunatley, these unpubilshed commit would then get flagged for the next batch of maintenance releases when someone

[2021-02-23 23:25] KatieWoe opened #164 "VO reads out other aspects of sim when moving within sliders"
Found during https://github.com/phetsims/QA/issues/614 on several sims on MacOS 11 on Safari with VO. Also seen on published.
If you use home or end on a slider, it is meant to jump to the ends of the slider. On a Mac this involves the fn key. When you use this to jump to the ends of the slider the "reset all button" or the start of the sim will start being read before going back to what happened

[2021-02-23 23:55] jessegreenberg commented on #164
So according to https://webaim.org/articles/voiceover/ these keys should jump the virtual cursor to the top/end of the page.

VO + End: Jump to bottom of page (on laptop keyboards, fn + → is End)

It is just weird that it still does this while focus is on a slider. I am going to see if it happens on a random HTMl slider.

[2021-02-24 00:01] jessegreenberg commented on #164
This is not happening in example sliders I am finding around the Web, so this might be something we need to fix.

[2021-02-24 00:09] jessegreenberg commented on #164
I thought maybe an event.preventDefault might be causing this, but I removed the one in AccessibleValueHandler and it had no impact on this behavior.

[2021-02-24 00:19] jessegreenberg commented on #164
I think I found it, it seems to be because of the `article` tag we use in sims, which maybe puts VoiceOver in a different mode. For this HTML, pressing home and end on a Mac correctly changes the slider.
[code]

But for this markup, pressing Home/End on a Mac changes the slider value AND moves the virtual cursor to the start/end of the article.
[code]

@terracoda assigning to you to review the beh

[2021-02-24 19:16] jonathanolson commented on #157
Please feel free to do this! I'm not concerned about that at all.

[2021-02-25 01:14] terracoda commented on #164
I think @zepumph and I once had a similar issue with sliders inside a list. It was in GFL or GFLB.
We are using article elements for the parent screen element, right?

Would we no longer have a parent container? or would we need to use a different element, like a div?

[2021-02-25 01:20] terracoda commented on #164
I can't seem to reproduce this, but I am not running the latest MacOS. What sim is causing the issue?

[2021-02-25 16:17] jessegreenberg commented on #164
Correct.

I was able to see this with macOS 11.2 in all sims that use a slider (OL, GFL, JT, others).

Exactly, one way to fix this could be to replace the `article` with a `div`. But I am not sure how important that element is, would that be an acceptable fix? Otherwise, we could leave this as-is, maybe submit a bug report to Apple and see if this is intended. Or spend time searching for a differ

[2021-02-25 16:21] jessegreenberg commented on #157
OK thanks @jonathanolson - I will go ahead with this then.

[2021-02-26 01:49] zepumph commented on #100
We have decided to go with code comments instead of nested options. CLosing

[2021-02-26 01:49] #100 closed

[2021-03-01 15:41] terracoda commented on #164
@jessegreenberg, I did a little reading on the `article` element. We seem to be using it correctly. It is for self-contained pieces of a larger thing.

First, I do think it is worth submitting a bug report to Apple because we are using the element correctly and VO is not handling it properly with regards to sliders.

For `article` the spec says:

Since our sims screen can be used individually, tho

[2021-03-01 16:40] jessegreenberg commented on #164
Sounds good @terracoda. I submitted a bug report to apple about this. Unfortunately, they have responded to zero of the ten bug reports we have submitted so I think it is unlikely that we will get a response.  That being said, I am OK leaving as `wontfix` since this seems to be a problem on their end. But I also don't see an issues with changing to a `section` element if that is best.

[2021-03-08 22:34] jessegreenberg commented on #157
Dependencies have been updated for release branches in https://github.com/phetsims/phetmarks/issues/48.  The only exception a phet-io specific release branch of molarity which will be taken care of separately in that issue.

I verified that phetmarks is launchable from atomic-interactions 1.2 SHAs again. @jbphet reassigning to you to verify if you wish, otherwise I think this can be closed.

[2021-03-09 18:20] jbphet commented on #157
I tested this by checkout out the 1.2 branch of atomic-interactions and testing phetmarks, and it worked fine.  Thanks for the fix @jessegreenberg and @zepumph.  Closing.

[2021-03-09 18:20] #157 closed

[2021-04-05 19:57] Ashton-Morris opened #165 "Sonification Audio Tool Concept"
In a recent meeting with Emily and John we talked about expanding the structure of the Sound Options Dialogue [(which can be seen here, click PhET and then options on bottom left)](https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.24/phet/balloons-and-static-electricity_en_phet.html) which allowed for real-time sound modifications and adjustments.

This seemed like a gre

[2021-04-07 17:50] jbphet commented on #165
I'm going to mark this as deferred for now, and will work with @emily-phet to prioritize the refinement and implementation of this idea once she's back.  I have a reminder on my calendar in May 2021 to revisit.

[2021-05-03 17:45] Ashton-Morris commented on #165
@emily-phet This is the issues about the sound tool to check out.

[2021-05-03 18:04] emily-phet commented on #165
Reviewed this at @Ashton-Morris 's request. Thanks @Ashton-Morris for all the detailed documentation (and description language) of your idea. From my recollection of when we spoke about this last in sonification meeting, some of the proposed features are not currently possible within the scope of Tambo, and some may potentially not be possible.

In tomorrow's meeting, we'll probably just naturally

[2021-05-05 17:03] BLFiedler commented on #165
I think my biggest general comment is that since we have used these types of things a few times with classrooms, it'd be good to make the variables/settings as plain language as possible, which it looks like there was a good pass done on these so far. The guide above would be necessary, but there is probably a bit more tweaking we could do?

[2021-07-16 15:28] terracoda commented on #164
I experiencing this issue with Big Sur, and I am also finding that using the function and arrow shortcut keys for Home and End can move focus. In GFLB, it only seems to happen with function right arrow, which moves the slider to max or End.

[2021-07-16 15:29] terracoda commented on #164
@jessegreenberg, I'll open a new issue just in case.

[2021-07-16 16:10] jessegreenberg commented on #164
Yes based on what you described it sounds like this is still an issue with macOS VoiceOver. We submitted a bug report to Apple about this, but I haven't heard back yet. In https://github.com/phetsims/a11y-research/issues/164#issuecomment-786021683 we found a potential workaround where removing `<section>` elements from the PDOM fixed it. But that will be a change that impacts all screen readers. L

[2021-07-16 16:19] terracoda commented on #164
Before this issue also involved focus changes?

I think we might want to consider removing section elements. But to fix all sims, ti would mean maintenance releases for all our sims with Interactive Description, right?

[2021-07-16 16:22] terracoda commented on #164
Just to be clear, what exactly is the fix?
We can use article as the main container, but we remove section elements?
It might be that we just need to remove the Play Area and Control section elements?
The navbar Sim Resources doesn't have sliders.

[2021-07-16 16:30] jessegreenberg commented on #164
Oh , I see - no you are correct, it was just the virtual cursor before but focus remained on the slider.

Sorry, I meant to say `<article>` elements. The fix might be to replace `<article>`s with `<section>` or some other element. I don't see notes in this issue about testing `<section>` to see if that actually fixes it. If it works out it would be fixed in master and in all sims moving forward. I

[2021-07-16 16:58] terracoda commented on #164
Hmm, I think our current structure is actually correct and Apple has messed things up with the Article element.

That said, I think it is perfectly legal to nest section elements.

@jessegreenberg, could you test if changing the a11y-root `<article>` element to a `<section>` element to see if that helps.

And, did your previous test include changing the a11y-root `<article>` element to a `div`.

T

[2021-07-16 17:15] jessegreenberg commented on #164
Totally agree!

Sure, Ill try this out.

Yes, I believe that is the only thing we tested so far.

[2021-07-16 17:30] terracoda commented on #164
Would a fix for this issue impact this issue
https://github.com/phetsims/a11y-research/issues/32

[2021-07-20 21:52] Ashton-Morris commented on #165
I showcased the audio tool we used during the development of BASE with the IDRC during the Design Crits. meeting. Someone else brought up language and the challenge of creating plain language that all learners can understand and conceptualize concerning the audio. We did come up with a good solution to try when we circle back to this issue:

- We should attempt to have the audio play back **automa

[2021-07-22 14:39] jessegreenberg commented on #164
#32 does not seem related to this issue. But it is also possible that improvements to the PDOM library have made #32 more possible.

[2021-07-22 14:41] jessegreenberg commented on #32
The nav bar has been working well for accessibility for a long time, so im not sure if anything needs to be done for this issue. But it is also possible that the requested structure in https://github.com/phetsims/a11y-research/issues/32#issue-221769577is possible after improvements to the ways we can set `pdomOrder`.

@terracoda can you please comment on whether this is still something you would l

[2021-07-23 00:20] terracoda commented on #32
@jessegreenberg, this issue is over 4 years old, and we were likely just trying to figure out the structure of the navbar when this was opened.

If my memory is correct, I think there was some issues around the button and the menu because the popped up menu items were in a dialog.

I am not sure that's the case any more. I am also not sure we are using a nav element around the menu items.

I think

[2021-08-18 15:10] terracoda commented on #158
In https://github.com/phetsims/gravity-force-lab-basics/issues/289 we discovered that Apple has fixed the "bullet" issue in their latest OS Big Sur.

This fix would now only be relevant to older versions of MacOs.

Closing.

[2021-08-18 15:10] #158 closed

[2021-08-18 15:59] terracoda commented on #137
This is an old issue slated to close, so closing.

[2021-08-18 15:59] #137 closed

[2021-10-08 22:00] #69 closed

[2021-10-08 23:57] zepumph commented on #141
How's that?

[2021-11-11 20:45] zepumph opened #166 "Develop a design pattern for Alt input of toolboxes/creator pattern"
This issue has been in many people's minds for quite some time, but most recently this has come about in https://github.com/phetsims/geometric-optics/issues/258.

Please make sure to go look at that GO issue, as there was quite a bit of discussion about the general design over there.

This is likely scheduled for work during Q1 2022. We will proceed from there. It is currently blocking the publica

[2021-11-11 21:30] zepumph commented on #166
I created a prototype that is a bit rough, but could be used in the design process. See it implemented for the stopwatch node on the first screen of https://phet-dev.colorado.edu/html/waves-intro/1.2.0-altInputToolbox.1/phet/waves-intro_all_phet.html

Current implementation:
* icon is a button
* clicking it shows, centers, and focuses the draggable node
* draggable node is a focusable 'div'
* drag

[2021-11-15 19:36] BLFiedler opened #167 "Announcement e-mail for interactive description, etc including new introduction videos"
We'd like to send out an e-mail for sims with updated Interactive Description, the Access and Inclusion filter, and the new introduction to ID video. First, it will be drafted, then we'll ping Oliver to mock it up and send it.

@emily-phet indicated she'd kick us off with some e-mail structuring/drafting.

Will ping Taliesin when we're ready to do some draft editing.

[2021-11-15 19:37] brettfiedler opened #168 "Announcement e-mail for Voicing and recently published voicing sims"
We'd like to send out an e-mail announcing the new sims with Voicing as well as the Voicing feature as a whole. First, it will be drafted, then we'll ping Oliver to mock it up and send it.

@emily-phet indicated she'd kick us off with some e-mail structuring/drafting.

Will ping Taliesin when we're ready to do some draft editing.

[2021-12-03 15:22] terracoda commented on #164
Every sim with interactive description that has a slider, suffers from this Apple-induced bug when VoiceOver is enabled. It is a bad experience.

We may need to reconsider using a work around and doing maintenance releases on sims with sliders:
- John Travoltage
- Gravity Force Lab
- Gravity Force Lab: Basics
- Molarity
- Ohm's Law
- Ratio and Proportion
- Resistance in a Wire

[2021-12-08 17:55] BLFiedler commented on #167
- Which sims to highlight
- Ideas for the picture that comes above the text?

[2021-12-08 17:56] BLFiedler commented on #168
- Ideas for the picture that comes above the text?

[2021-12-08 18:23] BLFiedler commented on #168
Google Doc Draft

https://docs.google.com/document/d/1BfnncnWElNjcNPDGWVtdRr0oJFXum2FGZ5fzSQ8jebA/edit?usp=sharing

[2021-12-08 18:24] BLFiedler commented on #167
Google Doc Draft (Interactive Description Update)

https://docs.google.com/document/d/1jmNRotCpEus6Q2Cngk-Q6AgioEtah9NlNOufcJZQIA4/edit?usp=sharing

[2022-01-12 20:40] zepumph opened #169 "Phrase builder doesn't support removing templated variables."
@terracoda mentioned a bug where she was demoing descriptions in the phrase builder, but when she removed a templated var, it had buggy side effects to the variable just after it in the description. Here is a good example to reproduce:

[code]

Then delete "{{exactly}}"

This is blocking @terracoda finishing the description design course, so we will get to it very soon! (this week 🤞 )

[2022-01-13 21:20] zepumph opened #170 "Phrase builder is broken because of typescript"
Discovered with https://github.com/phetsims/a11y-research/issues/169, I think I'll need to add a11y-research to active repos to support transpiling.

[2022-01-14 00:50] zepumph commented on #170
After the above commits, I can run in unbuilt mode. I haven't yet attempted to build/bundle it.

[2022-01-14 15:47] KatieWoe opened #171 "CT repo name should be composed of lower-case characters and dashes"
This also seems to be causing issue on Phettest master and the repo fails to pull.
[code]

[2022-01-14 15:49] samreid opened #172 "a11y-research violates PhET repo-name conventions and causes grunt tasks to fail."
phettest shows a11y-research status as "failed".

I tried to diagnose, and I found that https://bayes.colorado.edu/dev/phettest-server/same-as-remote-master?repo=a11y-research  reports `{"output":"Invalid repo name","success":false}`.

On bayes, there may be a permissions problem like so:

[code]

Does a11y-research need to be added to the new GitHub groups?

[2022-01-14 16:10] pixelzoom commented on #172
See https://github.com/phetsims/chipper/issues/1014#issuecomment-806228222 for why the current repo-name conventions were established.

[2022-01-14 16:12] pixelzoom commented on #172
And from [new-repo-checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/new_repo_checklist.md):

[2022-01-14 16:14] pixelzoom commented on #172
I don't see anything in https://docs.npmjs.com/cli/v7/configuring-npm/package-json that disallows numbers.  Perhaps that's a constrain that @jonathanolson added.

[2022-01-14 17:20] samreid commented on #172
It seem the name check was added my @zepumph:

[code]

I agree it should probably allow numbers.  @oliver-phet and I aren't sure why it was written using 'charCode`

[2022-01-14 23:03] zepumph commented on #171
For now, I just reverted this from active repos. I'll keep thinking about how to support this.

[2022-01-14 23:14] #171 closed

[2022-02-17 14:08] BLFiedler commented on #167
Ready to go when Oliver has time to send it out, either this week or at the beginning of March.

[2022-02-21 17:14] #167 closed

[2022-02-21 17:16] BLFiedler opened #173 "A11y View links in Teacher Tips should be updated to 'latest' when a sim is republished"
From Slack conversation:

Amy Rouinfar  10:42 AM
I saw the new Interactive Description video that went out in the email this morning. Really nicely done! I like how there’s now an Inclusive Features section of the Teacher Tips too. One thing I noticed is that the link to the sim’s a11y view is versioned, meaning it doesn’t use latest in the path like published sims. This means that the a11y view l

[2022-02-21 17:17] BLFiedler commented on #173
To be brought up at the next monthly check in or Q2 planning

[2022-02-24 22:52] terracoda commented on #150
We spell things out for now. Closing for now.

[2022-02-24 22:52] #150 closed

[2022-03-01 19:41] BLFiedler commented on #168
I've added some text (based on our ID announcement). The Introduction to Voicing video is both live on the YouTube channel and imminently available on the Accessible Simulations page under More About Voicing. I wonder if we want to push out the announcement with only 2 sims with Voicing or wait a bit longer for RaP and Friction to see the Voicing published?

[2022-03-02 20:33] emily-phet commented on #168
Unless @BLFiedler and @terracoda feel strongly otherwise, let's:

- wait until Friction is published, and at that point decide if it's worth waiting for RAP publication or not.
- If catastrophe hits and neither Friction or RAP are to be published before June, then let's go ahead with sending the announcement out.
- Regardless, I'll put a note in the future planning doc for Q3 to plan for a general

[2022-04-29 23:24] jessegreenberg commented on #30
Edge is now in Chromium and this workaround may not be necessary anymore. It would be nice to remove because of https://github.com/phetsims/phet-core/issues/115

[2022-04-29 23:29] jessegreenberg commented on #30
I removed the workaround and I verified that we are no longer seeing the issue mentioned in https://github.com/phetsims/john-travoltage/issues/221. It seems very unlikely this is still a bug for chromium based Edge and I think this can be re-closed.

[2022-04-29 23:29] #30 closed

[2022-06-06 19:28] zepumph commented on #68
That is awesome thanks. I'm going to close this issue.

[2022-06-06 19:28] #68 closed

[2022-06-14 18:36] Nancy-Salpepi opened #174 "VO reads last letter of last word in bulleted lists"
**Test device**
MacBook Air (m1 chip)

**Operating System**
MacOS 12.4

**Browser**
Safari and using VO

**Problem description**
Seen when testing https://github.com/phetsims/qa/issues/811 but not sim specific. I also noticed it with GFLB published:

When using VO keys + B to read through the description from the beginning, the last letter of the last word in a bulleted list will be read aloud. Th

[2022-06-14 18:36] Nancy-Salpepi commented on #174
@terracoda have you ever seen this before?

[2022-06-15 00:26] terracoda commented on #174
I have never noticed this. I have an M1 chip, too, I think. Will check tomorrow my macOS version.

[2022-06-22 15:49] jessegreenberg commented on #174
I just tested with macOS 11.6.2 + Safari and I did not see this happen while reading with VO + B command.

[2022-06-22 19:06] jessegreenberg commented on #174
Thanks @Nancy-Salpepi. This is just...so strange. One more check, can you see if this happens in a a case outside of a PhET sim like this example? https://jsfiddle.net/unyg7otq/show. It will help identify if there is anything we can do about this.

[2022-06-22 19:57] jessegreenberg commented on #174
Excellent, thanks @Nancy-Salpepi! Still strange, but at least we know it is not caused by PhET code. I will probably create a bug report for this and submit it to Apple.

[2022-06-23 01:17] terracoda commented on #174
I  agree. This really strange. I did a little googling today, but did find anything yet.

[2022-07-28 15:37] jessegreenberg opened #175 "Mobile VO skips content in the PDOM"
Identified in
https://github.com/phetsims/friction/issues/292
https://github.com/phetsims/greenhouse-effect/issues/195
https://github.com/phetsims/john-travoltage/issues/449
https://github.com/phetsims/friction/issues/308

Mobile VO sometimes skips PDOM content.

[2022-07-28 23:56] jessegreenberg commented on #175
I have exhausted just about everything I can think of here and ready to recommend we list this as one of the known AT bugs.

[2022-07-29 14:04] jessegreenberg commented on #175
@terracoda suggested running the HTML through a validator to see if it reports anything amiss.

[2022-07-29 15:32] jessegreenberg commented on #175
@terracoda recommended testing without any CSS, that was a good idea. Here is a test case that I set up by
1) Disabling all PDOM CSS.
2) Disabling all PDOM element positioning.
3) Using the sim to put it in the VO broken state.
4) Tethering my iPad to my Mac and removing all graphical elements.
5) Reading through paragraph content with VoiceOver.

The problem STILL happens even when there is only

[2022-07-29 20:17] jessegreenberg commented on #175
@zepumph and I met to try to isolate the cause of this. We returned to the example HTML pages and found that this IS happening outside of PhET sims. I don't know why I wasn't seeing it when testing alone, maybe I failed to clear caches, or HTML updates happened to slowly.

Anyway, here is the most simple breaking case:
<details>

[code]
</details>

We found that paragraph will become undiscoverabl

[2022-07-29 20:24] jessegreenberg commented on #175
We wanted to run our findings by @terracoda and @emily-phet to help decide where to go from here. We did find a workaround but do not recommend using it. This is clearly an iOS problem and the workaround is totally hacky. It seems to work now but since it is outside of any DOM specification it could also stop working any time. If we proceed with it, we will do work in scenery to make sure that tha

[2022-07-29 20:49] emily-phet commented on #175
@jessegreenberg I think we shouldn't implement the workaround - but great that's it's more clear what the root of the issue is.

[2022-07-29 21:02] zepumph commented on #175
I think it would be nice to have a non-blocking conversation about adding these to our screen summary paragraphs. It would be a nice improvement in my mind to convey that this is not just a paragraph, but a dynamic text space that updates with the sim's updates. I defer to the A11y designers though.

[2022-07-30 11:07] terracoda commented on #175
Excellent detective work.
@jessegreenberg, you won’t believe this, but almost posted that the changing content could be the reason in slack. This was the first sim where I thought it would be nice to trace/track the rising and falling results of making or not making friction, even though it is difficult to catch live while changing.

This might also be an issue for MAL’s observation window, and GH

[2022-08-01 13:26] jessegreenberg commented on #175
Ok, thanks @emily-phet and @terracoda! I'll write a bug report to Apple about this just in case.

[2022-08-01 15:42] terracoda commented on #12
This is an old issues. There is nothing to discuss here. Closing.

[2022-08-01 15:42] #12 closed

[2022-08-05 17:17] zepumph opened #176 "Investigate adding ` role='status' aria-live="off"` to our screen summary content"
From https://github.com/phetsims/a11y-research/issues/175, it may be nice to evaluate what it looks like to use  `role='status' aria-live="off"` on our screen summary content because `p` tags semantically don't communicate just how much the summary is dynamic, and can change based on the current state of the sim.

@terracoda thought that putting it on the `article` may be helpful.

[2022-08-18 18:51] zepumph commented on #32
We have tackled the general structure of the simulation in the PDOM over in Joist. This issue is very old and I think the best path forward would be to close this.

[2022-08-18 18:51] #32 closed

[2022-08-29 21:39] jessegreenberg opened #177 "VoiceOver repeates alerts when in an iframe"
When in an iframe, VoiceOver often repeates alerts from aria-live. From https://github.com/phetsims/friction/issues/286.

- Go to https://phet-dev.colorado.edu/html/jg-tests/iframe-tests/basic/.
- Enter the iframe with the virtual cursor and read the first heading in the content.
- If the aria-live element changes while you are reading the heading with a virtual cursor you will hear the alert cont

[2022-08-30 21:16] jessegreenberg commented on #175
Bug report submitted to apple, we will see if they respond.

[2022-08-30 21:30] jessegreenberg commented on #177
Bug submitted to Apple. We will see how they respond.

[2022-08-31 19:03] jessegreenberg commented on #175
@terracoda shared that there is a special address that Apple has for critical accessibility problems, Ill try and submit this issue there as well.

[2022-09-07 21:10] arouinfar opened #178 "Consider enabling Interactive Highlights in sims with Alternative Input"
In https://github.com/phetsims/greenhouse-effect/issues/205 we enabled Interactive Highlights in Greenhouse Effect due to user feedback in recent accessibility testing (report [here](https://drive.google.com/file/d/1ulEr8HcKOPcwTjMg5boF2_V3hbM5WDUc/view)). Users who use magnification reported insufficient hover behavior, and Interactive Highlights could be helpful in this situation. We will be doi

[2022-09-07 21:27] arouinfar opened #179 "Investigate/consider adding support for voice control software (such as NaturallySpeaking)"
We recently did user testing on the Waves screen of Greenhouse Effect using Fable. One cohort consisted of users who use some form of assistive technology (excluding screen readers). Two of the participants in that cohort use a voice control software, Dragon NaturallySpeaking, and reported significant issues.  Here are two quotes from the [report](https://drive.google.com/file/d/1ulEr8HcKOPcwTjMg5

[2022-09-07 22:32] terracoda commented on #179
We have not tested with Dragon users, so it is wonderful to have this opportunity and to get feedback from some.

I don’t know the strategies that Dragon users typically use, I would guess that controls without visible labels/names would  be challenging.

Typical websites have links. Our sims don’t have links, so I am confused by that strategy.

I can only hazard a guess that show buttons or show

[2022-09-07 23:10] terracoda commented on #179
Here’s a blog post about dragon commands and accessibility testing https://www.barrierbreak.com/cheat-sheet-dragon-naturally-speaking-commands-for-web-testing/

It’s nice that there keyboard like commands like Tab <n> times.

“Tab 1 time” should get a dragon user to the Sunlight button, for example.

[2022-09-07 23:41] terracoda commented on #178
Great news that you found this in your interviews, too! It was two low vision users in interviews with me who commented that they really liked the keyboard highlights, so we decided to invent interactive highlights option for mouse users.

I think this would be an awesome addition to our baseline inclusion strategy!

I am not sure if Alt Input is required in order to enable the interactive highlig

[2022-09-07 23:44] terracoda commented on #178
The interactive highlight option is beneficial for many users who just like seeing what’s interactive more easily.

[2022-09-08 00:10] terracoda commented on #179
@arouinfar, I read the UX report a bit more and there might be a very interesting nuance here between Dragon keyboard-type commands and Dragon mouse-type commands. The accessible names only exist in the PDOM, so I am wondering if Dragon mouse-type can even be made to work at all. I think Dragon Tab navigation strategies should work, but if one does not Tab to the Start Sunlight, and only tries to

[2022-09-08 05:09] emily-phet commented on #178
i agree with @terracoda. Interactive highlights are a relatively low implementation effort feature, and can be beneficial for many users across many different contexts. It would be great to have that as a standard feature for all new sims.

[2022-09-08 05:19] emily-phet commented on #179
@arouinfar i think this would require some further investigation to sort out what is currently the most effective access, what might be possible, and what (if any) implementation would be involved. Let us know if you (or whoever would be doing so) would like support in that investigation.

[2022-09-26 16:57] arouinfar commented on #178
Thanks for your input @terracoda @emily-phet. I think we will move forward with making Interactive Highlights a standard feature. @jessegreenberg created the `interactiveHighlightsInitiallyEnabled` query parameter since other inclusive features have similar query parameters to enable them on startup.

I'm not sure about this, either. @jessegreenberg can you answer this one? Also, not sure what the

[2022-09-26 23:40] jessegreenberg commented on #178
It is not required, they can be done separately. When alt input is added a focus highlight designed for all interactive components in the sim. So the lift for adding Interactive Highlights to sims that support alt input is a bit less. That seems like a good starting point but if you would like other sims to have it, let me know.

Yep! PSA was made a couple of weeks ago and next steps are taking pl

[2022-09-29 18:00] arouinfar commented on #178
Thanks @jessegreenberg! I think we can go ahead and close this issue.

[2022-09-29 18:00] #178 closed

[2022-11-04 20:01] samreid commented on #99
I mentioned this again today in slack:

[code]

@jessegreenberg said:

I wrote:

We can use TSX like this, if we want:

[code]

Might align it more with conventional aria implementation strategy?

@jessegreenberg replied:

[2022-11-04 21:44] samreid commented on #99
When this issue was written in 2018, we did not have a transpiler step.  Hence "Needing a new transformation step during builds or requirejs running" was a much larger barrier.  Also, JSX has evolved and matured since then, and  now TSX is also supported.  Our team got experience working with JSX in the website (@mattpen @chrisklus) as well as in PhET-iO as part of https://github.com/phetsims/chip

[2022-11-04 23:44] jessegreenberg commented on #99
This could be a useful change and better in some ways/cases. Though what we currently have is more aligned with scenery style development. This would be good to explore but removing assignments for now since there are other issues currently that are more important for enhancing scalability of accessibility in scenery.